<div class="row section-content">
  <div class="small-12 column">
    <h3 id="budgets" data-magellan-target="budgets">Presupuestos participativos</h3>
    <p>
      <%= link_to "Información detallada de Presupuestos participativos", more_info_budgets_path, class: "small" %>
    </p>
    <p>Los primeros seis meses de cada año puedes decidir cómo gastar parte del presupuesto.</p>
    <ul class="features">
      <li>Para crear un proyecto de gasto tienes que <%= link_to "registrarte en " + setting['org_name'], new_user_registration_path %> y verificar tu cuenta.</li>
      <li>En primer lugar empieza la <strong>fase de aceptación</strong> de proyectos de gasto.</li>
      <li>Después hay una <strong>fase de apoyos</strong> para priorizar lo más interesante, las más apoyadas son evaluadas por el Ayuntamiento para ver si son viables y cuánto valen.</li>
      <li>Al final hay una <strong>fase de votación</strong> donde se decide en cuáles se gasta esa parte del presupuesto.</li>
    </ul>

    <figure>
      <%= image_tag "more_info/budgets.png", alt: "Diferentes fases de un presupuesto participativo" %>
      <figcaption>Fase de "Apoyos" y fase de "Votación" de los presupuestos participativos.</figcaption>
    </figure>
  </div>
</div>
