<div class="row section-content">
  <div class="small-12 column">
    <h3 id="challenges" data-magellan-target="challenges">
      <%= t("pages.more_info.challenges.title") %>
    </h3>
    <p><%= t("pages.more_info.challenges.description") %></p>
    <ul class="features">
      <li>
        <%= t("pages.more_info.challenges.feature_1") %>
      </li>
      <li><%= t("pages.more_info.challenges.feature_2") %></li>
    </ul>
  </div>
</div>
