<div class="row section-content">
  <div class="small-12 column">
    <h3 id="debates" data-magellan-target="debates">Debates</h3>
    <p>Crea un hilo en el que debatir sobre cualquier tema que quieras compartir con el resto de gente de tu ciudad.</p>
    <ul class="features">
      <li>Para crear un debate tienes que <%= link_to "registrarte en " + setting['org_name'], new_user_registration_path %>.</li>
      <li>Los debates pueden ser valorados utilizando los botones de <strong>Estoy de acuerdo</strong> o <strong>No estoy de acuerdo</strong> que encontrarás en cada uno de ellos.</li>
    </ul>

    <figure>
      <%= image_tag "more_info/debates.png", alt: "Botones para valorar los debates" %>
      <figcaption>Botones "Estoy de acuerdo" y "No estoy de acuerdo" para valorar los debates.</figcaption>
    </figure>
  </div>
</div>
