<h3 id="other" data-magellan-target="other">Otra información de interés</h3>

<ul class="features">
  <li><%= link_to t("pages.titles.kit_decide"), kit_decide_path %></li>
  <li><%= link_to "Participación ciudadana directa en el mundo", participation_facts_path %></li>
  <li><%= link_to "Hechos sobre participación ciudadana y democracia directa", participation_world_path %></li>
</ul>
