<h3 id="other" data-magellan-target="other">Otra información de interés</h3>

<ul class="features">
  <li><%= link_to t("pages.more_info.other.how_to_use", org_name: setting['org_name']), faq_path %></li>
  <li><%= link_to t("pages.more_info.other.facts"), participation_facts_path %></li>
  <li><%= link_to t("pages.more_info.other.world"), participation_world_path %></li>
</ul>
