<div class="row section-content">
  <div class="small-12 column">
    <h3 id="proposals" data-magellan-target="proposals">Propuestas</h3>
    <p>
      <%= link_to "Información detallada de Propuestas", more_info_proposals_path, class: "small" %>
    </p>
    <p>Propón lo que quieres que el Ayuntamiento lleve a cabo y apoya propuestas de otras personas.</p>
    <ul class="features">
      <li>Para crear una propuesta tienes que <%= link_to "registrarte en " + setting['org_name'], new_user_registration_path %>, además para apoyarlas debes verificar tu cuenta.</li>
      <li>Las propuestas que consigan <strong>el apoyo del 1% de la gente</strong> (mayor de 16 años empadronada en Madrid; 27.064 apoyos) pasan a votación.</li>
      <li>Si hay más gente a favor que en contra en la votación, <strong>el Ayuntamiento asume la propuesta y se hace</strong>.</li>
    </ul>

    <figure>
      <%= image_tag "more_info/proposals.png", alt: "Botón para apoyar una propuesta" %>
      <figcaption>Botón para "Apoyar" una propuesta.<br>Cuando alcance el número de apoyos pasará a votación.</figcaption>
    </figure>
  </div>
</div>
