<div class="sidebar-card">
  <h3>¿Problemas técnicos?</h3>
  <p>Lee las preguntas frecuentes y resuelve tus dudas.</p>
  <%= link_to "Ver preguntas frecuentes", faq_path, class: "button expanded" %>
</div>

<div class="sidebar-card light">
  <h3>Utiliza <%= setting['org_name'] %> en tu municipio</h3>
  <p>Utilízalo en tu municipio libremente o ayúdanos a mejorarlo, es software libre.</p>
  <%= link_to "Cómo usar " + setting['org_name'], how_to_use_path , class: "button expanded" %>
</div>
