<% provide :title do %><%= t("pages.titles.more_info", org_name: setting['org_name']) %><% end %>

<% provide :tracking_page_number, "34" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: more_info_url %>
<% end %>

<div class="row margin-top">
  <div class="small-12 medium-3 column">
    <%= back_link_to more_info_path %>

    <ul class="menu vertical margin-top">
      <li><a href="#i"><strong>Información sobre la votación</strong></a></li>
      <li><a href="#ii"><strong>Cómo votar</strong></a></li>
    </ul>
  </div>

  <div class="small-12 medium-9 column more-info-text">
    <h2 id="i">Información sobre la votación</h2>
    <p>Del 8 al 22 de octubre de 2017 puedes decidir el futuro de 11 plazas de la periferia de Madrid. Sobre cada plaza la ciudadanía decidirá directamente si se remodela o no la plaza, y en caso de que mayoritariamente se decida remodelarla cuál de dos posibles proyectos de nueva plaza se llevará a cabo.</p>

    <p>El Ayuntamiento de Madrid es consciente de la importancia del espacio público como elemento de cohesión social que determina la identidad urbana y la calidad de vida de los barrios de la ciudad. Por ello se han seleccionado 11 plazas a remodelar atendiendo a la necesidad y oportunidad de intervenir para mejorar el diseño urbano, la calidad de la urbanización y su acondicionamiento para mejorar su uso por parte de la población.</p>

    <p>Se ha realizado un proceso que ha contado con la participación de los Foros Locales en varios distritos –para plantear directrices de la intervención en la remodelación-, debates abierto en Decide Madrid donde se ha diagnosticado la situación de cada plaza y se han propuesto mejoras para tener en cuenta en su remodelación y un concurso de ideas organizado por el Área de Desarrollo Urbano Sostenible en colaboración con el Colegio Oficial de Arquitectos de Madrid que culmina en esta votación final.</p>

    <p>Se han presentado 153 proyectos al concurso de los que un jurado técnico con técnicos de los distritos y áreas responsables, arquitectos e ingenieros de reconocido prestigio y miembros del COAM han seleccionado dos finalistas para cada espacio, entre los que ahora decidirá directamente la ciudadanía.</p>

    <p>Los resultados de todas las votaciones serán vinculantes para el gobierno. Pueden votar todas las personas empadronadas en Madrid mayores de 16 años. Puedes votar respecto a las 11 plazas.</p>

    <h2 id="ii">Cómo votar</h2>

    <ul>
      <li><strong>A través de esta web</strong>. Entra ahora en <a href="/votaciones">Votaciones</a> y haz clic en la votación en la que quieras participar. Antes de votar se te pedirá que introduzcas tus datos de usuario si ya tienes una cuenta en esta web, o que crees una nueva cuenta si todavía no lo has hecho (es muy sencillo, puedes hacerlo en un par de minutos).</li>

      <li><strong>En mesas de votación presencial</strong>. Los días 22 y 23 de octubre habrá mesas presenciales de votación. Puedes consultar su ubicación y horario en los mapas que encontrarás en <a href="/vota">https://decide.madrid.es/vota</a> En las mesas podrás votar las plazas correspondientes al distrito en que esté situada la mesa.</li>
    </ul>

    <p>Puedes votar respecto a alguna de las plazas presencialmente y respecto a otras a través de la web, el sistema de verificación es común a ambos canales por lo que estará asegurado que nadie vota más de una vez respecto a cada espacio.</p>

    <h3>Votación presencial</h3>
    <p>Las mesas presenciales de votación están formadas por voluntarios que han querido formar parte de ellas. Cada mesa cuenta con un presidente de mesa y al menos un vocal que son responsables de la votación en esa mesa. Puedes consultar el Manual de Procedimiento de las mesas presenciales de votación (decreto de aprobación del procedimiento).</p>

    <p>Finalizada la votación se realizará el recuento de todos los votos presenciales el día 23 de octubre. Tanto la actividad de las mesas como el recuento final son procesos públicos por lo que estás invitado a observarlos. No es necesario que te registres ni identifiques en ninguna parte para ser observador del proceso. En caso de que veas algo que no te parezca apropiado en alguna de las mesas tenemos una línea directa para que puedas informarnos: 915 886 707</p>
  </div>
</div>
