<%= back_link_to %>

<h2><%= t("devise_views.users.registrations.delete_form.title") %></h2>

<div data-alert class="callout alert">
  <%= t("devise_views.users.registrations.delete_form.info") %>
</div>
