<% provide :title, "Plan de Urbanismo: nuevos bancos" %>
<% provide :social_media_meta_tags do %>
<%= render "shared/social_media_meta_tags",
          social_url: page_url("processes_town_planning"),
          social_title: t("pages.processes.index.process_7_title"),
          social_description: t("pages.processes.index.process_7_description") %>
<% end %>

<div class="expanded processes-show no-margin-top">
  <div class="row padding">
    <div class="small-12 medium-9 column">
      <%= render "shared/back_link" %>

      <h1 class="margin-bottom"><%= t("pages.processes.index.process_7_title") %></h1>
      <h2>Participa hasta el 20 de agosto. Selecciona el diseño de banco que más te guste y pulsa en votar.</h2>
    </div>
  </div>
</div>

<div class="row margin-top">
  <div class="small-12 column">
  </div>
</div>
