<% content_for :canonical do %>
  <%= render "shared/canonical", href: how_to_use_url %>
<% end %>

<div class="row margin-top">
  <div class="text small-12 column">
    <%= back_link_to %>

    <h1><%= t('pages.more_info.titles.how_to_use') %></h1>

    <%= markdown t('pages.more_info.how_to_use.text') %>
  </div>
</div>
