<aside class="small-12 medium-3 column">
  <div class="contextual-info-sidebar">
    <div class="callout">
      <details class="contextual-info-details">
        <summary><%= title %></summary>
        <div class="contextual-info-details-content">
          <p class="small"><%= how_created %></p>
          <p class="small"><%= what_to_expect %></p>
          <p class="small margin-top"><%= more_info %></p>
        </div>
      </details>
    </div>
  </div>
</aside>
