<% content_for :action_title, t('.title') %>

<%= link_to t('.create'),
            new_proposal_dashboard_poll_path(proposal),
            class: 'button' %>

<div class="row small-12 column">
  <strong><%= t('.count', count: @polls.count) %></strong>
</div>

<% if @polls.any? %>
  <div class="row small-up-2 medium-up-3 large-up-4">
    <%= render @polls %>
  </div>
<% end %>
