<span><%= moderator.name %></span>
<span class="bullet">&nbsp;&bull;&nbsp;</span>
<span><%= moderator.email %></span>
<% if moderator.persisted? %>
  <%= link_to t('admin.moderators.moderator.delete'),
    admin_moderator_path(moderator),
    method: :delete,
    class: "button tiny radius alert right"
  %>
<% else %>
  <%= link_to t('admin.moderators.moderator.add'),{ controller: "admin/moderators", action: :create, user_id: moderator.user_id },
    method: :post, class: "button tiny radius success right" %>
<% end %>
