<div id="cookies_consent_banner" class="cookies-consent-banner">
  <h2><%= t("cookies_consent.title") %></h2>
  <p><%= t("cookies_consent.message") %></p>
  <button type="button" class="accept-essential-cookies"><%= t("cookies_consent.accept_essential_cookies") %></button>
</div>
