<small><%= t("related_content.is_related") %></small>

<span class="relate-content-score">
  <%= button_to t("related_content.score_positive"),
                score_positive_related_content_path(related),
                method: :put,
                remote: true,
                class: "score-positive",
                form_class: "button_to inline" %>

  <%= button_to t("related_content.score_negative"),
                score_negative_related_content_path(related),
                method: :put,
                remote: true,
                class: "score-negative",
                form_class: "button_to inline" %>
</span>
