<div class="category-edit row">
  <div class="small-12 medium-9 column">
    <%= render "admin/categories/form", category: @subcategory, resource_name: 'subcategory', form_url: admin_category_subcategories_path(@category) %>
  </div>
</div>
