<div class="small-12 column">
  <table>
    <tbody>
      <tr>
        <td>
          <%= administrator.name %>
        </td>
        <td>
          <%= administrator.email %>
        </td>
        <td class="text-right">
          <% if administrator.persisted? %>
            <%= link_to t('admin.administrators.administrator.delete'),
                        admin_administrator_path(administrator),
                        method: :delete,
                        class: "button hollow alert" %>
          <% else %>
            <%= link_to t('admin.administrators.administrator.add'),{ controller: "admin/administrators", action: :create, user_id: administrator.user_id },
                        method: :post,
                        class: "button success" %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
