.public .poll {
  &.with-image {

    @include breakpoint(medium) {
      padding: 0 calc($line-height / 2) 0 0;
    }

    .image-container img {
      height: 100%;
      max-width: none;
      position: absolute;
    }
  }

  .dates {
    color: $text-medium;
    font-size: $small-font-size;
    margin-bottom: calc($line-height / 2);
  }

  h4 {
    font-size: rem-calc(30);
    line-height: $line-height * 1.5;

    a {
      color: inherit;
      display: inline-block;
    }
  }
}
