<%= render 'management/account_info.html', verification: @email_verification %>

<div class="alert-box success radius">
  <%= t("management.users.email_sent") %>
</div>

<%= render 'management/user_permissions',
      message: t("management.users.census_success_info"),
      permissions: [:debates, :proposal, :support_proposal, :votes] %>

<p>
  <a href="javascript:window.print();" class="button warning radius"><%= t("management.print_info") %></a>
</p>

