<p><strong><%= link_to t("stats.title"), "#participation_statistics" %></strong></p>
<ul class="menu vertical">
  <li>
    <%= link_to t("stats.total_participants"), "#total_participants" %>
  </li>
  <li>
    <%= link_to t("stats.by_gender"), "#participants_by_gender" %>
  </li>
  <li>
    <%= link_to t("stats.by_age"), "#participants_by_age" %>
  </li>
</ul>
