<div class="small-12 column message">
  <% if !user_signed_in? %>
    <div class="callout primary">
      <span class="fas fa-user"></span>
      <%= t("polls.index.not_logged_in") %>
    </div>
  <% elsif user_signed_in? %>
    <% unless poll.expired? %>
      <% if current_user.unverified? %>
        <div class="callout warning">
          <span class="fas fa-user"></span>
          <%= t("polls.index.unverified") %>
        </div>
      <% elsif cannot?(:answer, poll) %>
        <div class="callout warning">
          <span class="fas fa-globe"></span>
          <%= t("polls.index.cant_answer") %>
        </div>
      <% elsif !poll.votable_by?(current_user) %>
        <div class="callout success">
          <span class="far fa-check-circle"></span>
          <%= t("polls.index.already_answer") %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
