<p><%= t("polls.index.section_footer.help_text_1") %></p>

<p><%= t("polls.index.section_footer.help_text_2",
         org: link_to(setting["org_name"], new_user_registration_path)
        ).html_safe %></p>
