.comment-body .status-bar {
  .responses-count {
    .show-children {
      @include has-fa-icon(plus-square, regular);
    }

    .collapse-children {
      @include has-fa-icon(minus-square, regular);
    }

    .show-children::before,
    .collapse-children::before {
      margin-right: $font-icon-margin;
      transform: translateY(-1px);
    }

    &.collapsed {

      .collapse-children {
        display: none;
      }
    }

    &:not(.collapsed) {

      .show-children {
        display: none;
      }
    }
  }

  .comment-form form {
    margin-top: calc($line-height / 2);
  }
}
