<div class="expanded processes-show no-margin-top">
  <div class="row padding">
    <div class="small-12 medium-7 column">

      <h1 class="margin-bottom"><%= t("pages.processes.index.process_3_title") %></h1>
      <p>Apoya las propuestas y preguntas que más te gusten.</p>

      <p>De entre todas las propuestas y preguntas enviadas,​ <strong>las cinco más votadas serán formuladas en persona</strong>​ en el Pleno del día 24 a todos los grupos políticos.</p>

      <div class="row">
        <div class="small-12 medium-8 column end">
          <%= link_to t("pages.processes.process_3.view_all"), results_open_plenaries_path , class: "button expanded" %>
        </div>
      </div>
    </div>

    <div class="show-for-medium medium-5 column relative">
      <%= image_tag "pleno_abierto_cartel.gif" %>
    </div>
  </div>
</div>

<div class="row process margin">
  <div class="small-12 column">
    <div class="show-for-small-only">
      <%= image_tag "pleno_abierto_cartel.gif" %>
    </div>
  </div>
</div>
