<li>
  <%= comment.body %>
  <p class="basic-info">
    <span><%= comment.commentable.title %></span>
    <span><%= l(comment.updated_at.to_date) %></span>
    <span><%= comment.author.name %></span>
  </p>
</li>
