<% if can?(:manage_poster, proposal) %>
  <div class="small-12 medium-6 large-3 column end">
    <div class="resource-card" data-equalizer-watch="resources">
      <h4><%= t("dashboard.menu.poster") %></h4>
      <p class="resource-description">
        <%= Setting["proposals.poster_short_title"] %>
      </p>

      <div class="small-12 column small-centered margin-top">
        <%= link_to t("dashboard.resource.view_resource"),
                      new_proposal_dashboard_poster_path(proposal.to_param),
                      class: "button expanded" %>
      </div>
    </div>
  </div>
<% end %>
