<div class="suggested-images-wrapper" data-resource-type="<%= resource_type %>" data-resource-id="<%= resource_id %>">
  <div class="suggested-images-container">
    <%= t("images.form.or_separator") %>
    <button type="button" class="button hollow js-suggest-image">
      <%= t("images.form.suggest_image_with_ai") %>
    </button>
  </div>
</div>
