<div class="suggested-images-container">
  or
  <button type="button" class="button hollow js-suggest-image" data-resource-type="<%= resource_type %>" data-resource-id="<%= resource_id %>"><%= t("images.form.suggest_image_with_ai") %></button>
</div>
