<div class="row">
  <div class="debate-chooser">
    <div class="resume_title small-12 medium-9 column">
      <h3><%= t("legislation.summary.proposal_phase") %></h3>
    </div>
    <div class="small-12 medium-3 column">
      <h3><%= t("legislation.proposals.total", count: Legislation::Proposal.where(legislation_process_id: @process).where(selected: true).count) %></h3>
  </div>
    <div class="row">
      <div class="small-12 medium-11 column">
        <div class="debate-list">
          <% if Legislation::Proposal.where(legislation_process_id: @process).where(selected: true).empty? %>
            <div class="callout primary">
              <p><%= t("legislation.processes.proposals.empty_proposals") %></p>
            </div>
          <% else %>
            <%= render "resume_proposal", process: @process %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
