<div class="legislation-proposals results">
  <div class="row">
    <div class="small-12 column">
      <h2>Resultados</h2>
    </div>

    <div class="small-12 medium-6 column">
      <h3>Preguntas más votadas</h3>
      <div class="proposal">
        <div class="panel">
          <span class="label question small uppercase">Pregunta</span><br>
          <div class="row">
            <div class="small-12 medium-9 column">
              <a href="https://decide.madrid.es/legislation/processes/24/proposals/460-por-que-el-ayuntamiento-se-desdice-de-hasta-tres-de-sus-propios-informes-triplicando-injustificadamente-el-valor-a-monetizar-por-residencial-maravillas">¿Por qué el ayuntamiento se desdice de hasta tres de sus propios informes, triplicando injustificadamente el valor a monetizar por Residencial Maravillas?</a>
            </div>
            <div class="small-12 medium-3 column text-center total-votes">
              <strong>312 votos</strong><br>
              <small><span class="icon-like"></span> 323 | <span class="icon-unlike"></span> 11</small>
            </div>
          </div>
        </div>
      </div>

      <div class="proposal">
        <div class="panel">
          <span class="label question small uppercase">Pregunta</span><br>
          <div class="row">
            <div class="small-12 medium-9 column">
              <a href="https://decide.madrid.es/legislation/processes/24/proposals/80-porque-no-se-consigue-un-madrid-limpio-gobierne-quien-gobierne">
                Porque no se consigue un Madrid limpio gobierne quien gobierne?</a>
            </div>
            <div class="small-12 medium-3 column text-center total-votes">
              <strong>119 votos</strong><br>
              <small><span class="icon-like"></span> 137 | <span class="icon-unlike"></span> 18</small>
            </div>
          </div>
        </div>
      </div>

      <div class="proposal">
        <div class="panel">
          <span class="label question small uppercase">Pregunta</span><br>
          <div class="row">
            <div class="small-12 medium-9 column">
              <a href="https://decide.madrid.es/legislation/processes/24/proposals/88-cuales-son-las-medidas-previstas-en-caso-persistencia-sequia">¿Cuáles son las medidas previstas en caso persistencia sequía?</a>
            </div>
            <div class="small-12 medium-3 column text-center total-votes">
              <strong>109 votos</strong><br>
              <small><span class="icon-like"></span> 122 | <span class="icon-unlike"></span> 13</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="small-12 medium-6 column">
      <h3>Propuestas más votadas</h3>

      <div class="proposal">
        <div class="panel">
          <span class="label proposal small uppercase">Propuesta</span><br>
          <div class="row">
            <div class="small-12 medium-9 column">
              <a href="https://decide.madrid.es/legislation/processes/24/proposals/64-metro-abierto-de-noche-y-transbordo-gratis-entre-autobuses-de-la-emt">Metro abierto de noche y transbordo gratis entre autobuses de la EMT</a>
            </div>
            <div class="small-12 medium-3 column text-center total-votes">
              <strong>288 votos</strong><br>
              <small><span class="icon-like"></span> 304 | <span class="icon-unlike"></span> 16</small>
            </div>
          </div>
        </div>
      </div>

      <div class="proposal">
        <div class="panel">
          <span class="label proposal small uppercase">Propuesta</span><br>
          <div class="row">
            <div class="small-12 medium-9 column">
              <a href="https://decide.madrid.es/legislation/processes/24/proposals/121-multas-por-tirar-colillas-tirar-basura-o-no-recoger-excrementos-caninos">Multas por tirar colillas,tirar basura o no recoger excrementos caninos.</a>
            </div>
            <div class="small-12 medium-3 column text-center total-votes">
              <strong>260 votos</strong><br>
              <small><span class="icon-like"></span> 268 | <span class="icon-unlike"></span> 8</small>
            </div>
          </div>
        </div>
      </div>

      <div class="proposal">
        <div class="panel">
          <span class="label proposal small uppercase">Propuesta</span><br>
          <div class="row">
            <div class="small-12 medium-9 column">
              <a href="https://decide.madrid.es/legislation/processes/24/proposals/92-eliminar-el-coste-de-las-llamadas-a-policia-local-y-010">Eliminar el coste de las llamadas a Policia Local y 010</a>
            </div>
            <div class="small-12 medium-3 column text-center total-votes">
              <strong>243 votos</strong><br>
              <small><span class="icon-like"></span> 252 | <span class="icon-unlike"></span> 9</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<hr>
</div>
