<% provide :title do %><%= @process.title %><% end %>

<%= render 'legislation/processes/header_full', process: @process %>

<div class="row">
  <%= render 'legislation/processes/key_dates', process: @process, phase: @phase %>

  <div class="debate-chooser">
    <div class="row">
      <p><%= t(".empty") %></p>
    </div>
  </div>
</div>
