<% provide :title do %><%= @process.title %><% end %>

<%= render 'legislation/processes/header', process: @process, header: :full %>

<%= render 'legislation/processes/key_dates', process: @process, phase: @phase %>

<div class="row">
  <div class="debate-chooser">
    <div class="row">
      <div class="debate-draft">
        <div class="small-12 medium-7 column">
          <h3><%= t('.not_open') %></h3>
        </div>

        <div class="small-12 medium-5 column">
        </div>
      </div>
    </div>
  </div>
</div>
