<% provide :title do %><%= @process.title %><% end %>

<%= render 'legislation/processes/header', process: @process, header: :full %>

<%= render 'key_dates', process: @process, phase: :debate %>

<div class="row">
  <div class="debate-chooser">
    <div class="row">
      <%= render 'debate', process: @process %>
    </div>
  </div>
</div>
