
<%= render 'header_full', process: @process %>

<div class="row">
  <%= render 'key_dates', process: @process, phase: :debate %>

  <div class="debate-chooser">
    <div class="row">
      <% if @process.show_phase?(:debate) %>
        <%= render 'debate', process: @process %>
      <% else %>
        <%= render 'phase_not_open' %>
      <% end %>
    </div>
  </div>
</div>
