<% provide :title do %><%= @process.title %><% end %>

<%= render 'header_full', process: @process %>

<div class="row">
  <%= render 'key_dates', process: @process, phase: :debate %>

  <div class="debate-chooser">
    <div class="row">
      <%= render 'debate', process: @process %>
    </div>
  </div>
</div>
