<ul class="right">
	<% if user_signed_in? %>
		<li>
			<%= link_to('Salir', destroy_user_session_path, method: :delete) %>
		</li>
	<% else %>
		<li>
			<%= link_to('Entrar', new_user_session_path)  %>
		</li>
		<li class="active">
			<%= link_to('Registrarse', new_user_registration_path) %>
		</li>
	<% end %>
</ul>