<ul class="right">
  <% if user_signed_in? %>
    <li>
      <%= link_to(t("layouts.header.my_account_link"), account_path) %>
    </li>
    <li>
      <%= link_to(t("devise_views.menu.login_items.logout"), destroy_user_session_path, method: :delete) %>
    </li>
  <% else %>
    <li>
      <%= link_to(t("devise_views.menu.login_items.login"), user_omniauth_authorize_path(:openid), class: "button radius small") %>
    </li>
    <!--li>
      <%= link_to(t("devise_views.menu.login_items.signup"), user_omniauth_authorize_path(:openid), class: "button radius small") %>
    </li-->
  <% end %>
</ul>
