<ul class="right">
	<% if user_signed_in? %>
		<li>
			<%= link_to(t("devise_views.menu.login_items.logout"), destroy_user_session_path, method: :delete) %>
		</li>
	<% else %>
		<li>
			<%= link_to(t("devise_views.menu.login_items.login"), new_user_session_path)  %>
		</li>
		<li class="active">
			<%= link_to(t("devise_views.menu.login_items.signup"), new_user_registration_path) %>
		</li>
	<% end %>
</ul>