<div class="admin-sidebar" data-equalizer-watch>
  <ul id="officing_menu" data-accordion-menu>
    <li>
      <%= link_to "#" do %>
        <span class="icon-user"></span>
        <%= t("restriction.menu.locked_users") %>
      <% end %>
      <ul>
        <li <%= "class=active" if params[:controller] == "restriction/locked_users" %>>
          <%= link_to Budget::Investment.model_name.human(count: 2), restriction_locked_users_path %>
        </li>
      </ul>
    </li>
  </ul>
</div>
