<% content_for :canonical do %>
  <%= render "shared/canonical", href: budget_groups_url %>
<% end %>

<main class="budget-groups-index">
  <%= header(before: back_link_to(budget_path(budget))) %>
  <%= render Budgets::GroupsAndHeadingsComponent.new(budget) %>
</main>
