<div class="row">
  <div class="small-12 medium-9 column">
    <h1><%= t("representatives.title") %></h1>
    <p>Delega tu decisión sobre los apoyos y la votación final en lo que se decida en cualquiera de los espacios presenciales de debate.</p>

    <div id="forums" class="row collapse">
      <% @forums.each_slice(7) do |slice| %>
      <div class="small-12 medium-4 column">
        <% slice.each do |forum| %>
          <p id="<%= dom_id(forum) %>" class="forum">
            <%= link_to forum.name, forum %>
          </p>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
