<div class="text-center">
  <%- if devise_mapping.confirmable? && controller_name != "confirmations" %>
    <%= link_to t("devise_views.shared.links.new_confirmation"), new_confirmation_path(resource_name) %><br>
  <% end -%>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != "unlocks" %>
    <%= link_to t("devise_views.shared.links.new_unlock"), new_unlock_path(resource_name) %><br>
  <% end -%>

  <%- if devise_mapping.omniauthable? && devise_mapping.name == "user" %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to t("devise_views.shared.links.signin_with_provider", provider: provider.to_s.titleize), omniauth_authorize_path(resource_name, provider), method: :post %><br>
    <% end -%>
  <% end -%>
</div>
