<div class="sdg-goal-stats">

  <h3><%= goal.code_and_title %></h3>

  <div class="stats-numbers">
    <% stats.each do |text, amount, options = {}| %>
      <%= render Admin::Stats::StatComponent.new(text: text, amount: amount, options: options) %>
    <% end %>

    <% bugdets_stats.each do |budget_name, *budget_stats| %>
      <div class="budget-stats">
        <h4><%= budget_name %></h4>
        <% budget_stats.each do |text, amount, options = {}| %>
          <%= render Admin::Stats::StatComponent.new(text: text, amount: amount, options: options) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
