<%= link_to welcome_spending_proposals_path, class: "back" do %>
  <i class="icon-angle-left"></i>
  <%= t("spending_proposals.index.sidebar.back") %>
<% end %>

<div class="clear"></div>

<div class="sidebar-divider"></div>
<h3 class="sidebar-title">MIS VOTOS</h3>

<ul class="ballot-sidebar">
  <% @ballot.spending_proposals.by_geozone(@geozone).each do |spending_proposal| %>
    <%= render 'ballots/spending_proposal_for_sidebar', spending_proposal: spending_proposal %>
  <% end %>
</ul>
