<% default_actions.each do |action| %>
  <tr>
    <td><%= t("admin.dashboard.actions.index.default.#{action}") %></td>
    <td><%= Dashboard::Action.human_attribute_name("action_type_resource") %></td>
    <td class="text-center"><%= t("admin.dashboard.actions.index.active") %></td>
    <td colspan="4">&nbsp;</td>
    <td>
      <%= render Admin::TableActionsComponent.new(
        actions: [:edit],
        edit_path: admin_settings_path(anchor: "tab-proposals"),
      ) %>
    </td>
  </tr>
<% end %>
