<div id="<%= dom_id(setting) %>">
  <%= form_for(setting, url: admin_setting_path(setting), method: :put) do |f| %>

    <%= f.hidden_field :value,
                        value: (setting.enabled? ? "" : "active") %>

    <%= f.submit(t("admin.settings.index.features.#{setting.enabled? ? 'disable' : 'enable'}"),
          class: "button #{setting.enabled? ? 'hollow alert' : 'success'}",
          data: {confirm: t("admin.actions.confirm")}) %>
  <% end %>
</div>
