<div id="image" class="text-center image-preview">
  <figure>
    <%= image_tag image.variant(version),
                  class: image_class(image),
                  alt: image.title.unicode_normalize,
                  title: image.title.unicode_normalize %>
    <% if show_caption %>
      <figcaption class="text-right">
        <em><%= image.title.unicode_normalize %></em>
      </figcaption>
    <% end %>
  </figure>
</div>
