<h3 id="7">¿Considera que la Junta Municipal del Distrito de Salamanca debe llevar a cabo las acciones necesarias para incrementar la protección de edificios históricos e instar para que se protejan los que actualmente no figuran en el catálogo de bienes protegidos?</h3>

<table>
  <caption>
    ¿Considera que la Junta Municipal del Distrito de Salamanca debe llevar a cabo las acciones necesarias para incrementar la protección de edificios históricos e instar para que se protejan los que actualmente no figuran en el catálogo de bienes protegidos?
  </caption>
  <thead>
    <tr>
      <th>SÍ</th>
      <th>NO</th>
      <th>EN BLANCO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>10000</td>
      <td>10000</td>
      <td>10000</td>
    </tr>
  </tbody>
</table>