<h3 id="1">Madrid 100% Sostenible, Billete único para el transporte público y Plaza de España</h3>

<table>
  <caption>
    ¿Estás de acuerdo con la propuesta “Billete único para el transporte público”?
  </caption>
  <thead>
    <tr>
      <th>SÍ</th>
      <th>NO</th>
      <th>EN BLANCO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>10000</td>
      <td>10000</td>
      <td>10000</td>
    </tr>
  </tbody>
</table>

<table>
  <caption>
    ¿Estás de acuerdo con la propuesta “Madrid 100% Sostenible”?
  </caption>
  <thead>
    <tr>
      <th>SÍ</th>
      <th>NO</th>
      <th>EN BLANCO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>10000</td>
      <td>10000</td>
      <td>10000</td>
    </tr>
  </tbody>
</table>

<table>
  <caption>
    De los dos proyectos finalistas para reformar la Plaza de España ¿cuál prefieres que se lleve a cabo?
  </caption>
  <thead>
    <tr>
      <th>PROYECTO X</th>
      <th>PROYECTO Y</th>
      <th>EN BLANCO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>10000</td>
      <td>10000</td>
      <td>10000</td>
    </tr>
  </tbody>
</table>