<div class="budget-group-switcher">
  <% if other_groups.one? %>
    <p>
      <%= currently_showing_text %>
      <%= link_to_group(other_groups.first) %>
    </p>
  <% else %>
    <p><%= currently_showing_text %></p>
    <%= link_list(*other_groups.map { |group| link_to_group(group) }) %>
  <% end %>
</div>
