<div class="row human-rights-banner">
  <%= link_to human_rights_page_path do %>
    <div class="small-12 column">
      <div class="icon-human-rights"></div>
      <h3>
        <%= t("human_rights.banner.title") %>
        <small><%= t("human_rights.banner.text_html") %></small>
      </h3>
    </div>
  <% end %>
</div>
