apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: consul
resources:
  - database.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
images:
  - name: consul
    newName: rg.fr-par.scw.cloud/djnd/consul
    newTag: '70b80503ce87d4437be6dff84800b883147b864f'
  # - name: consul-assets
  #   newName: rg.fr-par.scw.cloud/djnd/consul-assets
  #   newTag: '70b80503ce87d4437be6dff84800b883147b864f'
