apiVersion: v1
kind: Secret
metadata:
  name: consul-credentials
  labels:
    app.kubernetes.io/name: consul-credentials
    app: consul-credentials
stringData:
  POSTGRES_PASSWORD: password
  POSTGRES_USERNAME: username
  MEMCACHED_PASSWORD: password
  SMTP_USERNAME: username
  SMTP_PASSWORD: password
