apiVersion: v1
kind: Secret
metadata:
  name: consul-credentials
  labels:
    app.kubernetes.io/name: consul-credentials
    app: consul-credentials
stringData:
  POSTGRES_PASSWORD: password
  POSTGRES_USERNAME: username
  MEMCACHED_PASSWORD: password
  SMTP_USERNAME: username
  SMTP_PASSWORD: password
  CONSUL_DATABASE_NAME: consul_db
  CONSUL_AWS_ACCESS_KEY_ID: secret
  CONSUL_AWS_SECRET_ACCESS_KEY: also-secret
  CONSUL_AWS_S3_BUCKET_NAME: comsul-bucket
