version: '3'
services:
  # service configuration for our database
  database:

    # use the preferred version of the official Postgres image
    # see https://hub.docker.com/_/postgres/
    image: postgres:9.4.5

    # persist the database between containers by storing it in a volume
    volumes:
      - docker-example-postgres:/var/lib/postgresql/data

  # service configuration for our dockerized Rails app
  app:

    # use the Dockerfile next to this file
    build: .
    image: consul-app
    entrypoint: /usr/local/bin/entrypoint.sh
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    working_dir: /var/www/consul
    environment:
      - NEW_RELIC_AGENT_ENABLED=false
      - DATABASE_HOST=database
      - DATABASE_NAME=postgres
    # rely on the RAILS_ENV value of the host machine
    # environment:
    #RAILS_ENV: $RAILS_ENV

    # makes the app container aware of the DB container
    depends_on:
      - database

    # expose the port we configured Unicorn to bind to
    ports:
      - "3000:3000"
    # map our application source code, in full, to the application root of our container
    volumes:
      - .:/var/www/consul:delegated
      - bundle:/usr/local/bundle:delegated
  migration:
    image: consul-app
    environment:
      - DATABASE_HOST=database
      - DATABASE_NAME=postgres
    command: bin/rake db:migrate
    volumes:
      - .:/var/www/consul:delegated
      - bundle:/usr/local/bundle:delegated
    depends_on:
      - app
      - database
  prepare:
    build: .
    image: consul-app
    command: bash -c "bin/rake db:create && bin/rake db:migrate && bin/rake db:seed && bin/rake db:dev_seed"
    environment: 
      - DATABASE_HOST=database
      - DATABASE_NAME=postgres
    volumes:
      - .:/var/www/consul:delegated
      - bundle:/usr/local/bundle:delegated
    depends_on:
      - app
      - database
volumes:
  docker-example-postgres: {}
  bundle: {}

