<h3 id="6">Nombres de centros culturales en Retiro</h3>

<table>
  <caption>
    ¿Cómo quieres que se llame el Centro Cultural situado en el Mercado de Ibiza, c/ Ibiza 8?
  </caption>
  <thead>
    <tr>
      <th>NOMBRE</th>
      <th>VOTOS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nombre ganador</td>
      <td>123450</td>
    </tr>
  </tbody>
</table>

<table class="poll-6-discarded" style="display:none">
  <thead>
    <tr>
      <th>NOMBRE</th>
      <th>VOTOS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Otro nombre</td>
      <td>123450</td>
    </tr>
    <tr>
      <td>Otro nombre</td>
      <td>123450</td>
    </tr>
    <tr>
      <td>Otro nombre</td>
      <td>123450</td>
    </tr>
    <tr>
      <td>Otro nombre</td>
      <td>123450</td>
    </tr>
    <tr>
      <td>Otro nombre</td>
      <td>123450</td>
    </tr>
    <tr>
      <td>Otro nombre</td>
      <td>123450</td>
    </tr>
    <tr>
      <td>Otro nombre</td>
      <td>123450</td>
    </tr>
    <tr>
      <td>Otro nombre</td>
      <td>123450</td>
    </tr>
    <tr>
      <td>Otro nombre</td>
      <td>123450</td>
    </tr>
    <tr>
      <td>Otro nombre</td>
      <td>123450</td>
    </tr>
    <tr>
      <td>Otro nombre</td>
      <td>123450</td>
    </tr>
    <tr>
      <td>Otro nombre</td>
      <td>123450</td>
    </tr>
    <tr>
      <td>Otro nombre</td>
      <td>123450</td>
    </tr>
    <tr>
      <td>Otro nombre</td>
      <td>123450</td>
    </tr>
    <tr>
      <td>Otro nombre</td>
      <td>123450</td>
    </tr>
    <tr>
      <td>Otro nombre</td>
      <td>123450</td>
    </tr>
  </tbody>
</table>

<table>
  <caption>
    ¿Cómo quieres que se llame el Centro Cultural situado en c/ Luis Peidró 2?
  </caption>
  <thead>
    <tr>
      <th>NOMBRE</th>
      <th>VOTOS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nombre ganador</td>
      <td>123450</td>
    </tr>
  </tbody>
</table>
<table class="poll-6-discarded" style="display:none">
  <thead>
    <tr>
      <th>NOMBRE</th>
      <th>VOTOS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Otro nombre</td>
      <td>123450</td>
    </tr>
    <tr>
      <td>Otro nombre</td>
      <td>123450</td>
    </tr>
  </tbody>
</table>

<table>
  <caption>
    ¿Cómo quieres que se llame el Centro Sociocultural situado en la Junta Municipal de Retiro, Avda. Ciudad de Barcelona 164?
  </caption>
  <thead>
    <tr>
      <th>NOMBRE</th>
      <th>VOTOS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nombre ganador</td>
      <td>123450</td>
    </tr>
  </tbody>
</table>

<table class="poll-6-discarded" style="display:none">
  <thead>
    <tr>
      <th>NOMBRE</th>
      <th>VOTOS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Otro nombre</td>
      <td>123450</td>
    </tr>
    <tr>
      <td>Otro nombre</td>
      <td>123450</td>
    </tr>
    <tr>
      <td>Otro nombre</td>
      <td>123450</td>
    </tr>
    <tr>
      <td>Otro nombre</td>
      <td>123450</td>
    </tr>
    <tr>
      <td>Otro nombre</td>
      <td>123450</td>
    </tr>
    <tr>
      <td>Otro nombre</td>
      <td>123450</td>
    </tr>
    <tr>
      <td>Otro nombre</td>
      <td>123450</td>
    </tr>
    <tr>
      <td>Otro nombre</td>
      <td>123450</td>
    </tr>
    <tr>
      <td>Otro nombre</td>
      <td>123450</td>
    </tr>
  </tbody>
</table>

<div class="margin text-right">
  <%= link_to "Ver resultados de todas las respuestas", "#",
              class: "js-toggle-link",
              data: {'toggle-selector' => '.poll-6-discarded', 'toggle-text' => "Ver solo respuestas ganadoras"} %>
</div>
