        <h3 id="1">Madrid 100% Sostenible, Billete único para el transporte público y Plaza de España</h3>

  <table>
    <caption>
      ¿Estás de acuerdo con la propuesta “Billete único para el transporte público”?
    </caption>

    <thead>
      <tr>
          <th scope="col" class="win">Sí</th>
          <th scope="col" class="">No</th>
        <th scope="col">EN BLANCO</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td  class="win">198905 (93,94%)</td>
          <td  class="">6631 (3,13%)</td>
        <td>6189 (2,92%)</td>
      </tr>
    </tbody>
  </table>

  <p>
      <a href="<%= request.url %>proposals/9-billete-unico-para-el-transporte-publico">
        Ir a la propuesta "Billete único para el transporte público"
</a>  </p>
  <table>
    <caption>
      ¿Estás de acuerdo con la propuesta “Madrid 100% Sostenible”?
    </caption>

    <thead>
      <tr>
          <th scope="col" class="win">Sí</th>
          <th scope="col" class="">No</th>
        <th scope="col">EN BLANCO</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td  class="win">188665 (89,11%)</td>
          <td  class="">14783 (6,98%)</td>
        <td>8277 (3,91%)</td>
      </tr>
    </tbody>
  </table>

  <p>
      <a href="<%= request.url %>proposals/199-madrid-100-sostenible">
        Ir a la propuesta "Madrid 100% Sostenible"
</a>  </p>
  <table>
    <caption>
      De los dos proyectos finalistas para reformar la Plaza de España ¿cuál prefieres que se lleve a cabo?
    </caption>

    <thead>
      <tr>
          <th scope="col" class="win">Proyecto X</th>
          <th scope="col" class="">Proyecto Y</th>
        <th scope="col">EN BLANCO</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td  class="win">110076 (51,99%)</td>
          <td  class="">63543 (30,01%)</td>
        <td>38106 (18%)</td>
      </tr>
    </tbody>
  </table>

  <p>
      <a href="<%= request.url %>proceso/plaza-espana/proyectos/38">
        Ir a "Proyecto X: Welcome mother Nature"
</a>      <br>
      <a href="<%= request.url %>proceso/plaza-espana/proyectos/22">
        Ir a "Proyecto Y: UN PASEO POR LA CORNISA"
</a>  </p>
