<h3 id="7">¿Considera que la Junta Municipal del Distrito de Salamanca debe llevar a cabo las acciones necesarias para incrementar la protección de edificios históricos e instar para que se protejan los que actualmente no figuran en el catálogo de bienes protegidos?</h3>

<table>
  <caption>
    ¿Considera que la Junta Municipal del Distrito de Salamanca debe llevar a cabo las acciones necesarias para incrementar la protección de edificios históricos e instar para que se protejan los que actualmente no figuran en el catálogo de bienes protegidos?
  </caption>

  <thead>
    <tr>
        <th scope="col" class="win">Sí</th>
        <th scope="col" class="">No</th>
      <th scope="col">EN BLANCO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td class="win">1914 (90,24%)</td>
        <td class="">201 (9,48%)</td>
        <td>6 (0,28%)</td>
    </tr>
  </tbody>
</table>
