<h3 id="8">¿Cómo quieres que se llame el Espacio de Igualdad del Distrito de Vicálvaro?</h3>


<table>
  <caption>
    ¿Cómo quieres que se llame el Espacio de Igualdad del Distrito de Vicálvaro?
  </caption>
  <thead>
    <tr>
      <th scope="col">NOMBRE</th>
      <th scope="col">VOTOS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Gloria Fuertes</td>
      <td>521 (50,63%)</td>
    </tr>
  </tbody>
</table>

<table class="poll-8-discarded" style="display:none">
  <thead>
    <tr>
      <th scope="col">NOMBRE</th>
      <th scope="col">VOTOS</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>Federica Montseny</td>
        <td>245 (23,81%)</td>
      </tr>
      <tr>
        <td>Frida Kahlo</td>
        <td>162 (15,74%)</td>
      </tr>
      <tr>
        <td>María Pacheco</td>
        <td>92 (8,94%)</td>
      </tr>
    <tr>
      <td>En BLANCO</td>
      <td>8 (0,78%)</td>
    </tr>
  </tbody>
</table>

<div class="margin text-right">
<a class="js-toggle-link" data-toggle-selector=".poll-8-discarded" data-toggle-text="Ver solo respuestas ganadoras" href="#">Ver resultados de todas las respuestas</a>
</div>
