<h3 id="5">Nombre de distrito y Parque Felipe VI en Hortaleza</h3>

 <table>
   <caption>
     ¿Cambiamos el nombre del distrito de Hortaleza a Hortaleza-Canillas?
   </caption>

   <thead>
     <tr>
         <th scope="col" class="">Sí</th>
         <th scope="col" class="win">No</th>
       <th scope="col">EN BLANCO</th>
     </tr>
   </thead>
   <tbody>
     <tr>
         <td class="">1169 (31%)</td>
         <td class="win">2473 (65,58%)</td>
       <td>129 (3,42%)</td>
     </tr>
   </tbody>
 </table>
 <table>
   <caption>
     ¿Debe retomar el actual Parque de Felipe VI a su nombre original Parque Forestal de Valdebebas?
   </caption>

   <thead>
     <tr>
         <th scope="col" class="win">Sí</th>
         <th scope="col" class="">No</th>
       <th scope="col">EN BLANCO</th>
     </tr>
   </thead>
   <tbody>
     <tr>
         <td class="win">2528 (67,04%)</td>
         <td class="">1156 (30,65%)</td>
       <td>87 (2,31%)</td>
     </tr>
   </tbody>
 </table>
