<h3 id="6">Nombres de centros culturales en Retiro</h3>

 <table>
   <caption>
     ¿Cómo quieres que se llame el Centro Cultural situado en el Mercado de Ibiza, c/ Ibiza 8?
   </caption>
   <thead>
     <tr>
       <th scope="col">NOMBRE</th>
       <th scope="col">VOTOS</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td>Mercado de Ibiza</td>
       <td>666 (26,22%)</td>
     </tr>
   </tbody>
 </table>

 <table class="poll-6-12-discarded" style="display:none">
   <thead>
     <tr>
       <th scope="col">NOMBRE</th>
       <th scope="col">VOTOS</th>
     </tr>
   </thead>
   <tbody>
       <tr>
         <td>El Buen Mercado de Retiro</td>
         <td>382 (15,04%)</td>
       </tr>
       <tr>
         <td>Carmen Martín Gaite</td>
         <td>234 (9,21%)</td>
       </tr>
       <tr>
         <td>Las Sin Sombrero</td>
         <td>209 (8,23%)</td>
       </tr>
       <tr>
         <td>Marcos Ana</td>
         <td>183 (7,2%)</td>
       </tr>
       <tr>
         <td>Concha García Campoy</td>
         <td>178 (7,01%)</td>
       </tr>
       <tr>
         <td>José Hierro</td>
         <td>134 (5,28%)</td>
       </tr>
       <tr>
         <td>Santiago Ramón y Cajal</td>
         <td>112 (4,41%)</td>
       </tr>
       <tr>
         <td>Amparo Barayón</td>
         <td>92 (3,62%)</td>
       </tr>
       <tr>
         <td>Zenobia Camprubí</td>
         <td>63 (2,48%)</td>
       </tr>
       <tr>
         <td>María Asquerino</td>
         <td>53 (2,09%)</td>
       </tr>
       <tr>
         <td>Ramón J. Sénder</td>
         <td>44 (1,73%)</td>
       </tr>
       <tr>
         <td>Fernando Rivero Ramírez</td>
         <td>36 (1,42%)</td>
       </tr>
       <tr>
         <td>Ángeles García-Madrid</td>
         <td>34 (1,34%)</td>
       </tr>
       <tr>
         <td>Duquesa de Santoña</td>
         <td>32 (1,26%)</td>
       </tr>
       <tr>
         <td>Francisco Bernis Madrazo</td>
         <td>12 (0,47%)</td>
       </tr>
       <tr>
         <td>Pepita Embil Echániz</td>
         <td>12 (0,47%)</td>
       </tr>
     <tr>
       <td>En BLANCO</td>
       <td>3 (0,12%)</td>
     </tr>
   </tbody>
 </table>

 <div class="margin text-right">
 <a class="js-toggle-link" data-toggle-selector=".poll-6-12-discarded" data-toggle-text="Ver solo respuestas ganadoras" href="#">Ver resultados de todas las respuestas</a>
 </div>
 <table>
   <caption>
     ¿Cómo quieres que se llame el Centro Cultural situado en c/ Luis Peidró 2?
   </caption>
   <thead>
     <tr>
       <th scope="col">NOMBRE</th>
       <th scope="col">VOTOS</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td>Las Californias</td>
       <td>1069 (42,09%)</td>
     </tr>
   </tbody>
 </table>

 <table class="poll-6-13-discarded" style="display:none">
   <thead>
     <tr>
       <th scope="col">NOMBRE</th>
       <th scope="col">VOTOS</th>
     </tr>
   </thead>
   <tbody>
       <tr>
         <td>Zenobia Camprubí</td>
         <td>644 (25,35%)</td>
       </tr>
       <tr>
         <td>Ángeles García-Madrid</td>
         <td>529 (20,83%)</td>
       </tr>
     <tr>
       <td>En BLANCO</td>
       <td>3 (0,12%)</td>
     </tr>
   </tbody>
 </table>

 <div class="margin text-right">
 <a class="js-toggle-link" data-toggle-selector=".poll-6-13-discarded" data-toggle-text="Ver solo respuestas ganadoras" href="#">Ver resultados de todas las respuestas</a>
 </div>
 <table>
   <caption>
     ¿Cómo quieres que se llame el Centro Sociocultural situado en la Junta Municipal de Retiro, Avda. Ciudad de Barcelona 164?
   </caption>
   <thead>
     <tr>
       <th scope="col">NOMBRE</th>
       <th scope="col">VOTOS</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td>Clara Campoamor Rodríguez</td>
       <td>683 (26,89%)</td>
     </tr>
   </tbody>
 </table>

 <table class="poll-6-14-discarded" style="display:none">
   <thead>
     <tr>
       <th scope="col">NOMBRE</th>
       <th scope="col">VOTOS</th>
     </tr>
   </thead>
   <tbody>
       <tr>
         <td>Memorial 11M</td>
         <td>586 (23,07%)</td>
       </tr>
       <tr>
         <td>Las Sin Sombrero</td>
         <td>336 (13,23%)</td>
       </tr>
       <tr>
         <td>Marcos Ana</td>
         <td>236 (9,29%)</td>
       </tr>
       <tr>
         <td>Concha García Campoy</td>
         <td>211 (8,31%)</td>
       </tr>
       <tr>
         <td>José Hierro</td>
         <td>198 (7,8%)</td>
       </tr>
       <tr>
         <td>Ángeles García-Madrid</td>
         <td>70 (2,76%)</td>
       </tr>
       <tr>
         <td>María Asquerino</td>
         <td>68 (2,68%)</td>
       </tr>
       <tr>
         <td>María Casares</td>
         <td>38 (1,5%)</td>
       </tr>
       <tr>
         <td>Concha Méndez Cuesta</td>
         <td>35 (1,38%)</td>
       </tr>
     <tr>
       <td>En BLANCO</td>
       <td>3 (0,12%)</td>
     </tr>
   </tbody>
 </table>

 <div class="margin text-right">
 <a class="js-toggle-link" data-toggle-selector=".poll-6-14-discarded" data-toggle-text="Ver solo respuestas ganadoras" href="#">Ver resultados de todas las respuestas</a>
 </div>
