<h3 id="5">Nombre de distrito y Parque Felipe VI en Hortaleza</h3>

<table>
  <caption>
    ¿Debe retomar el actual Parque de Felipe VI a su nombre original Parque Forestal de Valdebebas?
  </caption>
  <thead>
    <tr>
      <th class="win">SÍ</th>
      <th>NO</th>
      <th>EN BLANCO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="win">123450</td>
      <td>87000</td>
      <td>2000</td>
    </tr>
  </tbody>
</table>

<table>
  <caption>
    ¿Cambiamos el nombre del distrito de Hortaleza a Hortaleza-Canillas?
  </caption>
  <thead>
    <tr>
      <th>SÍ</th>
      <th class="win">NO</th>
      <th>EN BLANCO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>123450</td>
      <td class="win">87000</td>
      <td>2000</td>
    </tr>
  </tbody>
</table>