 <h3 id="3">Prioriza el Plan Participativo de Actuación Territorial de Barajas</h3>


<table>
  <caption>
    Prioriza el Plan Participativo de Actuación Territorial de Barajas
  </caption>
  <thead>
    <tr>
      <th scope="col">OPCIÓN</th>
      <th scope="col">VOTOS</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>Implantar un autobús directo al Hospital Ramón y Cajal</td>
        <td>873 (67,47%)</td>
      </tr>
      <tr>
        <td>(NO ES COMPETENCIA MUNICIPAL) Reabrir el servicio de urgencias</td>
        <td>653 (50,46%)</td>
      </tr>
      <tr>
        <td>Reabrir el auditorio del Parque Juan Carlos I y dotarle de uso cultural</td>
        <td>600 (46,37%)</td>
      </tr>
      <tr>
        <td>Mejorar la limpieza del distrito</td>
        <td>492 (38,02%)</td>
      </tr>
      <tr>
        <td>(NO ES COMPETENCIA MUNICIPAL) Garantizar las plazas necesarias de Secundaria y Bachillerato para todos los alumnos de los centros públicos del distrito. Construcción de un nuevo instituto</td>
        <td>404 (31,22%)</td>
      </tr>
      <tr>
        <td>Finalización de la Vía Verde de la Gasolina</td>
        <td>400 (30,91%)</td>
      </tr>
      <tr>
        <td>Ampliación del Centro Polideportivo Municipal de Barajas</td>
        <td>393 (30,37%)</td>
      </tr>
      <tr>
        <td>Gestión pública de las Escuelas Infantiles y aumento de plazas</td>
        <td>362 (27,98%)</td>
      </tr>
      <tr>
        <td>Fortalecimiento del apoyo escolar a los niños con necesidades educativas especiales</td>
        <td>342 (26,43%)</td>
      </tr>
      <tr>
        <td>Mejorar el mantenimiento de los centros de enseñanza pública</td>
        <td>338 (26,12%)</td>
      </tr>
  </tbody>
</table>
<table class="poll-3-discarded" style="display:none">
  <thead>
    <tr>
      <th scope="col">OPCIÓN</th>
      <th scope="col">VOTOS</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>Incrementar la inversión en Servicios Sociales</td>
        <td>321 (24,81%)</td>
      </tr>
      <tr>
        <td>Construir un aparcamiento disuasorio en el Metro Barajas</td>
        <td>315 (24,34%)</td>
      </tr>
      <tr>
        <td>Creación de un Centro Madrid Salud</td>
        <td>309 (23,88%)</td>
      </tr>
      <tr>
        <td>(NO ES COMPETENCIA MUNICIPAL) Construcción de un centro de especialidades</td>
        <td>289 (22,33%)</td>
      </tr>
      <tr>
        <td>Mejorar el acceso a las prestaciones de la Ley de Dependencia</td>
        <td>286 (22,1%)</td>
      </tr>
      <tr>
        <td>Incrementar las ayudas para libros de texto</td>
        <td>263 (20,32%)</td>
      </tr>
      <tr>
        <td>Crear bosques urbanos en el distrito</td>
        <td>261 (20,17%)</td>
      </tr>
      <tr>
        <td>Mejorar la oferta cultural, tanto en calidad como en variedad</td>
        <td>245 (18,93%)</td>
      </tr>
      <tr>
        <td>Ampliación de la Vía Verde de la Gasolina</td>
        <td>236 (18,24%)</td>
      </tr>
      <tr>
        <td>Creación del Cine Club Distrito Barajas</td>
        <td>214 (16,54%)</td>
      </tr>
      <tr>
        <td>Crear el Punto Joven Alameda: rocódromo y skatepark</td>
        <td>214 (16,54%)</td>
      </tr>
      <tr>
        <td>Impulsar la Oficina Municipal de Empleo de Barajas</td>
        <td>207 (16%)</td>
      </tr>
      <tr>
        <td>Crear un servicio de alquiler de bicicletas en Barajas y fomentar su utilización</td>
        <td>192 (14,84%)</td>
      </tr>
      <tr>
        <td>Crear un eje histórico-cultural de la Alameda de Osuna</td>
        <td>190 (14,68%)</td>
      </tr>
      <tr>
        <td>Peatonalizar la Plaza Mayor de Barajas</td>
        <td>184 (14,22%)</td>
      </tr>
      <tr>
        <td>Incrementar el personal de los Servicios Sociales</td>
        <td>181 (13,99%)</td>
      </tr>
      <tr>
        <td>Rehabilitación integral de las viviendas del Barrio del Aeropuerto</td>
        <td>178 (13,76%)</td>
      </tr>
      <tr>
        <td>Reimplantación del transporte escolar al Barrio del Aeropuerto</td>
        <td>169 (13,06%)</td>
      </tr>
      <tr>
        <td>Implantar el proyecto “Camino seguro al colegio”</td>
        <td>167 (12,91%)</td>
      </tr>
      <tr>
        <td>Crear una galería de alimentación en el Ensanche de Barajas</td>
        <td>167 (12,91%)</td>
      </tr>
      <tr>
        <td>Recuperación de las fiestas populares de La Alameda de Osuna</td>
        <td>160 (12,36%)</td>
      </tr>
      <tr>
        <td>(NO ES COMPETENCIA MUNICIPAL) Implantar un dispensario sanitario en el Barrio del Aeropuerto</td>
        <td>159 (12,29%)</td>
      </tr>
      <tr>
        <td>Crear de un Vivero de Empresas para emprendedores</td>
        <td>149 (11,51%)</td>
      </tr>
      <tr>
        <td>(NO ES COMPETENCIA MUNICIPAL) Aumento de plazas y especialidades de FP en el IES Barajas</td>
        <td>144 (11,13%)</td>
      </tr>
      <tr>
        <td>Ofrecer consulta bucodental en los Centros de Mayores</td>
        <td>139 (10,74%)</td>
      </tr>
      <tr>
        <td>Crear equipamientos culturales en el barrio de Timón</td>
        <td>139 (10,74%)</td>
      </tr>
      <tr>
        <td>(NO ES COMPETENCIA MUNICIPAL) Construcción de un nuevo centro de salud</td>
        <td>137 (10,59%)</td>
      </tr>
      <tr>
        <td>(NO ES COMPETENCIA MUNICIPAL) Construcción del pabellón deportivo en el CEIP Ciudad de Guadalajara</td>
        <td>135 (10,43%)</td>
      </tr>
      <tr>
        <td>(NO ES COMPETENCIA MUNICIPAL) Finalización del CEIP Margaret Thatcher</td>
        <td>135 (10,43%)</td>
      </tr>
      <tr>
        <td>Crear una Casa de la Juventud o Centro Joven de Barajas</td>
        <td>135 (10,43%)</td>
      </tr>
      <tr>
        <td>Implantar un servicio de fisioterapia en el Centro Deportivo Municipal Barajas</td>
        <td>132 (10,2%)</td>
      </tr>
      <tr>
        <td>Mejorar el asfaltado del Parque Juan Carlos I</td>
        <td>117 (9,04%)</td>
      </tr>
      <tr>
        <td>Conceder permiso anual para el Mercadillo Vecinal y el Artesanal</td>
        <td>113 (8,73%)</td>
      </tr>
      <tr>
        <td>Presentar públicamente los presupuestos</td>
        <td>111 (8,58%)</td>
      </tr>
      <tr>
        <td>Proporcionar locales o espacios municipales a las asociaciones y colectivos del distrito</td>
        <td>106 (8,19%)</td>
      </tr>
      <tr>
        <td>Realizar un estudio pormenorizado de la realidad de nuestros mayores</td>
        <td>104 (8,04%)</td>
      </tr>
      <tr>
        <td>Reforma y adecuación integral de la Instalación Deportiva Municipal Básica del Barrio del Aeropuerto</td>
        <td>96 (7,42%)</td>
      </tr>
      <tr>
        <td>(NO ES COMPETENCIA MUNICIPAL) Incremento del número de médicos, reposición de plazas y psicólogo/a para adultos en el centro de salud mental.</td>
        <td>93 (7,19%)</td>
      </tr>
      <tr>
        <td>Recuperar la Plaza de Nuestra Señora de Loreto</td>
        <td>90 (6,96%)</td>
      </tr>
      <tr>
        <td>Realizar mejoras en el Centro de Mayores Acuario</td>
        <td>87 (6,72%)</td>
      </tr>
      <tr>
        <td>Creación de un centro de patinaje</td>
        <td>86 (6,65%)</td>
      </tr>
      <tr>
        <td>(NO ES COMPETENCIA MUNICIPAL) Ampliación del comedor del CEIP Ciudad de Zaragoza</td>
        <td>84 (6,49%)</td>
      </tr>
      <tr>
        <td>Arreglar el acceso peatonal al Centro Deportivo Municipal Barajas</td>
        <td>63 (4,87%)</td>
      </tr>
      <tr>
        <td>Prohibir la cesión de explotación en las casetas de las fiestas</td>
        <td>57 (4,4%)</td>
      </tr>
      <tr>
        <td>(NO ES COMPETENCIA MUNICIPAL) Mejorar la ubicación e infraestructura del centro de salud mental</td>
        <td>55 (4,25%)</td>
      </tr>
      <tr>
        <td>(NO ES COMPETENCIA MUNICIPAL) Recuperar la Casa del Pueblo de Barajas</td>
        <td>52 (4,02%)</td>
      </tr>
      <tr>
        <td>Promover anualmente el comercio en Barajas</td>
        <td>50 (3,86%)</td>
      </tr>
      <tr>
        <td>Rehabilitar el Bloque Ezequiel Peñalver y su entorno</td>
        <td>49 (3,79%)</td>
      </tr>
      <tr>
        <td>(NO ES COMPETENCIA MUNICIPAL) Realizar inspecciones de trabajo en todos los comercios de Barajas</td>
        <td>46 (3,55%)</td>
      </tr>
      <tr>
        <td>Desarrollar el capítulo de “Gobierno Abierto, Datos Abiertos”</td>
        <td>38 (2,94%)</td>
      </tr>
      <tr>
        <td>Reformar el reglamento de la Junta Municipal</td>
        <td>31 (2,4%)</td>
      </tr>
      <tr>
        <td>Mejorar, por parte de la Junta Municipal, la difusión de los eventos deportivos de las asociaciones</td>
        <td>29 (2,24%)</td>
      </tr>
      <tr>
        <td>Difundir el comercio y la actividad empresarial del distrito en la página web de la Junta Municipal</td>
        <td>24 (1,85%)</td>
      </tr>
      <tr>
        <td>Crear un espacio de encuentro en el Bloque Ezequiel Peñalver</td>
        <td>19 (1,47%)</td>
      </tr>
    <tr>
      <td>En BLANCO</td>
      <td>1 (0,08%)</td>
    </tr>
  </tbody>
</table>

<div class="margin text-right">
  <a class="js-toggle-link" data-toggle-selector=".poll-3-discarded" data-toggle-text="Ver solo respuestas ganadoras" href="#">Ver resultados de todas las respuestas</a>
</div>
