<h3 id="2">Gran vía</h3>

 <table>
   <caption>
     ¿Estás de acuerdo con mejorar el espacio peatonal de la Gran Vía mediante la ampliación de sus aceras?
   </caption>

   <thead>
     <tr>
         <th scope="col" class="win">Sí</th>
         <th scope="col" class="">No</th>
       <th scope="col">EN BLANCO</th>
     </tr>
   </thead>
   <tbody>
     <tr>
         <td class="win">71047 (85,49%)</td>
         <td class="">11459 (13,79%)</td>
       <td>595 (0,72%)</td>
     </tr>
   </tbody>
 </table>
 <table>
   <caption>
     ¿Consideras necesario mejorar las condiciones de las plazas traseras vinculadas a Gran Vía para que puedan ser utilizadas como espacio de descanso y/o de estancia?
   </caption>

   <thead>
     <tr>
         <th scope="col" class="win">Sí</th>
         <th scope="col" class="">No</th>
       <th scope="col">EN BLANCO</th>
     </tr>
   </thead>
   <tbody>
     <tr>
         <td class="win">73339 (88,25%)</td>
         <td class="">8147 (9,8%)</td>
       <td>1615 (1,94%)</td>
     </tr>
   </tbody>
 </table>
 <table>
   <caption>
     ¿Consideras que sería necesario incrementar el número de pasos peatonales de la Gran Vía para mejorar la comunicación peatonal?
   </caption>

   <thead>
     <tr>
         <th scope="col" class="win">Sí</th>
         <th scope="col" class="">No</th>
       <th scope="col">EN BLANCO</th>
     </tr>
   </thead>
   <tbody>
     <tr>
         <td class="win">55461 (66,74%)</td>
         <td class="">26127 (31,44%)</td>
       <td>1513 (1,82%)</td>
     </tr>
   </tbody>
 </table>
 <table>
   <caption>
     ¿Estás de acuerdo en que el transporte público colectivo debe mantener su prioridad en la circulación rodada en la Gran Vía?
   </caption>

   <thead>
     <tr>
         <th scope="col" class="win">Sí</th>
         <th scope="col" class="">No</th>
       <th scope="col">EN BLANCO</th>
     </tr>
   </thead>
   <tbody>
     <tr>
         <td class="win">76644 (92,23%)</td>
         <td class="">5576 (6,71%)</td>
       <td>881 (1,06%)</td>
     </tr>
   </tbody>
 </table>


       <h2 class="show-for-sr">DISTRITOS</h2>
