<div class="row">

  <div class="small-12 medium-9 column">
    <%= render "shared/back_link" %>

    <h1><%= t("admin.enquiries.new.title") %></h1>
    <%= render "admin/enquiries/form", form_url: admin_enquiries_url %>
  </div>

</div>
