---
http_interactions:
- request:
    method: post
    uri: https://fake.url/
    body:
      encoding: UTF-8
      string: |
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:sch="http://es.bcn.mci.ws/cr/schemas">
           <soapenv:Header/>
           <soapenv:Body>
              <sch:GetPersonaLocalitzaAdrecaRequest>
                 <sch:usuari>PAM</sch:usuari>
                 <sch:Dades>
                   <sch:tipDocument>01</sch:tipDocument>
                   <sch:docId>12345678X</sch:docId>
                 </sch:Dades>
              </sch:GetPersonaLocalitzaAdrecaRequest>
           </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Soapaction:
      - '""'
      Content-Type:
      - text/xml
      Content-Language:
      - ca-ES
    body:
      encoding: UTF-8
      string: <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Header/><soapenv:Body><GetPersonaLocalitzaAdrecaResponse
        xmlns="http://es.bcn.mci.ws/cr/schemas"><codiRetorn>00</codiRetorn><numRegistres>000</numRegistres></GetPersonaLocalitzaAdrecaResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Sat, 23 Jan 2016 09:43:11 GMT
recorded_with: VCR 3.0.1
