<div class="milestone-new row">

  <div class="small-12 column">
    <%= back_link_to admin_budget_budget_investment_path(@investment.budget, @investment) %>

    <h1><%= t("admin.milestones.new.creating") %></h1>

    <%= render "form" %>
  </div>
</div>
