<div class="aue-goal-item">
  <%= image_tag image_path, alt: image_text, class: "aue-goal-icon" %>
    <div class="aue-goal-item-text aue-goal-<%= code %>">
    <span>
      <%= title %>: <%= description %>
    </span>
    </div>
</div>
