<!DOCTYPE html>
<html>
<head>
  <title>ConsulAssemblies</title>
  <%= stylesheet_link_tag    "consul_assemblies/application", media: "all" %>
  <%= javascript_include_tag "consul_assemblies/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
