<div class="row">
  <div class="small-12 column">
    <%= back_link_to admin_dashboard_administrator_tasks_path, t("admin.dashboard.administrator_tasks.edit.back") %>

    <h1><%= t("admin.dashboard.administrator_tasks.edit.solving") %></h1>

    <%= render 'form' %>
  </div>
</div>
