<div class="small-12 column">
  <%= back_link_to admin_dashboard_administrator_tasks_path,
                   t("admin.dashboard.administrator_tasks.edit.back") %>

  <h2><%= t("admin.dashboard.administrator_tasks.edit.solving") %></h2>
</div>

<%= render "form" %>
