<div id="poll-resources">
  <h3><%= t("admin.results.index.title") %></h3>

  <% if @partial_results.empty? %>
    <div class="callout primary margin-top">
      <%= t("admin.results.index.no_results") %>
    </div>
  <% else %>
    <%= render "admin/poll/results/recount", resource: @booth_assignment %>
    <%= render "admin/poll/results/result" %>
  <% end %>
</div>