<div class="small-12 medium-6 margin-top">
  <%= form_tag(search_booths_admin_poll_booth_assignments_path(@poll), method: :get, remote: true) do |f| %>
    <div class="input-group">
      <%= text_field_tag :search,
                         @search,
                         placeholder: t("admin.shared.search.label.booths"), id: "search-booths" %>
      <div class="input-group-button">
        <%= submit_tag t("admin.shared.search.search"), class: "button" %>
      </div>
    </div>
  <% end %>
</div>

<div id="search-booths-results"></div>
