<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    <li class="is-active orbit-slide">
      <%= image_tag "plaza/example_1.jpg", alt: "", class: "orbit-image" %>
      <figcaption class="orbit-caption">Ejemplo de imagen uno.</figcaption>
    </li>
    <li class="orbit-slide">
      <%= image_tag "plaza/example_2.jpg", alt: "", class: "orbit-image" %>
      <figcaption class="orbit-caption">Ejemplo de imagen dos.</figcaption>
    </li>
    <li class="orbit-slide">
      <%= image_tag "plaza/example_3.jpg", alt: "", class: "orbit-image" %>
      <figcaption class="orbit-caption">Ejemplo de imagen tres.</figcaption>
    </li>
    <li class="orbit-slide">
      <%= image_tag "plaza/example_4.jpg", alt: "", class: "orbit-image" %>
      <figcaption class="orbit-caption">Ejemplo de imagen cuatro.</figcaption>
    </li>
  </ul>
  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0">
      <span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span>
    </button>
    <button data-slide="1">
      <span class="show-for-sr">Second slide details.</span>
    </button>
    <button data-slide="2">
      <span class="show-for-sr">Third slide details.</span>
    </button>
    <button data-slide="3">
      <span class="show-for-sr">Fourth slide details.</span>
    </button>
  </nav>
</div>

<p>En los últimos años , Madrid está convirtiendose en un modelo de ciudad más verde, amable , peatonal y festiva. Forma parte de un grupo de ciudades en todo el mundo que están reorientando sus modelos urbanos hacia soluciones más sostenibles poniendo al ciudadano como punto de partida en el diseño de sus espacios.</p>
<p><strong>Más peatonal</strong>. La limitación del trá co privado en muchas zonas del centro urbano, junto con la peatonlización permanente o temporal de grandes avenidas, como Madrid Pasea, así como la instauración de un sistema de bicicletas electricas de alquiler y la creación de nuevos carriles bici, está cambiando el modelo de movilidad hacia soluciones más limpias y no contaminantes.
Otras operaciones de reforma como el Prado-Recoletos, la futura reofmra de Gran Vía apuntan aún nuevas direcciones.</p>
<p><strong>Más verde</strong>. La red de espacios libres se ha consolidado con la creación de parque comoo el de Madrid RIo, que ha supuesto un increible salto de calidad cualitativo en los espacios públicos de la ciudad, y se ha convetido en un referente internacional de parque y espacio público contemporaneo.</p>
<p><strong>Más festiva</strong>. La recuperación de la calle y los espacios públicos ha supuesto una alegría y una nueva mentalidad en la ciudadanía. Conciertos, celebraciones, mercadillos , fesitvales callejeros,se han convertido en algo cotidiano los  nes de semana, una expresión del caracter festivo de los madrileños.</p>
<p><strong>Más amable</strong>. Madrid se ha hecho más confortable de recorrer , más accesible para los mayores y cuidadosa con los pequeños. Más inclusiva incorporando a todo el mundo en sus espacios.
Madrid se transforma. Ahora es tiempo para la Plaza de España de participar de esa transformación.</p>
