<div class="flex-video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/3fmJCO-NosM?rel=0" style="border:0" allowfullscreen title="Mi rincón favorito de Madrid (REF: 03)"></iframe>
</div>
