<div class="flex-video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/JXaSWVYrlpQ?rel=0" style="border:0" allowfullscreen title="Welcome mother Nature (REF: 30)"></iframe>
</div>
