.sensemaker {
  .flex-between {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    gap: 2px;
    justify-content: flex-end;
  }

  .meta {
    color: #6d6d6d;
    font-size: $small-font-size;
  }

  .input-preview {
    background: #efefef;
    border: 1px solid $border;
    border-radius: $button-radius;
    color: #555;
    font-size: $small-font-size;
    max-height: 40vh;
    overflow: hidden;
    overflow-y: scroll;
    padding: 6px;
    text-wrap: auto;
  }
}
