.sensemaker {
  .flex-between {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    gap: 2px;
    justify-content: flex-end;
  }

  .meta {
    color: #6d6d6d;
    font-size: $small-font-size;
  }
}