<span class="js-flag-as-inappropiate-actions">
  <%= render 'comments/flag_as_inappropiate_actions', comment: comment %>
</span>

<span class='js-moderation-actions'>
  <% if can? :hide, comment %>
    <span class="divider">&nbsp;&bullet;&nbsp;</span>
    <%= link_to t("admin.actions.hide").capitalize, hide_moderation_comment_path(comment),
                method: :put, remote: true, data: { confirm: t('admin.actions.confirm') } %>
  <% end %>

  <% if can? :hide, comment.user %>
    <span class="divider">&nbsp;&bullet;&nbsp;</span>
    <%= link_to t("admin.actions.hide_author").capitalize, hide_moderation_user_path(comment.user_id, debate_id: @debate.id),
                method: :put, data: { confirm: t('admin.actions.confirm') } %>
  <% end %>
</span>
