<div class="row">
  <div class="small-12 column margin-top">
    <%= link_to @comment.commentable, class: "left back"  do %>
      <i class="icon-angle-left left"></i>
      <%= t("comments.show.return_to_commentable") + @comment.commentable.title %>
    <% end %>
  </div>
</div>

<section class="comments">
  <div class="row">
    <div id="comments" class="small-12 column">
      <%= render @comment %>
    </div>
  </div>
</section>