.feeds-participation {
  @include flex-with-gap;
  flex-wrap: wrap;

  .feed-proposals {
    flex-basis: rem-calc(480);
    flex-grow: 2;
  }

  .feed-debates {
    flex-basis: rem-calc(240);
    flex-grow: 1;
  }

  .feed-proposals,
  .feed-debates {
    display: flex;
    flex-direction: column;
    margin-top: $line-height;

    .feed-content {
      flex-grow: 1;
    }
  }

  .sdg-tag-list {
    margin-top: calc($line-height / 2);
  }
}
