<div class="add in-favor">
  <p class="investment-project-amount">
    <%= format_price(spending_proposal.price) %>
  </p>

  <% if feature?("spending_proposal_features.final_voting_allowed") %>
    <%= link_to add_ballot_url(spending_proposal_id: spending_proposal.id),
        class: "button button-support small expanded",
        title: t('spending_proposals.spending_proposal.support_title'),
        method: "post",
        remote: true do %>
        <%= t("spending_proposals.spending_proposal.add") %>
    <% end %>
  <% end %>
</div>
