<div class="remove supported inline-block">
  <span class="icon-check-circle bounceIn animation"
        title="<%= t("spending_proposals.spending_proposal.already_added") %>">
  </span>

  <p class="investment-project-amount">
    <%= format_price(spending_proposal.price) %>
  </p>

  <% if feature?("spending_proposal_features.final_voting_allowed") %>
    <%= link_to t('ballots.show.remove'),
                remove_ballot_path(spending_proposal_id: spending_proposal.id),
                class: "delete small expanded",
                method: :delete,
                remote: true,
                data: supports_confirm_for_current_user(spending_proposal) %>
  <% end %>
</div>
