<tr>
  <td>
    <span class="icon-x delete"></span>&nbsp;
    <%= link_to spending_proposal.title, spending_proposal %>
  </td>
  <td class="text-right">
    <%= spending_proposal.price %>
  </td>
</tr>
