<div class="input-group flex-nowrap">
  <label class="input-group-text" for="locale-switcher">
    <i class="fas fa-globe"></i>
  </label>
  <select class="js-location-changer form-select" name="locale-switcher" id="locale-switcher">
    <%= options_for_select(language_options, current_path_with_query_params(locale: I18n.locale)) %>

  </select>

</div>
