<div class="banner-edit row">

  <div class="small-12 column">
    <%= link_to admin_banners_path, class: "back" do %>
      <span class="icon-angle-left"></span>
      <%= t("admin.banners.edit.back") %>
    <% end %>

    <h1><%= t("admin.banners.edit.editing") %></h1>

    <%= render "form" %>
  </div>
</div>