.admin .budgets-actions {
  $gap: $line-height;
  @include flex-with-gap($gap);
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: -$gap;

  > * {
    margin-top: $gap;
  }

  + * {
    margin-top: $line-height;
  }

  a,
  button {
    margin-bottom: 0;
  }

  .preview-link {
    @include has-fa-icon(eye, regular);
    @include hollow-button;
    margin-left: $gap;
    margin-top: $gap;

    &::before {
      margin-#{$global-right}: $font-icon-margin;
    }
  }

  .delete {
    cursor: pointer;
  }
}
