.admin .budgets-links {
  $gap: $line-height;
  @include flex-with-gap($gap);
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: -$gap;

  > * {
    margin-top: $gap;
  }

  + * {
    margin-top: $line-height;
  }

  .preview-link {
    @include has-fa-icon(eye, regular);
    @include hollow-button;
  }

  .edit-link {
    @include has-fa-icon(edit, regular);
    @include hollow-button;
  }

  .results-link {
    @include hollow-button;
  }

  .edit-link,
  .preview-link,
  .results-link {
    margin-left: $gap;
    margin-top: $gap;

    &::before {
      margin-#{$global-right}: $font-icon-margin;
    }
  }
}
