<div class="text-center">
  <%- if controller_name != "sessions" %>
    <%= link_to t("devise_views.shared.links.login"), new_session_path(resource_name) %><br>
  <% end -%>

  <%- if devise_mapping.confirmable? && controller_name != "confirmations" %>
    <%= link_to t("devise_views.shared.links.new_confirmation"), new_confirmation_path(resource_name) %><br>
  <% end -%>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != "unlocks" %>
    <%= link_to t("devise_views.shared.links.new_unlock"), new_unlock_path(resource_name) %><br>
  <% end -%>

</div>
