<% content_for :canonical do %>
  <%= render "shared/canonical", href: faq_url %>
<% end %>

<div class="row margin-top">
  <div class="menu small-12 medium-3 column">
    <%= render "shared/back_link" %>

    <ul class="menu vertical margin-top">
      <li><a href="#1"><strong>Pregunta frecuente 1</strong></a></li>
      <li><a href="#2"><strong>Pregunta frecuente 2</strong></a></li>
      <li><a href="#3"><strong>Pregunta frecuente 3</strong></a></li>
    </ul>
  </div>

  <div class="text small-12 medium-9 column">
    <h1 class="clear">Preguntas Frecuentes (FAQ)</h1>

    <h2 id="1">Pregunta frecuente 1</h2>
    <p>Texto de respuesta para la pregunta frecuente 1.</p>

    <h2 id="2">Pregunta frecuente 2</h2>
    <p>Texto de respuesta para la pregunta frecuente 2.</p>

    <h2 id="3">Pregunta frecuente 3</h2>
    <p>Texto de respuesta para la pregunta frecuente 3.</p>
  </div>
</div>
