<% if proposal_dashboard_action.errors.any? %>
  <div id="error_explanation" data-alert class="callout alert" data-closable>
    <button class="close-button" aria-label="<%= t('application.close') %>" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>

    <strong>
      <%= proposal_dashboard_action.errors.count %>
      <%= t('admin.proposal_dashboard_actions.errors.form.error', count: proposal_dashboard_action.errors.count) %>
    </strong>
  </div>

<% end %>
