<nav class="admin-sidebar">
  <ul id="valuation_menu">
    <li>
      <%= link_to t("valuation.menu.title"), valuation_root_path %>
    </li>

    <% if feature?(:budgets) %>
      <li <%= "class=is-active" if controller_name == "budget_investments" %>>
        <%= link_to t("valuation.menu.budgets"), valuation_budgets_path, class: "budgets-link" %>
      </li>
    <% end %>
  </ul>
</nav>
