<div class="captcha">
  <%= simple_captcha_options[:image] %>
  <%= simple_captcha_options[:refresh_button] %>

  <span class="note"><%= simple_captcha_options[:label] %></span>

  <%= simple_captcha_options[:field] %>
</div>
