<div class="captcha">
  <%= simple_captcha_options[:image] %>
  <%= simple_captcha_options[:refresh_button] %>

  <p class="note"><%= simple_captcha_options[:label] %></p>

  <%= simple_captcha_options[:field] %>
</div>
