.dashboard-poll {
  background: #e7f3fd;
  border-radius: rem-calc(4);
  display: flex;
  flex-direction: column;
  min-height: $line-height * 9;
  padding: $line-height;
  position: relative;
  text-align: center;

  .button {
    font-weight: bold;
  }

  button {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
