.question-fields {
  border-bottom: 1px solid $border;
  margin-bottom: $line-height;
}

.option-fields {
  background: #fbfbfb;
  border: 1px solid $border;
  margin-bottom: $line-height;
  padding: $line-height;
}

.polls-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: $line-height;
  margin-top: $line-height;
}

.poll-card {
  background: #e7f3fd;
  border-radius: rem-calc(4);
  display: flex;
  flex-direction: column;
  min-height: $line-height * 9;
  padding: $line-height;
  position: relative;
  text-align: center;

  @include breakpoint(medium) {
    flex-basis: calc(50% - $line-height / 2);
  }

  @include breakpoint(large) {
    flex-basis: calc(33% - $line-height * 0.75);
  }

  .button {
    font-weight: bold;
  }

  button {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.community-poll {
  border-bottom: 1px solid $border;
  margin-bottom: $line-height;
  padding-bottom: calc($line-height / 2);
}
