<div>
  <%= humanize_document_type(failed_census_call.document_type) %>
  <%= failed_census_call.document_number %>
  <%= failed_census_call.date_of_birth.present? ? l(failed_census_call.date_of_birth) : '' %>
  <%= failed_census_call.postal_code %>
</div>
