%button {
  font-size: $base-font-size;

  &:focus,
  &:hover {
    text-decoration: none !important;
  }
}

@mixin regular-button($color: $brand) {
  @include button($background: $color);
  @include inverted-selection;
  @extend %button;
}

@mixin hollow-button($color: $link) {
  @include button($style: hollow, $background: $color);
  @extend %button;
  margin-bottom: 0;
}
