@mixin background-with-text-contrast($color) {
  background-color: $color;
  color: color-pick-contrast($color);
}

@mixin brand-background($color: $brand, $invert-selection: true) {
  @include background-with-text-contrast($color);

  @if $invert-selection {
    @include inverted-selection;
  }
}

@mixin brand-text {
  @include normal-selection;
  color: $brand;
}

@mixin body-colors {
  background-color: $body-background;
  color: $text;
}

@mixin normal-selection {

  &::selection,
  *::selection {
    @include brand-background($invert-selection: false);
  }
}

@mixin inverted-selection {

  &::selection,
  *::selection {
    background-color: rgba(color-pick-contrast($brand), 0.99);
    color: $brand;
  }
}

%brand-background {
  @include brand-background;
}

%brand-text {
  @include brand-text;
}

%body-colors {
  @include body-colors;
}
