@mixin admin-layout {
  height: 100%;

  > header {
    margin-bottom: 0;
  }

  > .menu-and-content {
    flex-grow: 1;
  }
}

@mixin logo {
  color: #fff;
  display: inline-block;
  font-family: "Lato" !important;
  font-size: rem-calc(24);
  font-weight: lighter;

  @include breakpoint(medium) {
    line-height: $line-height * 2;
    margin-top: 0;
  }
}

@mixin full-width-cover {
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;

  @include breakpoint($global-width) {
    left: $full-width-margin;
    right: $full-width-margin;
  }
}

@mixin full-width-background {
  position: relative;

  &::before {
    @include full-width-cover;
    background: inherit;
    z-index: -1;
  }
}

@mixin full-width-border($position, $border) {
  position: relative;

  &::after {
    @include full-width-cover;
    border-#{$position}: $border;
  }
}

@mixin full-width-form {
  .globalize-languages {
    max-width: none;
  }
}

@mixin background-till-left-of-screen {
  position: relative;

  &::before {
    background: inherit;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    right: 100%;
    width: 100vw;
  }
}
