@mixin separator {
  content: "";
  display: inline-block;
  margin: 0 0.3em;
  vertical-align: middle;
}

@mixin vertical-separator {
  @include separator;
  background: currentcolor;
  height: 1em;
  opacity: 0.5;
  width: 1px;
}

@mixin circle-separator {
  @include separator;
  background: $text-light;
  border-radius: 100%;
  height: 0.25em;
  opacity: 1;
  width: 0.25em;
}

@mixin circle-separators($position: "before") {
  > :not(svg) + * {
    margin-#{$global-left}: 1em;
    position: relative;

    &::#{$position} {
      @include circle-separator;
      background: currentcolor;
      #{$global-left}: -1em;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
