.sdg-related-list-selector {
  @include grid-column-gutter;
  clear: both;

  > legend {
    margin-bottom: 0;
  }

  .amsify-suggestags-area .amsify-select-tag {
    color: $white;

    @each $code, $color in $sdg-colors {
      &[data-val^="#{$code}"] {
        background-color: $color;
      }
    }
  }

  .goals {
    $spacing: 0.5%;
    @include sdg-goal-list($spacing);

    legend {
      font-weight: normal;
      font-style: italic;
    }

    label {
      min-width: $sdg-icon-min-width;
      width: calc(100% / 17 - #{$spacing});

      &:hover {
        cursor: pointer;
      }

      .sdg-goal-icon {
        width: 100%;
      }
    }

    input {
      @include element-invisible;

      &:focus + label {
        outline: $outline-focus;
      }

      &:checked + label img {
        opacity: 0.15;
      }
    }
  }

  label {
    font-weight: normal;
    font-style: italic;
  }

  .input-section {
    margin-bottom: 2 * $line-height / 3;
  }

  .amsify-suggestags-area {
    position: relative;

    .amsify-suggestags-list {
      top: $input-height;
    }
  }

  .amsify-suggestags-input-area {
    display: flex;
    flex-wrap: wrap;

    > input {
      margin-bottom: $line-height / 4 !important;
      order: -1;
    }
  }

  .remove-tag {
    color: $white;

    &:focus {
      outline: $outline-focus;
    }
  }

  h3 {
    @include header-font-size(h4);
  }
}
