<span data-responsive-toggle="responsive_menu" data-hide-for="medium">
  <button type="button" class="menu-button" data-toggle>
    <span class="menu-icon"></span>
    <%= t("application.menu") %>
  </button>
</span>

<div id="responsive_menu" class="responsive-menu">
  <%= content %>
</div>
