<div class="small-12 medium-4 column social">
  <div class="text-right">
    <ul>
      <% sites.each do |name, url| %>
        <% if setting["#{name}_handle"] %>
          <li>
            <%= link_to "#{url}/#{setting["#{name}_handle"]}", target: "_blank",
              title: t("shared.go_to_page") + t("social.#{name}", org: setting["org_name"]) + t("shared.target_blank") do %>
              <span class="show-for-sr"><%= t("social.#{name}", org: setting["org_name"]) %></span>
              <span class="icon-<%= name %>" aria-hidden="true"></span>
            <% end %>
          </li>
        <% end %>
      <% end %>

      <%= raw content_block("footer", I18n.locale) %>
    </ul>
  </div>
</div>
