<td style="padding-bottom: 20px; padding-left: 10px;">
  <h1 style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;">

  </h1>

  <div style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">


    <p>Buenas tardes vecinos y vecinas,</p>

    <p>
     	En <a href="https://participa.getafe.es/">Participa Getafe</a> <strong>comenzamos el período de votaciones</strong> de los Presupuestos Participativos 2018 <strong>del 21 de mayo al 11 de junio</strong>. 
    	<br> 
    	<br>
    	Más <strong><a href="https://participa.getafe.es/budgets/2">140 propuestas</a></strong> realizadas por tus vecinos y vecinas para la mejora de tu barrio o del barrio de tu elección. Estas votaciones decidirán el destino de 3,3 millones de € para inversiones y de 132.000 € para programas socio comunitarios.
    	<br> 
    	<br>
    	Puedes votar on line a <u><a href="https://participa.getafe.es/">nuestra web</a></u> o de <u>manera presencial</u> en los centros cívicos de Getafe de lunes a viernes de 11:00 horas a 14:00 horas y de 18:00 horas a 20:00 horas.
	</p>
    
    <%= image_tag(attachments['image1.png'].url,  style: "border: 0; display: block; width: 80%; boroder-shadow: 1px 2px 3px #333;", alt: setting['org_name']) %>

    <br>
    <br>
    <br>

    <p>No te olvides seguirnos en redes sociales, <br>
      <a href="https://www.facebook.com/participagetafe/">https://www.facebook.com/participagetafe/</a><br>
      <a href="https://twitter.com/participagetafe">https://twitter.com/participagetafe</a>
    </p>

    <p>
      Y en nuestra herramienta web,<br>
      <a href="https://participa.getafe.es/">https://participa.getafe.es/</a>
    </p>

    <p>
    Concejalía de Participación Ciudadana <br>

    Presupuestos Participativos <br>

    C/Béjar, 3 1ªplanta Getafe <br>

    <a href="https://participa.getafe.es/budgets/2">Participa Getafe</a>
  </p>

  </div>
</td>
