<td style="padding-bottom: 20px; padding-left: 10px;">
  <h1 style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;">

  </h1>

  <div style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">


    <p>Buenos días vecino, vecina:</p>


    <p>¿No has votado aún tus proyectos favoritos a los <a href="https://participa.getafe.es/budgets/2">Presupuestos Participativos 2018</a>? <br>
      <strong>Más de 140 ideas ciudadanas</strong> te están esperando. Pistas polideportivas, Street Work o Skate park, embellecimiento de zonas verdes, remodelación de viales y
      edificios municipales, áreas caninas, actividades culturales y deportivas, áreas de esparcimiento canino, ampliación de parques infantiles… <strong>Con tu voto decides la ciudad que quieres</strong>.
    </p>

    <p>
    En <a href="https://participa.getafe.es/budgets/">participa.getafe.es</a> también puedes <strong>hacer el seguimiento de las propuestas ganadoras</strong> de pasados procesos:

    <br>
    <ul>
      <li>
        <a href="https://participa.getafe.es/presupuestos-participativos-2016-resultados">Estado de tramitación propuestas ganadoras 2016</a>
      </li>
      <li>
        <a href="https://participa.getafe.es/budgets/1/results?heading_id=1">Estado de tramitación propuestas ganadoras 2017</a>
      </li>
    </ul>
    </p>

    <%= image_tag(attachments['image1.png'].url,  style: "border: 0; display: block; max-width: 50%; border: 1px solid black; margin: 20px auto; width: auto;", alt: setting['org_name']) %>


    <p>Recibe un cordial saludo.</p>


    <p>No te olvides seguirnos en redes sociales, <br>
      <a href="https://www.facebook.com/participagetafe/">https://www.facebook.com/participagetafe/</a><br>
      <a href="https://twitter.com/participagetafe">https://twitter.com/participagetafe</a>
    </p>

    <p>
      Y en nuestra herramienta web,<br>
      <a href="https://participa.getafe.es/">https://participa.getafe.es/</a>
    </p>

    <p>
    Concejalía de Participación Ciudadana <br>

    Presupuestos Participativos <br>

    C/Béjar, 3 1ªplanta Getafe <br>

    <a href="https://participa.getafe.es/budgets/2">Participa Getafe</a>
  </p>

  </div>
</td>
