<td style="padding-bottom: 20px; padding-left: 10px;">
  <h1 style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;">

  </h1>

  <div style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">


    <p>Buenas tardes vecinos y vecinas,</p>

    <p>Entramos en la <strong>última semana</strong> de presentación de propuestas para tu barrio. El día <strong>30 de marzo concluye el plazo para que hagas tu propuesta</strong> al proceso de Presupuestos Participativos 2018.</p>

    <p>Cada barrio cuenta con 300.000 euros a destinar en inversiones, es decir ejecución de obra, obra menor, adquisición de equipamiento o mejora de infraestructuras. 12.000 euros, por barrio, a destinar en programas sociocomunitarios donde los vecinos y vecinas podrán proponer actividades culturales, educativas y de ocio. Las votaciones se llevarán a cabo del 21 al 31 de mayo.</p>

    <p>Las propuestas se pueden hacer en la web <a href="https://participa.getafe.es/budgets/2">participa.getafe.es</a> donde además se explica todo el proceso de forma detallada. También se pueden presentar las propuestas de forma presencial, en los Centros Cívicos de La Alhóndiga, El Bercial, San Isidro, Getafe Norte, Juan de la Cierva, Las Margaritas, Perales del Río, Sector III.</p>


    <%= image_tag(attachments['image1.png'].url,  style: "border: 0; display: block; width: auto;", alt: setting['org_name']) %>


    <p>Las propuestas recibidas ya han comenzado a evaluarse por los Servicios Técnicos del Ayuntamiento de Getafe. En abril comenzará una nueva ronda de Comisiones de Barrio en la que se analizarán las propuestas recibidas y los miembros de las Comisiones podrán, en coordinación con los proponentes, fusionar propuestas y complementarlas.</p>

    <p>ULTIMOS DÍAS. HAZ TU PROPUESTA HASTA EL 30 DE MARZO</p>



    <p>No te olvides seguirnos en redes sociales, <br>
      <a href="https://www.facebook.com/participagetafe/">https://www.facebook.com/participagetafe/</a><br>
      <a href="https://twitter.com/participagetafe">https://twitter.com/participagetafe</a>
    </p>

    <p>
      Y en nuestra herramienta web,<br>
      <a href="https://participa.getafe.es/">https://participa.getafe.es/</a>
    </p>

    <p>
    Concejalía de Participación Ciudadana <br>

    Presupuestos Participativos <br>

    C/Béjar, 3 1ªplanta Getafe <br>

    <a href="https://participa.getafe.es/budgets/2">Participa Getafe</a>
  </p>

  </div>
</td>
