<div class="local-census-record-edit row">

  <div class="small-12 column">
    <%= back_link_to admin_local_census_records_path %>

    <h1><%= t("admin.local_census_records.edit.editing") %></h1>

    <%= render "form" %>
  </div>
</div>
