<% if can?(:manage_polls, proposal) %>
  <div class="column">
    <div class="card resource-card success">
      <div class="card-section">
        <p class="text-right">
          <i class="fi-check"></i>
        </p>
        <h4 class="text-center"><%= t('proposals_dashboard.menu.polls') %></h4>
        <p class="text-center">
        </p>
      </div>

      <div class="card-section text-center bottom-container">
        <div class="bottom-element text-center">
          <%= link_to t('proposals_dashboard.resource.view_resource'), proposal_dashboard_polls_path(proposal.to_param), class: 'button success' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
