<div class="float-right">
  <%= link_to root_path do %>
    <%= t("admin.dashboard.index.back", org: setting['org_name']) %>
  <% end %>
</div>

<h2 class="title inline-block"><%= t("admin.dashboard.index.title") %></h2>

<p><%= t("admin.dashboard.index.description", org: setting['org_name']) %></p>
