.budget-executions-filters {
  margin-bottom: $line-height / 2;

  @include breakpoint(medium) {
    $gap: 1em;
    align-items: flex-end;
    display: flex;
    margin-left: -$gap;

    > * {
      margin-left: $gap;
    }
  }

  select {
    height: $line-height * 2;
  }

  [type="submit"] {
    @include regular-button;
  }
}
