<div class="small-12 medium-6 column">
  <%= form.enum_select :vote_type, {}, class: "votation-type-vote-type" %>
</div>

<div class="small-12 column">
  <div class="callout primary">
    <% descriptions.each do |vote_type, text| %>
      <%= description_tag(vote_type, text) %>
    <% end %>
  </div>
</div>

<div class="small-12 medium-6 column end">
  <div class="max-votes">
    <%= form.number_field :max_votes, min: 2, max: 999, class: "votation-type-max-votes" %>
  </div>
</div>
