<h2><%= t("admin.settings.index.feature_flags") %></h2>

<%= render Admin::Settings::TableComponent.new(setting_name: "feature", table_class: "featured-settings-table") do %>
  <% settings.each do |key| %>
    <%= render Admin::Settings::RowComponent.new(key, type: :feature, tab: "#tab-feature-flags") %>
  <% end %>
<% end %>
