<div id="<%= dom_id(question) %>" class="poll-question">
  <h3>
    <%= question.title %>
  </h3>

  <div id="<%= dom_id(question) %>_answers" class="padding">
    <%= render Polls::Questions::AnswersComponent.new(question) %>
  </div>
</div>
