<p class="lead"><%= t("community.show.create_first_community_topic.first_theme") %></p>

<% if user_signed_in? %>
  <div class="callout primary">
    <%= t("community.show.create_first_community_topic.first_theme_not_logged_in") %>
  </div>
<% else %>
  <div class="callout primary">
    <%= t("community.show.create_first_community_topic.sub_first_theme",
          sign_in: link_to(t("community.show.create_first_community_topic.sign_in"), new_user_session_path),
          sign_up: link_to(t("community.show.create_first_community_topic.sign_up"), new_user_registration_path)).html_safe %>
  </div>
<% end %>
