<div class="small-12 medium-3 column">

  <span class="icon-proposals float-right"></span>
  
  <h2><%= t("community.topic.sidebar.recommendations_title") %></h2>

  <ul class="recommendations">
    <li><%= t("community.topic.sidebar.recommendation_one") %></li>
    <li><%= t("community.topic.sidebar.recommendation_two") %></li>
    <li><%= t("community.topic.sidebar.recommendation_three") %></li>
  </ul>

</div>
