<div id="<%= dom_id(topic) %>" class="panel column">

  <div class="small-12 medium-9 column">

    <h3><%= link_to topic.title, community_topic_path(@community, topic) %></h3>

    <%= render Shared::BasicInfoComponent.new(topic) %>
  </div>
</div>
