<div class="topic-form row">

  <div class="small-12 medium-9 column">
    <%= render "shared/back_link" %>
    <h1><%= t("community.topic.edit") %></h1>
    <%= render "form" %>
  </div>

  <%= render "recommendations" %>
</div>
