<ul id="admin_menu">
  <li><%= link_to t('admin.menu.debate_topics'), admin_tags_path %></li>
  <li><%= link_to t('admin.menu.hidden_debates'), admin_debates_path %></li>
  <li><%= link_to t('admin.menu.hidden_comments'), admin_comments_path %></li>
  <li><%= link_to t('admin.officials.index.title'), admin_officials_path %></li>
</ul>
