<li id="<%= dom_id(investment) %>">
  <%= link_to investment.title, budget_investment_path(@budget, investment) %>
  <span><%= investment.formatted_price %></span>

  <% if @budget.balloting? %>
    <%= link_to budget_ballot_line_path(@budget, id: investment.id),
                title: t("budgets.ballots.show.remove"),
                class: "remove-investment-project",
                method: :delete,
                remote: true do %>
       <span class="fas fa-times"></span>
    <% end %>
  <% end %>
</li>
