<div class="">
  <small>
    <p>Recuerda  que:</p>
    <ul>
      <li>
        <strong>Rellena completamente tu papeleta de votación</strong>: Debes elegir <%= inline_mandatory_groups(@ballot, @group).html_safe %>. Cuando lo hayas hecho se habilitará el botón para enviar tu votación en color verde.
      </li>
      <li>
        <strong>Envía tu voto</strong> haciendo click en el botón <i>"VOTAR"</i>. Recibirás un SMS de confirmación.
      </li>
      <li>
        <strong>Puedes cambiar tu votación</strong> hasta el día de cierre de votación. Para  ello puedes utilizar el enlaces <strong><i>"Cambiar mi votación"</i></strong> si ya la has enviado.
      </li>
      <li>
        <strong>Sólo puedes votar en un barrio</strong>, el que tú elijas.
      </li>
      <li>
        <strong>Cada voto tiene un peso diferente en puntos </strong> (1, 2 ó 3 puntos). Asígnalos dando más puntos a tus  propuestas preferidas.
      </li>
    </ul>
  </small>
</div>