<details open=open class="calc-comments">
  <summary class="draft-panel">
    <span class="icon-comments" aria-hidden="true"></span>
    <span class="panel-title"><%= t("legislation.draft_versions.show.text_comments") %></span>
  </summary>

  <div id="comments-box" class="comments-box-container" style="display: none;">
    <div class="comment-box">
      <div class="comment-header">
        <span class="icon-comment" aria-hidden="true"></span>
        <div class="comment-number"><%= t("legislation.draft_versions.show.loading_comments") %></div>
      </div>
    </div>
  </div>
</details>
