<div class="small-12 medium-3 column">
  <aside class="survey-timeline">
    <ul>
      <% (0..17).each do |i| %>
        <li>
          <a href="#">
            <svg x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36"><circle fill="none" stroke-width="2" cx="18" cy="18" r="16" stroke-dasharray="100 100" stroke-dashoffset="100" transform="rotate(-90 18 18)"></circle></svg>
          </a>
        </li>
      <% end %>
    </ul>
  </aside>
</div>
