<ul class="menu simple clear">
  <% legislation_process_tabs(process).each do |tab_name, path| %>
    <% if active == tab_name %>
      <li class="is-active">
        <h2><%= t("admin.legislation.processes.subnav.#{tab_name}") %></h2>
      </li>
    <% else %>
      <li>
        <%= link_to t("admin.legislation.processes.subnav.#{tab_name}"), path %>
      </li>
    <% end %>
  <% end %>
</ul>
