<% if @investments.any? %>
  <div class="row">
    <div id="budget_investment_index_list" class="budget-investment-index-list">
      <div class="small-12 column margin-top">
        <h2><%= t("budgets.show.investments_list") %></h2>
      </div>

      <% @investments.each do |investment| %>
        <div class="small-12 medium-4 column end">
          <%= render "/budgets/investment", investment: investment %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% unless budget.informing? %>
  <%= render "all_investments_link", budget: budget %>
<% end %>
