<%= link_to t("admin.dashboard.index.back", org: setting['org_name']), root_path, class: "button float-right" %>

<h2 class="inline-block"><%= t("restriction.dashboard.index.title") %></h2>

<p>Desde aquí puedes hacer consultas en el sistema, a través de las siguientes acciones:<p>

<div class="small-12 medium-9">
  <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">

    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Bloqueo de usuarios</a>
      <div class="accordion-content" data-tab-content>
        <p>En este apartado se puede bloquear usuarios para la votación de tipo presencial introduciendo:</p>

        <ul>
          <li>Presupuesto para el cual se quiere bloquear la participación presencial</li>
          <li>Tipo de documento</li>
          <li>Número de documento</li>
        </ul>
      </div>
    </li>
  </ul>
</div>
