<div class="row">
  <div class="small-12 medium-9 column">
    <h2>Gracias por rellenar la encuesta</h2>
    <div class="callout success inline-block margin-top">
      <p>Tus respuestas han sido guardadas.</p>
    </div>
  </div>
</div>
