<h3 id="8">¿Considera que la Junta Municipal del Distrito de Salamanca debe llevar a cabo las acciones necesarias para incrementar la protección de edificios históricos e instar para que se protejan los que actualmente no figuran en el catálogo de bienes protegidos?</h3>

<p class="stat-number margin-top">
  Nº TOTAL DE VOTOS<br>
  <span>10.000</span>
</p>

<table class="polls-participation margin-top">
  <thead>
    <tr>
      <th class="border-right">&nbsp;</th>
      <th>WEB</th>
      <th>URNAS</th>
      <th>CORREOS</th>
      <th class="border-left">TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="text-left border-right">Votos válidos</th>
      <td>5000 <small><em>(62,50%)</em></small></td>
      <td>1000 <small><em>(12,50%)</em></small></td>
      <td>2000 <small><em>(25,00%)</em></small></td>
      <td class="border-left">8000 <small><em>(80,00%)</em></small></td>
    </tr>
    <tr>
      <th class="text-left border-right">Votos en blanco</th>
      <td>500 <small><em>(33,33%)</em></small></td>
      <td>100 <small><em>(6,67%)</em></small></td>
      <td>900 <small><em>(60,00%)</em></small></td>
      <td class="border-left">1500 <small><em>(15,00%)</em></small></td>
    </tr>
    <tr>
      <th class="text-left border-right">Votos nulos</th>
      <td>0 <small><em>(0,00%)</em></small></td>
      <td>250 <small><em>(50,00%)</em></small></td>
      <td>250 <small><em>(50,00%)</em></small></td>
      <td class="border-left">500 <small><em>(5,00%)</em></small></td>
    </tr>
    <tr>
      <th class="text-left border-right">TOTAL</th>
      <td><strong>5500</strong></td>
      <td><strong>1350</strong></td>
      <td><strong>3150</strong></td>
      <td class="border-left"><strong>10000</strong></td>
    </tr>
  </tbody>
</table>