<!-- Propuestas y Plaza de España -->

<h3 id="1">Madrid 100% Sostenible, Billete único para el transporte público y Plaza de España</h3>

<p class="stat-number margin-top">
  Nº TOTAL DE PAPELETAS<br>
  <span>211725</span>
</p>

<table class="polls-participation-letter margin-top">
  <thead>
    <tr>
      <th scope="col" class="border-right">VOTOS</th>
      <th scope="col">WEB</th>
      <th scope="col">URNAS</th>
      <th scope="col">CORREO</th>
      <th scope="col" class="border-left">TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="text-left border-right">Válidos</th>
      <td>69355 <small><em>(33,2%)</em></small></td>
      <td>21165 <small><em>(10,13%)</em></small></td>
      <td>118375 <small><em>(56,67%)</em></small></td>
      <td class="border-left">208895 <small><em>(98,66%)</em></small></td>
    </tr>
    <tr>
      <th scope="row" class="text-left border-right">En blanco</th>
      <td>0 <small><em>(0%)</em></small></td>
      <td>133 <small><em>(46,34%)</em></small></td>
      <td>154 <small><em>(53,66%)</em></small></td>
      <td class="border-left">287 <small><em>(0,14%)</em></small></td>
    </tr>
    <tr>
      <th scope="row" class="text-left border-right">Nulos</th>
      <td>0 <small><em>(0%)</em></small></td>
      <td>365 <small><em>(14,35%)</em></small></td>
      <td>2178 <small><em>(85,65%)</em></small></td>
      <td class="border-left">2543 <small><em>(1,2%)</em></small></td>
    </tr>
    <tr>
      <th scope="row" class="text-left border-right">TOTAL</th>
      <td><strong>69355 <small><em>(32,76%)</em></small></strong></td>
      <td><strong>21663 <small><em>(10,23%)</em></small></strong></td>
      <td><strong>120707 <small><em>(57,01%)</em></small></strong></td>
      <td class="border-left"><strong>211725</strong></td>
    </tr>
  </tbody>
</table>

<!-- Gran Vía -->
<h3 id="2">Gran Vía</h3>

<p class="stat-number margin-top">
  Nº TOTAL DE PAPELETAS<br>
  <span>83101</span>
</p>

<table class="polls-participation margin-top">
  <thead>
    <tr>
      <th scope="col" class="border-right">VOTOS</th>
      <th scope="col">WEB</th>
      <th scope="col">URNAS</th>
      <th scope="col" class="border-left">TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="text-left border-right">Válidos</th>
      <td>60731 <small><em>(73,48%)</em></small></td>
      <td>21918 <small><em>(26,52%)</em></small></td>
      <td class="border-left">82649 <small><em>(99,46%)</em></small></td>
    </tr>
    <tr>
      <th scope="row" class="text-left border-right">En blanco</th>
      <td>0 <small><em>(0%)</em></small></td>
      <td>213 <small><em>(100%)</em></small></td>
      <td class="border-left">213 <small><em>(0,26%)</em></small></td>
    </tr>
    <tr>
      <th scope="row" class="text-left border-right">Nulos</th>
      <td>0 <small><em>(0%)</em></small></td>
      <td>239 <small><em>(100%)</em></small></td>
      <td class="border-left">239 <small><em>(0,29%)</em></small></td>
    </tr>
    <tr>
      <th scope="row" class="text-left border-right">TOTAL</th>
      <td><strong>60731 <small><em>(73,08%)</em></small></strong></td>
      <td><strong>22370 <small><em>(26,92%)</em></small></strong></td>
      <td class="border-left"><strong>83101</strong></td>
    </tr>
  </tbody>
</table>

<!-- Barajas -->
<h3 id="3">Prioriza el Plan Participativo de Actuación Territorial de Barajas</h3>

<p class="stat-number margin-top">
  Nº TOTAL DE PAPELETAS<br>
  <span>1294</span>
</p>

<table class="polls-participation margin-top">
  <thead>
    <tr>
      <th scope="col" class="border-right">VOTOS</th>
      <th scope="col">WEB</th>
      <th scope="col">URNAS</th>
      <th scope="col" class="border-left">TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="text-left border-right">Válidos</th>
      <td>777 <small><em>(61,76%)</em></small></td>
      <td>481 <small><em>(38,24%)</em></small></td>
      <td class="border-left">1258 <small><em>(97,22%)</em></small></td>
    </tr>
    <tr>
      <th scope="row" class="text-left border-right">En blanco</th>
      <td>0 <small><em>(0%)</em></small></td>
      <td>1 <small><em>(100%)</em></small></td>
      <td class="border-left">1 <small><em>(0,08%)</em></small></td>
    </tr>
    <tr>
      <th scope="row" class="text-left border-right">Nulos</th>
      <td>0 <small><em>(0%)</em></small></td>
      <td>35 <small><em>(100%)</em></small></td>
      <td class="border-left">35 <small><em>(2,7%)</em></small></td>
    </tr>
    <tr>
      <th scope="row" class="text-left border-right">TOTAL</th>
      <td><strong>777 <small><em>(60,05%)</em></small></strong></td>
      <td><strong>517 <small><em>(39,95%)</em></small></strong></td>
      <td class="border-left"><strong>1294</strong></td>
    </tr>
  </tbody>
</table>

<!-- San Blas - Canillejas -->
<h3 id="4">Prioriza el Plan Participativo de Actuación Territorial de San Blas - Canillejas</h3>

<p class="stat-number margin-top">
  Nº TOTAL DE PAPELETAS<br>
  <span>2377</span>
</p>

<table class="polls-participation margin-top">
  <thead>
    <tr>
      <th scope="col" class="border-right">VOTOS</th>
      <th scope="col">WEB</th>
      <th scope="col">URNAS</th>
      <th scope="col" class="border-left">TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="text-left border-right">Válidos</th>
      <td>1579 <small><em>(69,04%)</em></small></td>
      <td>708 <small><em>(30,96%)</em></small></td>
      <td class="border-left">2287 <small><em>(96,21%)</em></small></td>
    </tr>
    <tr>
      <th scope="row" class="text-left border-right">En blanco</th>
      <td>0 <small><em>(0%)</em></small></td>
      <td>3 <small><em>(100%)</em></small></td>
      <td class="border-left">3 <small><em>(0,13%)</em></small></td>
    </tr>
    <tr>
      <th scope="row" class="text-left border-right">Nulos</th>
      <td>0 <small><em>(0%)</em></small></td>
      <td>87 <small><em>(100%)</em></small></td>
      <td class="border-left">87 <small><em>(3,66%)</em></small></td>
    </tr>
    <tr>
      <th scope="row" class="text-left border-right">TOTAL</th>
      <td><strong>1579 <small><em>(66,43%)</em></small></strong></td>
      <td><strong>798 <small><em>(33,57%)</em></small></strong></td>
      <td class="border-left"><strong>2377</strong></td>
    </tr>
  </tbody>
</table>

<!-- Hortaleza -->
<h3 id="5">Nombre de distrito y Parque Felipe VI en Hortaleza</h3>

<p class="stat-number margin-top">
  Nº TOTAL DE PAPELETAS<br>
  <span>3771</span>
</p>

<table class="polls-participation margin-top">
  <thead>
    <tr>
      <th scope="col" class="border-right">VOTOS</th>
      <th scope="col">WEB</th>
      <th scope="col">URNAS</th>
      <th scope="col" class="border-left">TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="text-left border-right">Válidos</th>
      <td>3021 <small><em>(80,39%)</em></small></td>
      <td>737 <small><em>(19,61%)</em></small></td>
      <td class="border-left">3758 <small><em>(99,66%)</em></small></td>
    </tr>
    <tr>
      <th scope="row" class="text-left border-right">En blanco</th>
      <td>0 <small><em>(0%)</em></small></td>
      <td>8 <small><em>(100%)</em></small></td>
      <td class="border-left">8 <small><em>(0,21%)</em></small></td>
    </tr>
    <tr>
      <th scope="row" class="text-left border-right">Nulos</th>
      <td>0 <small><em>(0%)</em></small></td>
      <td>5 <small><em>(100%)</em></small></td>
      <td class="border-left">5 <small><em>(0,13%)</em></small></td>
    </tr>
    <tr>
      <th scope="row" class="text-left border-right">TOTAL</th>
      <td><strong>3021 <small><em>(80,11%)</em></small></strong></td>
      <td><strong>750 <small><em>(19,89%)</em></small></strong></td>
      <td class="border-left"><strong>3771</strong></td>
    </tr>
  </tbody>
</table>

<!-- Retiro -->
<h3 id="6">Nombres de centros culturales en Retiro</h3>

<p class="stat-number margin-top">
  Nº TOTAL DE PAPELETAS<br>
  <span>2540</span>
</p>

<table class="polls-participation margin-top">
  <thead>
    <tr>
      <th scope="col" class="border-right">VOTOS</th>
      <th scope="col">WEB</th>
      <th scope="col">URNAS</th>
      <th scope="col" class="border-left">TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="text-left border-right">Válidos</th>
      <td>1647 <small><em>(65,07%)</em></small></td>
      <td>884 <small><em>(34,93%)</em></small></td>
      <td class="border-left">2531 <small><em>(99,65%)</em></small></td>
    </tr>
    <tr>
      <th scope="row" class="text-left border-right">En blanco</th>
      <td>0 <small><em>(0%)</em></small></td>
      <td>3 <small><em>(100%)</em></small></td>
      <td class="border-left">3 <small><em>(0,12%)</em></small></td>
    </tr>
    <tr>
      <th scope="row" class="text-left border-right">Nulos</th>
      <td>0 <small><em>(0%)</em></small></td>
      <td>6 <small><em>(100%)</em></small></td>
      <td class="border-left">6 <small><em>(0,24%)</em></small></td>
    </tr>
    <tr>
      <th scope="row" class="text-left border-right">TOTAL</th>
      <td><strong>1647 <small><em>(64,84%)</em></small></strong></td>
      <td><strong>893 <small><em>(35,16%)</em></small></strong></td>
      <td class="border-left"><strong>2540</strong></td>
    </tr>
  </tbody>
</table>

<!-- Salamanca -->
<h3 id="7">¿Considera que la Junta Municipal del Distrito de Salamanca debe llevar a cabo las acciones necesarias para incrementar la protección de edificios históricos e instar para que se protejan los que actualmente no figuran en el catálogo de bienes protegidos?</h3>

<p class="stat-number margin-top">
  Nº TOTAL DE PAPELETAS<br>
  <span>2121</span>
</p>

<table class="polls-participation margin-top">
  <thead>
    <tr>
      <th scope="col" class="border-right">VOTOS</th>
      <th scope="col">WEB</th>
      <th scope="col">URNAS</th>
      <th scope="col" class="border-left">TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="text-left border-right">Válidos</th>
      <td>1621 <small><em>(76,61%)</em></small></td>
      <td>495 <small><em>(23,39%)</em></small></td>
      <td class="border-left">2116 <small><em>(99,76%)</em></small></td>
    </tr>
    <tr>
      <th scope="row" class="text-left border-right">En blanco</th>
      <td>0 <small><em>(0%)</em></small></td>
      <td>1 <small><em>(100%)</em></small></td>
      <td class="border-left">1 <small><em>(0,05%)</em></small></td>
    </tr>
    <tr>
      <th scope="row" class="text-left border-right">Nulos</th>
      <td>0 <small><em>(0%)</em></small></td>
      <td>4 <small><em>(100%)</em></small></td>
      <td class="border-left">4 <small><em>(0,19%)</em></small></td>
    </tr>
    <tr>
      <th scope="row" class="text-left border-right">TOTAL</th>
      <td><strong>1621 <small><em>(76,43%)</em></small></strong></td>
      <td><strong>500 <small><em>(23,57%)</em></small></strong></td>
      <td class="border-left"><strong>2121</strong></td>
    </tr>
  </tbody>
</table>

<!-- Vicálvaro -->
<h3 id="8">¿Cómo quieres que se llame el Espacio de Igualdad del Distrito de Vicálvaro?</h3>

<p class="stat-number margin-top">
  Nº TOTAL DE PAPELETAS<br>
  <span>1029</span>
</p>

<table class="polls-participation margin-top">
  <thead>
    <tr>
      <th scope="col" class="border-right">VOTOS</th>
      <th scope="col">WEB</th>
      <th scope="col">URNAS</th>
      <th scope="col" class="border-left">TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="text-left border-right">Válidos</th>
      <td>948 <small><em>(92,22%)</em></small></td>
      <td>80 <small><em>(7,78%)</em></small></td>
      <td class="border-left">1028 <small><em>(99,9%)</em></small></td>
    </tr>
    <tr>
      <th scope="row" class="text-left border-right">En blanco</th>
      <td>0 <small><em>(0%)</em></small></td>
      <td>0 <small><em>(0%)</em></small></td>
      <td class="border-left">0 <small><em>(0%)</em></small></td>
    </tr>
    <tr>
      <th scope="row" class="text-left border-right">Nulos</th>
      <td>0 <small><em>(0%)</em></small></td>
      <td>1 <small><em>(100%)</em></small></td>
      <td class="border-left">1 <small><em>(0,1%)</em></small></td>
    </tr>
    <tr>
      <th scope="row" class="text-left border-right">TOTAL</th>
      <td><strong>948 <small><em>(92,13%)</em></small></strong></td>
      <td><strong>81 <small><em>(7,87%)</em></small></strong></td>
      <td class="border-left"><strong>1029</strong></td>
    </tr>
  </tbody>
</table>
