<h3 id="9">Participación total</h3>

<p class="stat-number margin-top">
  Nº total de votos emitidos<br>
  <span>963887</span>
</p>

<h4>Canales de participación (Votos emitidos)</h4>

<table class="polls-total-stats">
  <thead>
    <tr>
      <th scope="col">WEB</th>
      <th scope="col">URNAS</th>
      <th scope="col">CORREO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>475578 <small><em>(49,34%)</em></small></td>
      <td>164692 <small><em>(17,09%)</em></small></td>
      <td>323617 <small><em>(33,57%)</em></small></td>
    </tr>
  </tbody>
</table>

<p class="stat-number margin-top">
  Nº total de participantes<br>
  <span>214076</span>
</p>

<h4>Canales de participación (Participantes)</h4>

<table class="polls-total-stats">
  <thead>
    <tr>
      <th scope="col">WEB</th>
      <th scope="col">URNAS</th>
      <th scope="col">CORREO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>76481 <small><em>(35,73%)</em></small></td>
      <td>23654 <small><em>(11,05%)</em></small></td>
      <td>117388 <small><em>(54,83%)</em></small></td>
    </tr>
  </tbody>
</table>
