<div class="proposal-edit row">

  <div class="small-12 column">
    <%= back_link_to %>

    <div class="float-right">
      <%= link_to t("proposals.edit.show_link"), legislation_process_proposal_path(@proposal.legislation_process_id, @proposal) %>
    </div>

    <h1><%= t("proposals.edit.editing") %></h1>

    <%= render "form", form_url: legislation_process_proposal_url(@proposal.legislation_process_id, @proposal) %>
  </div>
</div>
