// Blas Bonilla landing
// - - - - - - - - - - - - - - - - - - - - - - - - -

.blas-bonilla {

  a {
    text-decoration: underline;
  }

  .header {
    background: $brand image-url("header_blas_bonilla.jpg");
    background-position: 50% 50%;
    background-size: cover;
    min-height: $line-height * 12;

    h1 {
      color: #fff;
      padding: $line-height * 2 0 $line-height;
    }

    a {
      color: #fff;
    }

    .button {
      font-size: rem-calc(24);
    }
  }

  .button,
  .video-thumbnail {
    text-decoration: none;
  }

  .video-thumbnail {
    color: $text;
    font-size: $small-font-size;

    a {
      color: $text;
      text-decoration: none;
    }

    img {
      margin-bottom: $line-height / 2;
    }
  }
}
