// Filmoteca
// - - - - - - - - - - - - - - - - - - - - - - - - -

.filmoteca {

  h4 {
    margin-bottom: 0;
  }

  .header {
    background: image-url('filmoteca/header.jpg');
    background-position: 50%;
    background-size: cover;
    min-height: $line-height * 10;
  }

  .film-library {

    img {
      border-radius: rem-calc(6);
      text-decoration: none;

      &:hover {
        box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.25);
      }
    }
  }
}
