// G1000 landing
// - - - - - - - - - - - - - - - - - - - - - - - - -

@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");

$g1000-black: #1d1d1b;
$g1000-blue:  #1d70b7;
$g1000-red:   #e20613;

.g1000 {
  color: $g1000-black;
  font-family: "Roboto", sans-serif !important;

  p {
    font-weight: bold;
  }

  h1,
  h2 {
    font-family: "Anton", sans-serif !important;
  }

  h1 {
    color: $g1000-black;

    @include breakpoint(medium) {
      font-size: rem-calc(70);
    }
  }

  h2 {
    font-size: rem-calc(30);

    @include breakpoint(medium) {
      font-size: rem-calc(40);
    }
  }

  .people {
    color: $g1000-blue;
    font-family: "Anton", sans-serif !important;
    font-size: rem-calc(36);
    padding-bottom: $line-height * 2;
    padding-top: $line-height * 2;

    @include breakpoint(medium) {
      padding-bottom: 0;
      padding-top: rem-calc(100);
    }
  }

  .button-red {
    background: $g1000-red;
    color: #fff;
    font-family: "Anton", sans-serif !important;
    font-size: rem-calc(30);
    padding: 0 $line-height * 2;
  }

  .who {
    background: #fff image-url("landings/g1000_2.png") no-repeat;
    background-position: 90%;
    margin-top: $line-height * 2;
    min-height: rem-calc(630);
    padding-bottom: $line-height * 2;

    .text {
      background: $g1000-blue;
      height: rem-calc(421);
      margin-top: rem-calc(107);
      padding-top: $line-height * 2;

      @include breakpoint(medium) {

        h2 {
          font-size: rem-calc(60);
        }
      }

      h2,
      p {
        color: #fff !important;
      }
    }
  }

  .when {
    display: table-cell;
    vertical-align: middle;
  }

  .budget-text {
    padding-bottom: $line-height * 2;
    padding-top: $line-height * 2;

    p {
      font-family: "Anton", sans-serif !important;
      font-size: rem-calc(30);
      font-weight: normal;
      line-height: $line-height * 1.5;

      span {
        font-size: rem-calc(24);
      }
    }
  }

  .how {

    h2 {
      color: $g1000-blue !important;
    }

    .buttons {
      margin-top: $line-height * 2;
    }

    .button-how-blue,
    .button-how-red {
      color: #fff;
      display: inline-block;
      font-family: "Anton", sans-serif !important;
      font-size: rem-calc(30);
      line-height: rem-calc(30);
      margin: $line-height $line-height 0;
      padding: $line-height / 2 $line-height;
      text-align: center;
    }

    .button-how-blue {
      background: $g1000-blue;
    }

    .button-how-red {
      background: $g1000-red;
    }
  }
}
