// Custom styles for landings
//
// 00. Common styles for landings
// 01. Budgets videos 2017
// 02. Budgets materials 2017
// 03. Geocraft
// 04. Cambia tu ciudad
// 05. Budgets signup 2018
//

// 00. Common styles for landings
// ------------------------------

.franklin-title {
  font-family: "Franklin Gothic" !important;
  text-transform: uppercase;
}

// 01. Budgets videos 2017
// -----------------------

.budgets-videos-2017 {

  .header {
    background: $budget;
    padding: $line-height 0;

    h1 {
      color: $text;
      font-family: "Franklin Gothic" !important;
      font-size: rem-calc(40);
      line-height: rem-calc(40);
      margin-top: $line-height * 2;
      text-transform: uppercase;
    }

    .button {
      font-size: rem-calc(24);
    }
  }
}

// 02. Budgets materials 2017
// --------------------------

$arganzuela:        #b89774;
$barajas:           #f70918;
$carabanchel:       #a0a0aa;
$centro:            #f88278;
$chamartin:         #da4980;
$chamberi:          #8339b4;
$ciudad-lineal:     #b77de1;
$fuencarral:        #fb9bf2;
$hortaleza:         #191b72;
$latina:            #1934db;
$moncloa:           #009fe3;
$moratalaz:         #7beded;
$puente-vallecas:   #46c1a4;
$retiro:            #326b00;
$salamanca:         #7bcc18;
$san-blas:          #c4d400;
$tetuan:            #f7eb35;
$usera:             #f6d32d;
$vicalvaro:         #f77924;
$villa-vallecas:    #a70500;
$villaverde:        #8e4e28;

.budgets-materials-2017,
.budgets-materials-2018 {

  .header {
    background: $budget;
    padding: $line-height 0;

    h1 {
      color: $text;
      font-family: "Franklin Gothic" !important;
      font-size: rem-calc(40);
      line-height: rem-calc(40);
      margin-top: $line-height;
      text-transform: uppercase;

      @include breakpoint(medium) {
        font-size: rem-calc(60);
        line-height: rem-calc(60);
      }
    }
  }

  .budget-lead {
    font-size: rem-calc(24);
  }

  figure {
    margin: 0;
    position: relative;

    figcaption {
      bottom: 0;
      color: #fff;
      font-family: "Franklin Gothic" !important;
      font-size: rem-calc(36);
      line-height: rem-calc(36);
      text-transform: uppercase;
      padding: $line-height / 4 $line-height / 2;
      position: absolute;
      width: 100%;

      h3 {
        color: #000;
        font-family: "Franklin Gothic" !important;
        font-size: rem-calc(36);
        line-height: rem-calc(36);
      }

      span {
        border-radius: rem-calc(4);
        color: #fff;
        display: inline;
        font-size: $base-font-size;
        padding: rem-calc(4) rem-calc(8);
      }
    }
  }

  .district-box {

    .district-card {
      border: 1px solid $border;
      border-radius: 4px;
      margin-bottom: $line-height;
    }

    .background-arganzuela {
      background: $arganzuela;
    }

    .background-barajas {
      background: $barajas;
    }

    .background-carabanchel {
      background: $carabanchel;
    }

    .background-centro {
      background: $centro;
    }

    .background-chamartin {
      background: $chamartin;
    }

    .background-chamberi {
      background: $chamberi;
    }

    .background-ciudad-lineal {
      background: $ciudad-lineal;
    }

    .background-fuencarral-pardo {
      background: $fuencarral;
    }

    .background-hortaleza {
      background: $hortaleza;
    }

    .background-latina {
      background: $latina;
    }

    .background-moncloa-aravaca {
      background: $moncloa;
    }

    .background-moratalaz {
      background: $moratalaz;
    }

    .background-puente-vallecas {
      background: $puente-vallecas;
    }

    .background-retiro {
      background: $retiro;
    }

    .background-salamanca {
      background: $salamanca;
    }

    .background-san-blas-canillejas {
      background: $san-blas;
    }

    .background-tetuan {
      background: $tetuan;
    }

    .background-usera {
      background: $usera;
    }

    .background-vicalvaro {
      background: $vicalvaro;
    }

    .background-villa-vallecas {
      background: $villa-vallecas;
    }

    .background-villaverde {
      background: $villaverde;
    }

    .color-arganzuela {
      color: $arganzuela;
    }

    .color-barajas {
      color: $barajas;
    }

    .color-carabanchel {
      color: $carabanchel;
    }

    .color-centro {
      color: $centro;
    }

    .color-chamartin {
      color: $chamartin;
    }

    .color-chamberi {
      color: $chamberi;
    }

    .color-ciudad-lineal {
      color: $ciudad-lineal;
    }

    .color-fuencarral-pardo {
      color: $fuencarral;
    }

    .color-hortaleza {
      color: $hortaleza;
    }

    .color-latina {
      color: $latina;
    }

    .color-moncloa-aravaca {
      color: $moncloa;
    }

    .color-moratalaz {
      color: $moratalaz;
    }

    .color-puente-vallecas {
      color: $puente-vallecas;
    }

    .color-retiro {
      color: $retiro;
    }

    .color-salamanca {
      color: $salamanca;
    }

    .color-san-blas-canillejas {
      color: $san-blas;
    }

    .color-tetuan {
      color: $tetuan;
    }

    .color-usera {
      color: $usera;
    }

    .color-vicalvaro {
      color: $vicalvaro;
    }

    .color-villa-vallecas {
      color: $villa-vallecas;
    }

    .color-villaverde {
      color: $villaverde;
    }

    ul {
      padding: $line-height / 2;

      &.no-district {
        padding: 0;
      }

      li {
        font-size: $small-font-size;
        margin-bottom: $line-height / 2;
      }
    }

    a {
      color: #000;

      span {
        line-height: rem-calc(20);
        margin-left: $line-height / 4;
        vertical-align: middle;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.budgets-materials-2018 {

  .header {
    background: #000;

    @include breakpoint(medium) {
      background: #000 image-url("budget_welcome/background_header.jpg");
      background-position: 100% top;
      background-size: contain;
    }

    h1 {
      color: $budget-2018-pink;
      font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif !important;
      font-size: rem-calc(40);
      line-height: rem-calc(40);

      @include breakpoint(medium) {
        font-size: rem-calc(50);
        line-height: rem-calc(50);
      }
    }

    a {
      color: #fff;
    }
  }

  .background-pink,
  .background-yellow,
  .background-blue {
    color: #000;
  }

  .background-pink {
    background: $budget-2018-pink;
  }

  .background-yellow {
    background: $budget-2018-yellow;
  }

  .background-blue {
    background: $budget-2018-blue;
  }
}

// 03. Geocraft
// ------------

$geocraft: #006800;

.geocraft {

  .header {
    background: $brand image-url("landings/header_geocraft.jpg");
    background-position: 50% 90%;
    background-size: cover;
    min-height: $line-height * 20;

    h1 {
      color: #fff;

      span {
        display: block;
      }

      .word {
        font-size: rem-calc(80);
        line-height: $line-height * 2;
      }
    }

    .button {
      background: $geocraft;
      color: #fff;
      font-size: rem-calc(24);
      text-transform: uppercase;
    }

    .content {
      color: #fff;
      padding: $line-height;

      a:not(.button) {
        color: #fff;
        text-decoration: underline;
      }
    }
  }

  .quote {
    color: $geocraft;
    font-size: rem-calc(36);
    font-style: italic;
    font-weight: bold;
    line-height: $line-height * 2;
    margin-top: $line-height * 2;
  }

  .section-white,
  .section-green {
    padding: $line-height * 2 0;

    .text {
      font-size: rem-calc(20);
      line-height: $line-height * 1.5;
    }
  }

  .section-green {
    background: $geocraft;
    color: #fff;

    h2 {
      color: #fff;
    }

    .button {
      background: none;
      border: 2px solid #fff;
      color: #fff;
      text-transform: uppercase;
    }
  }

  .screenshot {
    margin-top: $line-height * 3;
  }

  h2 {
    color: $geocraft;
    text-transform: uppercase;
  }

  ol {
    position: relative;
    margin-left: $line-height * 3;

    li {
      line-height: $line-height * 2;
      margin-bottom: $line-height;
      word-break: break-all;

      &::before {
        content: image-url("landings/icon_minecraft.png");
        left: -72px;
        position: absolute;
      }
    }
  }

  .cta {
    color: $geocraft;
    border-radius: rem-calc(4);
    padding: $line-height;

    a {
      color: $geocraft;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

// 04. Cambia tu ciudad
// --------------------

.landing-cambia-tu-ciudad {

  .auth-image {
    background: $brand image-url("landings/bg_landing_cambia_tu_ciudad.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: $line-height * 2;

    @include breakpoint(medium) {
      padding-bottom: 0;
    }

    h1 {
      border-bottom: 3px solid #000;
      text-align: right;

      img {
        width: auto;
      }

      a {
        text-align: unset;
      }
    }
  }

  .phrase-container {
    display: table-row;
    height: 100%;
  }

  .phrase-content {
    display: table-cell;
    padding: $line-height * 2 10% 0;
    text-align: center;
    vertical-align: top;

    @include breakpoint(large) {
      padding-top: $line-height * 5;
    }
  }

  p {

    &.phrase {
      background: #f3efa2;
      display: inline;
      font-family: "Souvenir" !important;
      font-size: rem-calc(30);
      line-height: rem-calc(30);
      text-transform: uppercase;

      @include breakpoint(large) {
        background: none;
        font-size: rem-calc(60);
        line-height: rem-calc(60);
      }
    }
  }
}

// 05. Budgets signup 2018
// -----------------------

.auth-image {

  h1 img {
    height: auto;
    width: auto;
  }
}

.landing-budgets {

  .auth-image {
    background: #000 image-url("landings/bg_landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: $line-height * 2;

    @include breakpoint(medium) {
      padding-bottom: 0;
    }

    h1 {
      border-bottom: 0;

      a {
        text-align: unset;
      }
    }
  }

  .phrase-content {
    padding: $line-height * 2 0;
    text-align: center;

    @include breakpoint(large) {
      padding-top: $line-height * 5;
    }
  }
}
