// Plazas abiertas landing
// - - - - - - - - - - - - - - - - - - - - - - - - -

.plazas-abiertas {

  h2 {
    color: #0054a1;
  }

  a {
    text-decoration: underline;
  }

  .header {
    background: #eeeef8;
    position: relative;
    margin-bottom: $line-height * 2;

    &::after {
      border-left: 1000px solid #eeeef8;
      border-top: 24px solid transparent;
      border-bottom: 24px solid transparent;
      display: block;
      content: " ";
      width: 100%;
      position: absolute;
      margin-left: 0;
      z-index: -1;
    }

    h1 {
      color: $text;
      font-family: "Franklin Gothic" !important;
      font-size: rem-calc(60);
      line-height: rem-calc(60);
      text-transform: uppercase;
    }

    a {
      color: $brand;
    }

    .lead {
      font-size: rem-calc(24);
      font-weight: bold;
      line-height: rem-calc(36);
    }

    .button {
      font-size: rem-calc(24);
    }
  }

  .share {
    background: #f1f6f8;
    padding: $line-height / 2;
    border-radius: rem-calc(4);
    position: relative;

    h3 {
      font-size: rem-calc(22);
    }

    &::after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &::after {
      border-top-color: #f1f6f8;
      border-width: 10px;
      margin-left: -100px;
    }
  }

  .hashtag {
    background: #10d4ab;
    color: #000;
    display: inline-block;
    font-size: $small-font-size;
    margin: $line-height / 4 0;
    padding: 0 $line-height / 6;

    &.big {
      padding: 0 $line-height / 2;
      position: relative;

      @include breakpoint(medium) {
        font-size: rem-calc(30);

        &::after {
          top: 100%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }

        &::after {
          border-top-color: #10d4ab;
          border-width: 10px;
          margin-left: -100px;
        }
      }
    }
  }

  .how-works {
    background: #f1f6f8;
  }

  .step {

    span {
      background: #10d4ab;
      color: #000;
      display: inline-block;
      font-size: rem-calc(24);
      font-weight: bold;
      margin-bottom: $line-height / 2;
      padding: $line-height / 4 $line-height / 2;
    }
  }
}
