// Custom styles
// 1. General styles
// 2. Homepage and pages
// 3. Navigation and footer
// 4. Budgets
//

// 1. General styles
// ========================

.top-links {
  display: none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.menu-button {
  color: $text;
  margin-left: $line-height / 2;
}

.wrapper > header {
  padding-left: 0;
  padding-right: 0;
}

.top-links {
  padding-left: $line-height / 2;
  padding-right: $line-height / 2;
}

.public > .wrapper > header::after,
.proposal-dashboard > header::after {
  border-bottom: 2px solid $border;
}

.search-form-header .button {
  background: $brand;
  color: $text;
}

.jumbo {

  &.highlight {
    background: $light-gray;
  }
}

.tags a ,
.tag-cloud a,
.categories a,
.geozone a,
.sidebar-links a,
.tags span {
  background: $very-light;
  color: $brand-very-dark;

  &:hover,
  &.is-active {
    background: $brand;
    color: #fff;
  }
}

input,
a {

  &.button,
  &.button.success,
  &.button.hollow {
    background: $brand;
    border: 0;
    color: #fff;

    &:hover {
      background: $link-hover;
      color: #fff;
    }
  }
}

.banner > a {
  padding: $line-height / 2;
}

.additional-content .filter-subnav {
  background: $light;
}

.social {

  @include breakpoint(medium) {
    width: 25%;
  }
}

// 2. Homepage and pages
// ========================

.home-page .background-header {
  background: $light-gray;
  clip-path: none;
}

.homepage-actions {

  img {
    max-width: 150px;
  }
}

.custom-page {

  .button {

    &.warning {
      background: $brand;
      color: #fff;
    }
  }
}

.more-info-content h3 {
  color: $text;
}

// 3. Navigation and footer
// ========================

.top-bar {
  background: #fff !important;

  &::before {
    content: none !important;
  }

  .top-bar-title {
    margin-right: $line-height / 2;
  }

  .menu,
  .subnavigation {
    padding-left: $line-height / 2;
    padding-right: $line-height / 2;
  }

  .has-submenu .menu {
    margin-bottom: $line-height;
    padding-left: 0;
  }

  .menu {
    margin-bottom: 0;

    > li a {
      color: $text;

      &.button {
        background: $brand;
        color: #fff;
      }
    }
  }
}

.subnavigation {
  background: $brand;

  @include breakpoint(medium) {
    background: transparent;
  }
}

.subnavigation a {

  @include breakpoint(medium) {
    background: $brand;
    border-radius: rem-calc(12) rem-calc(12) 0 0;
    color: #fff;
    margin-top: $line-height / 2;
    padding: $line-height / 4 $line-height / 2;
  }

  &:hover {
    color: #fff;
  }

  &.is-active {
    color: $brand-very-dark;
    border-bottom: 0;
    margin-bottom: 0;
    //text-decoration: underline;
  }
}

.dropdown.menu > li.is-active > a {
  color: $text;
}

.public .footer {
  border-top: 6px solid $brand;

  &::before {
    border-top: 6px solid $brand;
    top: -6px;
  }
}

.custom-footer-logos img {
  max-height: 80px;
}

// 4. Budgets
// ========================

.budget-phases {

  header {
    padding: $line-height / 2 0;
  }
}

.budget-groups-index {
  margin-top: -$line-height;

  > header {
    padding-top: $line-height;
  }
}

.budget-investment-show a {
  color: $brand-very-dark;
  font-weight: bold;
}
