.custom-icon {
  background: image-url("icons.png") no-repeat;
  background-size: 36px 323px;
  display: inline-block;
  vertical-align: middle;
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dpi) {
  .custom-icon {
    background: image-url("icons@2x.png") no-repeat;
    background-size: 36px 323px;
  }
}

.custom-icon.arrow-small-right,
.custom-icon.arrow-large-right {
  background-image: image-url("arrow-black.svg");
  background-position: center;
  background-size: 45px 42px;
  width: 33px;
  height: 29px;
}

.custom-icon.arrow-small-left {
  background-image: image-url("arrow-black.svg");
  background-position: center;
  background-size: 18px 18px;
  width: 16px;
  height: 16px;
  transform: scaleX(-1);
}

.new-tab-icon-wrapper {
  width: 40px;
  height: 40px;
  background-color: $white;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid $white;
  cursor: pointer;
}

.new-tab-icon {
  background-image: image-url("open-in-new-tab.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  width: 28px;
  height: 28px;
  display: block;
}
