.btop {
  margin-top: 15px;
  padding: 15px 0 5px 0;
}

.finvestment {
  float: right;
  color: $text;
  font-size: 14px;
  font-weight: bold;
  border-radius: 30px;
  border: 3px solid $text;
  padding: 2px 14px;
}
  