// Table of Contents
//
// 01. Global styles
// 02. Header
// 03. Footer

// 01. Global styles
// -----------------

::selection {
  color: #fff;
  background-color: $brand;
}

:focus {
  outline: 0;
}

html {
  height: 100%;
}

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  font-size: $base-font-size;
  position: relative;
}

// @media screen and (max-width: 800px) {
//   // TODO: double check
//   body {
//     font-size: 12px;
//   }
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: 700;
}

h1 {
  font-size: 44px;
  line-height: 54px;
  font-weight: 700;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 36px;
    line-height: 42px;
  }
}

h2 {
  font-weight: 600;
}

h3 {
  line-height: rem-calc(24);
}

p {
  font-size: $base-font-size;
  font-weight: 400;
  line-height: $line-height;
}

a {
  color: $link;
  text-decoration: none !important;

  &:hover,
  &:active {
    color: $link-hover;
  }

  &:focus {
    color: $link-hover;
  }
}

.main-indented-content {
  margin: 0 auto;
  padding: 0 1.5rem;
  width: 100%;
}

@media (min-width: 576px) {
  .main-indented-content {
    padding: 0 0.625rem;
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .main-indented-content {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .main-indented-content {
    max-width: 880px;
  }
}

@media (min-width: 1200px) {
  .main-indented-content {
    max-width: 1040px;
  }
}

@media screen and (min-width: 1400px) {
  .main-indented-content {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1600px) {
  .main-indented-content {
    max-width: 1320px;
  }
}

.padded {
  padding-top: 0;
  padding-bottom: 0;
}

@media (min-width: 768px) {
  .padded {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  h3 {
    display: flex;
    align-items: center; 

    .datum {
      margin-left: 2rem;
      margin-top: 0;
    }
  }
}

@media (min-width: 992px) {
  .padded {
    padding-top: 2.8125rem;
    padding-bottom: 2.8125rem;
  }
}

.row {
  max-width: 100%;
}

// todo: overwrite this once $brand color isn't used for .button anywhere anymore
.button {
  background: $brand;
  font-size: $base-font-size;

  &:hover {
    text-decoration: none !important;
  }

  &.warning,
  &.warning:hover {
    color: #000;
  }

  &.medium {
    font-size: $small-font-size;
  }
}

.button.hollow {
  border: 1px solid $link;
  color: $link;
}

.button.hollow.error {
  border-color: $alert-border;
  color: $color-alert;
}

.default-button,
.upload-image,
.upload-document,
.new_comment input[type="submit"] {
  background-color: $black;
  color: $white;
  border-radius: 30px;
  border: 3px solid $black;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 600;
  padding: 4px 16px 6px;
  // margin-left: 10px;

  &:hover {
    background-color: transparent;
    color: $black;
  }
}

.action-button,
input[type="submit"].action-button {
  background-color: $theme-color;
  color: $white;
  border-radius: 50px;
  border: 3px solid $theme-color;
  font-size: 24px;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-top: 30px;

  .custom-icon.arrow-small-right,
  .custom-icon.arrow-large-right {
    background-image: image-url("arrow-white.svg");
    margin-left: 5px;
    background-size: 38px 35px;
  }

  &:hover {
    border-color: $black;
    background-color: transparent;
    color: $black;

    .custom-icon.arrow-small-right,
    .custom-icon.arrow-large-right {
      background-image: image-url("arrow-black.svg");
    }
  }

  &:focus {
    color: $white;
    outline: 3px solid #ffbf47;
  }

  &:active {
    color: $white;
  }
  
  &:focus:hover {
    color: $black;
  }  

  &.small {
    background: $mandys-pink;
    background-image: none !important;
    color: #000;
    font-size: 20px;
    font-weight: 500;
  }

  &.large {
    padding: 8px;
    @media screen and (min-width: 768px) {
      width: 350px;
    }
  }

  &.huge {
    font-size: rem-calc(24);
    font-weight: 700;
    padding: rem-calc(15) rem-calc(20);
  }

  &.circled {
    height: rem-calc(24);
    width: rem-calc(24);
  }
}

.large-description,
.large-description p {
  font-size: $large-font-size;
}

.ordering {
  clear: both;
  margin-bottom: $line-height / 2;

  li {
    margin-right: rem-calc(20);

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    color: $black;
    display: inline-block;
    font-size: $base-font-size;
    font-weight: 600;
    position: relative;
    text-align: left;
    text-transform: uppercase;

    span {
      color: $black;
    }
  }

  .is-active {
    .triangle-down {
      border-top: 11px solid $mandys-pink;
    }
  }
}

// ---------

.clear {
  clear: both;
}

.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block;
}

.aling-middle {
  vertical-align: middle;
}

.float-right-medium {
  @include breakpoint(medium) {
    float: right !important;
  }
}

// use this class to hide fields, which should be hidden fields, but they have to be submitted in a form
.hide-field {
  display: none;
}

.wrapper {
  header {
    margin-bottom: 0;
  }
}

// pagination
.pagination {
  margin-bottom: 3rem;
}

.pagination .current,
.pagination li.current:last-child, .pagination li.current:first-child {
  background-color: $black;
  color: $white;
  border-radius: 15px;
  font-weight: 600;
  padding: 0 0 2px 0;
  height: 30px;
  width: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


// 02. Header
// ----------

header {
  background: $white;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  background-color: $white;

  .site-title-holder {
    display: none !important;
  }

  .language-picker li a {
    line-height: 100px;
  }

  .header-links {
    margin-bottom: 0;

    .default-button {
      margin-left: 10px;
    }

    .is-active {
      color: #222;
      background-color: transparent;
      border-radius: 30px;
      border: 3px solid #222;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
      font-size: 16px;
      font-weight: 600;
      padding: 4px 16px 6px;
    }
  }

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    justify-content: start;

    .header-links {
      margin-top: 10px;
      margin-bottom: 30px;
    }
  }
}



// 03. Footer
// ----------

.footer {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: $white;
  color: $black;
  font-size: $base-font-size;

  .footer-links-wrapper {
    display: flex;
    justify-content: end;

    .footer-links {
      padding: 30px 0;
      margin: 0;
      color: $white;
      text-align: center;

      li {
        display: inline-block;
      }

      a {
        color: $white;
        font-size: 14px;
        font-weight: 400;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }

  .footer-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    &>div {
      display: flex;
      text-align: center;

      img {
        height: 60px;
        margin-right: 20px;
      }

      &.logo-right {
        display: flex;
        flex-direction: column;
    
        span {
          font-size: 14px;
          line-height: 28px;
        }
    
        img {
          margin-right: 0;
          height: 50px;
        }
      }
    }
  }

  .footer-financer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;

    img {
      max-height: 110px;
    }

    p {
      margin-bottom: 0;
      font-size: 12px;
      line-height: 16px;
      color: #1A365D;
    }
  }

  hr {
    margin: 0 auto;
  }
}

@media (max-width: 992px) {
  .footer {
    .footer-logos {
      flex-direction: column;
    }

    .logo-right {
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    .footer-links-wrapper {
      justify-content: center;

      li {
        display: block;
      }

      li span {
        display: none;
      }
    }

    .footer-financer-logo {
      flex-direction: column;
      text-align: center;
    }
  }
}

@media (max-width: 576px) {
  .footer {
    .footer-logos {
      &>div {
        flex-direction: column;

        a {
          text-align: center;
        }

        img {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }
  }
}

body > header, .wrapper > header {
  padding-left: 0;
  padding-right: 0;
}

// submit predlog
.budget-investment-new {
  padding-top: 2rem;

  h1 {
    margin-bottom: 1rem;
    &::after {
      display: none;
    }
  }
}

.sidebar {
  background-color: $grey-background;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.horizontal-line {
  height: 1px;
  background-color: $black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

// Share buttons
.budget-investment-show .social-box .social-share-button .ssb-icon {
  &.ssb-telegram,
  &.ssb-whatsapp_app {
    display: none;
  }
}

.submenu {
  .is-active {
    color: $black;
  }
}
