// Table of Contents
//
// 01. Global styles
// 02. Header
// 03. Footer
// 04. Tags
// 05. Auth pages
// 06. Forms
// 07. Callout
// 08. User account
// 10. Official levels
// 11. Tables
// 12. Social
// 13. Pages
// 14. Verification
// 15. Comments
// 16. Flags
// 17. Activity
// 18. Banners
// 19. Recommendations
// 20. Documents
// 21. Related content
// 22. Images
// 23. Maps
// 24. Homepage
// 25. LocalCensusRecords
//

// 01. Global styles
// -----------------

:focus {
  outline: 0;
}

html {
  height: 100%;
}

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  font-size: $base-font-size;
  font-weight: 400;
  line-height: 1.25;
  position: relative;
}

body > .wrapper {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: 700;
  line-height: 1.25;
}

h1 {
  font-size: 44px;
  font-weight: 700;
}

@media screen and (max-width: 75.9375em) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-size: 30px;
  font-weight: 500;

  &.bold {
    font-size: 36px;
    font-weight: 700;
  }
}

h3 {
  font-size: $extra-large-font-size;
  line-height: 1.25;
}

.subtitle {
  font-size: 24px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: $link;
  text-decoration: underline;

  &:hover,
  &:active {
    color: $hover-color;
  }

  &:focus {
    color: $hover-color;
  }
}

.main-indented-content {
  margin: 0 auto;
  padding: 0 1.5rem;
  width: 100%;
}

// 640px
@media screen and (min-width: 40em) {
  .main-indented-content {
    padding: 0 0.625rem;
    max-width: 540px;
  }
}

// 832px
@media screen and (min-width: 52em) {
  .main-indented-content {
    max-width: 720px;
  }
}

// 1024px
@media screen and (min-width: 64em) {
  .main-indented-content {
    max-width: 880px;
  }
}

// 1216px
@media screen and (min-width: 76em) {
  .main-indented-content {
    max-width: 1040px;
  }
}

// 1408px
@media screen and (min-width: 88em) {
  .main-indented-content {
    max-width: 1200px;
  }
}

@media screen and (min-width: 100em) {
  .main-indented-content {
    max-width: 1320px;
  }
}

.padded {
  padding-top: 0;
  padding-bottom: 0;
}

@media screen and (min-width: 52em) {
  .padded {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}

@media screen and (min-width: 64em) {
  .padded {
    padding-top: 2.8125rem;
    padding-bottom: 2.8125rem;
  }
}

.row {
  max-width: 100%;
}

.tabs {
  .tabs-title {
    a {
      text-decoration: none;
    }

    h3 {
      display: block;
    }

    &.is-active a {
      color: $black;
    }
  }
}

.pagination {
  margin-bottom: 3rem;

  li.ellipsis::after {
    display: none;
  }

  a {
    text-decoration: none;
  }
}

.pagination .current,
.pagination li.current:last-child,
.pagination li.current:first-child {
  background-color: $black;
  color: $white;
  border-radius: 15px;
  font-weight: 600;
  padding: 0 0 2px;
  height: 30px;
  width: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.default-button,
.upload-image,
.upload-document,
.new_comment input[type="submit"],
.button.hollow {
  background-color: $black;
  color: $white;
  border-radius: 30px;
  border: 3px solid $black;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  padding: 6px 16px 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: transparent;
    color: $black;
    text-decoration: none;
  }

  &:active {
    color: $white;
  }
  
  &:focus {
    color: $white;
    background-color: $black;
    outline: 3px solid $outline-focus;
  }
  
  &:focus:hover {
    color: $white;
  }
}

.button:not(.upload-document, .upload-image, .hollow),
.button.expanded,
.action-button,
input[type="submit"].action-button {
  background-color: $theme-color;
  color: $white;
  border-radius: 50px;
  border: 3px solid $theme-color;
  font-size: 24px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-top: 30px;
  text-decoration: none;
  padding: 12px 10px 14px;
  white-space: normal;

  .custom-icon.arrow-small-right,
  .custom-icon.arrow-large-right {
    background-image: image-url("arrow-white.svg");
    margin-left: 5px;
    background-size: 36px 36px;
    width: 28px;
    height: 24px;
  }

  &:hover {
    border-color: $black;
    background-color: transparent;
    color: $black;
    text-decoration: none;

    .custom-icon.arrow-small-right,
    .custom-icon.arrow-large-right {
      background-image: image-url("arrow-black.svg");
    }
  }

  &:focus {
    color: $white;
    outline: 3px solid #ffbf47;
  }

  &:active {
    color: $white;
  }

  &:focus:hover {
    color: $black;
  }

  &.small {
    background: $mandys-pink;
    background-image: none !important;
    color: #000;
    font-size: 20px;
    font-weight: 500;
  }

  &.large {
    @media screen and (min-width: 52em) {
      width: 350px;
    }
  }

  &.huge {
    font-size: rem-calc(24);
    font-weight: 700;
    padding: rem-calc(15) rem-calc(20);
  }

  &.circled {
    height: rem-calc(24);
    width: rem-calc(24);
  }
}

.ordering {
  clear: both;
  margin-bottom: $line-height / 2;

  li {
    margin-right: rem-calc(20);

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    color: $black;
    display: inline-block;
    font-size: $base-font-size;
    font-weight: 600;
    position: relative;
    text-align: left;
    text-transform: uppercase;

    span {
      color: $black;
    }
  }

  .is-active {
    .triangle-down {
      border-top: 11px solid $mandys-pink;
    }
  }
}

.help-text {
  a {
    font-weight: 500;
  }
}

// use this class to hide fields, which should be hidden fields, but they have to be submitted in a form
.hide-field {
  display: none;
}

.wrapper {
  header {
    margin-bottom: 0;
  }
}



.auth-form {
  padding-top: 3rem;
  padding-bottom: 3rem;

  h2 {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 18px;
  }

  .default-button {
    font-size: $base-font-size;
  }

  a:not(.default-button) {
    font-weight: 500;
  }

  input.action-button[type="submit"] {
    margin: 30px 0 15px;
    width: 100%;
  }
}

.comments {
  .callout a {
    text-decoration: underline !important;
    color: $text !important;
  }

  .comment-body .comment-user {
    padding: 0.375rem;
  }
}

hr {
  border-bottom: 1px solid $black;
  max-width: none;
}


// 02. Header
// ----------

header {
  background: $white;
}

body > header,
.wrapper > header {
  padding-left: 0;
  padding-right: 0;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  background-color: $white;

  .site-title-holder {
    display: none !important;
  }

  .language-picker li a {
    line-height: 100px;
  }

  .header-links {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;

    >div {
      margin-bottom: 10px;
    }

    .default-button {
      margin-right: 10px;
    }

    .is-active {
      color: #222;
      background-color: transparent;
      border-radius: 30px;
      border: 3px solid #222;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
      font-size: 16px;
      font-weight: 600;
      line-height: 1;
      padding: 6px 16px 8px;
      display: inline-block;
      text-decoration: none;
      margin-right: 10px;
    }
  }

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    justify-content: start;

    .header-links {
      margin-top: 10px;
      margin-bottom: 30px;
    }
  }
}

// 03. Footer
// ----------

.footer {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: $white;
  color: $black;
  font-size: $base-font-size;

  .footer-links-wrapper {
    display: flex;
    justify-content: end;

    .footer-links {
      padding: 30px 0;
      margin: 0;
      color: $white;
      text-align: center;

      li {
        display: inline-block;
      }

      a {
        color: $white;
        font-size: 14px;
        font-weight: 400;
        margin-left: 5px;
        margin-right: 5px;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .footer-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    &>div {
      display: flex;
      text-align: center;

      img {
        height: 60px;
        margin-right: 20px;
      }

      &.logo-right {
        display: flex;
        flex-direction: column;

        span {
          font-size: 14px;
          line-height: 28px;
        }

        img {
          margin-right: 0;
          height: 50px;
        }
      }
    }
  }

  .footer-financer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;

    img {
      max-height: 110px;
    }

    p {
      margin-bottom: 0;
      font-size: 12px;
      line-height: 16px;
      color: #1a365d;
    }
  }

  hr {
    margin: 0 auto;
  }
}

@media screen and (max-width: 63.9375em) {
  .footer {
    .footer-logos {
      flex-direction: column;
    }

    .logo-right {
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 51.9375em) {
  .footer {
    .footer-links-wrapper {
      justify-content: center;

      li {
        display: block;
      }

      li span {
        display: none;
      }
    }

    .footer-financer-logo {
      flex-direction: column;
      text-align: center;
    }
  }
}

@media screen and (max-width: 39.9375em) {
  .footer {
    .footer-logos {
      >div {
        flex-direction: column;

        a {
          text-align: center;
        }

        img {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }
  }
}



// submit predlog
.budget-investment-new {
  padding-top: 2rem;

  h1 {
    margin-bottom: 1rem;

    &::after {
      display: none;
    }
  }
}

.sidebar {
  background-color: $grey-background;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.horizontal-line {
  height: 1px;
  background-color: $black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

// show investment styles for unfeasibility
.budget-investment-show .callout.warning {
  text-align: center;
}
.budget-investment-show p.unfeasibility-explanation {
  padding-bottom: 0;
  margin-bottom: 0;
}

// Share buttons
.budget-investment-show .social-box .social-share-button .ssb-icon {
  &.ssb-telegram,
  &.ssb-whatsapp_app {
    display: none;
  }
}

.submenu {
  .is-active {
    color: $black;
  }
}

// Components styles



// documents
.documents {

  h4 {
    span {
      color: #4f4f4f;
      font-weight: normal;
    }
  }

  .document-link {
    background: unset;
    border: none;
    border-radius: 0;
    display: block;
    margin: $line-height / 2 0;
    padding: $line-height / 2;
    position: relative;

    a {
      margin-top: 1rem;
    }
  }
}

.custom-phases-nav {
  left: 0;
  position: relative;
  text-align: center;
  width: 100%;
  box-shadow: 0 4px 43px -10px rgba(0, 0, 0, 0.21);
  border: 0;
  // margin-top: 1rem;

  .main-indented-content {
    margin: 0 auto;
    padding: 10px 0;
  }

  .tabs {
    border: 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-content: space-around;
    

    .active-phase {
      > a {
        color: $black;
      }
    }

    a:focus {
      outline: none;
    }
  }

  .tabs li {
    float: none;
    flex: auto;
    width: 100%;
    // margin-bottom: 5px;
    margin-right: 0;
    
    border-right: 1px solid $black;
    border-bottom: 0;
    padding: 0 5px;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      border-bottom: 0;
      padding-right: 0;
      border-right: 0;
    }

    > a {
      padding: 0;

      &:hover {
        @include brand-text;
        background: none;
        text-decoration: none;
      }

      &[aria-selected="true"],
      &.is-active {
        @include brand-text;  
        &::after {
          border-bottom: 0;
        }
      }
    }
  }
  
  .tabs h2,
  .tabs h3 {
    // color: $white;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 7px 0;
    white-space: nowrap;
  }

  .tabs span {
    color: $black;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    padding-top: 3px;
    display: block;
  }

  .tabs a h3 i {
    height: 20px;
    display: none;
    line-height: 20px;
    float: left;
  }

  .tabs .active-phase a h3 {
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 8px;
  }

  .active-phase a h3 i {
    background: image-url("check.svg") left no-repeat;
    width: 24px;
  }

  .active-phase a h3:hover i {
    background: image-url("check-black.svg") left no-repeat;
  }

  .tabs .is-active a span {
    font-weight: 500;
  }

  .tabs .tabs-title > a:hover {
    background: none;
    border-bottom: 0;
  }

  @media screen and (min-width: 40em) {
    .tabs a h3 i {
      display: block;
    }
  }

  @media screen and (min-width: 52em) {
    .main-indented-content {
      padding: 10px;
    }

    .tabs {
      border-left: 1px solid $black;

      h2,
      h3 {
        font-size: 16px;
      }

      span {
        font-size: 16px;
      }

      li:last-of-type {
        border-right: 1px solid $black;
      }
    }

    .active-phase a h3 i {
      width: 30px;
    }
  }
}

.tabs-panel {
  padding: 0;

  .expanded {
    // margin: 40px 0 20px;

    .phase-description {

      h1,
      h2 {
        margin-bottom: 1rem;
        line-height: 1.25;
      }

      p {
        font-size: 24px;
        line-height: 1.25;
      }

      span a {
        text-decoration: underline !important;
      }

      .phase-enrichment-holder {
        display: flex;
        justify-content: center;

        @media screen and (min-width: 52em) {
          // justify-content: start;
        }
      }

      .phase-enrichment.accepting {
        margin-top: 3rem;

        @media screen and (min-width: 52em) {
          height: 300px;
          width: 350px;
        }

        @media screen and (min-width: 64em) {
          margin-right: 2rem;
          margin-left: auto;
        }
      }
    }
  }
}
