.locale {
  margin-top: 0;
  margin-bottom: 0;

  .locale-form {
    &::after {
      right: 8px;
    }

    select {
      background-color: $black;
      border: 3px solid $black;
      border-radius: 30px;
      color: $white;
      height: unset;
      font-size: 16px;
      font-weight: 600;
      padding: 6px 28px 8px 16px;
      line-height: 1;
      margin-bottom: 0;
      outline: none;
      width: auto;
      cursor: pointer;

      &:focus {
        border: 3px solid $black;
        outline: $outline-focus;
      }

      option {
        background: $body-background;
        color: $text;
        border: 0;
        outline: none;
      }
    }

    &:hover {
      select {
        background-color: $white;
        color: $black;
      }

      &::after {
        color: $black;
      }
    }
  }
}
