.header-logo {
  height: 100%;
  display: block;
}

.top-bar {
  background: #fff !important;

  .site-title-holder {
    display: none !important;
  }

  .language-picker li a {
    line-height: 100px;
  }
}
  