.phase-enrichment {
  height: 260px;
  width: 300px;

  &.accepting {
    background: image-url("predlagaj-MB.svg") no-repeat;
  }

  &.selecting {
    height: 260px;
    width: 295px;
  }

  &.balloting {
    background: image-url("glasuj-MB.svg") no-repeat;
  }

  &.finished {
    background: image-url("izvedi-MB.svg") no-repeat;
  }

  &.reviewing,
  &.valuating {
    background: image-url("phases/kajpazdaj.png") center no-repeat;

    @include breakpoint(medium up) {
      background-size: 127%;
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dpi) {
  .phase-enrichment {
    background: image-url("custom_phases@2x.png") no-repeat;
    background-size: 960px 270px;
  }
}

// **************** LANDING ********************

.landing {
  .introduction-text {
    max-width: 60%;
    padding-top: 80px;
    padding-bottom: 60px;

    h1 {
      font-size: 44px;
      line-height: 54px;
      font-weight: 700;
    }

    p {
      font-size: 30px;
      line-height: 40px;
      font-weight: 500;
    }

    .action-button {
      width: 390px;
    }

    @media (max-width: 1200px) {
      max-width: 100%;

      h1 {
        font-size: 36px;
        line-height: 42px;
      }

      p {
        font-size: 24px;
        line-height: 32px;
      }

      .action-button {
        width: 100%;
      }
    }
  }

  .list {
    margin: 100px 0;

    h2 {
      font-size: 36px;
      line-height: 54px;
      font-weight: 700;
      border-bottom: 1px solid $black;
      padding-bottom: 5px;
      margin-bottom: 0;
    }

    .list-element {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $black;
      padding: 30px 0;

      &:hover {
        color: $black;
        background-color: #f2f2f2;
      }

      h3 {
        font-size: 30px;
        font-weight: 700;
      }

      p {
        font-size: 24px;
        margin-bottom: 0;
      }

      .more {
        font-size: 24px;
      }

      .custom-icon.arrow-small-right {
        background-image: image-url("arrow-black.svg");
        width: 24px;
        height: 24px;
        margin-left: 5px;
        background-size: 29px;
      }
    }

    @media (max-width: 992px) {
      margin: 50px 0;

      h2 {
        font-size: 28px;
        line-height: 36px;
      }

      .list-element {
        h3 {
          font-size: 24px;
        }

        p {
          font-size: 16px;
        }

        .more span {
          display: none;
        }

        .more .custom-icon.arrow-small-right {
          margin-left: 20px;
        }
      }
    }
  }

  hr {
    border-bottom: 1px solid $black;
    max-width: none;
  }
}

.welcome-columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .welcome-column {
    color: $black;
    flex-grow: 1;
    flex-basis: 0;
    margin: 0;
    position: relative;

    .column-content {
      padding: 50px 40px;

      @media screen and (max-width: 1200px) {
        padding: 50px 0;
      }

      h2 {
        font-size: 36px;
        line-height: 54px;
        font-weight: 700;
      }

      h4 {
        font-size: 24px;
        font-weight: 500;
        line-height: 30px;
      }

      .large-description {
        font-size: 20px;
      }

      .action-button {
        width: 100%;
      }
    }

    .phase-enrichment-holder {
      margin-top: rem-calc(50);
      position: relative;
      text-align: center;
      width: 100%;

      .phase-enrichment {
        margin: 0 auto;
        position: relative;
      }
    }
  }
}


@media screen and (max-width: 1200px) {
  .welcome-columns .welcome-column {
    flex-grow: 0;
    flex-basis: 100%;
  }
}

.callout {
  z-index: 1000;
}

.bgblack {
  background-color: $black;
}
/* hover style just for information */
span:hover::before {
  border: 2px solid #3c3583 !important;
}

.home-page {
  main {
    background-color: #f2f2f2;
  }
}

.arrow-down {
  position: absolute;
  right: 3.5rem;
  bottom: 30px;
  height: 6rem;
  transform: translateY(50%);
}

.show-mobile {
  @include breakpoint(medium up) {
    display: none;
  }
}

.show-pc {
  display: none;

  @include breakpoint(medium up) {
    display: block;
  }
}



// **************** PREDLOGI ********************
.tabs {
  .tabs-title {
    h3 {
      display: block;
    }

    &.is-active a {
      color: $black;
    }
  }
}

.custom-phases-nav {
  left: 0;
  position: relative;
  text-align: center;
  width: 100%;
  box-shadow: 0 4px 43px -10px rgba(0, 0, 0, 0.21);
  border: 0;
  margin-top: 1rem;

  @media (min-width: 992px) {
    ul {
      display: flex;
      align-content: space-around;
    }

    li {
      flex: auto;
    }
  }

  .tabs {
    border: 0;

    .active-phase {
      // TODO: make it shiny
      > a {
        color: $black;
      }
    }

    a:focus {
      outline: none;
    }
    .tabs-title {
      padding: 10px 0;
      margin-right: 0;
      float: none;
    }

    .tabs-title > a {
      padding: 0;
      &:hover {
        @include brand-text;
        background: none;
        text-decoration: none;
      }
  
      &[aria-selected="true"],
      &.is-active {
        @include brand-text;  
        &::after {
          border-bottom: none;
        }
      }
    }
  }

  .custom-phases-nav .tabs .active-phase a h3 i {
    background: url(/assets/custom/check.svg) left no-repeat;
    width: 30px;
  }

  .main-indented-content {
    margin: 0 auto;
    padding: 10px;
  }

  .tabs {
    margin: 0 0 0;
  }

  .tabs h2,
  .tabs h3 {
    // color: $white;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 7px 10px;
  }

  .tabs span {
    color: $black;
    font-size: 16px;
    font-weight: 300;
    line-height: 17px;
    padding-top: 3px;
    display: block;
  }

  .tabs a h3 i {
    height: 20px;
    display: block;
    line-height: 20px;
    float: left;
  }

  .tabs .active-phase a h3 {
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    padding: 7px 15px;
  }

  .active-phase a h3 i {
    background: image-url("check.svg") left no-repeat;
    width: 30px;
  }

  .tabs .active-phase a h3:hover {
    i {
      background: image-url("check-black.svg") left no-repeat;
    }
  }

  .tabs .is-active a span {
    font-weight: 500;
  }

  .tabs .tabs-title > a:hover {
    background: none;
    border-bottom: 0;
  }

  .tabs {
    border-left: 0;
    width: 100%;

    ul {
      display: flex;
      align-content: space-between;
    }

    li {
      border-right: 0;
      padding-bottom: 10px;
      margin-bottom: 5px;
      border-bottom: 0;

      &:last-of-type {
        border-bottom: 0;
      }
    }
  }
}

@media (min-width: 576px) {
  .custom-phases-nav .tabs {
    width: 100%;
    border-left: 1px solid $black;

    ul {
      display: flex;
      align-content: space-between;
    }

    li {
      border-right: 1px solid $black;
      border-bottom: 0;
      padding-bottom: initial;
      margin-bottom: initial;
    }
  }
}

.tabs-panel {
  padding: 0;
  .expanded {
    margin: 1rem 0;
    .phase-description {
      h1, h2 {
        margin-bottom: 1rem;
        line-height: 1.25;
      }
      .phase-enrichment.accepting {
        margin-top: 3rem;

        @media (min-width: 768px) {
          height: 300px;
          width: 350px;
          margin-right: 2rem;
          margin-left: auto;
        }
      }
    }
  }
  
}

.budget-investments {
  .phase-title {
    margin: rem-calc(30) 0 rem-calc(20);
  }

  .budget-investment-holder {
    .budget-investment {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.21);

      .panel {
        border-bottom: 0 !important;
        min-height: rem-calc(192);
        padding: 0 rem-calc(10);
      }
    }
  }

  .budget-investment-holder {
    .image-holder {
      text-align: center;

      img {
        height: auto;
        width: 100%;
        max-height: 180px;
        min-height: 180px;
        object-fit: cover;
      }
    }

    .callout {
      &.warning {
        z-index: auto;
      }
    }
  }

  .budget-investment-content {
    min-height: unset;
    padding: rem-calc(15);

    a {
      color: $rhino;
    }

    .investment-title {
      color: $black;

      h3 {
        line-height: rem-calc(23);
        height: rem-calc(72);
      }

      &:hover {
        color: $rhino;
      }
    }

    .investment-project-info {
      font-size: rem-calc($tiniest-font-size);
      margin-bottom: 0;
    }

    .investment-project-description {
      line-height: 1.25;
      height: unset;
      margin-bottom: rem-calc(10);
    }

    .tags {
      margin-bottom: 0;

      a {
        margin-bottom: 0;
      }
    }

    .total-supports {
      margin-right: 40px;
    }
  }

  .no-budget-investment {
    margin-top: rem-calc(60);

    p {
      margin-top: rem-calc(30);
      font-size: 24px;
      line-height: 34px;
      font-weight: 400;

      a {
        font-weight: bold;
      }
    }

  }
}

@media (min-width: 576px) {
  .budget-investments {
    .budget-investment-holder {
      .budget-investment {
        .panel {
          border-bottom: 0 !important;
          padding: 0 rem-calc(15);
        }
      }
    }
  }
}

// Background

.bggray {
  background-color: #f2f2f2;
  padding: 3rem 0;
  font-size: rem-calc(20);
}

.budget-investment-show {
  .bggray {
    padding: 1rem;

    @media (min-width: 768px) {
      padding: 3rem 0;
    }
  }

  .social-box {
    // background: #fff !important;
    padding: 2rem 0;

    h2 {
      margin-bottom: 1.5rem;
      font-weight: 700;
    }

    h5 {
      font-weight: 500;
      color: $black;
      margin-right: 20px;
      margin-bottom: 0.5rem;
    }

    .social-share-full {
      margin: 0;

      a {
        margin: 0 10px 0 0;
      }
    }

    .social-box-row {
      &>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
      }
    }

    @media (min-width: 768px) {
      .social-share-full {
        margin: 0 60px 0 0;
      }

      .social-box-row {
        display: flex; 
        align-items: center; 
        justify-content: center;

        &>div {
          display: flex;
          flex-direction: row;
          align-items: center;
          &:last-child {
            flex-direction: column;
            input {
              width: 400px;
            }
          }
        }
      }
    }

    .copylink {
      white-space: nowrap;
    }

    .shortner {
      // width: 187px;
      border-radius: 4px;
      border: 2px solid #e1e1e1;
      background-color: $white;
      margin-bottom: 0;
      cursor: pointer;
      color: $black;
      font-size: 18px;
      font-weight: 400;
      line-height: 40px;
      text-align: center;

      &:hover {
        border-color: $black;
      }
    }

    .social-share-button .ssb-icon {
      background-color: $black;
      color: $white;
      position: relative;
      transition: all 0.4s ease-in-out;
      border: 2px solid $black;
      border-radius: 76px;
      padding: 38px;

      &:hover {
        background-color: transparent;
        color: $black;
        transition: all 0.4s ease-in-out;
      }
    }

    .social-share-button {
      .ssb-icon::before {
        font-size: 2.5rem;
        left: 40%;
        top: 14px;
        margin-left: rem-calc(-11);
        position: absolute;
      }
    }

    .social-share-button .ssb-twitter::before {
      background-image: image-url("twitter.svg");
      left: 30px;
      top: 18px;
      content: " ";
      background-size: 38px 38px;
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
    }

    .social-share-button .ssb-facebook::before {
      background-image: image-url("facebook.svg");
      left: 30px;
      top: 18px;
      content: " ";
      background-size: 38px 38px;
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
    }

    .social-share-button .ssb-email::before {
      background-image: image-url("envelope.svg");
      left: 30px;
      top: 18px;
      content: " ";
      background-size: 38px 38px;
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
    }
  }
}

.custombackbutton {
  position: relative;
  margin: auto;
  text-align: center;
  margin-top: 10px;

  .arrow-large-left {
    background-image: image-url("arrow.svg");
    background-position: center;
    background-size: 25px 22px;
    width: 23px;
    height: 30px;
    transform: rotate(180deg);
    top: -1.5px;
    position: relative;
  }

  a {
    text-decoration: underline;
    line-height: 30px;
  }
}

.budget-investment-show {
  padding-top: 2rem;

  h1 {
    margin-bottom: 1rem;
    line-height: 1.25;
  }

  p {
    font-size: $large-font-size;
  }

  figcaption {
    font-size: $small-font-size;
  }

  .map {
    pointer-events: none;
  }

  .tags {
    margin-left: rem-calc(10);
  }

  .image-preview {
    float: none;
    margin-bottom: 1.5rem;

    figure {
      position: relative;

      &:hover {
        .new-tab-icon-wrapper {
          border-color: $black;
        }
      }
    }

    img {
      height: rem-calc(385);
      width: 100%;
      object-fit: cover;
    }
  }

  .budget-investment-info {
    margin: 1.5rem 0;

    .info-row {
      margin-bottom: 2rem;
      .info {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
      }
      .tags {
        margin-left: 0;
        a {
          margin-bottom: 0;
        }
      }
    }

    @media (min-width: 576px) {
      display: flex;
      justify-content: space-between;

      .info-row {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        .info {
          margin-bottom: 0;
        }
        .tags {
          margin-left: 1.5rem;
        }
      }
    }
  }

  // .social-box {
  //   .column {
  //     .column-content {
  //       background-color: $alabaster;
  //       border-radius: 10px;
  //       padding: rem-calc(20) 0;
  //       text-align: center;
  //     }
  //   }
  // }
}

.qs {
  display: block;
}

@media (min-width: 576px) {
  .qs {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.remove.supported .delete.small.expanded {
  box-shadow: 0 0 8px rgba(50, 54, 106, 0.25);
  border-radius: 18px;
  background-image: linear-gradient(80deg, #272266 0%, #6660b2 51%, #494395 100%) !important;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  padding: 0 20px;
  margin: 0;
  border: 0;
  width: auto;
  display: inline-block;
  text-decoration: none;

  transition-property: width, height, background-position, color, border-radius, border-color, box-shadow;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;

  &:hover {
    background-position: 100% 0;
    transition-property: width, height, background-position, color, border-radius, border-color box-shadow;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
  }

  //transition: all 0.25s ease;
  &:active {
    //letter-spacing: 2px;
  }

  &::after {
    content: "";
  }


  &.onclic {
    width: 40px !important;
    border: 3px solid #272266 !important;
    border-radius: 30px !important;
    font-size: 0 !important;
    border-left-color: $mandys-pink !important;
    animation: rotating 2s 0.25s linear infinite;
    background: none !important;
    box-shadow: none !important;

    &::after {
      content: "";
    }

    &:hover {
      color: $mandys-pink !important;
      background: #fff !important;
    }
  }

  &.validate {
    font-size: 13px;
    color: #fff;
    background: #272266;

    &::after {
      font-family: "FontAwesome";
      content: "\f00c";
    }
  }
}

.add.in-favor .button.button-support.small.expanded {
  box-shadow: 0 0 8px rgba(50, 54, 106, 0.25);
  border-radius: 18px;
  color: #272266;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  padding: 0 20px;
  margin: 0;
  border: 0;
  width: auto;
  display: inline-block;
  background-image: linear-gradient(to right, $mandys-pink, #f2d6d0, #fcede9);
  background-color: #f2d6d0;

  transition-property: width, height, background-position, color, border-radius, border-color, box-shadow;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;

  i {
    background: image-url("best.png") center no-repeat;
    display: inline-block;
    left: -10px;
    width: 16px;
    height: 19px;
    top: 0;
    position: relative;
    background-size: 100%;
  }

  &:hover {
    background-position: 100% 0;
    transition-property: width, height, background-position, color, border-radius, border-color box-shadow;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
  }


  //transition: all 0.25s ease;
  &::after {
    content: "";
  }

  &.onclic {
    width: 40px !important;
    border: 3px solid #272266 !important;
    border-radius: 30px !important;
    font-size: 0 !important;
    border-left-color: $mandys-pink !important;
    animation: rotating 2s 0.25s linear infinite;
    background: none !important;
    box-shadow: none !important;

    i {
      display: none;
    }

    &::after {
      content: "";
    }

    &:hover {
      color: $mandys-pink !important;
      background: #fff !important;
    }
  }

  &.validate {
    font-size: 13px;
    color: #fff;
    background: #272266;

    &::after {
      font-family: "FontAwesome";
      content: "\f00c";
    }
  }
}

.border-tb {
  border-top: 2px solid #3c3583;
  padding-top: 10px;
  margin: 0 0.9375rem 0.9375rem;
}

.budget-investment-holder .budget-investment .budget-investment-content .investment-title h3 {
  height: auto;
}

// my account page
.account {
  background-color: #f2f2f2;
  padding: 3rem 0;

  h1 {
    font-size: 44px;
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  label {
    font-size: 18px;
    margin-bottom: 6px;
  }

  hr {
    border-bottom: 1px solid $black;
  }

  .already-verified {
    font-size: 18px;
    font-weight: 700;
    color: $black;
  }

  .icon-check {
    color: #46db91;
  }
}

// about page 
.about {
  padding-bottom: 3rem;

  .intro {
    color: $black;
    font-size: 1.5625rem;
    line-height: 2.1875rem;
    font-weight: 500;
    padding-top: 15px;
  }

  h1 {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  h3 {
    color: $theme-color;
    font-size: 1.875rem;
    font-weight: 800;
    margin-bottom: 0.9375rem;
    letter-spacing: 0.375rem;
    

    .datum {
      color: $black;
      font-size: 1rem;
      font-weight: 600;
      border-radius: 30px;
      display: inline-block;
      padding: 4px 16px 6px;
      letter-spacing: initial;
      background-color: #f2f2f2;
      // border: 3px solid #222;
      // margin-top: 1rem;
    }
  }

  p {
    font-size: 1.25rem;
    line-height: 1.5625rem;
    font-weight: 500;
  }

  .nbr5 {
    color: #f2f2f2;
    font-size: 14rem;
    font-weight: 900;
    line-height: 10rem;
  }
}

// help page
.help {
  .padded {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  h1 {
    margin-bottom: 3rem;
  }

  .brderundr {
    border-bottom: 1px solid $theme-color;
    padding: 0 15px 0 0;
    margin: 0 0 0 0;
    position: relative;

    .title {
      color: #000000;
      font-size: 24px;
      font-weight: 500;
      cursor: pointer;
      border-bottom: none;
      margin: 1rem 0;
      padding-right: 50px;

      .custom-icon.arrow-small-right {
        width: 39px;
        height: 33px;
        float: right;
        position: absolute;
        right: 20px;
        transform: rotate(-90deg);
        // display: none;
      }
    }

    &.accordion-collapsed {
      p {
        display: none;
      }

      .title .custom-icon.arrow-small-right {
        transform: rotate(0);
        // display: inline-block;
      }
    }

    p {
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.5;
    }
  }

  .technical-issues {
    padding: 1.5rem;
    margin-bottom: 2rem;
    border: 1px solid $theme-color;
    display: flex;
    flex-direction: column;
    min-height: 10rem;

    h3 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 0;
    }

    a {
      display: inline;
      padding: 0;
      font-weight: 500;
      text-decoration: underline;
    }
  }
}

.privacy {
  background-color: #f2f2f2;
  padding-top: 2rem;
  padding-bottom: 2rem;

  p {
    font-size: 1rem;
  }
}
