.phase-enrichment {
  height: 260px;
  width: 300px;

  &.accepting {
    background: image-url("predlagaj-MB.svg") no-repeat;
  }

  &.selecting {
    height: 260px;
    width: 295px;
  }

  &.balloting {
    background: image-url("glasuj-MB.svg") no-repeat;
  }

  &.finished {
    background: image-url("izvedi-MB.svg") no-repeat;
  }

  &.reviewing,
  &.valuating {
    background: image-url("phases/kajpazdaj.png") center no-repeat;

    @include breakpoint(medium up) {
      background-size: 127%;
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dpi) {
  .phase-enrichment {
    background: image-url("custom_phases@2x.png") no-repeat;
    background-size: 960px 270px;
  }
}

// **************** LANDING ********************

.landing {
  .introduction-text {
    max-width: 60%;
    padding-top: 80px;
    padding-bottom: 60px;

    h1 {
      font-size: 44px;
      line-height: 54px;
      font-weight: 700;
    }

    p {
      font-size: 30px;
      line-height: 40px;
      font-weight: 500;
    }

    .action-button {
      width: 390px;
    }

    @media screen and (max-width: 87.9375em) {
      max-width: 100%;

      h1 {
        font-size: 36px;
        line-height: 42px;
      }

      p {
        font-size: 24px;
        line-height: 32px;
      }

      .action-button {
        width: 100%;
      }
    }
  }

  .list {
    margin: 100px 0;

    h2 {
      font-size: 36px;
      line-height: 54px;
      font-weight: 700;
      border-bottom: 1px solid $black;
      padding-bottom: 5px;
      margin-bottom: 0;
    }

    .list-element {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $black;
      padding: 30px 0;
      text-decoration: none;

      &:hover {
        color: $black;
        background-color: #f2f2f2;
      }

      h3 {
        font-size: 30px;
        font-weight: 700;
      }

      p {
        font-size: 24px;
        margin-bottom: 0;
      }

      .more {
        font-size: 24px;
      }

      .custom-icon.arrow-small-right {
        background-image: image-url("arrow-black.svg");
        width: 24px;
        height: 24px;
        margin-left: 5px;
        background-size: 29px;
      }
    }

    @media screen and (max-width: 63.9375em) {
      margin: 50px 0;

      h2 {
        font-size: 28px;
        line-height: 36px;
      }

      .list-element {
        h3 {
          font-size: 24px;
        }

        p {
          font-size: 16px;
        }

        .more span {
          display: none;
        }

        .more .custom-icon.arrow-small-right {
          margin-left: 20px;
        }
      }
    }
  }
}

.welcome-columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .welcome-column {
    color: $black;
    flex-grow: 1;
    flex-basis: 0;
    margin: 0;
    position: relative;

    .column-content {
      padding: 50px 40px;

      @media screen and (max-width: 87.9375em) {
        padding: 50px 0;
      }

      h2 {
        font-size: 36px;
        line-height: 54px;
        font-weight: 700;
      }

      h4 {
        font-size: 24px;
        font-weight: 500;
        line-height: 30px;
      }

      .large-description {
        font-size: 20px;
      }

      .action-button {
        width: 100%;
      }
    }

    .phase-enrichment-holder {
      margin-top: rem-calc(50);
      position: relative;
      text-align: center;
      width: 100%;

      .phase-enrichment {
        margin: 0 auto;
        position: relative;
      }
    }
  }
}


@media screen and (max-width: 87.9375em) {
  .welcome-columns .welcome-column {
    flex-grow: 0;
    flex-basis: 100%;
  }
}

.landings {

  >div {
    padding: 3rem 0;
  }

  h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.25;
  }

  h3 {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.25;
  }

  p {
    font-size: 24px;
    line-height: 1.25;
  }
}

.callout {
  z-index: 1000;
  border-radius: 0;
}

.bgblack {
  background-color: $black;
}
/* hover style just for information */
span:hover::before {
  border: 2px solid #3c3583 !important;
}

.home-page {
  main {
    background-color: #f2f2f2;
  }
}

.arrow-down {
  position: absolute;
  right: 3.5rem;
  bottom: 30px;
  height: 6rem;
  transform: translateY(50%);
}

.show-mobile {
  @include breakpoint(medium up) {
    display: none;
  }
}

.show-pc {
  display: none;

  @include breakpoint(medium up) {
    display: block;
  }
}



// **************** PREDLOGI ********************
#budget-investments-main {
  .expanded {
    margin: 40px 0 20px;
  }
}

.budget-investments {
  .phase-title {
    margin: rem-calc(30) 0 rem-calc(20);
  }

  .budget-investment-holder {
    display: flex;

    .budget-investment {
      display: flex;
      flex-grow: 1;
      border: 2px solid $grey-background;
      border-bottom: 3px solid $grey-background;

      a {
        display: flex;
        height: 100%;
        flex-direction: column;
        text-decoration: none;
      }

      .panel {
        width: 100%;
        padding: 0;
        border: 0;
        box-shadow: none;

        >div {
          height: 100%;
        }
      }

      .image-holder {
        text-align: center;
  
        img {
          height: auto;
          width: 100%;
          max-height: 180px;
          min-height: 180px;
          object-fit: cover;
          display: block;
        }
  
        .investment-default-image {
          background-color: $theme-color-opacity-90;
  
          img {
            object-fit: none;
          }
        }
      }

      &:hover {
        border: 2px solid $theme-color;
        border-bottom: 3px solid $theme-color;
        
        a {
          color: $black;
        }

        .image-holder {
          .investment-default-image {
            background-color: $theme-color-opacity-80;
          }
        }
      }
    }

    .callout {
      &.warning {
        z-index: auto;
      }
    }
  }

  .investment-content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .budget-investment-content {
    min-height: unset;
    padding: rem-calc(15);
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .investment-project-text {
      flex-grow: 1;
    }

    a {
      color: $rhino;
    }

    .investment-project-info {
      font-size: $tiny-font-size;
      margin-bottom: 4px;
    }

    .investment-project-description {
      height: unset;
    }

    .tags {
      margin-bottom: 0;

      a {
        margin-bottom: 0;
      }
    }

    .total-supports {
      margin-right: 40px;
      color: $text;
    }
  }

  .no-budget-investment {
    margin-bottom: 3rem;

    img {
      margin-top: 2rem;  
    }

    p {
      margin-top: rem-calc(30);
      font-size: 24px;
      line-height: 34px;
      font-weight: 400;

      a {
        font-weight: bold;
      }
    }

  }
}

// Background

.bggray {
  background-color: #f2f2f2;
}

.budget-investment .supports {
  padding-top: 1.5rem;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.budget-investment-show {
  .bggray {
    padding: 1rem;

    @media screen and (min-width: 52em) {
      padding: 3rem 0;
    }
  }

  .social-box {
    // background: #fff !important;
    // padding: 2rem 0;

    h5 {
      font-weight: 500;
      color: $black;
      margin-right: 20px;
      margin-bottom: 0.5rem;
    }

    .social-share-full {
      margin: 0;

      a {
        margin: 0 10px 0 0;
      }
    }

    .social-box-row {
      >div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
      }
    }

    @media screen and (min-width: 52em) {
      .social-share-full {
        margin: 0 60px 0 0;
      }

      .social-box-row {
        display: flex;
        align-items: center;
        justify-content: center;

        >div {
          display: flex;
          flex-direction: row;
          align-items: center;

          &:last-child {
            flex-direction: column;
            input {
              width: 400px;
            }
          }
        }
      }
    }

    .copylink {
      white-space: nowrap;
    }

    .shortner {
      // width: 187px;
      border-radius: 4px;
      border: 2px solid #e1e1e1;
      background-color: $white;
      margin-bottom: 0;
      cursor: pointer;
      color: $black;
      font-size: 18px;
      font-weight: 400;
      line-height: 40px;
      text-align: center;

      &:hover {
        border-color: $black;
      }
    }

    .social-share-button .ssb-icon {
      background-color: $black;
      color: $white;
      position: relative;
      transition: all 0.4s ease-in-out;
      border: 2px solid $black;
      border-radius: 76px;
      padding: 38px;

      &:hover {
        background-color: transparent;
        color: $black;
        transition: all 0.4s ease-in-out;
      }
    }

    .social-share-button {
      .ssb-icon::before {
        font-size: 2.5rem;
        left: 40%;
        top: 14px;
        margin-left: rem-calc(-11);
        position: absolute;
      }
    }

    .social-share-button .ssb-twitter::before {
      background-image: image-url("twitter.svg");
      left: 30px;
      top: 18px;
      content: " ";
      background-size: 38px 38px;
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
    }

    .social-share-button .ssb-facebook::before {
      background-image: image-url("facebook.svg");
      left: 30px;
      top: 18px;
      content: " ";
      background-size: 38px 38px;
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
    }

    .social-share-button .ssb-email::before {
      background-image: image-url("envelope.svg");
      left: 30px;
      top: 18px;
      content: " ";
      background-size: 38px 38px;
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
    }
  }
}

.investment-price {

  h4 span {
    color: #222222;
    font-weight: 600;
  }

  .investment-price-explanation {
    margin-bottom: 0;
  }
}

.custombackbutton {
  position: relative;
  margin: auto;
  text-align: center;
  margin-top: 10px;

  .arrow-large-left {
    background-image: image-url("arrow.svg");
    background-position: center;
    background-size: 25px 22px;
    width: 23px;
    height: 30px;
    transform: rotate(180deg);
    top: -1.5px;
    position: relative;
  }

  a {
    text-decoration: underline;
    line-height: 30px;
  }
}

.budget-investment-show {
  padding-top: 2rem;

  h1 {
    margin-bottom: 1rem;
    line-height: 1.25;
  }

  h2 {
    margin-bottom: 1.5rem;
    font-weight: 700;
    text-align: center;
  }

  p {
    // font-size: $large-font-size;
    margin-bottom: 30px;
  }

  hr {
    margin: 30px 0;
  }

  figcaption {
    font-size: $small-font-size;
  }

  .map {
    pointer-events: none;
  }

  .tags {
    margin-left: rem-calc(10);
  }

  .image-preview {
    float: none;
    margin-bottom: 1.5rem;

    figure {
      position: relative;

      &:hover {
        .new-tab-icon-wrapper {
          border-color: $black;
        }
      }
    }

    img {
      width: 100%;
      object-fit: contain;
    }

    @media screen and (min-width: 40em) {
      img {
        height: 400px;
      }
    }
  }

  .budget-investment-info {
    margin: 1.5rem 0;

    .info-row {
      margin-bottom: 2rem;

      .info {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
      }

      .tags {
        margin-left: 0;

        a {
          margin-bottom: 0;
        }
      }
    }

    @media screen and (min-width: 40em) {
      display: flex;
      justify-content: space-between;

      .info-row {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        .info {
          margin-bottom: 0;
        }
        .tags {
          margin-left: 1.5rem;
        }
      }
    }
  }

  // .social-box {
  //   .column {
  //     .column-content {
  //       background-color: $alabaster;
  //       border-radius: 10px;
  //       padding: rem-calc(20) 0;
  //       text-align: center;
  //     }
  //   }
  // }
}

.qs {
  display: block;
}

@media screen and (min-width: 40em) {
  .qs {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.remove.supported .delete.small.expanded {
  box-shadow: 0 0 8px rgba(50, 54, 106, 0.25);
  border-radius: 18px;
  background-image: linear-gradient(80deg, #272266 0%, #6660b2 51%, #494395 100%) !important;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  padding: 0 20px;
  margin: 0;
  border: 0;
  width: auto;
  display: inline-block;
  text-decoration: none;

  transition-property: width, height, background-position, color, border-radius, border-color, box-shadow;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;

  &:hover {
    background-position: 100% 0;
    transition-property: width, height, background-position, color, border-radius, border-color box-shadow;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
  }

  //transition: all 0.25s ease;
  &:active {
    //letter-spacing: 2px;
  }

  &::after {
    content: "";
  }


  &.onclic {
    width: 40px !important;
    border: 3px solid #272266 !important;
    border-radius: 30px !important;
    font-size: 0 !important;
    border-left-color: $mandys-pink !important;
    animation: rotating 2s 0.25s linear infinite;
    background: none !important;
    box-shadow: none !important;

    &::after {
      content: "";
    }

    &:hover {
      color: $mandys-pink !important;
      background: #fff !important;
    }
  }

  &.validate {
    font-size: 13px;
    color: #fff;
    background: #272266;

    &::after {
      font-family: "FontAwesome";
      content: "\f00c";
    }
  }
}

.add.in-favor .button.button-support.small.expanded {
  box-shadow: 0 0 8px rgba(50, 54, 106, 0.25);
  border-radius: 18px;
  color: #272266;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  padding: 0 20px;
  margin: 0;
  border: 0;
  width: auto;
  display: inline-block;
  background-image: linear-gradient(to right, $mandys-pink, #f2d6d0, #fcede9);
  background-color: #f2d6d0;

  transition-property: width, height, background-position, color, border-radius, border-color, box-shadow;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;

  i {
    background: image-url("best.png") center no-repeat;
    display: inline-block;
    left: -10px;
    width: 16px;
    height: 19px;
    top: 0;
    position: relative;
    background-size: 100%;
  }

  &:hover {
    background-position: 100% 0;
    transition-property: width, height, background-position, color, border-radius, border-color box-shadow;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
  }


  //transition: all 0.25s ease;
  &::after {
    content: "";
  }

  &.onclic {
    width: 40px !important;
    border: 3px solid #272266 !important;
    border-radius: 30px !important;
    font-size: 0 !important;
    border-left-color: $mandys-pink !important;
    animation: rotating 2s 0.25s linear infinite;
    background: none !important;
    box-shadow: none !important;

    i {
      display: none;
    }

    &::after {
      content: "";
    }

    &:hover {
      color: $mandys-pink !important;
      background: #fff !important;
    }
  }

  &.validate {
    font-size: 13px;
    color: #fff;
    background: #272266;

    &::after {
      font-family: "FontAwesome";
      content: "\f00c";
    }
  }
}

.border-tb {
  border-top: 2px solid #3c3583;
  padding-top: 10px;
  margin: 0 0.9375rem 0.9375rem;
}

.budget-investment-holder .budget-investment .budget-investment-content .investment-title h3 {
  height: auto;
}

// my account page
.account {
  background-color: #f2f2f2;
  padding: 3rem 0;

  h1 {
    font-size: 44px;
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  label {
    font-size: 0.9rem;
    line-height: 1.25rem;
    margin-bottom: 6px;
  }

  hr {
    border-bottom: 1px solid $black;
  }

  .already-verified {
    font-size: 18px;
    font-weight: 700;
    color: $black;
  }

  .icon-check {
    color: #46db91;
  }

  .delete {
    margin-top: 0.5rem;
    display: inline-block;
    line-height: 1.5;
  }

  @media (max-width: 575.98px) {
    .user-permissions {
      h2 {
        margin-top: 24px;
      }
    }
  }
}

// about page 
.about {
  padding-bottom: 3rem;

  .intro {
    color: $black;
    font-size: 1.5625rem;
    line-height: 2.1875rem;
    font-weight: 500;
    padding-top: 15px;
  }

  h1 {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  h3 {
    color: $theme-color;
    font-size: 1.875rem;
    font-weight: 800;
    margin-bottom: 0.9375rem;
    letter-spacing: 0.375rem;
    display: block;

    .datum {
      color: $black;
      font-size: 1rem;
      font-weight: 600;
      border-radius: 30px;
      display: inline-block;
      padding: 2px 16px;
      letter-spacing: initial;
      white-space: nowrap;
      border: 2px solid $black;
      margin-top: 1rem;
    }
  }

  p {
    font-size: 1.25rem;
    line-height: 1.5625rem;
    font-weight: 500;
  }

  .nbr5 {
    color: $theme-color;
    opacity: 0.2;
    font-size: 14rem;
    font-weight: 900;
    line-height: 10rem;
  }
}

// help page
.help {
  .padded {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  h1 {
    margin-bottom: 3rem;
  }

  .brderundr {
    border-bottom: 1px solid $theme-color;
    padding: 0 15px 0 0;
    margin: 0;
    position: relative;

    .title {
      color: $black;
      font-size: 24px;
      font-weight: 500;
      cursor: pointer;
      border-bottom: 0;
      margin: 1rem 0;
      padding-right: 50px;

      .custom-icon.arrow-small-right {
        width: 39px;
        height: 33px;
        float: right;
        position: absolute;
        right: 20px;
        transform: rotate(-90deg);
        // display: none;
      }
    }

    &.accordion-collapsed {
      p {
        display: none;
      }

      .title .custom-icon.arrow-small-right {
        transform: rotate(0);
        // display: inline-block;
      }
    }
  }

  .technical-issues {
    padding: 1.5rem;
    margin-bottom: 2rem;
    border: 1px solid $theme-color;
    display: flex;
    flex-direction: column;
    min-height: 10rem;

    h3 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 0;
    }

    a {
      display: inline;
      padding: 0;
      font-weight: 500;
      text-decoration: underline;
    }
  }
}

.privacy {
  background-color: #f2f2f2;
  padding-top: 80px;
  padding-bottom: 80px;

  h3:not(:first-of-type) {
    margin-top: 60px;
  }
}
