.recommendations {
  h6 {
    display: inline;
  }
}

.budget-investment {
  .proposal-description,
  .investment-project-description,
  .budget-investment-description {
    font-size: 14px;
    line-height: 1.25;
    margin-bottom: 10px;
    margin-top: 0;
  }
}