.recommendations {
  h6 {
    display: inline;
  }
}

.budget-investment {
  .proposal-description,
  .investment-project-description,
  .budget-investment-description {
    font-size: 14px;
    line-height: 1.25;
    margin-bottom: 10px;
    margin-top: 0;
  }
}

.progress-bar-nav {
  // position: relative;
  z-index: 10;

  @include breakpoint(medium) {
    // transition: height 0.3s;

    &.is-fixed {
      // background: $body-background;
      // border-bottom: 2px solid $border;
      // height: auto;
      // left: 0;
      // padding: $line-height;
      // padding-bottom: $line-height / 2;
      // position: fixed;
      // top: 0;
      // width: 100%;

      h2 {
        // font-size: rem-calc(24);
        // transition: font-size 0.3s;
      }
    }
  }

  h2 {
    // transition: font-size 0.3s;

    // @include breakpoint(small only) {
    //   margin: $line-height 0;
    // }
  }
}

.progress-votes {
  .total-amount {
    margin-top: 15px;
  }
}

.supports.ballot {
  display: flex;
  justify-content: center;

  .button {
    margin: 0;
    padding: 12px 16px 14px;
    // font-size: 16px;
  }
}

.investment-ballots {

  .supports {
    padding: 0 20px;
  }

  .remove.supported {
    margin: 0;
  }
}