// If you're using multitenancy, you can override styles for a certain
// tenant by styling the `<html>` element with the class
// `tenant-<tenant_name>`. For example, to style the public (main)
// tenant without these styles affecting any other tenants, use the
// `.tenant-public` selector.
//
// You can use CSS variables to customize the colors. Here's an example
// changing the brand, buttons, links and main layout colors for just
// the main tenant.
//
// .tenant-public {
//   --anchor-color: #372;
//   --anchor-color-hover: #137;
//   --brand: #153;
//   --brand-secondary: #134a00;
//   --button-background-hover: #fa0;
//   --button-background-hover-contrast: #{$black};
//   --footer: #e6e6e6;
//   --main-header: #351;
//   --top-links: var(--main-header);
//   --subnavigation: #ffd;
// }
//
// Some colors default to another color, so you don't have to change
// both colors if you'd like them to be the same. For instance, the
// `--main-header` and `--anchor-color` colors will use the `--brand`
// color if `--main-header` or `--anchor-color` are not defined, while
// the `--top-links` color will use the `--brand-secondary` color if
// `--top-links` is not defined.
//
// If, for instance, you're using a light color for the main header when
// the default color is a dark one, you should also change the text
// color. You can do that with a variable ending in `-contrast`, like:
//
// .tenant-public {
//   --main-header: #{$white};
//   --main-header-contrast: #{$black};
// }
//
// NOTE: If you are **not** using mulitenancy, we recommend overwriting
// SCSS variables in the `_consul_custom_overrides.scss` file instead
.site-dev {
  --anchor-color: #372;
  --anchor-color-hover: #137;
  --brand: #153;
  --brand-secondary: #134a00;
  --button-background-hover: #fa0;
  --button-background-hover-contrast: #{$black};
  --footer: #e6e6e6;
  --main-header: #351;
  --top-links: var(--main-header);
  --subnavigation: #ffd;
}

.site-dev2 {
  --brand: #FF3366;
  --main-header: #EC407A;
  --footer: #FCE4EC;
  --top-links: var(--footer); 
  --top-links-contrast: var({$black});
  --subnavigation: #FF3366;
  --sidebar-hover: #FF3366;
  --sidebar: #FF3366;
}

.site-jdev {
  --brand: #a783e6;
  --main-header: var(--brand);
  --brand-secondary: #e624ae;
  --top-links: var(--brand-secondary) ;
  --footer: var(--top-links);
  .admin-sidebar {
    background: linear-gradient(to bottom, var(--brand-secondary) 0%, var(--brand) 100%);
  }

}

.site-glasgow {
  --brand:     #2f7276;
  --brand-secondary: #83a8ab;
  --footer: var(--brand-secondary);
  --callout: var(--brand-secondary);
  .admin-sidebar {
    background: linear-gradient(to bottom, var(--brand-secondary) 0%, var(--brand) 100%);
  }
}

.site-eastlothian {
  --brand:     #005293;
  --brand-secondary: #002F59;
  --footer: #CEDBEA;
  --callout: var(--brand-secondary);
  .admin-sidebar {
    background: linear-gradient(to bottom, var(--brand-secondary) 0%, var(--brand)100%);
  }
}

.site-northayrshire {
  --brand:     #0065BD;
  --brand-secondary: #0057A4;
  --footer: #D0E0F4;
  --callout: var(--brand-secondary);
  .admin-sidebar {
    background: linear-gradient(to bottom, var(--brand-secondary) 0%, var(--brand)100%);
  }
}