<div data-alert class="callout alert">
  <% if @document_verification.errors[:age].any? %>
    <%= t("management.document_verifications.under_age") %>
  <% else %>
    <%= t("management.document_verifications.not_in_census") %>
  <% end %>
</div>

<%= render "management/user_permissions",
      message: t("management.document_verifications.not_in_census_info"),
      permissions: [:debates, :proposal] %>

<p>
  <%= sanitize(t("management.document_verifications.has_no_account",
      link: link_to(t("management.document_verifications.link"), root_path, target: "_blank"))) %>
</p>
