<%= render 'management/account_info.html', verification: @document_verification %>

<div class="alert-box alert radius">
  <%= t("management.users.census_error") %>
</div>

<%= render 'management/user_permissions',
      message: t("management.users.census_error_info"),
      permissions: [:debates, :proposal] %>

<p>
  <%= t("management.users.has_not_account_html",
      url: link_to(t("management.users.portal_url"), t("management.users.portal_url"),
      target: "_blank")).html_safe %>
</p>
