<div class="alert-box alert radius">
  <% if @document_verification.errors[:age].any? %>
    <%= t("management.document_verifications.under_age") %>
  <% else %>
    <%= t("management.document_verifications.not_in_census") %>
  <% end %>
</div>

<%= render 'management/user_permissions',
      message: t("management.document_verifications.not_in_census_info"),
      permissions: [:debates, :create_proposals] %>
