<div class="alert-box alert radius">
  <% if @document_verification.errors[:age].any? %>
    <%= t("management.document_verifications.under_age") %>
  <% else %>
    <%= t("management.document_verifications.not_in_census") %>
  <% end %>
</div>

<%= render 'management/user_permissions',
      message: t("management.document_verifications.not_in_census_info"),
      permissions: [:debates, :create_proposals] %>

<p>
  <%= t("management.document_verifications.has_no_account_html",
      link: link_to('http://decide.madrid.es', 'http://decide.madrid.es'),
      target: "_blank") %>
</p>
