<div data-alert class="callout success">
  <%= t("management.document_verifications.already_verified") %>
</div>

<%= render "management/user_permissions",
      message: t("management.document_verifications.in_census_has_following_permissions"),
      user: @document_verification.user %>

<a href="javascript:window.print();" class="button warning"><%= t("management.print_info") %></a>
