<% if !user.residence_verified? %>
  <%= render partial: 'failed_census_call', collection: user.failed_census_calls %>
<% elsif !user.verification_sms_sent? %>
  <div><%= t("admin.verifications.index.phone_not_given") %></div>
<% elsif !user.sms_verified? %>
  <div><%= user.unconfirmed_phone %></div>
  <div><%= t("admin.verifications.index.sms_code_not_confirmed") %></div>
<% end %>