<%= back_link_to admin_budget_groups_path(@budget), t("admin.budget_headings.index.back") %>

<div class="clear"></div>
<h2 class="inline-block"><%= "#{@budget.name} / #{@group.name}" %></h2>
<%= link_to t("admin.budget_headings.form.create"),
            new_admin_budget_group_heading_path,
            class: "button float-right" %>

<%= render "headings" %>
