<div class="row">
  <ul>
    <% @notifications.each do |notification| %>
    <li>
      <time><%= l notification.timestamp, format: :datetime %></time>&nbsp;&bull;&nbsp;
      <%= notification.username %> <%= notification_text_for(notification) %>
      <%= link_to notification.notifiable.commentable.title, notification.notifiable.commentable %>
    </li>
    <% end %>
  </ul>
</div>
