#header{
  .header{
    padding-top: rem-calc(30px);
  }

  .top-menu{
    border-bottom: 1px solid #f2f3f3;
    line-height: rem-calc(45px);
  }

  .barcelona-link a, .barcelona-switcher a{
    color: $text;
    font-size: rem-calc(20px);
    font-weight: bold;
    text-decoration: none;
  }

  .barcelona-switcher{
    text-align: right;
  }

  .locale-switcher{
    text-align: center;
    color: $text-medium;

    .locale-switcher-label{
      font-weight: bold;
    }
  }

  .header-wrapper{
    position: relative;
  }
}
