.header.wide{
  min-height: rem-calc(435);

  .title-expanded{
    font-size: $base-font-size;

    margin-top: rem-calc(25);
    a{
      display: inline-block;
    }

    .pam, .pla-barcelona, .decidim-barcelona{
      display: block;
      float: left;
      clear: both;
      text-decoration: none;
      @include arrow-box();
      font-size: rem-calc(28);
      margin-bottom: rem-calc(8);
      line-height: 1em;
      padding-right: rem-calc(30);

      padding-top: rem-calc(10);
      padding-bottom: rem-calc(10);
    }

    .decidim-barcelona{
      @include arrow-box($text, left, 0.8);
      font-size: 0;
      span{
        font-size: rem-calc(15);
        line-height: 1em;
      }

      padding-top: rem-calc(8);
      padding-bottom: rem-calc(8);
    }
  }

  .header-motto{
    position: absolute;
    right: rem-calc(50);
    top: rem-calc(145);

    .header-text{
      margin-bottom: rem-calc(15);
    }

    .header-text, .header-link{
      float: right;
      clear: both;
      display: block;
      @include arrow-box($background, right);
      max-width: rem-calc(450);

      font-size: rem-calc(22);
      line-height: 1.1em;
    }
  }
}

.home-content{
  min-height: 100vh;
}
