<section class="section pb-6 pt-3 bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-center flex-wrap">
        <div class="me-auto">
          <%= back_link_to commentable_path(@comment), t("comments.show.return_to_commentable") + @comment.commentable.title unless @commentable.class == Poll %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section py-3 py-md-6">
  <div class="container-xxl">
    <div class="row mt-n6 mt-md-n7 justify-content-center">
      <div class="col-12 col-md-8">
        <div class="card shadow p-2 p-md-4">

        <%= render @comment %>

      </div>
    </div>
  </div>
  </div>
</section>
