<% I18n.available_locales.each do |locale| %>
  <span>
    <%= link_to name_for_locale(locale), "#",
                style: css_to_display_translation?(@milestone, locale),
                class: "js-globalize-locale-link",
                data: { locale: locale },
                remote: true %>
    <%= link_to t("admin.milestones.form.remove_language"), "#",
                id: "delete-#{locale}",
                style: show_delete?(locale),
                class: 'float-right delete-language',
                data: { locale: locale } %>
  </span>
<% end %>

<%= select_tag :translation_locale,
               options_for_locale_select,
               prompt: t("admin.milestones.form.add_language"),
               class: "js-globalize-locale" %>
