<div class="row">
  <div class="small-12 column">
    <%= back_link_to admin_geozones_path, t("admin.geozones.edit.back") %>

    <h1><%= t("admin.geozones.edit.editing") %></h1>

    <%= render "form" %>
  </div>
</div>
