<div class="geozone-new row">
  <div class="small-12 column">
    <%= back_link_to admin_geozones_path, t("admin.geozones.new.back") %>

    <h1><%= t("admin.geozones.new.creating") %></h1>

    <%= render "form" %>
  </div>
</div>
