.banner {
  @include full-width-background;
  @include card;
  padding: 0 rem-calc(16);

  .debates-list &::before,
  .proposals-list &::before,
  .admin &::before {
    content: none;
  }

  &:hover {
    text-decoration: underline;
  }

  a {
    &,
    &:hover {
      color: inherit;
    }
  }

  > :empty {
    display: none;
  }

  + .budget-header,
  + .budgets-index > .budget-header,
  + .jumbo {
    margin-top: 0;
  }
}
