.basic-info {
  color: $text-medium;
  font-size: $small-font-size;
  margin: rem-calc(6) 0 0;

  .icon-comments {
    font-size: rem-calc(16);
    vertical-align: top;
  }

  a {
    color: $text-medium;
  }

  > * + * {
    margin-#{$global-left}: 1em;
    position: relative;

    &::after {
      @include circle-separator;
      background: currentcolor;
      #{$global-left}: -1em;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
