.detailed-info {
  @include circle-separators($position: "after");
  clear: both;
  color: $text-medium;
  font-size: $small-font-size;
  margin-bottom: calc($line-height / 2);
  position: relative;

  span:not(.label) {
    line-height: rem-calc(32); // Same as avatar height
  }

  a {
    color: $text-medium;
  }

  p {
    font-size: $small-font-size;
    line-height: $line-height;
    margin: 0;
  }
}
