.view-mode {

  ul {
    margin-bottom: 0;

    li {
      padding: calc($line-height / 4) 0;
      padding-left: $line-height;
    }
  }

  .dropdown-pane {
    width: auto;
  }

  .button {
    background: #eee;
    height: rem-calc(36);
    margin-bottom: 0;
    padding: calc($line-height / 4);
    width: rem-calc(36);

    &::before {
      color: color-pick-contrast(#eee);
      font-family: "icons";
    }
  }

  &.default {

    .button {

      &::before {
        content: "\51";
      }
    }
  }

  &.minimal {

    .button {

      &::before {
        content: "\22";
      }
    }
  }

  .view-list {
    position: relative;

    &::before {
      content: "\22";
      font-family: "icons";
      left: 0;
      position: absolute;
      top: 6px;
    }
  }

  .view-card {
    position: relative;

    &::before {
      content: "\51";
      font-family: "icons";
      left: 0;
      position: absolute;
      top: 6px;
    }
  }

  .is-active {
    @include brand-color;

    &::after {
      content: "\6c";
      font-family: "icons";
      font-size: $tiny-font-size;
    }
  }
}
