<div class="resource-card">
  <h4><%= t("dashboard.menu.#{resource}") %></h4>
  <p class="resource-description"><%= resource_description %></p>

  <%= link_to t("dashboard.resource.view_resource"), resource_path, class: "button" %>
</div>
