<tr id="budget_investment_<%= budget_investment.id %>">
  <td>
    <%= link_to budget_investment.title, budget_investment_path(budget_investment.budget, budget_investment) %>
  </td>
  <td>
    <% if can? :destroy, budget_investment %>
      <%= link_to t('shared.delete'), budget_investment_path(budget_investment.budget, budget_investment),
                  method: :delete, class: "button hollow alert expanded" %>
    <% end %>
  </td>
</tr>
