<tr id="budget_investment_<%= budget_investment.id %>">
  <td>
    <%= link_to budget_investment.title, budget_investment_path(budget_investment.budget, budget_investment) %>
  </td>
  <td>
    <%= render Users::BudgetInvestmentTableActionsComponent.new(budget_investment) %>
  </td>
</tr>
