<table id="budget_investments_list" class="margin-top">
  <thead>
    <th scope="col"><%= t("users.show.budget_investments") %></th>
    <th scope="col"><%= t("users.show.actions") %></th>
  </thead>
  <tbody>
    <% @budget_investments.each do |budget_investment| %>
      <%= render "budget_investment", budget_investment: budget_investment %>
    <% end %>
  </tbody>
</table>

<%= paginate @budget_investments %>
