<table class="clear activity-debates">
  <% @debates.each do |debate| %>
    <tr id="debate_<%= debate.id %>">
      <td>
        <%= link_to debate.title, debate %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @debates %>