<ul class="accordion" data-accordion data-allow-all-closed="true">

  <% @followable_types.each do |followable_type| %>

    <li class="accordion-item" data-accordion-item>

      <a href="#" class="accordion-title">
        <span class="icon">
          <i class="icon icon-<%= entity_icon(followable_type) %>"></i>
        </span>
        <span class="title">
          <strong><%= entity_title(followable_type) %></strong>
        </span>
      </a>

      <div class="accordion-content" data-tab-content>
        <table>
          <tbody>
            <% @follows.where(followable_type: followable_type).each do |follow| %>
              <%= render entity_partial(followable_type),
                         entity_partial(followable_type).to_sym => follow.followable %>
            <% end %>
          </tbody>
        </table>
      </div>

    </li>

  <% end %>

</ul>
