<div id="public_interests" class="public-interests">
  <h4><%= interests_title_text(user) %></h4>

  <% if user.interests.any? %>

    <% user.interests.in_groups_of(10, false) do |interests_group| %>
      <div class="small-4 column end">
        <ul class="no-bullet">
          <% interests_group.each do |interest| %>
            <li> <small><%= interest %></small> </li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <% else %>

    <div class="callout primary">
      <%= empty_interests_message_text(user) %>
    </div>

  <% end %>

</div>