<% if @participants_project %>
  <table class="margin-top">
    <thead>
      <tr>
        <th scope="col">Proyectos</th>
      </tr>
    </thead>
    <tbody>
      <% @participants_project.each do |project| %>
        <tr id="project_<%= project.id %>">
          <td>
            <%= link_to project.title, project %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>