<table class="clear activity-proposals">
  <% @spending_proposals.each do |spending_proposal| %>
    <tr id="spending_proposal_<%= spending_proposal.id %>">
      <td>
        <%= link_to spending_proposal.title, spending_proposal %>
        <br>
        <%= spending_proposal.description %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @spending_proposals %>