<table id="spending_proposals_list" class="clear activity-proposals">
  <% @spending_proposals.each do |spending_proposal| %>
    <tr id="spending_proposal_<%= spending_proposal.id %>">
      <td>
        <%= link_to spending_proposal.title, spending_proposal %>

        <% if current_user && current_user.id == spending_proposal.author_id %>
          <%= link_to t("users.show.delete_spending_proposal"),
                      spending_proposal,
                      method: :delete,
                      data: { confirm: t("users.show.confirm_deletion_spending_proposal") },
                      class: 'button small warning' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @spending_proposals %>