<table id="spending_proposals_list" class="clear activity-spending-proposals">
  <% @spending_proposals.each do |spending_proposal| %>
    <tr id="spending_proposal_<%= spending_proposal.id %>">
      <td>
        <%= link_to spending_proposal.title, spending_proposal_path(spending_proposal) %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @spending_proposals %>
