<div class="main-indented-content">
  <div class="row">
    <div class="column">
      <div class="footer-logos">
        <div>
          <div>
            <a href="https://maribor.si/" target="_blank">
              <%= image_tag(image_path_for("municipalities/mom.png")) %>
            </a>
          </div>
          <div>
            <a href="https://www.fundacija-prizma.si/" target="_blank">
              <%= image_tag(image_path_for("municipalities/prizma.png")) %>
            </a>
          </div>
        </div>
        <div class="logo-right">
          <span><%= t("custom.footer.djnd") %></span>
          <a href="https://danesjenovdan.si/" target="_blank">
            <%= image_tag(image_path_for("logo-djnd.png")) %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
