<div class="main-indented-content">
  <div class="row">
    <div class="column">
      <div class="footer-logos">
          <div>
            <p>Ta platforma temelji na odprtokodnem orodju <a href="https://consuldemocracy.org/" target="_blank">Consul Democracy</a>. Vsa koda je prosto dostopna in je na voljo na <a href="https://github.com/danesjenovdan/consul" target="_blank">Github repozitoriju</a>.</p>
          </div>
          <div>
            <p>Slovensko verzijo je pripravil in zanjo skrbi <br/><a href="https://danesjenovdan.si/" target="_blank">Danes je nov dan, Inštitut za druga vprašanja</a>.</p>
          </div>
          <div class="logo-right">
            <a href="https://maribor.si/" target="_blank">
              <%= image_tag(image_path_for("municipalities/mom.png")) %>
            </a>
            <p>Participativni proračun <br/><a href="https://maribor.si/" target="_blank">Mestne občine Maribor</a></p>
          </div>
      </div>
    </div>
  </div>
</div>