<!-- banner with logos and DJND logo -->

<div class="main-indented-content">
  <div class="row">
    <div class="column">
      <div class="footer-financer-logo">
        <div>
          <a href="/" target="_blank">
            <%= image_tag(image_path_for("municipalities/logo_med_PNG.png")) %>
          </a>
        </div>
        <p>
          Projekt je sofinanciran s sredstvi Evropske unije iz <br />Evropskega sklada za regionalni razvoj.
        </p>
      </div>
      <hr />
    </div>
  </div>
</div>