<% if user_signed_in? %>
  <ul class="menu no-bullet">
    <li id="notifications">
      <%= link_to notifications_path, rel: "nofollow",
                  class: "notifications" do %>
        <span class="show-for-sr">
          <%= t("layouts.header.notification_item.notifications") %>
        </span>

        <% if current_user.notifications.unread.count > 0 %>
          <span class="icon-circle" aria-hidden="true"></span>
          <span class="icon-notification" aria-hidden="true">
          </span>
        <% else %>
          <span class="icon-no-notification" aria-hidden="true">
          </span>
        <% end %>
      <% end %>
    </li>
  </ul>
<% end %>
