<div id="<%= dom_id(question) %>" class="poll-question">
  <h3>
    <%# link_to question.title, question_path(question) %>
    <%= t("pages.cartel_magdalena_2018.carteles_seleccionados") %>
  </h3>

  <div id="<%= dom_id(question) %>_answers" class="padding">
    <%= render 'pages/concurso_cartel_magdalena/questions/answers', question: question %>
  </div>
</div>
