<% if current_user %>
  <% if current_user.administrator? %>
    <li>
      <%= link_to t("layouts.header.administration"), admin_root_path %>
    </li>
  <% end %>

  <% if current_user.administrator? || current_user.moderator? %>
    <li>
      <%= link_to t("layouts.header.moderation"), moderation_root_path %>
    </li>
  <% end %>

  <% if (feature?(:spending_proposals) || feature?(:budgets)) &&
        (current_user.administrator? || current_user.valuator?) %>
    <li>
      <%= link_to t("layouts.header.valuation"), valuation_root_path %>
    </li>
  <% end %>

  <% if current_user.administrator? || current_user.manager? %>
    <li>
      <%= link_to t("layouts.header.management"), management_sign_in_path %>
    </li>
  <% end %>
<% end %>
