<% banner ||= @banners.sample %>
<div class="banner" style="background-color:<%= banner.background_color %>;">
  <div class="banner__container">
    <%= sanitize banner_target_link(banner), attributes: %w[href style] %>
  </div>
</div>
