<div class="jumbo-counter banner">
  <%= link_to participatory_budget_path do %>
    <div class="row">
      <div class="small-12 medium-6 column">
        <h2><%= t("shared.counter.budget_text_html") %></h2>
        <h3><%= t("shared.counter.budget_title") %></h3>
      </div>
      <div class="small-12 medium-6 column">
        <%= render "shared/budget_counter" %>
      </div>
    </div>
  <% end %>
</div>
