<div class="row featured-open-plenary clear margin-bottom">
  <%= link_to page_path('processes_open_plenary') do %>
    <h2><%= t('welcome.featured.open_plenary.title') %></h2>
    <p><%= t('welcome.featured.open_plenary.text') %></p>
  <% end %>
</div>
