<div class="row featured-process clear margin-bottom">
  <%= link_to plaza_path do %>
    <h2>Remodelación de Plaza de España</h2>
    <h3>Ya están disponibles los resultados de la encuesta</h3>
  <% end %>
</div>
