<div class="row featured-process clear margin-bottom">
  <%= link_to "/processes_plaza_espana" do %>
    <h2>Remodelación de Plaza de España</h2>
    <h3>Decide cómo debe ser la nueva plaza</h3>
  <% end %>
</div>
