<div class="row featured-spending-proposals clear margin-bottom">
  <%= link_to participatory_budget_path do %>
    <h2><%= t('welcome.featured.budgets.title') %></h2>
    <p><%= t('welcome.featured.budgets.text') %></p>
  <% end %>
</div>
