<div class="row featured-spending-proposals clear">
  <%= link_to spending_proposals_path do %>
    <h2><%= t('welcome.featured.spending_proposals.title') %></h2>
    <p><%= t('welcome.featured.spending_proposals.text') %></p>
  <% end %>
</div>
