<div class="locale">
  <span>
    <%= t("layouts.header.language") %>
    <form>
      <select class="js-locale-switcher" name='locale-switcher'>
        <%= available_locale_options_for_select %>
      </select>
    </form>
  </span>
</div>
