<div class="locale">
  <span class="inline-block"><%= t("layouts.header.locale") %></span>
  <form class="locale-form">
    <select class="js-locale-switcher" name="locale-switcher">
      <%= available_locale_options_for_select %>
    </select>
  </form>
</div>
