<div class="participation-not-allowed" style="display:none" aria-hidden="false">
  <%= t("users.login_to_continue",
        signin: link_to(t("users.signin"), new_user_session_path),
        signup: link_to(t("users.signup"), new_user_registration_path)
       ).html_safe %>
</div>
