<ul class="no-bullet submenu">
  <% @valid_orders.each do |order| %>
    <li class="inline-block">
      <%= link_to current_path_with_query_params(order: order, page: 1), class: order == @current_order ? 'is-active' : '' do %>
        <%= content_tag(order == @current_order ? :h2 : :span) do %>
          <%= t("#{i18n_namespace}.orders.#{order}") %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
