<div class="search-form">
  <div class="sidebar-divider"></div>
  <h3><%= t("shared.search_form.search_title") %></h3>
  <br>
  <div class="row">
    <div class="small-12 columns">
      <div class="row collapse">
        <div class="small-9 medium-12 large-9 columns">
          <input type="text" placeholder="<%= t("shared.search_form.search_placeholder") %>">
        </div>
        <div class="small-3 medium-12 large-3 columns">
          <a href="#" class="button warning postfix"><%= t("shared.search_form.search_button") %></a>
        </div>
      </div>
    </div>
  </div>
</div>
