<div class="help-header no-margin-top margin-bottom">
  <div class="row">
    <div class="small-12 column" data-magellan>
      <%= image_tag "help/help_icon_#{image}.png", alt: t("#{i18n_namespace}.icon_alt"), class: "align-top" %>
      <h1 class="inline-block"><%= t("#{i18n_namespace}.title") %></h1>
      <div class="float-right-medium">
        <%= link_to t("#{i18n_namespace}.help"), "#section_help" %>
      </div>
    </div>
  </div>
</div>
