<div class="highlight jumbo help-header">
  <div class="row">
    <div class="small-12 medium-9 column" data-magellan>
      <%= image_tag "help/help_icon_#{image}.png", alt: t("#{i18n_namespace}.icon_alt"), class: "align-top" %>
      <h1 class="inline-block"><%= t("#{i18n_namespace}.title") %></h1>
      <p>
        <%= t("#{i18n_namespace}.description") %><br>
        <%= link_to t("#{i18n_namespace}.help"), "#section_help" %>
      </p>
    </div>
  </div>
</div>
