<% description = local_assigns.fetch(:description, "") %>
<% description = truncate(ActionView::Base.full_sanitizer.sanitize(description), length: 140) %>

<% if local_assigns[:share_title].present? %>
  <div id="social-share" class="sidebar-divider"></div>
  <p class="sidebar-title"><%= share_title %></p>
<% end %>
<div class="social-share-full">
  <%= social_share_button_tag("#{title} #{setting["twitter_hashtag"]} #{setting["twitter_handle"]}",
                              url: local_assigns[:url],
                              image: local_assigns.fetch(:image_url, ""),
                              desc: description,
                              "data-twitter-title": local_assigns[:mobile],
                              "data-telegram-title": local_assigns[:mobile],
                              "data-whatsapp_app-title": local_assigns[:mobile]) %>
</div>
