<div id="tag-cloud" class="tag-cloud">
  <div class="sidebar-divider"></div>
  <h3 class="sidebar-title"><%= t("shared.tags_cloud.tags") %></h3>
  <br>

  <% @tag_cloud.tags.each do |tag| %>
    <%= link_to taggable_path(taggable, tag.name) do %>
      <span class="tag"><%= tag.name %></span>
    <% end %>
  <% end %>
</div>

