<div id="tag-cloud">
  <% tag_cloud Debate.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to sanitize("#{tag.name}(#{tag.taggings_count})"), debates_path(tag: tag.name), class: css_class %>
  <% end %>
</div>
