<ul class="no-bullet external-links">
  <% unless content_block("top_links", I18n.locale) %>
    <li>
      <%= link_to t("layouts.header.external_link_transparency"),
                  setting['transparency_url'].presence || t("layouts.header.external_link_transparency_url"),
                  target: "_blank",
                  rel: "nofollow",
                  title: t("shared.go_to_page") + t("layouts.header.external_link_transparency") + t('shared.target_blank_html') %>
    </li>
    <li>
      <%= link_to t("layouts.header.external_link_opendata"),
                  setting['opendata_url'].presence || t("layouts.header.external_link_opendata_url"),
                  target: "_blank",
                  rel: "nofollow",
                  title: t("shared.go_to_page") + t("layouts.header.external_link_opendata") + t('shared.target_blank_html') %>
    </li>

    <% if setting['blog_url'] %>
      <li>
        <%= link_to t("layouts.header.external_link_blog"),
                    setting['blog_url'],
                    target: "_blank",
                    rel: "nofollow",
                    title: t("shared.go_to_page") + t("layouts.header.external_link_blog") + t('shared.target_blank_html') %>
      </li>
    <% end %>
  <% end %>

  <%= raw content_block("top_links", I18n.locale) %>
</ul>
