<div class="item-deleted-show">
  <div id="<%= dom_id(@resource) %>" class="row">
    <div class="small-12 medium-9 column">
      <div class="callout primary">
        <%= t("shared.deleted_item",
              resource: link_to(t("#{@resource.class.to_s.downcase.pluralize}.show.#{@resource.class.to_s.downcase.pluralize}"), proposals_path, class: "probe-message"),
              home_page: link_to(t("shared.homepage"), root_path, class: "probe-message"),
              org: setting['org_name']).html_safe %>
      </div>
    <aside class="small-12 medium-3 column">

    </aside>
  </div>
</div>
