<div class="expanded header">
  <div class="row no-margin-top padding">
    <div class="small-12 medium-8 column">
      <h1>Presupuestos participativos 2017</h1>
      <div class="small-12 medium-11">
        <p class="lead">
          El 30 de junio se cerr칩 la votaci칩n final. Los <strong>proyectos ganadores</strong> se dar치n a conocer el pr칩ximo <strong>13 de julio</strong>.
        </p>
      </div>

      <div class="small-12">
        <div class="row margin-top">
          <div class="small-12 medium-6 column">
            <%= link_to "Ver proyectos de toda la ciudad",
                        "https://decide.madrid.es/presupuestos/presupuestos-participativos-2017/toda-la-ciudad/toda-la-ciudad?filter=selected",
                        class: "button expanded large city" %>
          </div>
          <div class="small-12 medium-6 column">
            <%= link_to "Ver proyectos de distritos",
                        "https://decide.madrid.es/presupuestos/presupuestos-participativos-2017/distritos?filter=selected",
                        class: "button expanded large" %>
          </div>
        </div>
      </div>
    </div>

    <div class="small-12 medium-3 column margin">
      <div class="budgets-calendar-minimal padding text-center">
        <span class="day">Resultados<br>13 julio</span>
      </div>
    </div>
  </div>
</div>
