.verify-account {
  padding-right: $line-height / 2;

  .already-verified {
    @include has-fa-icon(check, solid);
    color: $check;
    line-height: $line-height * 2;

    &::before {
      color: $text-medium;
      font-size: 1.4em;
    }
  }
}
