.verify-account {
  padding-right: $line-height / 2;

  .already-verified {
    @include has-fa-icon(check, solid);
    color: $color-success;
    margin-top: $line-height;

    &::before {
      color: $check;
      font-size: 1.4em;
    }
  }
}
