<% content_for :canonical do %>
  <%= render "shared/canonical", href: plaza_faq_url %>
<% end %>

<div class="expanded jumbo">
  <div class="row">
    <div class="small-12 column">
      <%= link_to "/processes_plaza_espana", class: "left back" do %>
        <i class="icon-angle-left left"></i>
        <%= t("pages.processes.back") %>
      <% end %>
      <h1>Dudas en el proceso participativo sobre la posible intervención en Plaza de España</h1>
    </div>
  </div>
</div>

<div class="process row margin">
  <div class="small-12 column">
    <h3>1. ¿De dónde surge la decisión de intervenir (o preguntar sobre una posible intervención) en plaza de España?</h3>
    <p>La plaza de España es uno de los espacios públicos más representativos de nuestra ciudad que ha sufrido un proceso de degradación durante los últimos años. Además, presenta problemas de accesibilidad y congestión de tráfico que recomiendan una intervención de regeneración de este ámbito que mejore las condiciones ambientales, de movilidad, especialmente peatonales, de accesibilidad, de calidad del aire, de paisaje urbano, etc.</p>
    <p>Tal y como se explicó el día 3 de diciembre en la presentación de este proceso, el resultado debe ser una propuesta que plasme soluciones técnicamente viables a las necesidades actuales del ámbito y las demandas que surjan del proceso de participación puesto en marcha por el Ayuntamiento de Madrid, tales como el requerimiento global de recuperar los valores patrimoniales y funcionales de este espacio y las condiciones de accesibilidad universal.</p>

    <h3>2. ¿De dónde surge la decisión de hacer todo el proceso en 7 meses?</h3>
    <p>Los plazos fijados para el proceso de participación y elaboración de la propuesta de intervención responden a la necesidad de disponer de un proyecto redactado y licitado en el actual ejercicio para poder completar el proyecto de ejecución durante el mandato.</p>

    <h3>3. ¿Qué fuentes de financiación actuales y futuras, está previsto aplicar en la intervención en caso de producirse esta? ¿Existe o se prevé financiación de carácter privado? ¿Por parte de qué empresas o qué tipología de inversores?</h3>
    <p>La obligación del Ayuntamiento es garantizar el buen estado de los espacios públicos. Puesto que el alcance y el nivel de la intervención en Plaza de España nos lo dará el resultado de este proceso, en este momento no existe una valoración presupuestaria al respecto.</p>
    <p>Llegado el momento, el Ayuntamiento buscará vías de financiación que permitan ejecutar el proyecto de intervención en la Plaza.</p>

    <h3>4. ¿Cuál será el coste de la operación para la ciudadanía? ¿Se endeudará el Ayuntamiento de Madrid para llevar a cabo la reforma?</h3>
    <p>Del mismo modo que en la pregunta anterior, dado que el alcance de la intervención se fijará al término de este proceso, en este momento no existe una valoración presupuestaria al respecto.</p>
    <p>Los servicios técnicos del Ayuntamiento estiman que una intervención superficial, con una calidad adecuada podría suponer un coste en torno a 200&euro; por metro cuadrado de superficie. Partiendo de este dato, una intervención de mejora superficial ceñida al ámbito de la Plaza, rondaría en torno a los 5 millones de euros, y a medida que el alcance de las actuaciones se amplíe este presupuesto se incrementará proporcionalmente.</p>
    <p>El actual Gobierno de la Ciudad de Madrid no emitirá deuda nueva para financiar esta actuación concreta, ni ninguna otra, a lo largo de este mandato.</p>

    <h3>5. ¿Está previsto que la financiación privada contemple alguna contrapartida -sea en la forma que sea, concesiones de explotación, aligeramiento de cumplimiento de cargas administrativas o fiscales, etc.?</h3>
    <p>Rotundamente no. Tal y como se indica en la respuesta a la pregunta 2, en ese marco, se valorarán opciones de colaboración público-privada sin que ello implique ningún tipo de contrapartida hacia los agentes que puedan intervenir en la financiación, más allá de la mejora del espacio público al que conduzca el desarrollo del proyecto.</p>

    <h3>6. ¿Cuántos hoteles se van a ubicar en el entorno de la Plaza?</h3>
    <p>En la actualidad en el entorno de la Plaza (en un radio aproximado de 500 metros) se encuentran activas un total de 51 instalaciones de hospedaje de las cuales 29 son hoteles, tres son apartamentos y el resto son hostales o pensiones, alcanzando una capacidad en torno a las 3.600 habitaciones. En la propia Plaza de España se localizan unos apartamentos con una capacidad de 86 habitaciones (Plaza de España, número 7).</p>
    <p>En relación a la previsión de nuevas instalaciones, la normativa urbanística permite la implantación del uso de hospedaje en el entorno señalado y en la actualidad se encuentran concedida licencia para la construcción de un hotel de 5 estrellas y 225 habitaciones en los solares situados en los números 3, 4 y 5 de la propia plaza. Igualmente es conocida la iniciativa de que el uso hotelero se instale en el edificio España. Si hay en marcha otras expectativas, a veces vertidas a través de diferentes medios de comunicación, hasta la fecha no se han plasmado en solicitudes de licencia.</p>

    <h3>7. ¿Por qué las propuestas de intervención que se presenten tienen que darse en el marco de un Concurso Internacional de Ideas?</h3>
    <p>Se acude al procedimiento de concurso de proyectos por ser, con carácter general, el que recoge el Texto Refundido de la Ley de Contratos del Sector Público y por ser el que mayor participación y competencia garantiza. La libre concurrencia en todo procedimiento implica que se puedan presentar licitadores de cualquier nacionalidad, siempre y cuando cumplan los requisitos, impidiendo que la participación se circunscriba al ámbito estatal.</p>

    <h3>8. ¿Dónde podemos encontrar un informe o diagnóstico sobre la necesidad de intervenir en la Plaza, así como las características de esa intervención?</h3>
    El día 25 de enero se finalizará un documento de Información, Análisis y Diagnóstico de la Plaza de España y su entorno elaborado en la Dirección General de Estrategia Urbana, que será puesto a disposición del grupo de trabajo a través del Área de Participación y Transparencia, y difundido en el acto de presentación del cuestionario y la encuesta ciudadana.

    <h3>9. Además de la votación online de la encuesta, ¿se podrá votar en espacios presenciales?</h3>
    <p>Sí, habrá disponibles formularios en papel para votar, que podrán ser entregados en cualquier registro del Ayuntamiento. Cada distrito de Madrid cuenta con una de estas oficinas de registro facilitando el que cualquiera pueda participar fácilmente <a href="http://www.madrid.es/portales/munimadrid/es/Inicio/Ayuntamiento/Oposiciones-y-Empleo/Direcciones-y-telefonos/Oficinas-de-Registro-del-Ayuntamiento-de-Madrid?vgnextfmt=default&vgnextoid=adedb88db777f010VgnVCM2000000c205a0aRCRD&vgnextchannel=ddc3ca1c5a057010VgnVCM100000dc0ca8c0RCRD" target="_blank">(ver la lista completa aquí)</a>. Los formularios estarán disponibles en la web de participación para que cualquiera pueda descargarlas e imprimirlas.</p>

    <h3>10. ¿Se creará algún espacio de debate accesible para la ciudadanía?</h3>
    <p>Durante todo el proceso se realizarán múltiples debates accesibles para toda la ciudadanía, propuestos y diseñados por el grupo de trabajo. Además en la plataforma de participación se creará un espacio de debate general y espacios de debate para cada uno de los proyectos que se presenten.</p>

    <h3>11. ¿Desde cuándo y hasta cuándo podemos votar el cuestionario?</h3>
    <p>Desde el 28 de enero y durante 40 días. Ese día se hará un encuentro público donde se presentará el cuestionario, y el trabajo realizado hasta el momento por el grupo de trabajo elaborándolo y preparando los siguientes espacios de debate.</p>

    <h3>12. ¿Qué sucede si la ciudadanía vota que no se haga la reforma?</h3>
    <p>Si la gente vota mayoritariamente que no se haga la reforma, la reforma no se hará.</p>
    <p>El grupo de trabajo ha elaborado un cuestionario y su votación en todas sus preguntas será vinculante a la hora de llevar a cabo la reforma, en caso de que ese sea el resultado de la encuesta.</p>

    <h3>13. ¿Qué sucede si en los resultados de la encuesta salen cosas que no pueden llevarse a cabo?</h3>
    <p>Al igual que otros procesos de participación que hemos puesto en marcha, ponemos en primer lugar la decisión ciudadana sobre lo que debe hacer el Ayuntamiento, y el Ayuntamiento y sus técnicos se ponen posteriormente al servicio de esa decisión. En caso de que, tomada una decisión, haya algún impedimento que impida llevarla a cabo, el Ayuntamiento deberá justificar exhaustivamente y de manera pública este impedimento (y la imposibilidad de superarlo por parte del mismo), y realizará lo que sea posible que se acerque lo máximo a la decisión tomada.</p>
    <p>Además, en el grupo de trabajo que ha elaborado el cuestionario han participado técnicos del Ayuntamiento y personal del Área de Gobierno de Desarrollo Urbano Sostenible, del Área de Gobierno de Medio Ambiente y Movilidad y también de la Subdirección General de Calidad y Evaluación. Proporcionando información relevante que pudiera ayudar a que esta situación no ocurra.</p>
  </div>
</div>
