<div class="jumbo base-bg" style="margin-top: 30px;">
    <div class="row medium-12 large-12 small-centered">
        <div class="medium-3 large-3 small-3 column color-img-0 height-div-below">
            <p>
                <%= image_tag("footer_Innovaris horizontal.png", class: "float-center", height: "100px", width: "100px", alt: "Innovaris Logo") %>
            </p>
        </div>
        <div class="medium-3 large-3 small-3 column color-img-1 height-div-below">
            <p>
                <%= image_tag("footer_Innovaris horizontal.png", class: "float-center", height: "100px", width: "100px", alt: "Innovaris Logo") %>
            </p>
            <h2 class="text-center"><%= t("box_views.box1.title") %></h2>
            <p class="margin-left-20px"><%= t("box_views.box1.description") %></p>
        </div>
        <div class="medium-3 large-3 small-3 column color-img-2 height-div-below">
        </div>
        <div class="medium-3 large-3 small-3 column color-img-3 height-div-below">
        </div>
    </div>
</div>