<div class="expanded padding budgets-module">
  <div class="row" data-equalizer data-equalize-on="medium">
    <div class="small-12 medium-5 column module" data-equalizer-watch>
      <div class="module-content">
        <%= image_tag "welcome_budgets_module.jpg", alt: "" %>
      </div>
    </div>
    <div class="small-12 medium-7 column module" data-equalizer-watch>
      <div class="module-content">
        <h1>Presupuestos participativos 2017</h1>
        <p>Apoya proyectos para los <strong>100 millones de euros</strong> de presupuestos participativos. Tú decides cómo gastarlos.</p>
        <% if user_signed_in? %>
          <div class="small-12 medium-6 large-4">
            <%= link_to("Envía tu proyecto", budget_path(Budget.last), class: "button expanded") if Budget.last %>
          </div>
        <% else %>
          <div class="small-12 medium-6 large-4">
            <%= link_to "Participa", budgets_welcome_path, class: "button expanded" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
