<div class="expanded padding budgets-module">
  <div class="row" data-equalizer data-equalize-on="medium">
    <div class="small-12 medium-5 column module" data-equalizer-watch>
      <div class="module-content">
        <%= image_tag "welcome_budgets_module.jpg", alt: "" %>
      </div>
    </div>
    <div class="small-12 medium-7 column module" data-equalizer-watch>
      <div class="module-content">
        <h1>Presupuestos participativos 2017</h1>
        <p>Apoya proyectos para los <strong>100 millones de euros</strong> de presupuestos participativos.<br> Tú decides cómo gastarlos.</p>
        <div class="small-12 medium-6 large-4">
          <%= link_to "Apoyar proyectos", budgets_welcome_path, class: "button expanded" %>
        </div>
      </div>
    </div>
  </div>
</div>
