<div class="expanded padding budgets-module text-center">
  <div class="row">
    <div class="small-12 medium-8 column small-centered">
      <span class="budgets-date">
        <strong><%= t("welcome.budgets.label_finished") %></strong>
      </span>
      <br>
      <p class="lead-title"><%= t("welcome.budgets.title_finished_html") %></p>
      <p><%= t("welcome.budgets.text_finished_html") %></p>
      <div class="small-12 medium-6 small-centered">
        <%= link_to t("welcome.budgets.button_finished"), budgets_welcome_path, class: "button expanded large" %>
      </div>
    </div>
  </div>
</div>
