<div class="expanded padding budgets-module">
  <div class="row" data-equalizer data-equalize-on="medium">
    <div class="small-12 medium-5 column module" data-equalizer-watch>
      <div class="module-content">
        <%= image_tag "welcome_budgets_module.jpg", alt: "" %>
      </div>
    </div>
    <div class="small-12 medium-7 column module" data-equalizer-watch>
      <div class="module-content">
        <h2>Presupuestos participativos 2017</h2>
        <p>El Ayuntamiento de Madrid está evaluando la viabilidad de los proyectos más apoyados.<br>A partir del <strong>15 de mayo</strong> empieza la fase de votación.</p>
        <div class="small-12 medium-6 large-4">
          <%= link_to "Ver proyectos", budgets_welcome_path, class: "button expanded" %>
        </div>
      </div>
    </div>
  </div>
</div>
