<div class="expanded padding budgets-module">
  <div class="row">
    <div class="small-12 medium-9 column small-centered text-center">
      <span class="budgets-date">
        <strong><%= t("welcome.budgets.date") %></strong>
      </span>
      <br>
      <div class="typewriter inline-block">
        <p class="lead-title"><%= t("welcome.budgets.title") %></p>
      </div>

      <div class="small-12 medium-9 small-centered text-center">
        <p><%= t("welcome.budgets.text_html") %></p>
      </div>
      <div class="small-12 medium-6 large-4 small-centered">
        <%= link_to t("welcome.budgets.button"), budgets_welcome_path, class: "button expanded large" %>
      </div>
    </div>
  </div>
</div>
