<div class="row">
  <div class="small-12 column">
    <% @feeds.each do |feed| %>

      <strong>Most active <%= feed.kind %></strong>

      <% feed.items.each do |item| %>
        <div class="<%= item.class.to_s.parameterize('_') %>">
          <%= item.title %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
