<div class="expanded jumbo header text-center">
  <div class="row">
    <div class="small-12 medium column small-centered">
      <span class="label"><%= t("welcome.header.label") %></span>
      <p class="lead-title"><%= t("welcome.header.title") %></p>
      <p class="lead"><%= t("welcome.header.text") %></p>
      <div class="small-12 medium-6 large-4 column small-centered">
        <%= link_to t("welcome.header.button"),
                    "/vota",
                    class: "button expanded large", title: t("welcome.header.button") %>
      </div>
    </div>
  </div>
</div>
