<main>
  <div class="callout highlight">
    En esta instalación de Consul se ha habilitado Multientidad y se ha configurado la entidad principal para que solo sea un gestor de otras entidades. <br>
    Puede acceder a la sección de administración y gestionar el resto de entidades a traves de este <a href="/admin">enlace</a>. <br><br>

    Si por el contrario desea poder utilizar esta entidad principal tanto para gestionar entidades como herrramienta de participación ciudadana puede:
    <br>
    - Explicación 1
    <br>
    - Explicación 2
  </div>
</main>
