<div class="expanded padding polls-results-welcome">
  <div class="row">
    <div class="small-12 medium-7 column">
      <h1><span>Resultados de la</span><br>primera votación ciudadana</h1>
      <p>Consulta todos los resultados y la participación de la decisión de la ciudadanía sobre el futuro de la Gran Vía y de la Plaza de España, de las propuestas ciudadanas de Madrid 100% sostenible, billete único para el transporte público y las respuestas en seis distritos.</p>
      <div class="small-12 medium-6 large-4">
        <%= link_to "Ver resultados", primera_votacion_results_path, class: "button expanded" %>
      </div>
    </div>
  </div>
</div>