<div class="highlight small-12 column section-recommended">
  <div class="row">

    <h2 class="text-center"><%= t("welcome.recommended.title") %></h2>

    <%= render "recommended_carousel", recommendeds: recommended_debates,   key: "debates" %>
    <%= render "recommended_carousel", recommendeds: recommended_proposals, key: "proposals" %>
    <%= render "recommended_carousel", recommendeds: recommended_budget_investments, key: "budget-investments" %>

  </div>
</div>
