<div class="home-video">
  <link href="https://vjs.zencdn.net/5.4.6/video-js.css" rel="stylesheet">
  <script src="https://vjs.zencdn.net/5.4.6/video.js"></script>

  <video id="my-video" class="video-js" controls preload="auto" width="456" height="256"
        poster="<%= asset_url("home/video_poster.jpg") %>" data-setup="{}">
    <source src="http://www.sample-videos.com/video/mp4/720/big_buck_bunny_720p_1mb.mp4" type='video/mp4'>
  </video>
</div>
