<div class="row margin-top">
    <div class="small-12 medium-9 column">
        <div class="row">
            <h1>Accessibility</h1>
        </div>
        <div class="row">
            <p>
                Web accessibility refers to the possibility of access to the web and its contents by all people, regardless of the disabilities (physical, intellectual or technical) that may arise or from those that derive from the context of use (technological or environmental) .

                <br/><br/>When websites are designed with accessibility in mind, all users can access content in equal conditions, for example:

                <ul>
                	<li>Providing alternative text to the images, blind or visually impaired users can use special readers to access the information.</li>
                	<li>When videos have subtitles, users with hearing difficulties can fully understand them.</li>
                	<li>If the contents are written in a simple and illustrated language, users with learning problems are better able to understand them.</li>
                	<li>If the user has mobility problems and it is difficult to use the mouse, the alternatives with the keyboard help in navigation.</li>
                </ul>
            </p>

            <h2>
                <em>
                    <strong>Text size</strong>
                </em>
            </h2>
            <p>
                The accessible design of this website allows the user to choose the size of the text that suits him. This action can be carried out in different ways depending on the browser used.

                <table>
                	<thead>
                		<tr>
                			<th scope="col">Browser</th>
                			<th scope="col">Action to be taken</th>
                		</tr>
                	</thead>
                	<tbody>
                		<tr>
                			<td>Explorer</td>
                			<td>View &gt; Text size</td>
                		</tr>
                		<tr>
                			<td>Firefox</td>
                			<td>View &gt; Size</td>
                		</tr>
                		<tr>
                			<td>Chrome</td>
                			<td>Settings (icon) &gt; Options &gt; Advanced &gt; Web Content &gt; Text size</td>
                		</tr>
                		<tr>
                			<td>Safari</td>
                			<td>View &gt; Zoom In/Zoom out</td>
                		</tr>
                		<tr>
                			<td>Opera</td>
                			<td>View &gt; scale</td>
                		</tr>
                	</tbody>
                </table>

                <br/>Another way to modify the text size is to use the keyboard shortcuts defined in browsers, in particular the key combination:<br/><br/>

                <ul>
                	<li><strong>CTRL and + (CMD and + on MAC)</strong> Increases text size</li>
                	<li><strong>CTRL and - (CMD and - on MAC)</strong> Decreases text size</li>
                </ul>
            </p>

            <h3>
                <em>
                    <strong>Compatibility with standards and visual design</strong>
                </em>
            </h3>
            <p>
                All pages of this website comply with the <strong>Accessibility Guidelines</strong> or General Principles of Accessible Design established by the Working Group WAI belonging to W3C.
            </p>
        </div>
    </div>
</div>