<div class="small-12 medium-11 column medium-offset-1 float-left">
  <div class="row">
    <div class="content">
        <div id= "preguntas" class="main">
            <h1>Preguntas frecuentes</h1>
            <hr>

            <!-- PREGUNTA DE LA FAQ  -->
            <h2><%= image_tag(image_path_for("open.png")) %>¿Qué es una FAQ?</h2>

                  <div class="answer">
                    <p>Las siglas FAQ significan Frequently Asked (o Answered) Questions, es decir, preguntas frecuentemente preguntadas o contestadas. </p>
                  </div>
        </div>
    </div>
  </div>
</div>