<% cache [locale_and_user_status, @featured_debates, 'featured'] do %>
  <section role="main">
    <div class="filters row">
      <div class="small-12 column">
        <h2><%= t("welcome.last_debates") %></h2>
      </div>
    </div>
    <div id="featured-debates" class="row">
      <%= render partial: "featured_debate", collection: @featured_debates %>
    </div>
  </section>
<% end %>
