<% content_for :header do %>
  <div class="row home-page">
    <div class="small-12 medium-7 column">
      <h1><%= t("layouts.header.open_city_title") %></h1>
      <h2><%= t("layouts.header.open_city_slogan_html") %></h2>
      <%= link_to t("layouts.header.see_all"), proposals_path, class: "button radius see-more warning" %>
      <%= link_to t("layouts.header.more_information"), "/more_information", class: "more-info" %>
    </div>

    <div class="show-for-medium-up small-12 medium-5 column text-center">
      <i class="icon-debates icon-home-big"></i>
      <i class="icon-debates icon-home-small"></i>
    </div>
  </div>
<% end %>
