<section role="main">
  <div class="filters row">
    <div class="small-12 column">
      <h2><%= t("welcome.featured_debates") %></h2>
    </div>
  </div>
  <div id="featured-debates" class="row">
    <%= render partial: "featured_debate", collection: @featured_debates %>
  </div>
</section>
