<div class="home-banner">
  <div class="row">
    <div class="small-12 medium-6 column">
      <h2><%= t("layouts.header.open_city_title") %></h2>
      <%= link_to t('layouts.header.see_all'), proposals_path, class: 'button small see-proposals' %>
    </div>

    <div class="small-12 medium-6 column">
      <%= render partial: 'video' %>
    </div>
  </h2>
</div>
