<div class="row margin-top">
    <div class="small-12 medium-9 column">
        <div class="row">
            <h1>InnConsul: espacio para el debate y la participación</h1>
        </div>
        <div class="row">
            <h3>
                <em>
                    <strong>Procesos participativos</strong>
                </em>
            </h3>
            <p>InnConsul es una herramienta digital y online personalizada para la gestión de procesos participativos. En ella se pueden plantear diversas cuestiones y los participantes podrán opinar, compartir información y crear nuevos hilos discursivos. Esta plataforma, además, permite valorar la opinión de otros participantes y obtener una relación de todos los movimientos realizados en la consulta.

            La incorporación de InnConsul dentro de los procesos de consulta ayuda a establecer una comunicación constante entre los participantes y a crear posibles vínculos de confianza. Disponer de una plataforma activa durante todo el proceso permite extraer información no contemplada por los grupos de interés, durante la ejecución de otras dinámicas participativas.
            </p>

            <h3>
                <em>
                    <strong>Participación ciudadana</strong>
                </em>
            </h3>
            <p>InnConsul también es una herramienta de participación ciudadana, utilizada principalmente para acercar a la ciudadanía y a la mayor parte de grupos de interés cuestiones y temas de interés público. La herramienta permite gestionar a los agentes participantes en cada proceso abierto, permite activar notificaciones para estar al tanto de las novedades del proceso, e interconectar de manera instantánea a todos los participantes. Este software abierto y adaptado por Innovaris, ha sido y es utilizado por ciudades y organizaciones de todo el mundo para gestionar sus procesos de participación pública, de manera abierta, transparente y democrática. Por otro lado, permite un acercamiento a los servicios de las entidades y organizaciones respecto de su participación en la elaboración de diagnósticos, estrategias, presupuestos participativos, etc.</p>

            <h3>
                <em>
                    <strong>Accesible y flexible</strong>
                </em>
            </h3>
            <p>Su configuración online, disponible en todo momento (24/7), permite una mayor flexibilidad en cuanto a su uso. InnConsul es accesible desde cualquier plataforma, navegador o dispositivo.

            Si desea incorporar los servicios ofrecidos por InnConsul a sus procesos participativos, por favor, envíe un email a innconsul@grupoinnovaris.com con su nombre, teléfono y correo electrónico y nos pondremos en contacto a la mayor brevedad.</p>

        </div>

    </div>
</div>