<div class="row margin-top">
    <div class="small-12 medium-9 column">
        <div class="row">
            <h1>Política de Privacidad</h1>
        </div>
        <div class="row">
            <h3>
                <em>
                    <strong>RESPONSABLE DEL TRATAMIENTO</strong>
                </em>
            </h3>
            <p>
                El responsable del tratamiento de sus datos es Innovaris S.L con C.I.F B-38820452 con dirección en la calle Villalba Hervás Nº2 Planta 2º Puerta D, Código Postal 38002 y correo electrónico a este efecto en la dirección <a href="mailto:info@grupoinnovaris.com">info@grupoinnovaris.com</a>
            </p>

            <h3>
                <em>
                    <strong>FINALIDAD DEL TRATAMIENTO</strong>
                </em>
            </h3>
            <p>
                Innovaris S.L trata sus datos personales, con la finalidad de prestarle información comercial, publicidad y para el establecimiento del mantenimiento de la relación pre-contractual y contractual. Todos los datos tratados son necesarios para la correcta prestación y acceso a los servicios de Innovaris S.L y se conservarán durante el tiempo que exija en cada momento la normativa, y al menos durante cinco años.
            </p>

            <h3>
                <em>
                    <strong>LEGITIMACIÓN DEL TRATAMIENTO</strong>
                </em>
            </h3>
            <p>
                La legitimación para el tratamiento de sus datos por parte de Innovaris S.L se basa en:

                En la ejecución de un precontrato/contrato, para remitirle la información y prestarle el servicio solicitado, no siendo posible su realización en caso contrario.
            </p>

            <h3>
                <em>
                    <strong>DESTINATARIOS DE SUS DATOS</strong>
                </em>
            </h3>
            <p>
                No se cederán datos a terceros salvo obligación legal o en el supuesto que sea necesario para atender su solicitud o para la correcta prestación del servicio.
            </p>

            <h3>
                <em>
                    <strong>DERECHOS SOBRE SUS DATOS</strong>
                </em>
            </h3>
            <h4>
                Una vez que ha facilitado sus datos a Innovaris S.L tendrá derecho a ejercer los derechos abajo detallados:
            </h4>
            <p>
                <strong>Derecho de acceso:</strong> Derecho a consultar y acceder a los datos personales que está tratando Innovaris S.L en cada momento
            </p>
            <p>

                <strong>Derecho de rectificación:</strong> Derecho a solicitar la modificación o rectificación de sus datos si fueran inexactos.
            </p>
            <p>
                <strong>Derecho de limitación del tratamiento:</strong> Derecho a limitar el tratamiento de sus datos, en cuyo caso serán conservados únicamente para dar cumplimiento a las obligaciones legales de Innovaris S.L.
            </p>
            <p>
                <strong>Derecho de supresión:</strong>  Derecho a solicitar que sus datos sean borrados o suprimidos, cuando entre otros motivos ya no son necesarios para los fines que fueron recogidos.
            </p>
            <p>
                <strong>Derecho de portabilidad de sus datos:</strong> Derecho a recibir sus datos en un formato que permitan ser tratados por otro responsable, y siempre que sea técnicamente posible.
            </p>
            <p>
                <strong>Derecho de oposición:</strong> Derecho a oponerse en cualquier momento al tratamiento de sus datos por el responsable del tratamiento o de un tercero.

                <br/><br/>En el caso de que el tratamiento tenga su legitimación en su consentimiento previo, tiene derecho a revocarlo en cualquier momento, siempre y cuando el tratamiento no sea necesario por parte de Innovaris S.L para el cumplimiento de una obligación legal o el cumplimiento de un interés público.

                <br/><br/>Además le asiste el derecho a presentar una reclamación si discrepara del modo en que se han tratado sus datos por parte de Innovaris S.L, en ese caso puede dirigirse a las direcciones que se facilitan y en todo caso a la Autoridad de Control, la Agencia Española de Protección de Datos, en la C/ Jorge Juan, nº 6 C.P. 28001 Madrid, o en el sitio web <a href="http://www.aepd.es/es">www.agpd.es</a>

                <br/><br/>Para el ejercicio de estos derechos debe acreditar su identidad, adjuntando fotocopia de su DNI y si es por medio de representante, será necesario que la solicitud se acompañe de autorización expresa y copia de su DNI y del DNI del representante.

                <br/><br/>La comunicación podrá hacerse en nuestro centro, o en el correo postal la calle Villalba Hervás Nº2 Planta 2º Puerta D, Código Postal 38001 Santa Cruz de Tenerife, con la Referencia Protección de Datos, o en el correo electrónico <a href="mailto:info@grupoinnovaris.com">info@grupoinnovaris.com</a>

                <br/><br/>Innovaris S.L deberá contestar la solicitud del ejercicio de derechos en el plazo de un mes a partir de la recepción de la solicitud. Dicho plazo podrá prorrogarse otros dos meses en caso
 necesario, teniendo en cuenta la complejidad y el número de solicitudes. Le informaremos de cualquier prórroga en el plazo de un mes a partir de la recepción de la solicitud indicando los
 motivos de la dilación.
            </p>

            <h3>
                <em>
                    <strong>PROCEDENCIA</strong>
                </em>
            </h3>
            <p>
                Sus datos los obtenemos cuando usted nos los facilita a través de correo electrónico o a través de cualquiera de los formularios que ponemos a su disposición.

                <br/><br/>Innovaris S.L, trata sus datos identificativos como el nombre, apellidos, DNI, dirección postal y electrónica, teléfono y firma, además de datos personales sobre su estado, edad, sexo, fecha de nacimiento, también datos además de aquellos otros necesarios para la verificación de los mismos.

                <br/><br/>Innovaris S.L ha adoptado los niveles de seguridad de protección de los datos personales legalmente requeridos, y ha instalado todos los medios y medidas técnicas a su alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los mismos.
            </p>

        </div>

    </div>
</div>