<div class="small-12 medium-12 large-12 div-recomendations">
  <br/>
  <h1 class="text-center">
  Reconocimientos
  </h1>
</div>

<br/>

<div class="grid-container">
  <a class="pdf1 grid-item" data-fancybox="gallery" href="https://grupoinnovaris.com/wp-content/uploads/2020/09/ISO-9001-INNOVARIS-SL-ESPAN%CC%83OL-1-scaled.jpg" ></a>
  <a class="pdf2 grid-item" data-fancybox="gallery" href="https://grupoinnovaris.com/wp-content/uploads/2020/09/ISO-14001-INNOVARIS-SL-ESPAN%CC%83OL-1-scaled.jpg" ></a>
  <a class="pdf3 grid-item" data-fancybox="gallery" href="https://grupoinnovaris.com/wp-content/uploads/2020/09/Certificado-ISO-20252_2012-scaled.jpg" ></a>
  <a class="pdf4 grid-item" data-fancybox="gallery" href="https://grupoinnovaris.com/wp-content/uploads/2020/09/AEC-Asociacio%CC%81n-espan%CC%83ola-para-la-calidad-scaled.jpg" ></a>
  <a class="pdf5 grid-item" data-fancybox="gallery" href="https://grupoinnovaris.com/wp-content/uploads/2020/09/Premio-Excelencia-Empresarial-2048x1448.jpg" ></a>
  <a class="pdf6 grid-item" data-fancybox="gallery" href="https://grupoinnovaris.com/wp-content/uploads/2020/09/Canarias-RSE.jpg" ></a>
  <a class="pdf7 grid-item" data-fancybox="gallery" href="https://grupoinnovaris.com/wp-content/uploads/2020/09/Tenerife-Violeta-METV-2048x1440.jpg" ></a>
  <a class="pdf8 grid-item" data-fancybox="gallery" href="https://grupoinnovaris.com/wp-content/uploads/2020/09/Certificado-Empresas-Sostenibles-2048x1459.jpg" ></a>

    
</div>

<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>