<div class="small-12 medium-12 large-12 div-recomendations">
  <h1 class="text-left">
  Reconocimientos
  </h1>
</div>

<div class="grid-container">

  <a class="grid-item tall" data-fancybox="gallery" href="https://grupoinnovaris.com/wp-content/uploads/2020/09/ISO-14001-INNOVARIS-SL-ESPAN%CC%83OL-1-1445x2048.jpg" style="background-image: url('https://grupoinnovaris.com/wp-content/uploads/2020/09/ISO-14001-INNOVARIS-SL-ESPAN%CC%83OL-1-1445x2048.jpg')"></a>
  <a class="grid-item" data-fancybox="gallery" href="https://grupoinnovaris.com/wp-content/uploads/2020/09/ISO-14001-INNOVARIS-SL-ESPAN%CC%83OL-1-1445x2048.jpg" style="background-image: url('https://grupoinnovaris.com/wp-content/uploads/2020/09/ISO-14001-INNOVARIS-SL-ESPAN%CC%83OL-1-1445x2048.jpg')"></a>
  <a class="grid-item wide" data-fancybox="gallery" href="https://grupoinnovaris.com/wp-content/uploads/2020/09/ISO-14001-INNOVARIS-SL-ESPAN%CC%83OL-1-1445x2048.jpg" style="background-image: url('https://grupoinnovaris.com/wp-content/uploads/2020/09/ISO-14001-INNOVARIS-SL-ESPAN%CC%83OL-1-1445x2048.jpg')"></a>
    
</div>

<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>