<div class="row margin-top">
    <div class="small-12 medium-9 column">
        <div class="row">
            <h1>Términos y condiciones de Uso</h1>
            <h2>AVISO LEGAL SOBRE LAS CONDICIONES DE USO, PRIVACIDAD Y PROTECCIÓN DE DATOS PERSONALES DEL PORTAL InnConsul</h2>
        </div>
        <div class="row">
            <h3>
                <em>
                    <strong>INFORMACIÓN GENERAL</strong>
                </em>
            </h3>
            <p>
                En cumplimiento de lo establecido en la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico, ponemos en su conocimiento que Innovaris S.L.constituido en Santa Cruz de Tenerife con fecha 05 de abril de 2005 y tiene como actividad principal consultoría especializada en el diseño y gestión de proyectos e iniciativas tanto para la Administración Pública como para el Sector privado.Si desea contactar con nosotros puede hacerlo a través de cualquiera de los siguientes medios:

                <br/><br/>Dirección de correo electrónico: <a href="mailto:info@grupoinnovaris.com" target="_blank" rel="nofollow">info@grupoinnovaris.com</a>

                <br/><br/>Teléfonos de contacto: 922 033 300

                <br/><br/>Dirección postal: C/ Villalba Hervás Nº2 Planta 2º Puerta D C.P 38001 Santa Cruz de Tenerife
            </p>

            <h3>
                <em>
                    <strong>CONDICIONES GENERALES DE ACCESO Y UTILIZACIÓN DEL SITIO WEB</strong>
                </em>
            </h3>
            <p>
                Innovaris S.L fresca es propietaria de la marca, dominio y titular del sitio web de Internet <a href="https://grupoinnovaris.com/">grupoinnovaris.com</a> e  <a href="http://innovarisformacion.com">innovarisformacion.com</a> (“Sitio Web”) así como los subdominios. Las presentes condiciones generales regulan el uso de este Sitio Web que Innovaris S.L pone a su disposición como usuario (“El Usuario”). La utilización del Sitio Web supone la aceptación plena por el Usuario de todas las Condiciones Generales de Uso del Sitio Web vigentes en cada momento en que el Usuario acceda al mismo, por lo que si éste no está de acuerdo con cualquiera de las condiciones aquí establecidas, no deberá usar este Sitio Web.

                <br/><br/>Innovaris S.L se reserva el derecho a modificar en cualquier momento los contenidos de este sitio web y las condiciones generales que regulan el uso del mismo. Asimismo, Innovaris S.L se reserva el derecho de suspender, interrumpir o dejar de operar el Sitio Web en cualquier momento.El Usuario se compromete a hacer un uso adecuado y lícito del Sitio Web y de los contenidos, de conformidad con la legislación aplicable, las presentes condiciones generales de uso del sitio web, la moral y buenas costumbres generalmente aceptadas y el orden público

                <br/><br/>Para acceder y usar algunos servicios que ofrece el sitio web, los Usuarios deberán registrarse con carácter previo rellenando la solicitud de suscripción o bien mediante el envío de un usuario y contraseña. Innovaris S.L se reserva el derecho de aceptar o rechazar libremente la solicitud de registro de cualquier Usuario. Los datos introducidos por los Usuarios deberán ser exactos, actuales y veraces en todo momento, y serán procesados por Innovaris S.L en la forma indicada en la política de privacidad conforme al reglamento europeo de protección de datos (UE) 2016/679. Una vez recibido el Formulario de Registro o de inscripción, se le asignará una clave personal exclusiva para cada Usuario Registrado. Desde ese momento, el Usuario Registrado podrá acceder al área de acceso restringido y usar los Contenidos en la forma prevista en estas Condiciones Generales de Uso del Sitio Web.

                <br/><br/>Los Usuarios Registrados serán responsables en todo momento de la custodia de su clave de acceso, asumiendo en consecuencia cualesquiera daños y perjuicios que pudieran derivarse de su uso indebido, así como de la cesión, revelación o extravío de la misma. El Usuario reconoce y acepta que todos los derechos de propiedad industrial e intelectual sobre los Contenidos y/o cualesquiera otros elementos insertados en el Sitio Web pertenecen a Innovaris S.L y/o a terceros. Innovaris S.L autoriza a los Usuarios a utilizar, visualizar, imprimir, descargar y almacenar los Contenidos y/o los elementos insertados en el Sitio Web exclusivamente para su uso personal, privado y no lucrativo; siempre que en todo caso se indique el origen y/o autor de los mismos y que, en su caso, aparezca el símbolo del copyright y/o notas de propiedad industrial de sus titulares. Queda terminantemente prohibida la utilización de tales elementos, su reproducción, comunicación y/o distribución con fines comerciales o lucrativos, así como su modificación, alteración o descompilación. Para cualquier otro uso distinto de los expresamente permitidos, será necesario obtener el consentimiento previo por escrito del titular de los derechos de que se trate.
            </p>
        </div>
    </div>
</div>