.document {
  + .document {
    margin-top: calc(#{$line-height} / 3);
  }

  a:first-of-type {
    word-wrap: break-word;

    .document-metadata {
      &::before,
      &::after {
        content: "";
        display: block;
      }

      * + *::before {
        @include vertical-separator;
      }
    }
  }
}
