.documents {

  h2 {
    font-size: rem-calc(24);

    span {
      color: #4f4f4f;
      font-weight: normal;
    }
  }

  ul li {
    padding-top: $line-height / 2;

    &:not(:first-child) {
      border-top: 1px solid $highlight;
    }
  }

  .document-link {
    background: $highlight-soft;
    border: 2px solid $highlight;
    border-radius: rem-calc(5);
    display: block;
    margin: $line-height / 2 0;
    padding: $line-height / 2;
    position: relative;

    p {
      margin-bottom: 0;
    }

    a {
      word-wrap: break-word;
    }
  }
}
