<ul class="nav nav-pills">
  <% valid_orders.each do |order| %>
    <li class="nav-item">
      <%= link_to link_path(order), class: html_class(order) do %>
        <%= link_text(order) %>
      <% end %>
    </li>
  <% end %>
</ul>
