<div class="small-12 medium-3 column">
  <% if action_name != "index" %>
    <%= link_to t("dashboard.mailing.mailing_options.preview"),
                proposal_dashboard_mailing_index_path(proposal),
                class: "button expanded" %>
  <% end %>

  <%= link_to t("dashboard.mailing.mailing_options.send", address: current_user.email),
              proposal_dashboard_mailing_index_path(proposal),
              method: :post,
              class: "button expanded" %>
</div>
