<% content_for :action_title, t("dashboard.mailing.new.title") %>
<div class="row expanded">
  <div class="small-12 medium-9 column">
    <%= Setting["proposals.email_description"] %>
  </div>

  <%= render "mailing_options" %>
</div>
