<div class="row">
  <div class="small-12 column">
    <%= back_link_to human_rights_page_path %>

    <h1><%= t('answers.index.title') %></h1>

    <div class="callout success">
      <%= t('answers.index.sent') %>
    </div>
  </div>
</div>
