<div class="row">
  <div class="small-12 column">
    <%= link_to "/derechos-humanos", class: "back" do %>
      <span class="icon-angle-left"></span>
      <%= t('shared.back') %>
    <% end %>

    <h1><%= t('answers.index.title') %></h1>

    <div class="callout success">
      <%= t('answers.index.sent') %>
    </div>
  </div>
</div>
