<div class="commitment-documents">
  <div class="row">
    <div class="small-12 column">
      <div class="documents">
        <p><strong>Additional documentation</strong></p>
        <ul class="no-bullet document-link">
          <li>
            <span class="icon-document"></span>
            <strong>Department Information <small>(PDF|134kb)</small></strong>
          </li>
          <li>
            <span class="icon-document"></span>
            <strong>Milestones summary <small>(PDF|475kb)</small></strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="commitment-actions">
  <div class="row">
    <div class="small-12 medium-2 column">
      <%= image_tag "traffic_light_green_big.jpg" %>
    </div>
    <div class="small-12 medium-10 column">
      <h2>Commitment status: Finished</h2>
      <p><strong>Specific actions:</strong></p>
      <div class="row" data-equalizer data-equalize-on="medium">
        <div class="small-12 medium-5 column" data-equalizer-watch>
          <ul>
            <li>Enhance online government finance content</li>
            <li>Accounting reporting consistency</li>
            <li>Full details of contracts</li>
          </ul>
        </div>
        <div class="small-12 medium-3 column" data-equalizer-watch>
          <div class="progress" role="progressbar" tabindex="0" aria-valuenow="100" aria-valuemin="0" aria-valuetext="100 percent" aria-valuemax="100">
            <span class="progress-meter" style="width: 100%">
              <p class="progress-meter-text">100%</p>
            </span>
          </div>
          <div class="progress" role="progressbar" tabindex="0" aria-valuenow="100" aria-valuemin="0" aria-valuetext="100 percent" aria-valuemax="100">
            <span class="progress-meter" style="width: 100%">
              <p class="progress-meter-text">100%</p>
            </span>
          </div>
          <div class="progress" role="progressbar" tabindex="0" aria-valuenow="100" aria-valuemin="0" aria-valuetext="100 percent" aria-valuemax="100">
            <span class="progress-meter" style="width: 100%">
              <p class="progress-meter-text">100%</p>
            </span>
          </div>
        </div>
        <div class="small-12 medium-4 column" data-equalizer-watch>
          <ul class="no-bullet small commitment-dates">
            <li><strong><em>1 January 2018 - 1 August 2018</em></strong></li>
            <li><strong><em>15 February 2018 - 1 September 2018</em></strong></li>
            <li><strong><em>1 August 2018 - 1 August 2019</em></strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
