<div class="debate-featured small-12 column">
  <div class="panel">
    <div class="content small-12 left">
      <h3>
      <%= link_to "¿Y si cualquiera pudiera entrevistar a manuela carmena o los otros concejales?", "https://decide.madrid.es/debates/4299" %></h3>
      <div class="info">
        <span class="author">
          <%= link_to "ParticipaciónYTransparenciaAytoMadrid", "https://decide.madrid.es/users/52055"%>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="debate-featured small-12 column">
  <div class="panel">
    <div class="content small-12 left">
      <h3>
      <%= link_to "#Túpreguntas: carlos sánchez mato, concejal de economía y hacienda.", "https://decide.madrid.es/debates/4298" %></h3>
      <div class="info">
        <span class="author">
          <%= link_to "CARLOS SANCHEZ", "https://decide.madrid.es/users/13"%>
        </span>
      </div>
    </div>
  </div>
</div>
