<div id="featured-debates" class="row featured-debates">

  <div class="debate-featured small-12 column">
    <div class="panel">
      <div class="content small-12 left">
        <h3>
        <%= link_to "#TúPreguntas: Nacho Murgui, concejal de Coordinación Territorial y Asociaciones", "https://decide.madrid.es/debates/4404" %></h3>
        <div class="info">
          <span class="author">
            <%= link_to "Ignacio Murgui", "https://decide.madrid.es/users/15"%>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="debate-featured small-12 column">
    <div class="panel">
      <div class="content small-12 left">
        <h3>
        <%= link_to "#Túpreguntas: Manuela Carmena, Alcaldesa de Madrid.", "https://decide.madrid.es/debates/4320" %></h3>
        <div class="info">
          <span class="author">
            <%= link_to "Manuela Carmena ", "https://decide.madrid.es/users/21452"%>
          </span>
        </div>
      </div>
    </div>
  </div>

</div>