<div class="sidebar-divider"></div>
<h2 class="sidebar-title"><%= t("debates.index.top") %></h2>
<br>
<%= link_to t("debates.index.top_link_debates"),
    "http://decide.madrid.es/debates?order=created_at&page=1&search=%23T%C3%BAPreguntas&utf8=%E2%9C%93" %>
