<div class="small-12 column" >
  <% if @search_terms && @resources_count > 0 %> 
    <div class="alert-box radius warning">
      <p class="note-marked">
        <%= t("debates.new.suggestions.found", count: @resources_count, query: @search_terms)%> 
      </p>
      <ul>
        <% @debates.take(@reg_show).each do |debate| %>
          <li> <%= link_to debate.title, debate %> </li>
        <% end %>   
      </ul>
      <% if @resources_count > @reg_show %>   
      <p class="note-marked">
        <%= t("debates.new.suggestions.message", count: @resources_count, 
                                      query: @search_terms,
                                      limit: @reg_show) %>
        <%= link_to t("debates.new.suggestions.see_all"), debates_path(search: @search_terms)%>
      </p>
      <% end %>
    </div>
  <% end %>
</div>