<div class="text-center">
  <h2>Public timeline of commitment evolution</h2>
</div>

<div class="tab-milestones" id="tab-milestones">
  <div class="row">
    <div class="small-12 column">

      <!--   <div class="callout primary text-center">
          <%# t('budgets.investments.show.no_milestones') %>
        </div> -->
      <section class="timeline">
        <ul class="no-bullet">
          <li>
            <div class="milestone-content">
              <span class="milestone-date">
                <strong>Published 2017-07-30</strong>
              </span>
              <p>Released an interactive tool that will increase the granularity of data and information made available and enable citizens to better understand federal departmental spending.</p>
            </div>
          </li>
          <li>
            <div class="milestone-content">
              <span class="milestone-date">
                <strong>Published 2017-11-01</strong>
              </span>
              <p>Enhance online content pertaining to government finances on government website to make information and tools on government spending readily accessible to citizens</p>
            </div>
          </li>
          <li>
            <div class="milestone-content">
              <span class="milestone-date">
                <strong>Published 2017-01-09</strong>
              </span>
              <p>Provided targeted and timely material to make government accounting and financial reporting more consistent, transparent, and understandable to citizens.</p>
            </div>
          </li>
          <li>
            <div class="milestone-content">
              <span class="milestone-date">
                <strong>Published 2016-12-20</strong>
              </span>
              <p>Pilot updating the site to record the full details of contracts (in addition to awards), contract amendments, and the final termination of contracts.</p>
            </div>
          </li>
          <li>
            <div class="milestone-content">
              <span class="milestone-date">
                <strong>Published 2016-11-10</strong>
              </span>
              <p>Published case study to share best practices from Public Service and Procurement pilot of the Open Contracting Data Standard on site.</p>
            </div>
          </li>

        </ul>
      </section>
    </div>
  </div>
</div>
