<div class="debate-form row">

  <div class="small-12 column">
    <%= back_link_to %>

    <div class="float-right">
      <%= link_to t("debates.edit.show_link"), @debate %>
    </div>

    <h1><%= t("debates.edit.editing") %></h1>

    <%= render "form" %>
  </div>
</div>
