<%#= link_to 'New Debate', new_debate_path, :class => 'button radius right' %>

<section id='debates' class="debates-index">
    <div class="row">
        <%= render @debates %>
    </div>
</section>

<aside>
    <%= render 'shared/tag_cloud' %>
</aside>
