<div class="small-12 medium-9 column">
  <%= f.check_box :film_library, checked: process.film_library?, label: t("admin.legislation.processes.form.film_library") %>
</div>

<div class="small-12 column">
  <hr>
</div>
