<% unless user_signed_in? %>
  <style type="text/css">
  .annotator-adder { display: none; }
  </style>
<% end %>

<section data-annotatable-type="legislation"
         data-annotatable-id="<%= @legislation.id %>">

<div><%= @legislation.title %></div>
<div id="legislation_body"><%= @legislation.body %></div>

</section>
