<section data-annotatable-type="legislation"
         data-annotatable-id="<%= @legislation.id %>">
  <div class="row margin-top">
    <div class="small-12 medium-9 small-centered column">
      <h1 class="text-center"><%= @legislation.title %></h1>
      <div id="legislation_body"><%= @legislation.body %></div>
    </div>
  </div>
</section>
