<section data-annotatable-type="legislation"
         data-annotatable-id="<%= @legislation.id %>">

<div><%= @legislation.title %></div>
<div id="legislation_body"><%= @legislation.body %></div>

</section>
