<div class="design-event-nested">
    <%= f.input :name %>
    <%= f.input :place %>
    <%= f.input :pax %>
    <%= link_to_remove_association "Eliminar taller de diseño", f, {wrapper_class: 'design-event-nested'} %>
</div>
