<div class="small-12 medium-6 large-4 column end">
  <%= link_to "/legislation/processes/69/proposals", class: "film-library" do %>
    <%= image_tag "filmoteca/moratalaz.jpg", alt: "Centro Cultural Moratalaz" %>
  <% end %>

  <h4 class="margin-top">
    <a href="https://www.madrid.es/portales/munimadrid/es/Inicio/Cultura-ocio-y-deporte/Cultura-y-ocio/Direcciones-y-telefonos/Centro-Cultural-el-Torito-Moratalaz-/?vgnextfmt=default&vgnextoid=f3073d0b5e71c010VgnVCM1000000b205a0aRCRD&vgnextchannel=76f3efff228fe410VgnVCM2000000c205a0aRCRD"
    target="_blank">Centro Cultural el Torito (Moratalaz)</a>
  </h4>
  <p class="small">Avenida Moratalaz, 130</p>
  <h5>Octubre</h5>
  <ul class="small">
    <li>
      <strong>9 de octubre</strong> - 18:30
      <a href="/legislation/processes/61/proposals">"El Abrazo de la Serpiente"</a>
    </li>
    <li>
      <strong>16 de octubre</strong> - 18:30
      <a href="/legislation/processes/61/proposals">"A war – Una Guerra"</a>
    </li>
    <li>
      <strong>23 de octubre</strong> - 18:30
      <a href="/legislation/processes/61/proposals">"Tomboy"</a>
    </li>
    <li>
      <strong>30 de octubre</strong> - 18:30
      <a href="/legislation/processes/61/proposals">"La odisea de Alice"</a>
    </li>
  </ul>
  <h5>Noviembre</h5>
  <ul class="small">
    <li>
      <strong>6 de noviembre</strong> - 18:30
      <a href="/legislation/processes/63/proposals">"Las chicas de la sexta planta"</a>
    </li>
    <li>
      <strong>13 de noviembre</strong> - 18:30
      <a href="/legislation/processes/63/proposals">"La canción del mar"</a>
    </li>
    <li>
      <strong>20 de noviembre</strong> - 18:30
      <a href="/legislation/processes/63/proposals">"Heartstone - Corazones de piedra"</a>
    </li>
    <li>
      <strong>27 de noviembre</strong> - 18:30
      <a href="/legislation/processes/63/proposals">"La doncella"</a>
    </li>
  </ul>

  <div class="small-12 medium-8">
    <%= link_to "Proponer película", "/legislation/processes/69/proposals", class: "button expanded"%>
  </div>
</div>
