<div class="small-12 medium-6 large-4 column end">
  <%= link_to "#", class: "film-library" do %>
    <%= image_tag "filmoteca/retiro.jpg", alt: "Distrito Retiro" %>
  <% end %>

  <h4 class="margin-top">
    <a href="https://www.madrid.es/portales/munimadrid/es/Inicio/Cultura-ocio-y-deporte/Cultura-y-ocio/Direcciones-y-telefonos/Centro-Cultural-Casa-de-Vacas-Retiro-/?vgnextfmt=default&vgnextoid=35e53d0b5e71c010VgnVCM1000000b205a0aRCRD&vgnextchannel=76f3efff228fe410VgnVCM2000000c205a0aRCRD"
    target="_blank">Casa de vacas</a>
  </h4>
  <p class="small">Paseo Colombia, 1</p>

  <!-- <div class="small-12 medium-8">
    <%# link_to "Proponer película", "/legislation/processes/83/proposals", class: "button expanded"%>
  </div> -->
</div>
