<div class="small-12 medium-6 large-4 column end">
  <%= link_to "/legislation/processes/82/proposals", class: "film-library" do %>
    <%= image_tag "filmoteca/usera.jpg", alt: "Distrito Usera" %>
  <% end %>

  <h4 class="margin-top">
    <a href="https://www.madrid.es/portales/munimadrid/es/Inicio/Cultura-ocio-y-deporte/Cultura-y-ocio/Direcciones-y-telefonos/Centro-Cultural-Meseta-de-Orcasitas-Usera-/?vgnextfmt=default&vgnextoid=fbd91e79ee71c010VgnVCM1000000b205a0aRCRD&vgnextchannel=76f3efff228fe410VgnVCM2000000c205a0aRCRD"
    target="_blank">Centro Cultural Meseta de Orcasitas</a>
  </h4>
  <p class="small">Plaza Asociación, 1</p>

  <h4 class="margin-top">
    <a href="https://www.madrid.es/portales/munimadrid/es/Inicio/Cultura-ocio-y-deporte/Cultura-y-ocio/Direcciones-y-telefonos/Centro-Cultural-Orcasur-Usera-/?vgnextfmt=default&vgnextoid=8b9a1e79ee71c010VgnVCM1000000b205a0aRCRD&vgnextchannel=76f3efff228fe410VgnVCM2000000c205a0aRCRD"
    target="_blank">Centro Cultural Orcasur</a>
  </h4>
  <p class="small">Plaza Pueblo, 2</p>

  <h4 class="margin-top">
    <a href="https://www.madrid.es/portales/munimadrid/es/Inicio/El-Ayuntamiento/Usera/Junta-Municipal-del-Distrito-de-Usera/?vgnextfmt=default&vgnextoid=38ef0a47f441f010VgnVCM2000000c205a0aRCRD&vgnextchannel=9abaca5d5fb96010VgnVCM100000dc0ca8c0RCRD"
    target="_blank">Junta Municipal de Usera</a>
  </h4>
  <p class="small">Avenida Rafaela Ybarra, 41</p>

  <div class="small-12 medium-8">
    <%= link_to "Proponer película", "/legislation/processes/82/proposals", class: "button expanded"%>
  </div>
</div>
