<div class="row">
  <div class="small-12 column">

    <%= back_link_to account_path, t("verification.back") %>

    <h1><%= t("verification.letter.edit.title") %></h1>

    <div data-alert class="callout success">
      <%= sanitize(t("verification.letter.create.flash.success")) %>
    </div>

    <%= link_to t("verification.letter.edit.see_all"), proposals_path, class: "button warning" %>
  </div>
</div>
