<div class="row">
  <%track_event(category: "verification", action: "start_letter" )%>
  <div class="small-12 column">

    <%= back_link_to account_path, t("verification.back") %>

    <h1><%= t("verification.letter.edit.title") %></h1>

    <div data-alert class="callout success">
      <%= t("verification.letter.create.flash.success_html",
          offices: link_to(t("verification.letter.create.flash.offices"),
                           setting['verification_offices_url'],
                           title: t('shared.target_blank_html'),
                           target: "_blank")).html_safe
      %>
    </div>

    <%= link_to t("verification.letter.edit.see_all"), proposals_path, class: "button warning" %>
  </div>
</div>
