<h3 class="title"><%= t("welcome.cards.title") %></h3>

<div class="row" data-equalizer data-equalizer-on="medium">
  <% @cards.find_each do |card| %>
    <%= render "card", card: card %>
  <% end %>
</div>
