<table>
  <thead>
    <tr>
      <th class="table-age">EDAD</th>
      <th>WEB</th>
      <th>010</th>
      <th>PAPEL</th>
      <th>TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        De 16 a 19 años
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        Total
      </td>
    </tr>
    <tr>
      <td>
        De 20 a 24 años
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        Total
      </td>
    </tr>
     <tr>
      <td>
        De 25 a 29 años
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        Total
      </td>
    </tr>
     <tr>
      <td>
        De 30 a 34 años
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        Total
      </td>
    </tr>
     <tr>
      <td>
        De 35 a 39 años
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        Total
      </td>
    </tr>
     <tr>
      <td>
        De 40 a 44 años
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        Total
      </td>
    </tr>
     <tr>
      <td>
        De 45 a 49 años
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        Total
      </td>
    </tr>
     <tr>
      <td>
        De 50 a 54 años
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        Total
      </td>
    </tr>
     <tr>
      <td>
        De 55 a 59 años
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        Total
      </td>
    </tr>
     <tr>
      <td>
        De 60 a 64 años
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        Total
      </td>
    </tr>
     <tr>
      <td>
        De 65 a 69 años
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        Total
      </td>
    </tr>
     <tr>
      <td>
        De 70 y más años
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">4000 (35%)</p>
          </span>
        </div>
      </td>
      <td>
        Total
      </td>
    </tr>
  </tbody>
</table>
