<table>
  <thead>
    <tr>
      <th class="table-age">EDAD</th>
      <th>WEB</th>
      <th>010</th>
      <th>PAPEL</th>
      <th>TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        De 16 a 19 años
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">401</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">15</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">2</p>
          </span>
        </div>
      </td>
      <td>
        418
      </td>
    </tr>
    <tr>
      <td>
        De 20 a 24 años
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">1430</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">136</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">2</p>
          </span>
        </div>
      </td>
      <td>
        1568
      </td>
    </tr>
     <tr>
      <td>
        De 25 a 29 años
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">2390</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">495</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">12</p>
          </span>
        </div>
      </td>
      <td>
        2897
      </td>
    </tr>
     <tr>
      <td>
        De 30 a 34 años
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">3457</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">905</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">13</p>
          </span>
        </div>
      </td>
      <td>
        4375
      </td>
    </tr>
     <tr>
      <td>
        De 35 a 39 años
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">3250</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">997</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">16</p>
          </span>
        </div>
      </td>
      <td>
        4263
      </td>
    </tr>
     <tr>
      <td>
        De 40 a 44 años
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">2450</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">979</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">18</p>
          </span>
        </div>
      </td>
      <td>
        3447
      </td>
    </tr>
     <tr>
      <td>
        De 45 a 49 años
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">1656</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">784</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">13</p>
          </span>
        </div>
      </td>
      <td>
        2453
      </td>
    </tr>
     <tr>
      <td>
        De 50 a 59 años
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">1264 </p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">706</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">26</p>
          </span>
        </div>
      </td>
      <td>
        1996
      </td>
    </tr>
    <tr>
      <td>
        De 55 a 59 años
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">1265</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">706</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">26</p>
          </span>
        </div>
      </td>
      <td>
        1997
      </td>
    </tr>
     <tr>
      <td>
        De 60 a 64 años
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">788</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">573</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">25</p>
          </span>
        </div>
      </td>
      <td>
        1386
      </td>
    </tr>
     <tr>
      <td>
        De 65 a 69 años
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">423</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">505</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">38</p>
          </span>
        </div>
      </td>
      <td>
        966
      </td>
    </tr>
     <tr>
      <td>
        De 70 y más años
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">256</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">797</p>
          </span>
        </div>
      </td>
      <td>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 35%">
            <p class="progress-meter-text">42</p>
          </span>
        </div>
      </td>
      <td>
        1095
      </td>
    </tr>
  </tbody>
</table>
