<div class="row">
  <div class="small-12 medium-9 column small-centered">
    <table class="age-groups">
      <thead>
        <tr>
          <th class="table-width border-right">EDAD</th>
          <th class="table-width">WEB</th>
          <th class="table-width">010</th>
          <th class="table-width">PAPEL</th>
          <th class="border-left">TOTAL</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border-right">
            De 16 a 19 años
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter web" style="width: 11.60%">
                <p class="progress-meter-text">401 (2,11%)</p>
              </span>
            </div>
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter zero-ten" style="width: 1.10%">
                <p class="progress-meter-text">15 (0,20%)</p>
              </span>
            </div>
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter paper" style="width: 4.73%">
                <p class="progress-meter-text">2 (0,86%)</p>
              </span>
            </div>
          </td>
          <td class="border-left">
            <strong>418 (1,56%)</strong>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter" style="width: 8.58%"></span>
            </div>
          </td>
        </tr>
        <tr>
          <td class="border-right">
            De 20 a 24 años
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter web" style="width: 41.30%">
                <p class="progress-meter-text">1430 (7,51%)</p>
              </span>
            </div>
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter zero-ten" style="width: 9.84%">
                <p class="progress-meter-text">136 (1,79%)</p>
              </span>
            </div>
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter paper" style="width: 4.73%">
                <p class="progress-meter-text">2 (0,86%)</p>
              </span>
            </div>
          </td>
          <td class="border-left">
            <strong>1568 (5,84%)</strong>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter" style="width: 32.12%"></span>
            </div>
          </td>
        </tr>
         <tr>
          <td class="border-right">
            De 25 a 29 años
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter web" style="width: 69.08%">
                <p class="progress-meter-text">2390 (12,56%)</p>
              </span>
            </div>
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter zero-ten" style="width: 35.80%">
                <p class="progress-meter-text">495 (6.51%)</p>
              </span>
            </div>
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter paper" style="width: 28.33%">
                <p class="progress-meter-text">12 (5,17%)</p>
              </span>
            </div>
          </td>
          <td class="border-left">
            <strong>2897 (10,78%)</strong>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter" style="width: 59.34%"></span>
            </div>
          </td>
        </tr>
         <tr>
          <td class="border-right">
            De 30 a 34 años
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter web" style="width: 99.94%">
                <p class="progress-meter-text">3457 (18,17%)</p>
              </span>
            </div>
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter zero-ten" style="width: 65.50%">
                <p class="progress-meter-text">905 (11,91%)</p>
              </span>
            </div>
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter paper" style="width: 30.69%">
                <p class="progress-meter-text">13 (5,60%)</p>
              </span>
            </div>
          </td>
          <td class="border-left">
            <strong>4375 (16,29%)</strong>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter" style="width: 89.60%"></span>
            </div>
          </td>
        </tr>
         <tr>
          <td class="border-right">
            De 35 a 39 años
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter web" style="width: 93.94%">
                <p class="progress-meter-text">3250 (17,08%)</p>
              </span>
            </div>
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter zero-ten" style="width: 72.16%">
                <p class="progress-meter-text">997 (13,12%)</p>
              </span>
            </div>
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter paper" style="width: 37.79%">
                <p class="progress-meter-text">16 (6,90%)</p>
              </span>
            </div>
          </td>
          <td class="border-left">
            <strong>4263 (15,87%)</strong>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter" style="width: 87.28%"></span>
            </div>
          </td>
        </tr>
         <tr>
          <td class="border-right">
            De 40 a 44 años
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter web" style="width: 70.78%">
                <p class="progress-meter-text">2450 (12,87%)</p>
              </span>
            </div>
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter zero-ten" style="width: 70.84%">
                <p class="progress-meter-text">979 (12,88%)</p>
              </span>
            </div>
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter paper" style="width: 42.52%">
                <p class="progress-meter-text">17 (7,33%)</p>
              </span>
            </div>
          </td>
          <td class="border-left">
            <strong>3446 (12,83%)</strong>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter" style="width: 70.56%"></span>
            </div>
          </td>
        </tr>
         <tr>
          <td class="border-right">
            De 45 a 49 años
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter web" style="width: 47.85%">
                <p class="progress-meter-text">1656 (8,70%)</p>
              </span>
            </div>
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter zero-ten" style="width: 56.76%">
                <p class="progress-meter-text">784 (10,32%)</p>
              </span>
            </div>
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter paper" style="width: 30.69%">
                <p class="progress-meter-text">13 (5,60%)</p>
              </span>
            </div>
          </td>
          <td class="border-left">
            <strong>2453 (9,13%)</strong>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter" style="width: 50.22%"></span>
            </div>
          </td>
        </tr>
         <tr>
          <td class="border-right">
            De 50 a 54 años
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter web" style="width: 40.42%">
                <p class="progress-meter-text">1398 (7,35%)</p>
              </span>
            </div>
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter zero-ten" style="width: 55.50%">
                <p class="progress-meter-text">767 (10,09%)</p>
              </span>
            </div>
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter paper" style="width: 63.74%">
                <p class="progress-meter-text">27 (11,64%)</p>
              </span>
            </div>
          </td>
          <td class="border-left">
            <strong>1996 (7,43%)</strong>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter" style="width: 40.86%"></span>
            </div>
          </td>
        </tr>
        <tr>
          <td class="border-right">
            De 55 a 59 años
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter web" style="width: 32.67%">
                <p class="progress-meter-text">1131 (5,94%)</p>
              </span>
            </div>
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter zero-ten" style="width: 46.70%">
                <p class="progress-meter-text">645 (8,49%)</p>
              </span>
            </div>
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter paper" style="width: 59.02%">
                <p class="progress-meter-text">25 (10,78%)</p>
              </span>
            </div>
          </td>
          <td class="border-left">
            <strong>1997 (7,43%)</strong>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter" style="width: 40.86%"></span>
            </div>
          </td>
        </tr>
         <tr>
          <td class="border-right">
            De 60 a 64 años
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter web" style="width: 22.77%">
                <p class="progress-meter-text">788 (4,14%)</p>
              </span>
            </div>
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter zero-ten" style="width: 41.47%">
                <p class="progress-meter-text">573 (7,54%)</p>
              </span>
            </div>
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter paper" style="width: 59.02%">
                <p class="progress-meter-text">25 (10,78%)</p>
              </span>
            </div>
          </td>
          <td class="border-left">
            <strong>1386 (5,16%)</strong>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter" style="width: 28.38%"></span>
            </div>
          </td>
        </tr>
         <tr>
          <td class="border-right">
            De 65 a 69 años
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter web" style="width: 12.21%">
                <p class="progress-meter-text">423 (2,22%)</p>
              </span>
            </div>
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter zero-ten" style="width: 36.58%">
                <p class="progress-meter-text">505 (6,65%)</p>
              </span>
            </div>
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter paper" style="width: 89.70%">
                <p class="progress-meter-text">38 (16,38%)</p>
              </span>
            </div>
          </td>
          <td class="border-left">
            <strong>966 (3,60%)</strong>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter" style="width: 19.80%"></span>
            </div>
          </td>
        </tr>
         <tr>
          <td class="border-right">
            De 70 y más años
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter web" style="width: 7.43%">
                <p class="progress-meter-text">256 (1,35%)</p>
              </span>
            </div>
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter zero-ten" style="width: 57.70%">
                <p class="progress-meter-text">797 (10,49%)</p>
              </span>
            </div>
          </td>
          <td>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter paper" style="width: 99.16%">
                <p class="progress-meter-text">42 (18,10%)</p>
              </span>
            </div>
          </td>
          <td class="border-left">
            <strong>1095 (4,08%)</strong>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter" style="width: 22.44%"></span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
