<table class="age-groups-investment-projects">
  <thead>
    <tr>
      <th class="table-width border-right">EDAD</th>
      <th class="border-left">TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="border-right">
        De 16 a 19 años
      </td>
      <td class="border-left">
        <strong>418 (1,56%)</strong>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 8.58%"></span>
        </div>
      </td>
    </tr>
    <tr>
      <td class="border-right">
        De 20 a 24 años
      </td>
      <td class="border-left">
        <strong>1568 (5,84%)</strong>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 32.12%"></span>
        </div>
      </td>
    </tr>
     <tr>
      <td class="border-right">
        De 25 a 29 años
      </td>
      <td class="border-left">
        <strong>2897 (10,78%)</strong>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 59.34%"></span>
        </div>
      </td>
    </tr>
     <tr>
      <td class="border-right">
        De 30 a 34 años
      </td>
      <td class="border-left">
        <strong>4375 (16,29%)</strong>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 89.60%"></span>
        </div>
      </td>
    </tr>
     <tr>
      <td class="border-right">
        De 35 a 39 años
      </td>
      <td class="border-left">
        <strong>4263 (15,87%)</strong>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 87.28%"></span>
        </div>
      </td>
    </tr>
     <tr>
      <td class="border-right">
        De 40 a 44 años
      </td>
      <td class="border-left">
        <strong>3446 (12,83%)</strong>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 70.56%"></span>
        </div>
      </td>
    </tr>
     <tr>
      <td class="border-right">
        De 45 a 49 años
      </td>
      <td class="border-left">
        <strong>2453 (9,13%)</strong>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 50.22%"></span>
        </div>
      </td>
    </tr>
     <tr>
      <td class="border-right">
        De 50 a 54 años
      </td>
      <td class="border-left">
        <strong>1996 (7,43%)</strong>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 40.86%"></span>
        </div>
      </td>
    </tr>
    <tr>
      <td class="border-right">
        De 55 a 59 años
      </td>
      <td class="border-left">
        <strong>1997 (7,43%)</strong>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 40.86%"></span>
        </div>
      </td>
    </tr>
     <tr>
      <td class="border-right">
        De 60 a 64 años
      </td>
      <td class="border-left">
        <strong>1386 (5,16%)</strong>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 28.38%"></span>
        </div>
      </td>
    </tr>
     <tr>
      <td class="border-right">
        De 65 a 69 años
      </td>
      <td class="border-left">
        <strong>966 (3,60%)</strong>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 19.80%"></span>
        </div>
      </td>
    </tr>
     <tr>
      <td class="border-right">
        De 70 y más años
      </td>
      <td class="border-left">
        <strong>1095 (4,08%)</strong>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 22.44%"></span>
        </div>
      </td>
    </tr>
  </tbody>
</table>
