<% provide :title do %><%= t('pages.titles.accessibility') %><% end %>
<div class="page row-full">
  <div class="row">
    <div class="text small-12 column">
      <h1>Accessibilitat</h1>
    </div>
  </div>
</div>
