<div class="row margin-top">
  <div class="small-12">
    <h2>Calendario Asambleas de Barrio octubre y noviembre 2017</h2>
    <a target="_blank" title="Primer borrador de plan de convivencia" href="/assets/20171011_calendario_asambleas_barrio_oct_nov_2017.pdf">Descargar PDF para impresión</a>
    <p class="margin">
      <%= image_tag('20171011_calendario_asambleas_barrio_oct_nov_2017.png', label: 'Calendario  de asambleas de barrio Getafe octubre y noviembre 2017', title: 'Calendario  de asambleas de barrio Getafe 2017', class: 'panel-image') %>
    </p>
  </div>
</div>