<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("census_terms") %>
<% end %>

<div class="page row-full">
  <div class="row">
    <div class="text small-12 column">
      <h2>Terminos de acceso al Padrón</h2>
    </div>
  </div>
</div>
