<div class="page row-full">
  <div class="row">
    <div class="text small-12 column">
      <h2>Condiciones de acceso al Padrón.</h2>
      <p>Para verificar la cuenta hay que tener 16 años o más y estar empadronado en Barcelona aportando los datos indicados anteriormente, los cuales serán contrastados por la Dirección General de Participación Ciudadana con los ficheros 'Padrón Municipal de Habitantes' cuyo responsable es la Dirección General de Estadística y 'Servicios Atención al Ciudadano' cuyo responsable es la Dirección General de Calidad y Atención al Ciudadano.</p>
      <p>Aceptando el proceso de verificación acepta dar su consentimiento para contrastar dicha información, así como medios de contacto que figuren en dichos ficheros.</p>
      <p>Los datos aportados serán incorporados y tratados por la Dirección General de Participación Ciudadana en el fichero 'Gestión de Procesos Participativos' indicado anteriormente en las condiciones de uso del portal.</p>
    </div>
  </div>
</div>
