<div class="page row-full">
  <div class="row">
    <div class="text small-12 column">
      <h2>Census access terms</h2>
      <p>To confirm the account, you must be 16 or older and be registered as resident in Madrid, having provided the information requested previously, which the Directorate-General of Civil Participation will verify against the files 'Municipal Census of Inhabitants', for which the Directorate-General for Statistics is responsible, and the 'Citizen Support Services', for which the Directorate-General for Quality and Citizen Services is responsible.</p>
      <p>By accepting the verification process, you also consent to the verification of this information, as well as the contact methods featuring in said files.</p>
      <p>The data provided will be acquired and processed by the Directorate-General for Civil Participation in the file 'Management of Participatory Activities' mentioned previously in the terms and conditions of use for the Portal.</p>
    </div>
  </div>
</div>
