citizen_assembly_2017.html.erb<div class="row margin-top">
  <div class="small-12">
    <h2>Votaciones de Presupuestos Participativos 2017</h2>

    <p class="margin">
      <%= image_tag('20170529_participacion_presupuestos.jpg', label: 'Calendario  de asambleas de barrio Getafe 2017', title: 'Calendario  de asambleas de barrio Getafe Presupuestos Participativos 2017', class: 'panel-image') %>
    </p>
  </div>
</div>