<div class="emphatized-header-row no-margin-top budget-header-bg">

  <div class="row padding">
    <div class="small-12 column">
      <h1 class="margin-bottom">
        I Borrador del PLAN DE CONVIVENCIA DE GETAFE

      </h1>
    </div>

    <div class="row">
      <div class="small-12 column">
        <div class="small-12 medium-9 column with-border">

          <h3>Audiencias Públicas en Getafe</h3>
          <p>
            DELEGACIÓN DE CULTURA Y MANTENIMIENTO
            <br>
            <i>Cooperación al Desarrollo</i>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row margin-top">
  <div class="small-12 medium-6 large-8 column">
    <h2>Getafe Contigo</h2>

    <p>

      Os presentamos el <strong>I Borrador del PLAN DE CONVIVENCIA DE GETAFE</strong> una apuesta y un compromiso del Ayuntamiento para impulsar políticas públicas para la mejora de la convivencia y el desarrollo social en la ciudad, basándose en 5 principios básicos: la cohesión social, la participación, los derechos humanos, las diversidades y el desarrollo social.
    </p>

    <p>
      Se plantea como una vía de intervención social a corto, medio y largo plazo: crear las herramientas necesarias para mejorar las relaciones entre los vecinos y vecinas en todos los barrios de Getafe y que sean un ejemplo de respeto y cordialidad, que permitan construir una ciudad y una ciudadanía más igualitaria, trabajando sobre la idea de apego al barrio, de sentirnos orgullosos de nuestro barrio y de nuestra ciudad.
    </p>

    <p>
      El Ayuntamiento cuenta en este proceso de creación, tanto con sus técnicos, como con la Mesa de la Convivencia, entidades y vecinos y vecinas que se quieran sumar a este trabajo que estará también ligado al Plan de Inclusión Social de la ciudad.
    </p>

    <p>
      Una de las medidas que se quiere proyectar a través de este plan es la conocida como Red Antirrumores que estará compuesta por vecinos, vecinas y entidades voluntarias y concienciadas de la importancia de acabar con los estereotipos y prejuicios que generan conflictos innecesarios en el día a día de cada uno de los barrios.
    </p>

    <p>
      De forma paralela, se está trabajando en la creación de una Ordenanza de Convivencia, que regule normativamente este Plan y algunas de las situaciones habituales, con el fin último de resolver posibles problemas a través de soluciones que fomenten la propia convivencia. Esta ordenanza también se consensuará con los vecinos y vecinas, así como con las asociaciones y colectivos implicados.
    </p>

    <p>
      Os invitamos a enriquecer este borrador durante los próximos meses con vuestras aportaciones y sugerencias,  que incorporaremos a un documento final,  un plan que estará siempre vivo, en continuo movimiento y contando siempre con vuestra participación.
    </p>

    <h2>Preguntas</h2>

    <table>
      <table id="spending-proposals-results">
        <thead>
        <th class="text-center">Nº</th>
        <th>Pregunta</th>
        </thead>
        <tbody>
        <tr>
          <td class="text-center">
            1.
          </td>
          <td>
            <%= link_to debate_path(1) do %>
                ¿Qué actividades consideras que se deberían llevar a cabo en tu barrio para mejorar la convivencia entre sus vecinos y vecinas? Aportaciones.
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            2.
          </td>
          <td>
            <%= link_to debate_path(2) do %>
                Las medidas que están contempladas en el Plan, ¿consideras que son necesarias en tu barrio? Opiniones y sugerencias al respecto.
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            3.
          </td>
          <td>
            <%= link_to debate_path(3) do %>
                A tu juicio, ¿Cuál es el principal valor que aportan las diferentes diversidades (género, edad, procedencia, funcional, sexual, religiosa…) a la convivencia en la ciudad?
            <% end %>
          </td>
        </tr>
        </tbody>
      </table>
    </table>

  </div>

  <div class="small-12 medium-6 large-4 column legislation">
    <h3>Información adicional</h3>
    <ul class="no-bullet download">
      <li>

        <a target="_blank" title="Primer borrador de plan de convivencia" href="/assets/20161227_borrador_plan_convivencia.pdf">

          <h5>Getafe Contigo</h5>
          <i class="icon-document icon float-right"></i>
          <small>(Primer borrador de plan de convivencia del Ayuntamiento de Getafe)</small>
        </a>      </li>
    </ul>
  </div>
</div>