<div class="page row-full">
  <div class="row">
    <div class="text small-12 column">
      <h1>Próximas novedades</h1>
      <p>En breve inauguraremos la sección de propuestas ciudadanas. Una sección que permitirá que entre todos decidamos qué debe ser Madrid. Cualquiera podrá presentar propuestas, que en caso de que sean aceptadas mayoritariamente se llevarán a cabo por parte del Ayuntamiento. Debate, propón, decide.</p>
    </div>
  </div>
</div>
