<% provide :title do %><%= t('pages.titles.conditions') %><% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h4>Términos y Condiciones</h4>
    <p> </p>
    <p>En la Fundación Ciudadano Inteligente creemos en el derecho a ser diferentes. Por esto, las propuestas que inciten al odio o discriminación por razones políticas, sexuales, de credo, género, étnicas o raciales, serán rechazadas inmediatamente.</p>
    <p>Las propuestas no pueden:</p>
    <ul style="list-style-type:disc">
    <li><p>Promover causas de carácter privado, y no público.</p></li>
    <li><p>Promover acciones que escapen a las facultades del Municipio.</p></li>
    <li><p>Promover causas particulares y no de interés colectivo.</p></li>
    <li><p>Escaparse de los principios democráticos. En Ciudadano Inteligente creemos que la base de la democracia es la creencia de que todos los ciudadanos deben tener derecho al mismo nivel de incidencia sobre la decisiones de nuestra comunidad.</p></li>
    </ul>
  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>
</div>
