<% provide :title do %>Termes i condicions d'ús<% end %>
<div class="page row-full">
  <div class="row">
    <div class="text small-12 column">

      <%= render '/shared/print' %>
      <h1>Termes i condicions d'ús</h1>
      <h2>Títol 1</h2>
      <h3>Títol 2</h3>
      <p>Descripció.</p>
    </div>
  </div>
</div>
