<% provide :title do %><%= t('pages.titles.conditions') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("conditions") %>
<% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1><%= t("pages.conditions") %></h1>
    <h2>AVISO LEGAL SOBRE LAS CONDICIONES DE USO</h2>

    <p>
      El Ayuntamiento de Getafe, a través de Participa Getafe (también nombrado como "Portal de Participación"), crea un punto de encuentro cuyo objetivo es proponer, valorar, debatir y compartir propuestas relacionadas con la mejora de la ciudad y sus presupuestos. Los usuarios están obligados a hacer un uso diligente y acorde a dicho objetivo.
    </p>
    <p>
      El uso y explotación de los contenidos y servicios del Portal de Participación están sujetos a lo establecido en la Ley 37/2007, de 16 de noviembre, sobre reutilización de la información del sector público.
    </p>
    <p>
      La estructura del Portal de Participación, sus diseños, logos, informaciones y códigos son de titularidad del Ayuntamiento de Getafe, salvo expresa indicación de una titularidad diferente, y están protegidos por la legislación sobre propiedad intelectual e industrial.
    </p>
    <p>
      El Ayuntamiento es la entidad responsable del fichero de datos generado con los datos de carácter personal suministrados por los usuarios del Portal de Participación y se compromete a tratarlos conforme determina la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal. El portal utiliza “cookies” para dar servicio (autenticación) que en ningún caso recogerán datos de carácter personal.
    </p>

    <p>
      El Ayuntamiento de Getafe no es responsable del uso incorrecto del Portal de Participación por los usuarios o de los contenidos localizados en el mismo, siendo cada usuario responsable de su uso correcto y de la legalidad de los contenidos y opiniones que haya compartido.
    </p>

    <p>
      El Ayuntamiento de Getafe se reserva, por lo tanto, el derecho a limitar el acceso al Portal de Participación del Ayuntamiento de Getafe de opiniones, informaciones, comentarios o documentos que los usuarios quieran incorporar, pudiendo instalar filtros a tal efecto. Todo ello se realizará únicamente mientras tenga el fin de preservar el objetivo fundamental del Portal de Participación.
    </p>
    <p>
      De acuerdo a la normativa legal vigente queda prohibida la utilización del Portal de Participación del Ayuntamiento de Getafe con fines distintos a los de debatir, compartir y valorar propuestas, y específicamente:
    </p>
    <ul>
      <li>
        Compartir cualquier contenido que pueda ser considerado como una vulneración en cualquier forma de los derechos fundamentales al honor, imagen e intimidad personal y familiar de terceros o contra la dignidad de las personas.
      </li>
      <li>
        Compartir imágenes o fotografías que recojan imágenes o datos personales de terceros sin haber obtenido el oportuno consentimiento de sus titulares.
      </li>
      <li>
        Compartir cualquier contenido que vulnere el secreto en las comunicaciones, la infracción de derechos de propiedad industrial e intelectual o de las normas reguladoras de la protección de datos de carácter personal.
      </li>
      <li>
        Reproducir, distribuir, compartir contenidos, informaciones o imágenes que hayan sido puestas a disposición por otros usuarios sin la autorización expresa de estos.
      </li>
      <li>
        Su utilización con fines de publicidad.
      </li>
    </ul>

    <p>
      La realización de cualquiera de los anteriores comportamientos permitirá al Ayuntamiento de Getafe suspender temporalmente la actividad de un participante, inhabilitar su cuenta o borrar su contenido, sin perjuicio de otras responsabilidades que puedan ser reclamadas.
    </p>

    <p>
      En caso de que el contenido introducido por los usuarios incorpore un enlace a otro sitio web, el Ayuntamiento de Getafe no será responsable por los daños o perjuicios derivados del acceso al enlace o a sus contenidos.
    </p>

    <p>
      En caso de litigio de cualquier clase o por cualquier motivo entre los participantes en el sitio web y/o un tercero, el Ayuntamiento de Getafe quedará exento de cualquier responsabilidad por reclamaciones, demandas o daños de cualquier naturaleza relacionados o derivados del litigio.
    </p>
  </div>


</div>
