<% provide :title do %>Términos y condiciones de uso<% end %>
<div class="page row-full">
  <div class="row">
    <div class="text small-12 column">

      <%= render '/shared/print' %>
      <h1>Términos y condiciones de uso</h1>
      <h2>Título 2</h2>
      <h3>Título 3</h3>
      <p>Descripción</p>
    </div>
  </div>
</div>
