<% provide :title do %>Terms of use and conditions<% end %>
<div class="page row-full">
  <div class="row">
    <div class="text small-12 column">

      <%= render '/shared/print' %>
      <h1>Terms of use and conditions</h1>
      <p>Description</p>
    </div>
  </div>
</div>
