<% provide :title do %><%= t('pages.titles.conditions') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("conditions") %>
<% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1><%= t("pages.conditions") %></h1>
    <h2>Aviso legal sobre las condiciones de uso, privacidad y protección de datos personales de la plataforma digital "Más democracia en Europa"</h2>

    <h3>1. Ámbito de aplicación de las condiciones de uso</h3>
    <p>La participación activa en la plataforma digital, más allá de la navegación y lectura de su contenido, se regula por las presentes condiciones de uso, que vinculan a todas las personas que participen en este sitio web. Cualquier persona que desee participar deberá registrarse en la plataforma, a cuyo fin se solicitará la aceptación de estas condiciones de uso.</p>
    <p>Esglobal/FRIDE se reserva la facultad de modificar las presentes condiciones de uso para la participación en la plataforma digital “Más democracia en Europa”, en cuyo caso serán actualizadas en este sitio web.</p>

    <h3>2. Objetivo de la iniciativa</h3>
    <p>Esta plataforma digital está dirigida a recoger propuestas realizadas por cualquier persona, organización o grupo de interés para mejorar la democracia en Europa y favorecer un debate público sobre las propuestas realizadas.</p>

    <h3>3. Cuestiones generales sobre la participación en la plataforma digital "Más democracia en Europa"</h3>
    <p>Cualquier persona física a partir de los 16 años que se haya registrado previamente en la plataforma digital, o cualquier colectivo u organización a través de un representante que se haya registrado previamente como tal en la plataforma digital, podrá participar en la misma.</p>
    <p>Mediante la aceptación de estas condiciones de uso se declara tener 16 años o más. Los mayores de edad a cuyo cargo se encuentran menores son responsables plenos de la actuación que tengan éstos a través de esta plataforma digital.</p>
    <p>Las propuestas de organizaciones o colectivos serán presentadas en su nombre a través de una persona física que declare tener 16 años o más y ostente la representación de dicha organización o colectivo, indicando el modo concreto en que tal representación pueda ser verificada. Dicha persona será responsable plena de que la propuesta en cuestión refleje la opinión o el acuerdo de la organización o del colectivo en cuestión</p>
    <p>No existe limitación en cuanto al número de propuestas que puedan presentar las personas físicas y las organizaciones o colectivos.</p>
    <p>Cada propuesta será identificada mediante un título y se describirán sus objetivos concretos de modo claro y preciso; asimismo, se recomienda rellenar otros campos de la plantilla que a tal efecto se facilita, relativos a la factibilidad y al impacto de la propuesta. Se recomienda que la descripción de la propuesta no supere los 3000 caracteres. Las propuestas podrán ser difundidas a través de redes sociales como Vimeo, Youtube, Slideshare, Flickr o SoundCloud.</p>

    <h3>4. Obligaciones de los/as usuarios/as</h3>
    <p>Esglobal/FRIDE no es responsable del uso incorrecto de la plataforma digital “Más democracia en Europa” por los/as usuarios/as, siendo cada uno/a de ellos/as responsable de su uso diligente y acorde con los objetivos de la iniciativa, así como de la legalidad de los contenidos y opiniones que haya compartido.</p>
    <p>Esglobal/FRIDE se reserva, en este sentido, el derecho a limitar el acceso a la plataforma digital “Más democracia en Europa” de opiniones, informaciones, comentarios o documentos realizados por los usuarios/as, pudiendo instalar filtros a tal efecto. </p>
    <p>De acuerdo con la normativa legal vigente, queda prohibida la utilización de la plataforma digital “Más democracia en Europa” con fines distintos a los de debatir, compartir y valorar propuestas, y específicamente se prohíbe:</p>
    <ul>
      <li>Compartir cualquier contenido que pueda ser considerado como una vulneración en cualquier forma de los derechos fundamentales al honor, imagen e intimidad personal y familiar de terceros o contra la dignidad de las personas.</li>
      <li>Compartir imágenes o fotografías que recojan imágenes o datos personales de terceros sin haber obtenido el oportuno consentimiento de sus titulares.</li>
      <li>Compartir cualquier contenido que vulnere el secreto en las comunicaciones, la infracción de derechos de propiedad industrial e intelectual o de las normas reguladoras de la protección de datos de carácter personal.</li>
      <li>Reproducir, distribuir, compartir contenidos, informaciones o imágenes que hayan sido incorporadas a la plataforma por otros/as usuarios/as sin la autorización expresa de estos.</li>
      <li>Su utilización con fines de publicidad.</li>
    </ul>
    <p>La realización de cualquiera de los anteriores comportamientos facultará a esglobal/FRIDE a suspender temporalmente la actividad de un/a participante, inhabilitar su cuenta o borrar su contenido, sin perjuicio de otras responsabilidades que puedan ser reclamadas.</p>
    <p>En caso de que el contenido introducido por los usuarios incorpore un enlace a otro sitio web, esglobal/FRIDE no será responsable por los daños o perjuicios derivados del acceso al enlace o a sus contenidos.</p>
    <p>En caso de litigio de cualquier clase o por cualquier motivo entre los participantes en el sitio web y/o un tercero, esglobal/FRIDE quedará exenta de cualquier responsabilidad por reclamaciones, demandas o daños de cualquier naturaleza relacionados o derivados del litigio.</p>

    <h3>5. Uso de la plataforma digital</h3>
    <p>Los/as participantes podrán acceder y navegar por la plataforma digital libremente y de forma anónima.</p>
    <p>En caso de que quieran realizar alguna acción que implique la creación, apoyo o comentario de una propuesta, se les solicitará que verifiquen que tienen 16 años o más y que introduzcan sus credenciales, para cuya obtención será necesario registrarse previamente. Dicho registro se realizará introduciendo los siguientes datos:</p>
    <ul>
      <li>Nombre de usuario</li>
      <li>Correo electrónico</li>
      <li>Aceptación de las condiciones de uso de la plataforma digital "Más democracia en Europa"</li>
    </ul>
    <p>En caso de que una persona física actúe por cuenta o en representación de una organización o un colectivo, se le solicitará asimismo:</p>
    <ul>
      <li>Nombre de la organización o colectivo que representa</li>
      <li>Cargo o representación que ostenta</li>
      <li>Medio de verificación de dicho cargo o representación (por ejemplo, un teléfono de contacto de la organización, el correo electrónico de otros miembros del grupo…)</li>
    </ul>
    <p>La plataforma digital “Más democracia en Europa” también permite que la identificación de los usuarios se realice mediante el usuario de Facebook, Twitter y Google+.</p>
    <p>Los/as participantes registrados/as podrán interactuar con la plataforma digital, en su propio nombre o en representación de organizaciones y colectivos, del siguiente modo:</p>
    <ul>
      <li>Creando una o más propuestas</li>
      <li>Comentando las propuestas existentes</li>
      <li>Realizando una o más propuestas complementarias a una propuesta existente.</li>
      <li>Creando una o más propuestas distintas o contrapropuestas a partir de propuestas existentes.</li>
    </ul>
    <p>Todas las propuestas originales, así como las complementarias y las contrapropuestas, serán publicadas automáticamente, sin perjuicio de que aquellas que incumplan las condiciones de uso puedan posteriormente ser retiradas de la plataforma.</p>

    <h3>6. Condiciones relativas al tratamiento de los contenidos proporcionados por los/as usuarios/as</h3>
    <p>Las presentes condiciones regulan los términos aplicables al contenido remitido por los/as usuarios/as de esta plataforma a través del formulario correspondiente (en adelante, el contenido). Estas condiciones se aplican tanto al contenido inicialmente remitido a la plataforma como a cualquier contenido que se envíe con posterioridad a esglobal/FRIDE. Al respecto, se realizan las siguientes previsiones:</p>
    <ul>
      <li>A. No Confidencialidad: Todo el contenido remitido a esglobal/FRIDE por el/la usuario/a deberá ser susceptible de ser conocido por el público en general. Por lo tanto, el esglobal/FRIDE tratará el citado contenido como información no confidencial.</li>
      <li>B. Procedimiento: esglobal/FRIDE podrá ponerse en contacto con los/as usuarios/as para solicitarles información adicional. Dicha información tendrá asimismo carácter de no confidencial. Esglobal/FRIDE se reserva el derecho de no contactar con los/as usuarios/as, sin perjuicio de lo establecido en el apartado relativo a "Derechos de propiedad intelectual e industrial". En el supuesto que el esglobal/FRIDE, a su entera discreción, decidiera contactar con determinados/as usuarios/as, la organización no adquirirá compromiso alguno más allá de los términos del intercambio.</li>
      <li>C. Publicidad o difusión de los contenidos presentados: Los participantes en la plataforma digital “Más democracia en Europa” declaran conocer y aceptar el hecho de que la información aportada será publicada en la web www.masdemocraciaeneuropa.org, así como a través de otros medios que la organización considere oportunos para dar a conocer la iniciativa. Asimismo, declaran conocer y aceptar que las propuestas y comentarios realizados por ellos/as pueden ser utilizados por para la elaboración del informe que realizará esglobal/FRIDE afínales de septiembre, y que será remitido al gobierno a través del Ministerio de Asuntos Exteriores, Unión Europea y Cooperación, así como a los distintos grupos parlamentarios, yque a su vez será publicado en la web www.masdemocraciaeneuropa.org, así como a través de otros medios que la organización considere oportunos para dar a conocer la iniciativa. El gobiernopodrá a su vez compartir la totalidad o partes de dicho informe con los gobiernos de otros países de la Unión Europea y con las Instituciones comunitarias.</li>
      <li>D. No devolución material: esglobal/FRIDE no tiene obligación alguna de devolver el contenido remitido por los/as usuarios/as.</li>
      <li>E. Procedimiento de aviso y retirada: esglobal/FRIDE procesará las peticiones de eliminación o retirada de contenidos que incumplan las condiciones de uso. Cualquier persona, con motivos razonados si existe incumplimiento de las presentes condiciones de uso, podrá solicitar la retirada de contenidos a esglobal/FRIDE. Esglobal/FRIDE se reserva el derecho de hacer las comprobaciones o verificaciones oportunas con carácter previo a la retirada de cualquier contenido.</li>
    </ul>

    <h3>7. Política de privacidad y protección de datos</h3>
    <ul>
      <li>
        <p>A. Titularidad de los derechos de propiedad intelectual e industrial: El usuario/a que aporta propuestas o realiza propuestas complementarias declara, mediante la aceptación de las presentes condiciones, ser titular de los derechos de propiedad intelectual y/o industrial u ostentar derechos suficientes sobre dicho contenido, en particular cuando lo haga en calidad de representante de una organización o colectivo, y que además lo remite al esglobal/FRIDE de forma voluntaria para su divulgación en la plataforma digital y su utilización para elaborar el informe final de la iniciativa.</p>
        <p>La titularidad de todos y cada uno de los contenidos presentados que se encuentren protegidos o sean susceptibles de encontrarse protegidos por el Derecho de Propiedad Industrial e Intelectual, corresponde a los autores y/o titulares de los mencionados contenidos.</p>
        <p>Esglobal/FRIDE no asume responsabilidad alguna, ya sea directa o indirecta, respecto de cualquier tipo de controversia, disputa y/o litigio que pudiera derivarse de la publicación, divulgación y/o difusión de los contenidos aportados sin el preceptivo consentimiento de sus legítimos titulares.</p>
        <p>Esglobal/FRIDE respeta los derechos de propiedad intelectual o industrial sobre el contenido remitido por los usuarios. Cualquier vulneración de estos derechos será responsabilidad de la persona que aporte el contenido.</p>
        <p>Esglobal/FRIDE, por la mera recepción del contenido, no recibe del usuario/a licencia alguna de propiedad intelectual o industrial, por lo que no hará uso del contenido de modo distinto al descrito más arriba, salvo aceptación expresa de su titular.</p>
      </li>
      <li>
        <p>B. Protección de datos: Los datos personales aportados por los/as usuarios/as que se registren en la plataforma digital “Más democracia en Europa” serán incorporados y tratados en el fichero Gestión de la plataforma digital “Más democracia en Europa”, cuya finalidad es gestionar este proceso participativo para el control de la habilitación de las personas que participan en el mismo y la elaboración del informe final de la iniciativa. </p>
      </li>
      <li>
        <p>La organización responsable es esglobal/FRIDE, ante la que la persona interesada podrá ejercer los derechos de acceso, rectificación, cancelación y oposición en cumplimiento del artículo 5 de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal.</p>
      </li>
      <li>
        <p>Como principio general, los datos personales no serán comunicados a terceros, excepto cuando la comunicación haya sido autorizada por el usuario/a, o la información sea requerida por la autoridad judicial, ministerio fiscal o la policía judicial, o se dé alguno de los supuestos regulados en el artículo 11 de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal</p>
      </li>
      <li>
        <p>Los derechos de acceso, rectificación, cancelación y oposición, se podrán ejercitar dirigiendo una comunicación por escrito a esglobal/FRIDE a través del correo electrónico.</p>
      </li>
    </ul>

    <h3>8. Normativa aplicable</h3>
    <p>Las normas del ordenamiento jurídico español rigen de manera exclusiva respecto de la interpretación y aplicación de estas condiciones de uso. Cualquier disputa, controversia o reclamación derivada de estas condiciones de uso, o el incumplimiento, rescisión o invalidación de estas, se resolverán exclusivamente ante los juzgados competentes.</p>

    <h3>9. Revisión de las condiciones de uso</h3>
    <p>Esglobal/FRIDE se reserva el derecho de revisar las presentes condiciones de uso y la política de privacidad en cualquier momento y por cualquier razón. En dicho caso, los usuarios/as registrados/as serán avisados a través de este espacio en línea y, si continúan utilizando la plataforma digital, se entenderá que aceptan las modificaciones introducidas.</p>
  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>
</div>
