<div class="page row-full">
  <div class="row">
    <div class="menu small-12 medium-3 column">
      <ul class="clear">
        <li><a href="#1">Question 1</a></li>
      </ul>
    </div>
    <div class="text small-12 medium-9 column">
      <h1 class="clear">Frequently asked questions</h1>
      <p>Introductory text.</p>

      <h2 id="1">First question</h2>
      <p>First answer.</p>
    </div>
  </div>
</div>
