<div class="row margin-top">
  <div class="menu small-12 medium-3 column">
    <%= render "shared/back_link" %>

    <ul class="menu vertical margin-top list-group">
      <li><a href="#1" class="list-group-item"><strong>Quel est le calendrier de la procédure ?</strong></a></li>
      <li><a href="#2" class="list-group-item"><strong>Toutes les résidences sont-elles concernées ?</strong></a></li>
      <li><a href="#3" class="list-group-item"><strong>Quels sont les critères de recevabilité des projets ?</strong></a></li>
      <li><a href="#4" class="list-group-item"><strong>Est-ce que les enfants peuvent proposer un projet ?</strong></a></li>
      <li><a href="#5" class="list-group-item"><strong>Quel est le montant du budget prévu ?</strong></a></li>
      <li><a href="#6" class="list-group-item"><strong>Comment puis-je proposer une idée / un projet ?</strong></a></li>
      <li><a href="#7" class="list-group-item"><strong>Puis-je être aidé pour finaliser mon projet ?</strong></a></li>
      <li><a href="#8" class="list-group-item"><strong>Comment évaluer les coûts des projets ?</strong></a></li>
      <li><a href="#9" class="list-group-item"><strong>Qui décide de la recevabilité du projet ?</strong></a></li>
      <li><a href="#10" class="list-group-item"><strong>A quoi sert le bouton « soutenir »</strong></a></li>
      <li><a href="#11" class="list-group-item"><strong>Qui va voter ? Qui décide au final ?</strong></a></li>
      <li><a href="#12" class="list-group-item"><strong>Comment voter ?</strong></a></li>
      <li><a href="#13" class="list-group-item"><strong>Quand voter ?</strong></a></li>
      <li><a href="#14" class="list-group-item"><strong>Quand connaitrons-nous les résultats du vote ?</strong></a></li>
      <li><a href="#15" class="list-group-item"><strong>Quand les projets lauréats seront mis en oeuvre ?</strong></a></li>
      <li><a href="#16" class="list-group-item"><strong>Je suis à l’origine du projet et mon projet a été sélectionné, puis-je participer à sa mise en oeuvre ?</strong></a></li>
      <li><a href="#17" class="list-group-item"><strong>Est-ce qu’il sera possible de suivre les projets qui auront été soutenus ?</strong></a></li>
      <li><a href="#18" class="list-group-item"><strong>Contacts</strong></a></li>
      <li><a href="#19" class="list-group-item"><strong>Comment me connecter ?</strong></a></li>
    </ul>
  </div>

  <div class="text small-12 medium-9 column">
    <h1 class="clear">Foire aux questions (FAQ)</h1>

    <h2 id="1">Quel est le calendrier de la procédure ?</h2>
    <ul>
      <li><strong>Fin-mars – fin juin</strong></li>
        <ul>
          <li>Informez vous et déposez vos idées: Participez aux réunions en pied d’immeuble (dates entre <strong>20 et 31 mars</strong>) et déposez vos idées jusqu’à fin juin</li>
          <li>Echangez sur les idées et enrichissez les ! : Participez aux ateliers de co-construction sur le terrain (entre le <strong>15 et 19 mai</strong>) et continuez à enrichir les idées déposées par les locataires en apportant vos commentaires</li>
          <li>Fin juin :  Soutenez les idées !: Accédez à toutes les idées des locataires et soutenez celles qui vous plaisent.</li>
        </ul>
      <li><strong>juillet</strong> : Etude des projets : Les idées qui auront été soutenues par les locataires  seront examinées par une commission pour s’assurer de leur faisabilité et préciser le cout des projets</li>
      <li><strong>Septembre-octobre</strong> : Vote final : Votez pour les projets que vous préférez (directe-ment sur le site ou par vote papier). Les projets qui auront obtenu le plus de voix seront retenus dans la limite de l’enveloppe du budget participatif </li>
      <li><strong>Novembre</strong> Résultats : A l’issue du vote et du dépouillement, les résultats seront communiqués à tous. Les projets retenus seront mis en œuvre par les locataires lau-réats à partir de janvier 2018.</li>
      <li>à partir de <strong>janvier 2018</strong> : Mise en oeuvre des projets</li>
    </ul>

    <h2 id="2">Toutes les résidences sont-elles concernées ?</h2>
    <p>10 sites/résidences sont sélectionnés pour 2017:</p>
    <ul>
      <li>La Granges aux belles, 10ème </li>
      <li>La Chapelle Evangile, 18ème </li>
      <li>Porte de Vanves, 14ème</li>
      <li>Les Cardeurs-Mouraud, 20ème</li>
      <li>Bisson Ramponneau-Piat, 20ème </li>
      <li>Bd Macdonald, 19ème</li>
      <li>Elie Faure-Commandant l’Herminier, 20ème </li>
      <li>Jean Bouton-place Henri Frenay, 12ème</li>
      <li>Zac Vaugirard, 15ème</li>
      <li>National, 13ème</li>
    </ul>

    <h2 id="3">Quels sont les critères de recevabilité des projets ?</h2>
    <p>Les projets doivent correspondre aux 4 thématiques proposées:</p>
    <ul>
      <li>Cadre de vie </li>
      <li>Solidarité</li>
      <li>Lien social</li>
      <li>Petits aménagements </li>
    </ul>
    <p>Et répondre aux critères suivants:</p>
    <ul>
      <li>Contribuer à l’amélioration du cadre de vie (espaces communs, développement du lien entre locataires, répondre à des besoins collectifs…)</li>
      <li>Être initié et porté par un locataire ou un groupe de locataires</li>
      <li>Concerner l’environnement immédiat du locataire (les espaces communs de l’immeuble)</li>
      <li>Proposer un projet cohérent (calendrier, budget, objectifs visés…)</li>
    </ul>

    <h2 id="4">Est-ce que les enfants peuvent proposer un projet ?</h2>
    Les enfants et mineurs ne peuvent pas directement proposer seuls un projet, mais ils peuvent y contribuer et y être associés via leurs parents ou famille.

    <h2 id="5">Quel est le montant du budget prévu ?</h2>
    En 2017, 200 000€ vont être consacrés pour financer les projets sélectionnés.

    <h2 id="6">Comment puis-je proposer une idée / un projet ?</h2>
    En cliquant sur le lien « Dépôt des propositions » et en renseignant les différentes rubriques pour présenter votre idée.

    <h2 id="7">Puis-je être aidé pour finaliser mon projet ?</h2>
    Plusieurs solutions:
    <ul>
      <li>Vous avez la possibilité d’assister aux réunions publiques pour rencontrer les loca-taires et échanger sur les projets et aux ateliers de coconstruction</li>
      <li>Vous pourrez également êtres aidés et conseillés par d’autres locataires qui pourront vous apporter des commentaires sur votre idée</li>
      <li>Enfin, Il est également possible d’appeler directement le COPAS, organisme indépendant. Cette « <strong>hot line</strong> » est accessible du lundi au vendredi de 9h30 à 12h30 et de 14h00 à 17h30 au 03.61.50.71.34 ou par mail : contact@copas.coop</li>
    </ul>


    <h2 id="8">Comment évaluer les coûts des projets ?</h2>
    Si vous avez besoin d’aide et de conseil pour une première estimation du coût de votre idée, vous pouvez prendre contact avec l’équipe d’accompagnement (le copas : hot line accessible du lundi au vendredi de 9h30 à 12h30 et de 14h00 à 17h30 au 03.61.50.71.34 ou par mail : contact@copas.coop)) qui fera le lien si besoin avec la RIVP

    <h2 id="9">Qui décide de la recevabilité du projet ?</h2>
    Une commission regroupant l’équipe d’accompagnement, la RIVP, des associations locales et des locataires étudieront les projets en fonction des critères de recevabilité (lien vers la questions des critères)

    <h2 id="10">A quoi sert le bouton « soutenir »</h2>
    Le bouton « soutenir » permet de faire savoir quels sont les projets qui vous plaisent le plus et de le mettre en avant. Ainsi, en soutenant un projet, vous l’aidez à être présélectionné (avant la tenue de la commission en juillet) pour ensuite passer en phase de vote (en septembre – octobre)

    <h2 id="11">Qui va voter ? Qui décide au final ?</h2>
    Tous les habitants des 10 résidences sélectionnées (ancre question des lieux), à partir de 18 ans, sont invités à voter pour les projets. Le vote pourra se faire de deux façons. Directement sur le site dédié et par vote papier dans chaque résidence.

    <h2 id="12">Comment voter ?</h2>
    <ul>
      <li>Sur www.budget-participatif-rivp.fr, après création d’un compte sur votre espace locataire</li>
      <li>en déposant un bulletin papier, les adresses seront communiquées prochainement</li>
    </ul>

    <h2 id="13">Quand voter ?</h2>
    Le vote se déroulera de septembre à octobre 2017 .

    <h2 id="14">Quand connaitrons-nous les résultats du vote ?</h2>
    Les résultats seront communiqués pendant le mois de novembre 2017.

    <h2 id="15">Quand les projets lauréats seront mis en oeuvre ?</h2>
    La mise en oeuvre des projets débutera en 2018.

    <h2 id="16">Je suis à l’origine du projet et mon projet a été sélectionné, puis-je participer à sa mise en oeuvre ?</h2>
    Les personnes ou les collectifs à l’origine des projets seront responsables de la réalisation. Des moyens seront mis en place pour accompagner les porteurs de projets pendant toute la phase de mise en œuvre.

    <h2 id="17">Est-ce qu’il sera possible de suivre les projets qui auront été soutenus ?</h2>
    En 2018, quand les projets soutenus seront mis en œuvre, il sera possible en se connectant sur www.budget-participatif-rivp.fr de suivre l’avancement des projets.

    <h2 id="18">Contacts</h2>
     Pour toutes questions concernant les projets, idées: hot line du lundi au vendredi de 9h30 à 12h30 et de 14h00 à 17h30 au 03.61.50.71.34 ou par mail : contact@copas.coop

    <h2 id="19">Comment me connecter ?</h2>
    Connectez vous directement depuis votre espace locataire.
  </div>
</div>

