<div class="page row-full">
  <div class="row">
    <div class="menu small-12 medium-3 column">
      <ul class="clear">
        <li><a href="#1">Pregunta 1</a></li>
      </ul>
    </div>
    <div class="text small-12 medium-9 column">
      <h1 class="clear">Soluciones a problemas técnicos (FAQ)</h1>
      <p>Parágrafo introductorio.</p>

      <h2 id="1">Pregunta 1</h2>
      <p>Respuesta 1.</p>
    </div>
  </div>
</div>
