<div class="page row-full">
  <div class="row">
    <div class="menu small-12 medium-3 column">
      <ul class="clear">
        <li><a href="#1">Pregunta 1</a></li>
      </ul>
    </div>
    <div class="text small-12 medium-9 column">
      <h1 class="clear">Preguntes freqüents</h1>
      <p>Text introductori.</p>

      <h2 id="1">Primera pregunta</h2>
      <p>Primera resposta.</p>
    </div>
  </div>
</div>
