<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("general_terms") %>
<% end %>

<div class="row-full page">
  <div class="row">
    <div class="small-12 column">
      <h1><%= t('pages.general_terms') %></h1>
      <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </div>
  </div>
</div>
