<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("general_terms") %>
<% end %>

<div class="row-full page">
  <div class="row">
    <div class="small-12 column">
      <h1><%= t('pages.general_terms') %></h1>
    </div>
  </div>
</div>
