<div class="row margin">
  <div class="small-12 medium-9 column">
    <%= back_link_to :back, t("pages.processes.back") %>

    <h2><%= t("pages.help_translate.title") %></h2>

    <%= markdown t("pages.help_translate.text") %>

  </div>
</div>
