<div class="row-full page">
  <div class="row">
  <div class="small-12 column">
    <div class="small-12 medium-3 column menu">
      <h1>Ayuda</h1>

      <a href="#2">Utilízala en tu municipio libremente o ayúdanos a mejorarla, es software libre</a>
      <a href="#3">Próximas novedades</a>
      <a href="#4">El Área de Gobierno de Participación Ciudadana, Transparencia y Gobierno Abierto</a>
    </div>

    <div class="small-12 medium-9 column text">

    <h2 id="2">Utilízala en tu municipio libremente o ayúdanos a mejorarla, es software libre</h2>

    <p>Este Portal de Gobierno Abierto es software libre, con licencia AGPLv3, esto significa en palabras sencillas, que cualquiera puede libremente usar el código, copiarlo, verlo en detalle, modificarlo, y redistribuirlo al mundo con las modificaciones que quiera (manteniendo el que otros puedan a su vez hacer lo mismo). Porque creemos que la cultura es mejor y más rica, cuando se libera.</p>

    <p>No sólo puedes utilizar libremente este portal en tu municipio, sino que desde el Ayuntamiento de Madrid vamos a ayudarte todo lo posible a que lo hagas, así que si estás interesado, escríbenos a ag.gobiernoabierto@madrid.es [imagen o algo así del e-mail para que no nos troléen demasiado los spammers]</p>

    <p>Si eres programador, puedes ver el código y ayudarnos a mejorarlo en https://github.com/ayuntamientomadrid</p>

    <h2 id="3">Próximas novedades</h2>

    <p>En breve inauguraremos la sección de propuestas ciudadanas. Una sección que permitirá que entre todos decidamos qué debe ser Madrid. Cualquiera podrá presentar propuestas, que en caso de que sean aceptadas mayoritariamente se llevarán a cabo por parte del Ayuntamiento. Debate, propón, decide.</p>

    <h2 id="4">El Área de Gobierno de Participación Ciudadana, Transparencia y Gobierno Abierto.</h2>

    <p>El nuevo gobierno del Ayuntamiento de Madrid ha creado un nuevo área de gobierno: Participación Ciudadana, Transparencia y Gobierno Abierto. El objetivo de este área es claro: que los madrileños puedan decidir directamente la política de la ciudad, y que todo lo que ocurra en el Ayuntamiento, hasta el último rincón, esté a la vista de todos.</p>

    <p>Iremos publicando nuestros avances, las novedades y cualquier otra cosa que queramos compartir con vosotros en nuestro blog: [URL todavía pendiente]</p>

    <p>Y podéis escribirnos para cualquier cosa a: ag.gobiernoabierto@madrid.es [imagen o algo así del e-mail para que no nos troléen demasiado los spammers]</p>

    <p>A continuación os presentamos algunas de los principales novedades que tenemos planeadas poner en marcha, aparte de las que vayamos diseñando o se nos vayan proponiendo durante la legislatura:</p>

    <h3>Participación.</h3>
    <ul>
    <li>Presupuestos participativos. Parte del presupuesto de inversión del Ayuntamiento (el que no está comprometido ya con necesidades básicas como pueden ser los servicios sociales o las emergencias), será reservado para ser decidido su uso por la ciudadanía. La gente hará propuestas, se tasarán las más apoyadas, y luego los ciudadanos decidirán en cuáles de esos proyectos priorizar el presupuesto reservado.</li>

    <li> Legislacion colaborativa. A través de diferentes fases de participación, la ciudadanía tendrá un papel fundamental colaborando directamente en la elaboración de las propuestas, reglamentos, decretos o cualquier otro tipo de trabajo político desarrollado por el gobierno municipal. Una participación real desde el principio al fin del proceso legislativo, desde decidir los expertos en la materia, hasta revisar el texto final.</li>

    <li> Co-gobierno ciudadano. Mediante este sistema la ciudadanía podrá decidir las líneas prioritarias de actuación del Ayuntamiento a medio plazo.</li>

    <li>Participación sectorial. La participación ciudadana se va a tratar de manera transversal en todas las áreas de gobierno del Ayuntamiento, afectando a todos los procesos que se lleven a cabo. Un ejemplo de esto es el proceso de auditoría ciudadana de la deuda, que llevaremos a cabo con el Área de Gobierno de Economía y Hacienda.</li>

    <li>Inclusión, neutralidad y privacidad. Una de las misiones principales del área será velar por la inclusión de todo el mundo en los procesos participativos, para que todas las voces y voluntades formen parte de ellos y no se quede nadie fuera. Para ello, desarrollaremos una mesa de inclusión a la que invitaremos a todos los expertos, colectivos y asociaciones que trabajen con colectivos excluidos, para diseñar las maneras adecuadas de superar estas brechas. La protección de la participación se complementará con la protección de la neutralidad y privacidad en todos los procesos, para asegurar su legitimidad y confianza.</li>

    <li>Innovación social. Pretendemos crear un entorno que movilice la inteligencia colectiva existente en favor de una ciudad más hospitalaria e inclusiva. Espacios donde la sociedad se hable y piense con la administración, con la convicción de que son los ciudadanos quienes mejor conocen sus problemas, y es en lo colectivo donde están los expertos que pueden hallar las soluciones.</li>
    </ul>

  </div>
  </div>
  </div>
</div>