<div class="page row-full">
  <div class="row">
    <!--div class="menu small-12 medium-3 column">

      <ul class="clear">
          <li>
            <ul>
                <li><a href="#i">1. Funcionamiento</a></li>
                <li><a href="#i1">2. Usuarios</a></li>
                <li><a href="#i2">3. Moderación</a></li>
            </ul>
          </li>
      </ul>
    </div-->
    <div class="text small-12 medium-12 column">
     <i class="icon-angle-left left"></i>&nbsp;
      <%= link_to t("debates.show.back_link"), "/more_information", class: 'left back' %>

  <h1>¿Cómo funciona la nueva Plaza Podemos?</h1>

   <p>Este nuevo espacio tiene un funcionamiento que no rompe del todo con el de reddit pero que facilita su uso y su comprensión. El acceso se realiza a través de la inscripción en el portal de participación de Podemos: <a href="https://participa.podemos.info" target="_blank">https://participa.podemos.info</a>, centralizando todas las herramientas de participación en un mismo espacio. </p>

    <p>En la nueva Plaza nos encontraremos inicialmente cuatro espacios básicos:</p>

    <ol>
        <li>Portada: donde se detallará la actividad diaria de la Plaza.</li>
        <li>Propuestas: zona en la que poder lanzar propuestas específicas que tras recibir el 10% de apoyos pasarán a referéndum entre los inscritos.</li>
        <li>Debates: donde podremos proponer hilos de debates diarios donde discutir las cuestiones políticas principales de la formación, la actualidad política, etc.</li>
        <li>Programa: donde se detallarán las propuestas programáticas que se podrán votar del 30 de octubre al 1 de noviembre. </li>
    </ol>

    <p>La forma de votar se ha modificado. Al contrario que en reddit, ahora cada inscrito cuenta como un voto a la hora de apoyar las propuestas que puedan pasar a referéndum. Mientras que en el caso de los hilos de  debates continuamos con un sistema de voto a favor y voto en contra, aunque con los porcentajes de ambos separados.</p>
    <p>Lo bueno de este espacio es su mutabilidad. Es decir a partir de ahora será más fácil adaptar poco a poco el espacio a las necesidades de los usuarios y de las nuevas campañas que en el desarrollemos.</p>

  </div>
  </div>
</div>
