<div class="page row-full">
  <div class="row">
    <div class="text small-12 column">
      <i class="icon-angle-left left"></i>&nbsp;
      <%= link_to t("debates.show.back_link"), "/more_information", class: 'left back' %>

    <h1 class="clear">¿Puedo cambiar mi nombre de usuario? ¿Qué pasa con los usuarios que representan a los Círculos, los Consejos Ciudadanos y los cargos públicos?</h1>
    <p>Aunque el acceso a la Plaza es a través de nuestra cuenta como inscrito, no es necesario que nuestro nombre de usuario sea nuestro nombre real. Si accedemos a la pestaña “Mi cuenta” podremos modificar nuestro nombre de usuario. </p>
    <p>Respecto a los usuarios de los Círculos, los Consejos Ciudadanos y los Cargos Públicos, en las primeras semanas se destacarán en la Plaza las intervenciones de los miembros del consejo y de los cargos públicos a través de un distintivo que les identifique como tal. Respecto a los Círculos el procedimiento partirá de la petición al Área de Participación del uso del distintivo específico de Círculo (acompañado del nombre de este). Las peticiones se tramitarán a través de la siguiente dirección de correo: <a href="mailto:participacion@podemos.info">participacion@podemos.info</a></p>

    </div>
  </div>
</div>
