<div class="row-full page">
  <div class="row">
  <div class="small-12 column">
    <div class="small-12 medium-3 column menu">
      <h1>¿Cómo funciona esta página?</h1>

      <a href="#1">¿Cómo funciona esta página?</a>
    </div>

    <div class="small-12 medium-9 column text">

    <h2 id="1">¿Cómo funciona esta página?</h2>

   <p>El nuevo Portal de Gobierno Abierto está dividido en tres partes: Participación, Transparencia y Datos Abiertos (verás los enlaces en la parte superior derecha).</p>

    <p>Participación: Donde poder decidir qué ciudad queremos tener (a través de propuestas ciudadanas, espacios de debate, presupuestos participativos, legislación colaborativa, y muchos otros procesos que iremos implementando)</p>

    <p>Transparencia: El espacio para ejercer nuestro derecho de acceso a la información. El derecho a que cualquier persona pueda preguntar cualquier tipo de información sobre el Ayuntamiento, y se le deba responder, y de manera clara y satisfaciendo la pregunta.</p>

    <p>Datos Abiertos: Aquí iremos colgando todas las bases de datos que tiene el Ayuntamiento, para que cualquiera pueda usar toda la información directamente, sin necesidad ni siquiera de preguntar.</p>

    <p>Inauguramos el nuevo portal con la nueva sección de Participación, y en breve añadiremos las nuevas secciones de Transparencia y Datos Abiertos (así que mantenemos por el momento los enlaces a las páginas al respecto que ya existían).</p>

    <h3>Participación</h3>

    <p>El apartado de participación comprenderá diferentes mecanismos de participación: propuestas ciudadanas, espacios de debate, presupuestos participativos, legislación colaborativa, entre muchos otros. Por el momento presentamos el espacio de debate, y muy pronto las propuestas ciudadanas.</p>

    <h4>Espacio de debate</h4>

    <p>En éste espacio, cualquier persona puede abrir un hilo de discusión sobre cualquier tema, creando un espacio independiente donde la gente podrá debatir sobre el tema propuesto. De esta manera, en este espacio digital convivirán cada día cientos de espacios de debate distintos entre los que la ciudadanía podrá pasearse, sumándose a los que más les interese.</p>

    <p>Tanto los hilos, como los comentarios podrán ser valorados por cualquiera, de tal manera que será la propia ciudadanía, y nadie en su nombre, la que decida cuáles son los temas más importantes en cada momento. Estos serán presentados en la portada del espacio, pudiendo por supuesto accederse a todos los demás temas en páginas posteriores, o usando otros criterios de ordenación (los temas con más comentarios, los más nuevos, los más controvertidos, etc.).</p>

    <p>Cada uno de los trabajadores del Ayuntamiento tiene un usuario propio, que será resaltado como tal, permitiendo que participen en los debates al mismo nivel que todos los demás ciudadanos. Esto permitirá crear espacios de comunicación directos entre unos y otros, evitando los inconvenientes que implica la comunicación medidada, y respondiendo a un planteamiento claro por parte del nuevo gobierno de Madrid por el cual el Ayuntamiento trabaja para sus ciudadanos, y ante ellos debe responder.</p>

    <p>[Puedes obtener información más detallada de cómo interactuar en el espacio de debate en este enlace] [no sé si es mejor el tutorial llevarlo a una página siguiente o que esté también aquí] [esto lo hacemos una vez esté lista la página]</p>
  </div>
  </div>
  </div>
</div>