<div class="page row-full">
  <div class="row">
    <div class="text small-12 column">
      <i class="icon-angle-left left"></i>&nbsp;
      <%= link_to t("debates.show.back_link"), "/more_information", class: 'left back' %>

      <h1 class="clear"><%= t('pages.more_information.titles.how_to_use') %></h1>

      <%= markdown t('pages.more_information.how_to_use.text') %>
      
    </div>
  </div>
</div>
