<div class="page row-full">
  <div class="row">
    <div class="text small-12 column">
      <h1>Utilízalo en tu municipio</h1>
      <p>Utilízalo en tu municipio libremente o ayúdanos a mejorarlo, es software libre.</p>

      <p>Este Portal de Gobierno Abierto es software libre, con <a href="http://www.gnu.org/licenses/agpl-3.0.html" target="_blank">licencia AGPLv3</a>, esto significa en palabras sencillas, que cualquiera puede libremente usar el código, copiarlo, verlo en detalle, modificarlo, y redistribuirlo al mundo con las modificaciones que quiera (manteniendo el que otros puedan a su vez hacer lo mismo). Porque creemos que la cultura es mejor y más rica cuando se libera.</p>

      <p>No sólo puedes utilizar libremente este portal en tu municipio, sino que desde el Ayuntamiento de Madrid vamos a ayudarte todo lo posible a que lo hagas, así que si estás interesado, escríbenos a <a href="mailto:ag.gobiernoabierto@madrid.es">ag.gobiernoabierto@madrid.es</a></p>

      <p>Si eres programador, puedes ver el código y ayudarnos a mejorarlo en <a href="https://github.com/ayuntamientomadrid" target="_blank">github</a>.</p>
    </div>
  </div>
</div>
