<div class="page row-full">
  <div class="row">
    <div class="menu small-12 medium-3 column">
      <p><strong>¿Cómo funciona este Portal de Gobierno Abierto?</strong></p>
      <ul>
          <li>
            <a href="#i">I. Participación</a>
            <ul>
              <li><a href="#i1">I.1. Espacio de debate</a></li>
              <li><a href="#i2">I.2. Espacio de propuestas</a></li>
            </ul>
          </li>
      </ul>
    </div>
    <div class="text small-12 medium-9 column">

  <h1>¿Cómo funciona este Portal de Gobierno Abierto?</h1>

   <p>El nuevo Portal de Gobierno Abierto está dividido en tres partes: Participación, Transparencia y Datos Abiertos (verás los enlaces en la parte superior derecha).</p>

    <blockquote>
    <p><strong>I. Participación:</strong> Donde poder decidir qué ciudad queremos tener (a través de propuestas ciudadanas, espacios de debate, presupuestos participativos, legislación colaborativa, y muchos otros procesos que iremos implementando)</p>

    <p><strong>II. Transparencia:</strong> En este espacio se publicarán todos los datos relativos a quién y cómo se gestiona Madrid (nombres de los responsables, cargos, sueldos, planes de gobierno, contratos, agendas de los responsables...) Además es el espacio donde ejercer el derecho de acceso a la información, pudiendo solicitar cualquier información sobre el Ayuntamiento de Madrid de manera fácil y rápida.
    </p>

    <p><strong>III. Datos Abiertos:</strong> En este espacio se cuelgan las bases de datos que tiene el Ayuntamiento, para que cualquiera pueda usar toda la información directamente, sin necesidad ni siquiera de preguntar. También se puede solicitar la publicación de más bases de datos.</p>
    </blockquote>

    <p>Inauguramos el nuevo portal con la nueva sección de Participación, y en breve añadiremos las nuevas secciones de Transparencia y Datos Abiertos (así que mantenemos por el momento los enlaces a las páginas al respecto que ya existían).</p>

    <h2 id="i">I. Participación</h2>

    <p>El apartado de participación comprenderá diferentes mecanismos de participación: propuestas ciudadanas, espacios de debate, presupuestos participativos, legislación colaborativa, entre muchos otros. Por el momento presentamos el espacio de debate, y muy pronto las propuestas ciudadanas.</p>

    <h3 id="i1">I.I. Espacio de debate</h3>

    <p>En este espacio, cualquier persona puede abrir un hilo de discusión sobre cualquier tema, creando un espacio independiente donde la gente podrá debatir sobre el tema propuesto. De esta manera, en este espacio digital convivirán cada día cientos de espacios de debate distintos entre los que la ciudadanía podrá pasearse, sumándose a los que más les interese.</p>

    <p>Tanto los hilos, como los comentarios podrán ser valorados por cualquiera, de tal manera que será la propia ciudadanía, y nadie en su nombre, la que decida cuáles son los temas más importantes en cada momento. Estos serán presentados en la portada del espacio, pudiendo por supuesto accederse a todos los demás temas en páginas posteriores, o usando otros criterios de ordenación (los temas con más comentarios, los más nuevos, los más controvertidos, etc.).</p>

    <p>Cada uno de los trabajadores del Ayuntamiento tiene un usuario propio, que será resaltado como tal, permitiendo que participen en los debates al mismo nivel que todos los demás ciudadanos. Esto permitirá crear espacios de comunicación directos entre unos y otros, evitando los inconvenientes que implica la comunicación medidada, y respondiendo a un planteamiento claro por parte del nuevo gobierno de Madrid por el cual el Ayuntamiento trabaja para la ciudadanía, y ante ella debe responder.</p>

    <h3 id="i2">I.I. Espacio de propuestas</h3>

    <p>En este espacio, cualquier persona puede proponer una iniciativa con la intención de recabar los suficientes apoyos como para que la idea pase a ser consultada a toda la ciudadanía con caracter vinculante.</p>

    <p>Las propuestas pueden ser apoyadas por ciudadanos empadronados en Madrid que hayan verificado su cuenta en la plataforma de participación, de tal manera que será la propia ciudadanía, y nadie en su nombre, la que decida cuáles son las propuestas que merecen la pena ser llevadas a cabo.</p>

    <p>Una vez que una propuesta alcance una cantidad de apoyos equivalente al 2% del censo de Madrid (unos 53000), automaticamente pasa a ser estudiada por un grupo de trabajo del ayuntamiento y pasará a la siguiente fase de consulta popular, en la que la ciudadanía de Madrid votará si se lleva a cabo o no. El plazo máximo para recabar los apoyos necesarios será de 12 meses.</p>
  </div>
  </div>
</div>
