<% provide :title do %><%= t('pages.titles.more_information') %><% end %>
<div class="page row-full">
  <div class="row">
    <div class="more-information text small-12 medium-8 column">
      <h1>Más información</h1>
      <ul>
        <a href="/how_it_works">
          <li>
            ¿Cómo funciona la nueva Plaza Podemos?
          </li>
        </a>
        <a href="/how_to_use">
          <li>
            ¿Puedo cambiar mi nombre de usuario?
            <span>¿Qué pasa con los usuarios que representan a los Círculos, los Consejos Ciudadanos y los cargos públicos?</span>
          </li>
        </a>
        <a href="/participation">
          <li>
            ¿Cómo se realizará la moderación de la nueva Plaza Podemos?
          </li>
        </a>
        <!--a href="/proposals_info">
          <li>
            ¿Cómo funcionan las propuestas ciudadanas?
            <span>Crea tus propias propuestas</span>
          </li>
        </a>
        <a href="/participation_world">
          <li>
            Participación ciudadana directa en el mundo
            <span>Sistemas de participación ciudadana que ya existen en el mundo</span>
          </li>
        </a>
        <a href="/participation_facts">
          <li>
            Hechos sobre participación ciudadana y democracia directa
            <span>Para perderle el miedo</span>
          </li>
        </a-->
      </ul>

      <!--p>Si tienes problemas con la web <a href="mailto:web.gobiernoabierto@madrid.es">contacta con el servicio técnico</a>.</p-->
    </div>
  </div>
</div>
