<div class="page row-full">
  <div class="row">
    <div class="text small-12 column">
      <h1>Más información</h1>
      <ul>
        <li><a href="/how_it_works">¿Cómo funciona este Portal de Gobierno Abierto?</a></li>
        <li><a href="/how_to_use">Utilízalo en tu municipio libremente o ayúdanos a mejorarlo, es software libre</a></li>
        <li><a href="/coming_soon">Próximas novedades</a></li>
        <li><a href="/participation">El Área de Gobierno de Participación Ciudadana, Transparencia y Gobierno Abierto</a></li>
      </ul>
    </div>
  </div>
</div>