<div class="page row-full">
  <div class="row">
    <div class="more-information text small-12 medium-8">
      <h1>Más información</h1>
      <ul>
        <a href="/how_it_works">
          <li>
            ¿Cómo funciona este Portal de Gobierno Abierto?
            <span>Descubre todo lo que puedes hacer en esta web</span>
          </li>
        </a>
        <a href="/how_to_use">
          <li>
            Utilízalo en tu municipio
            <span>Utilízalo libremente o ayúdanos a mejorarlo, es software libre</span>
          </li>
        </a>
        <a href="/coming_soon">
          <li>
            Próximas novedades
            <span>Seguimos trabajando para los ciudadanos</span>
          </li>
        </a>
        <a href="/participation">
          <li>
            El Área de Gobierno
            <span>Participación Ciudadana, Transparencia y Gobierno Abierto</span>
          </li>
        </a>
      </ul>
    </div>
  </div>
</div>