<div class="row expanded">
  <div class="row">
    <div class="small-12 column text-center margin">
      <h1>Acabas de entrar aquí por una de dos</h1>
    </div>
  </div>
</div>

<div class="row">

  <div class="small-12 medium-6 column margin-bottom">
    <h2>O te ha encantado la noticia</h2>
    <p>En este caso, puedes hacerla realidad entrando, registrándote y apoyándola.
    Porque si consigue los apoyos suficientes el gobierno del Ayuntamiento de Madrid asumirá como propia la propuesta y la llevará a cabo.</p>
    <div class="small-12 medium-8">
      <a href="#" class="button expanded">¡Sí, quiero!</a>
    </div>
  </div>

  <div class="small-12 medium-6 column margin-bottom">
    <h2>O te ha horrorizado la noticia</h2>
    <p>Si es así tienes la opción de no apoyar la propuesta que podría hacerla realidad.</p>
    <p>Pero puedes ir más allá. Puedes crear una propuesta de signo contrario y si consigue los apoyos suficientes el gobierno del Ayuntamiento de Madrid la asumirá como propia y la llevará a cabo.</p>
    <div class="small-12 medium-8">
      <a href="#" class="button expanded">¡Vamos allá!</a>
    </div>
  </div>

  <div class="small-12 column margin-top text-center">
    <h3>La ciudad que quieres será la ciudad que quieras.</h3>
  </div>
</div>
