<div class="emphatized-header-row no-margin-top budget-header-bg">

  <div class="row padding">
    <div class="small-12 column">
      <h1 class="margin-bottom">
        Plan Normativo 2017

      </h1>
    </div>

    <div class="row">
      <div class="small-12 column">
        <div class="small-12 medium-9 column with-border">

          <h3>Audiencias Públicas en Getafe</h3>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row margin-top">
  <div class="small-12 medium-6 large-8 column">
    <h2>Plan Normativo 2017</h2>

    <p>
      La publicación del Plan Normativo 2017 pretende:
    </p>

    <ol>
      <li>
        Promover y facilitar la adecuación de la normativa municipal a la legislación vigente y a las exigencias de simplificación, modernización y racionalización, mejorando la de elaboración de Ordenanzas y Reglamentos.
      </li>
      <li>
        Potenciar el conocimiento de la normativa municipal vigente, a través de la formación y del índice de Ordenanzas y Reglamentos Municipales con publicidad electrónica y actualización continua.
      </li>
    </ol>

    <p>
      Los objetivos se seguirán a través de las siguientes LÍNEAS DE ACCIÓN:
    </p>

    <p>
      <ul>
        <li>
          <strong>Participación</strong>: integrando en su elaboración la totalidad de los centros directivos municipales.
        </li>
        <li>
          <strong>Transparencia</strong>: a través de publicidad permanente en la web del Ayuntamiento.
        </li>
        <li>
          <strong>Sistematización</strong>: al recoger todas las actividades y servicios, sistematizadas por distintos ámbitos de actuación.
        </li>
        <li>
          <strong>Rigor</strong>: al establecer una metodología del trabajo supervisada por los profesionales del ámbito jurídico general y sectorial de cada área de trabajo.
        </li>
      </ul>

    <h2>Preguntas</h2>

    <table>
      <table id="spending-proposals-results">
        <thead>
        <th class="text-center">Nº</th>
        <th>Pregunta</th>
        </thead>
        <tbody>
        <tr>
          <td class="text-center">
            1.
          </td>
          <td>
            <%= link_to debate_path(4) do %>
                Estas son las propuestas del Gobierno Municipal para el Plan Normativo 2017. ¿Consideras en el Plan Presentado debe incluirse algún asunto determinado?, ¿qué enfoque te gustaría darle?.
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            2.
          </td>
          <td>
            <%= link_to debate_path(5) do %>
                ¿Crees necesaria la revisión o la redacción de alguna ordenanza o reglamento que no esté recogido en el Plan Normativo 2017?
            <% end %>
          </td>
        </tr>
        </tbody>
      </table>
    </table>

  </div>

  <div class="small-12 medium-6 large-4 column legislation">
    <h3>Información adicional</h3>
    <ul class="no-bullet download">
      <li>

        <a target="_blank" title="Primer borrador de plan de convivencia" href="/assets/20170206_plan_normativo_2017.pdf">

          <h5>Plan Normativo 2017</h5>
          <i class="icon-document icon float-right"></i>
          <small>(Descargar documento)</small>
          <br>
          <br>
        </a>
      </li>
    </ul>
  </div>
</div>