<div class="row-full page">
  <div class="row">
    <div class="small-12 medium-10 column text-center">
      <h1><%= t('pages.opendata') %></h1>

      <p>Estamos trabajando en el nuevo Portal de Datos Abiertos de Ayuntamiento de Madrid, para que puedas reutilizar todos los datos de Ayuntamiento como quieras. Por ahora puedes visitar el portal qu existía hasta ahora:</p>

      <%= link_to "Ir al Portal de Datos Abiertos existente anteriormente", t("layouts.header.external_link_opendata_url"), target: "_blank", class: "button radius" %>

      <p>Mientras acabamos el nuevo portal, te invitamos a visitar el <a href="http://diario.madrid.es/participa/" target="_blank">blog del Área de Participación Ciudadana, Transparencia y Gobierno Abierto</a> para conocer nuestros avances y novedades; o la <a href="/">sección de Participación Ciudadana</a> donde poder decidir qué ciudad es la que quieres.</p>
    </div>
  </div>
</div>
