<% provide :title do %><%= t('pages.titles.opendata') %><% end %>

<div class="expanded highlight no-margin-top">
  <div class="row padding margin">
    <div class="small-12 medium-7 column">
      <h1><%= t("pages.opendata.title") %></h1>
      <p><%= t("pages.opendata.slogan") %></p>
    </div>

    <div class="show-for-medium small-12 medium-5 column text-center">
      <%= image_tag("icon_home.png", size: "330x240", alt:"") %>
    </div>
  </div>
</div>
