<% provide :title do %><%= t('pages.titles.opendata') %><% end %>
<div class="page row-full">
  <div class="row">
    <div class="small-12 column">
      <p class="margin-top"><%= t('pages.while_unfinished_html') %></p>
    </div>
  </div>
</div>
