<% provide :title do %><%= t('pages.titles.opendata') %><% end %>
<div class="page row-full">
  <div class="row">
    <div class="alert-box info radius text small-12 column">
      <p><%= t('pages.while_unfinished_html') %></p>
    </div>
  </div>
</div>
