<div class="emphatized-header-row no-margin-top budget-header-bg">

  <div class="row padding">
    <div class="small-12 column">
      <h1 class="margin-bottom">
        ORDENANZA REGULADORA DEL PROCESO DE ADJUDICACIÓN DE TERRENOS MUNICIPALES CON DESTINO A HUERTOS ECOLÓGICOS DE OCIO Y DESARROLLO DE ACTIVIDADES CON FINES SOCIALES Y EDUCATIVOS
      </h1>
    </div>

    <div class="row">
      <div class="small-12 column">
        <div class="small-12 medium-9 column with-border">



        </div>
      </div>
    </div>
  </div>
</div>

<div class="row margin-top">
  <div class="small-12 medium-6 large-8 column">
    <h2>Getafe Contigo</h2>

    <p>
      Los huertos urbanos, periurbanos y escolares de iniciativa municipal son pequeñas parcelas de cultivo con función fundamental de ocio y desarrollo de actividades sociales, ambientales y educativas. Así mismo recuperan o mantienen zonas verdes en las áreas periurbanas de las ciudades, esta normativa regula las diferentes opciones que los ciudadanos tienen de disfrutar de este nuevo plan de huertos urbanos. Tenemos vigente en audiencia previa esta normativa y queremos conocer tu opinión y aportaciones.
    </p>
    <p>
      Consulta el borrador de la ordenanza en audiencia previa en este enlace al <%= link_to 'Portal de Transparencia', 'https://transparencia.getafe.es/portalGetafe/transparencia/se_contenedor2.jsp?seccion=s_fdes_d4_v2.jsp&codbusqueda=207&language=es&codResi=1&codMenuPN=107&codMenuSN=117&codMenuTN=297&codMenu=318' %> y mándanos tus aportaciones a <%= link_to 'audiencia.previa@ayto-getafe.org', 'mailto:audiencia.previa@ayto-getafe.org' %>
    </p>

    <h2>Enlace</h2>

    <p>
      <%= link_to 'Portal de Transparencia', 'https://transparencia.getafe.es/portalGetafe/transparencia/se_contenedor2.jsp?seccion=s_fdes_d4_v2.jsp&codbusqueda=207&language=es&codResi=1&codMenuPN=107&codMenuSN=117&codMenuTN=297&codMenu=318' %>
    </p>
  </div>

  <div class="small-12 medium-6 large-4 column legislation">

  </div>
</div>