<div class="page row-full">
  <div class="row">
  <div class="menu small-12 medium-3 column">
      <p><strong>El Área de Gobierno de Participación Ciudadana, Transparencia y Gobierno Abierto</strong></p>
      <ul>
          <li>
            <a href="#">I. Participación</a>
            <ul>
              <li><a href="#">I.1. Propuestas ciudadanas</a></li>
              <li><a href="#">I.2. Presupuestos participativos</a></li>
              <li><a href="#">I.3. Legislacion colaborativa</a></li>
              <li><a href="#">I.4. Co-gobierno ciudadano</a></li>
              <li><a href="#">I.5. Participación sectorial</a></li>
              <li><a href="#">I.6. Inclusión, neutralidad y privacidad</a></li>
              <li><a href="#">I.7. Innovación social</a></li>
            </ul>
          </li>
      </ul>
    </div>
    <div class="text small-12 medium-9 column">
      <h1>El Área de Gobierno de Participación Ciudadana, Transparencia y Gobierno Abierto</h1>

        <p>Desde el nuevo gobierno del Ayuntamiento de Madrid ponemos en marcha un nuevo proyecto de participación y transparencia, desarrollado a través de la recién creada área de gobierno: Participación Ciudadana, Transparencia y Gobierno Abierto. El objetivo de este nuevo proyecto es claro: que los madrileños puedan decidir directamente la política de la ciudad, y que todo lo que ocurra en el Ayuntamiento, hasta el último rincón, esté a la vista de todos.</p>

        <p>Este nuevo área de gobierno también es la encargada de la atención al ciudadano, de las sugerencias y reclamaciones, de la evaluación y calidad de las políticas y gestión del Ayuntamiento, de la administración electrónica y otros temas relacionados con la relación entre ciudadanía e institución.</p>

        <p>Iremos publicando nuestros avances, las novedades y cualquier otra cosa que queramos compartir con vosotros en relación con el proyecto en <a href="/blog" target="_blank">nuestro blog</a>.</p>

        <p>Podéis escribirnos para lo que queráis a <a href="mailto:ag.gobiernoabierto@madrid.es">ag.gobiernoabierto@madrid.es</a></p>

        <p>A continuación os presentamos algunas de las principales novedades que tenemos planeadas poner en marcha en relación con el proyecto de participación y transparencia, aparte de las que vayamos diseñando o se nos vayan proponiendo durante la legislatura:</p>

        <h3>I. Participación.</h3>
        <ul>
        <li><strong>I.1. Propuestas ciudadanas.</strong> Dentro de muy poco inauguraremos esta sección. Un espacio que permitirá que entre todos decidamos qué debe ser Madrid. Cualquiera podrá presentar propuestas, que en caso de que sean aceptadas mayoritariamente se llevarán a cabo por parte del Ayuntamiento. Debate, propón, decide.</li>

        <li><strong>I.2. Presupuestos participativos.</strong> Parte del presupuesto de inversión del Ayuntamiento (el que no está comprometido ya con necesidades básicas como pueden ser los servicios sociales o las emergencias), será reservado para ser decidido su uso por la ciudadanía. La gente hará propuestas, se tasarán las más apoyadas, y luego los ciudadanos decidirán en cuáles de esos proyectos priorizar el presupuesto reservado.</li>

        <li><strong>I.3. Legislacion colaborativa.</strong> A través de diferentes fases de participación, la ciudadanía tendrá un papel fundamental colaborando directamente en la elaboración de las propuestas, reglamentos, decretos o cualquier otro tipo de trabajo político desarrollado por el gobierno municipal. Una participación real desde el principio al fin del proceso legislativo, desde decidir los expertos en la materia hasta revisar el texto final.</li>

        <li><strong>I.4. Co-gobierno ciudadano.</strong> Mediante este sistema la ciudadanía podrá decidir las líneas prioritarias de actuación del Ayuntamiento a medio plazo.</li>

        <li><strong>I.5. Participación sectorial.</strong> La participación ciudadana se va a tratar de manera transversal en todas las áreas de gobierno del Ayuntamiento, afectando a todos los procesos que se lleven a cabo. Un ejemplo de esto es el proceso de auditoría ciudadana de la deuda, que llevaremos a cabo con el Área de Gobierno de Economía y Hacienda.</li>

        <li><strong>I.6. Inclusión, neutralidad y privacidad.</strong> Una de las misiones principales del área será velar por la inclusión de todo el mundo en los procesos participativos, para que todas las voces y voluntades formen parte de ellos y no se quede nadie fuera. Para ello, desarrollaremos una mesa de inclusión a la que invitaremos a todos los expertos, colectivos y asociaciones que trabajen con colectivos excluidos, para diseñar las maneras adecuadas de superar estas brechas. La protección de la participación se complementará con la protección de la neutralidad y privacidad en todos los procesos, para asegurar su legitimidad y confianza.</li>

        <li><strong>I.7. Innovación social.</strong> Pretendemos crear un entorno que movilice la inteligencia colectiva existente en favor de una ciudad más hospitalaria e inclusiva. Espacios donde la sociedad se hable y piense con la administración, con la convicción de que son los ciudadanos quienes mejor conocen sus problemas, y es en lo colectivo donde están los expertos que pueden hallar las soluciones.</li>
      </ul>
    </div>
  </div>
</div>
