<div class="row margin-top">
  <div class="small-12 medium-3 column">
    <%= render "shared/back_link" %>

    <ul class="menu vertical margin-top hide-for-small-only">
        <li>
          <a href="#i"><strong>I. Participación</strong></a>
          <ul class="nested vertical menu">
            <li><a href="#i1"><strong>I.1. Participación</strong></a></li>
            <li><a href="#i2"><strong>I.2. Participación</strong></a></li>
            <li><a href="#i3"><strong>I.3. Participación</strong></a></li>
          </ul>
        </li>
        <li>
          <a href="#ii"><strong>II. Transparencia</strong></a>
          <ul class="nested vertical menu">
            <li><a href="#ii1"><strong>II.1. Transparencia</strong></a></li>
            <li><a href="#ii2"><strong>II.2. Transparencia</strong></a></li>
            <li><a href="#ii3"><strong>II.3. Transparencia</strong></a></li>
          </ul>
        </li>
    </ul>
  </div>

  <div class="small-12 medium-9 column">
    <h1>Participación y Transparencia</h1>

    <p>Página de información sobre Participación y Transparencia.</p>

    <h3 id="i">I. Participación.</h3>

    <ul>
      <li id="i1"><strong>I.1. Participación.</strong> Información sobre Participación</li>
      <li id="i2"><strong>I.1. Participación.</strong> Información sobre Participación</li>
      <li id="i3"><strong>I.1. Participación.</strong> Información sobre Participación</li>
    </ul>

    <h3 id="ii">II. Transparencia</h3>

    <ul>
      <li id="ii1"><strong>II.1. Transparencia</strong> Información sobre Transparencia</li>
      <li id="ii2"><strong>II.1. Transparencia</strong> Información sobre Transparencia</li>
      <li id="ii3"><strong>II.1. Transparencia</strong> Información sobre Transparencia</li>
    </ul>
  </div>
</div>
