<div class="page row-full">
  <div class="row">
  <!--div class="menu small-12 medium-3 column">
    <ul class="clear">
        <li>
          <a href="#i">I. Participación</a>
          <ul>
            <li><a href="#i1">I.1. Propuestas ciudadanas</a></li>
            <li><a href="#i2">I.2. Presupuestos participativos</a></li>
            <li><a href="#i3">I.3. Legislacion colaborativa</a></li>
            <li><a href="#i4">I.4. Co-gobierno ciudadano</a></li>
            <li><a href="#i5">I.5. Participación sectorial</a></li>
            <li><a href="#i6">I.6. Inclusión, neutralidad y privacidad</a></li>
            <li><a href="#i7">I.7. Innovación social</a></li>
          </ul>
        </li>
        <li>
          <a href="#ii">II. Transparencia</a>
          <ul>
            <li><a href="#ii1">II.1. Ordenanza de transparencia</a></li>
            <li><a href="#ii2">II.2. Portal de transparencia</a></li>
            <li><a href="#ii3">II.3. Datos abiertos</a></li>
            <li><a href="#ii4">II.4. Agendas públicas</a></li>
            <li><a href="#ii5">II.5. Transparencia del Lobby</a></li>
          </ul>
        </li>
    </ul>
    </div-->
    <div class="text small-12 medium-12 column">
        <i class="icon-angle-left left"></i>&nbsp;
    <%= link_to t("debates.show.back_link"), "/more_information", class: 'left back' %>
        <h1>¿Cómo se realizará la moderación de la nueva Plaza Podemos?</h1>
        <p>La moderación seguirá las líneas que ya se aplicaban en reddit. Es decir no se permitirán insultos ni faltas de respeto entre los usuarios. Además tampoco se permitirá ninguna publicación o comentario que atente contra los derechos humanos o vaya en contra del Código Ético de Podemos. </p>

    <p>La penalización por este tipo de infracciones supone desde la inhabilitación del usuario en Plaza Podemos, hasta remitir el caso, dependiendo de su gravedad, a la Comisión de Garantías para que tome las medidas oportunas.</p>
    </div>
  </div>
</div>
