<div class="emphatized-header-row no-margin-top budget-header-bg">

  <div class="row padding">
    <div class="small-12 column">
      <h1 class="margin-bottom">
        Pleno de Estado del Municipio
      </h1>
    </div>

    <div class="row">
      <div class="small-12 column">
        <div class="small-12 medium-9 column with-border">

          <h3>Audiencias Públicas en Getafe</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row margin-top">
  <div class="small-12 medium-6 large-8 column">
    <h2>Getafe Contigo</h2>

    <p>
    Próximamente celebraremos el Pleno del Estado del Municipio, el Gobierno Municipal hará
    balance de la gestión en estos dos años de legislatura y la oposición podrá hacer lo propio
    respecto a su papel en el Ayuntamiento de Getafe.
    </p>
    <p>
    Durante la celebración del Pleno las asociaciones y colectivos podrán expresar su visión de
    nuestra ciudad a través de los distintos consejos sectoriales y foros de participación.
    </p>
    <p>
    No obstante, queremos conocer también las valoraciones y recibir las aportaciones e ideas de
    aquellas personas que no forman parte de las entidades del tejido asociativo de nuestra
    ciudad. Queremos seguir construyendo juntos el Getafe que soñamos.
    </p>
    <p>
    En esta plataforma tienes la oportunidad de dejar un comentario como vecina o vecino de
    Getafe para que tu propuesta se debatida en el Pleno del Estado del Municipio y el Gobierno
    Municipal se pronuncie sobre la misma.
    </p>

    <p>
    ¡Participa! ¡Ayúdanos a construir Getafe!
    </p>


    <h2>Preguntas</h2>

    <table>
      <table id="spending-proposals-results">
        <thead>
        <th class="text-center">Nº</th>
        <th>Debate</th>
        </thead>
        <tbody>
        <tr>
          <td class="text-center">
            1.
          </td>
          <td>
            <%= link_to debate_path(8) do %>
                PREGUNTA 1. PLENO DEL ESTADO DEL MUNICIPIO
            <% end %>
          </td>
        </tr>
        </tbody>
      </table>
    </table>

  </div>

  <div class="small-12 medium-6 large-4 column legislation">
  </div>
</div>