<div class="emphatized-header-row no-margin-top budget-header-bg">

  <div class="row padding">
    <div class="small-12 column">
      <h1 class="margin-bottom">
        PLAN MUNICIPAL DE LA ACCESIBILIDAD DE LA CIUDAD DE GETAFE
      </h1>
    </div>

    <div class="row">
      <div class="small-12 column">
        <div class="small-12 medium-9 column with-border">

          <h3>Audiencias Públicas en Getafe</h3>
          <p>
            DELEGACIÓN DE CULTURA Y MANTENIMIENTO
            <br>
            <i>Cooperación al Desarrollo</i>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row margin-top">
  <div class="small-12 medium-6 large-8 column">
    <h2>Getafe Contigo</h2>


    <p>
    El Pleno del Ayuntamiento de Getafe, reunido en sesión extraordinaria el día 14 de julio de 2017, acordó por unanimidad, la aprobación inicial del Plan de Accesibilidad de la ciudad de Getafe, que es una iniciativa municipal para dar a conocer a todos sus ciudadanos y ciudadanas, entidades y organizaciones diversas, los trabajos técnicos que se han realizado, en virtud del Convenio de Colaboración entre el Ayuntamiento de Getafe y la Asociación “La Ciudad Accesible”, un plan que pretende diseñar todas aquellas soluciones que mejoren la calidad de vida de las personas,  en especial, las que tienen una discapacidad física, cognitiva o sensorial, así como las que encuentran dificultades para el desenvolvimiento en la ciudad.
    </p>
    <p>
    Un plan que pretende alcanzar la Accesibilidad Universal para la ciudad de Getafe.
    </p>
    </p>
    <p>
      Este Plan de Accesibilidad es un documento abierto a la participación, por ello, en cumplimiento del acuerdo municipal alcanzado, se dispone someter a consulta <u>ciudadana el Plan de Accesibilidad de Getafe, cuyo plazo se extiende hasta el próximo 15 de octubre 2017</u>, a fin de recabar todas las propuestas, sugerencias y aportaciones que formulen los ciudadanos, entidades y organizaciones del municipio, que enriquezcan el citado Plan y poder pronunciarse sobre los problemas que se pretenden solucionar con la iniciativa.
    </p>
    <p>
      Para facilitar el análisis y conocimiento del Plan de Accesibilidad, puede descargarse el documento, pinchando en el enlace:  <a href="/assets/20170916_plan_accesibilidad_integracion_getafe.pdf">Plan Estratégico para la Accesibilidad y la Inclusión (PDF)</a>.
    </p>
    <p>
      Para la recogida de aportaciones, sugerencias e iniciativas, podrá hacerlo a través del correo electrónico: <a href="mailto:accesibilidad@ayto-getafe.org">accesibilidad@ayto-getafe.org</a> o en esta herramienta de participación on line, en el periodo indicado, pasando a ser estudiadas y tenidas en cuenta las opiniones y propuestas recibidas.
    </p>

    <h2>Preguntas</h2>

    <table>
      <table id="spending-proposals-results">
        <thead>
        <th class="text-center">Nº</th>
        <th>Debate</th>
        </thead>
        <tbody>
        <tr>
          <td class="text-center">
            1.
          </td>
          <td>
            <%= link_to debate_path(7) do %>
                PREGUNTA 1. PLAN MUNICIPAL DE LA ACCESIBILIDAD DE LA CIUDAD DE GETAFE
            <% end %>
          </td>
        </tr>
        </tbody>
      </table>
    </table>

  </div>

  <div class="small-12 medium-6 large-4 column legislation">
    <h3>Información adicional</h3>
    <ul class="no-bullet download">
      <li>

        <a target="_blank" title="Primer borrador de plan de convivencia" href="/assets/20170916_plan_accesibilidad_integracion_getafe.pdf">

          <h5>Getafe Contigo</h5>
          <i class="icon-document icon float-right"></i>
          <small>Plan Estratégico para la Accesibilidad y la Inclusión (PDF, 33 Mb)</small>
        </a>      </li>
    </ul>
  </div>
</div>