<div class="emphatized-header-row no-margin-top budget-header-bg">

  <div class="row padding">
    <div class="small-12 column">
      <h1 class="margin-bottom">
        PREGÓN 2017

      </h1>
    </div>

    <div class="row">
      <div class="small-12 column">
        <div class="small-12 medium-9 column with-border">

          <h3>Audiencias Públicas en Getafe</h3>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row margin-top">
  <div class="small-12 medium-6 large-6 column">
    <h2> ELIGE A LA PERSONA QUE DARÁ EL PREGÓN 2017</h2>

    <p>
      Que sea la ciudadanía quien elija a su voz en el inicio de las Fiestas de nuestro municipio, es otra de las formas reales de participación que desde el Gobierno Municipal ponemos en marcha para que sean compartidas aquellas actividades importantes y relevantes en la ciudad. Con ese objetivo, y como forma de democratizar el proceso de elección de  la persona que dará el pregón de las fiestas de  Getafe 2017, el Ayuntamiento de Getafe abre el plazo para  la presentación de propuestas del pregonero/a 2017:
    </p>

    <ol>
      <li>
        Se podrán presentar propuestas de personas físicas, asociaciones, grupos de personas, mujeres, hombres, niños y niñas y en definitiva cualquier persona o personas que la ciudadanía considere que sean justos transmisores y representantes del municipio durante las Fiestas de nuestra localidad. No es un proceso de votación, sino una presentación de candidatura.
      </li>
      <li>
        Las propuestas de las candidaturas estarán argumentadas siguiendo alguno o todos de los criterios siguientes: su labor social, su labor participativa, su labor representativa. Además de estos se podrá exponer cualquier otro motivo o razón claramente argumentado.
      </li>
      <li>
        Una vez cerrada la convocatoria de propuestas será el Foro de Cultura, compuesto por representantes de asociaciones culturales de Getafe, el órgano de participación que debatirá y consensuará quien será, de  las candidaturas propuestas,  la persona que dará el pregón 2017.
      </li>
      <li>
        La candidatura elegida preparará el texto del pregón que se realizará desde el balcón de la 1ª planta del Ayuntamiento el próximo sábado  3 de Junio. Para su redacción, y si así lo decidiese, el pregonero/a podrá contar con la colaboración de una comisión de miembros del Foro de Cultura.
      </li>
      <li>
        Además, el pregonero/a estará informado de las diferentes reuniones que el equipo de festejos de la delegación de Cultura irá celebrando, pudiendo asistir a aquellas que se determinen para conocer, de primera mano, el proceso de elaboración y ejecución de las Fiestas patronales.
      </li>
      <li>
        Las características indispensables para la selección son:

        <ul>
          <li>
            Empadronamiento en Getafe
          </li>
          <li>
            Argumentada vida en el municipio a favor de la ciudadanía de Getafe
          </li>
          <li>
            No ostentar ningún cargo político
          </li>
        </ul>
      </li>
    </ol>
  </div>

  <div class="small-12 medium-6 large-6 column legislation">
    <h2>Preguntas</h2>

    <table>
      <table id="spending-proposals-results">
        <thead>
        <th class="text-center">Nº</th>
        <th>Pregunta</th>
        </thead>
        <tbody>
        <tr>
          <td class="text-center">
            1.
          </td>
          <td>
            <%= link_to debate_path(6) do %>
                Propongo que él o la pregonera de las Fiestas de Getafe 2017 sea..
            <% end %>
          </td>
        </tr>
        </tbody>
      </table>
    </table>
  </div>
</div>