<% provide :title do %><%= t('pages.titles.privacy') %><% end %>
<div class="page row-full condiciones-generales">
  <div class="row">
    <div class="text small-12 column">
        <h1>Condiciones generales de uso, empleo de cookies y política de privacidad</h1><br>
<br>

<h2>1. Información general</h2>
<h3>1.1. Identificación del propietario de la web</h3>
<p>PODEMOS PARTIDO POLÍTICO (en adelante PODEMOS) <br>CIF: G86976941<br>Calle Zurita, núm. 21<br>28012 Madrid</p>

<h2>2. Condiciones generales de acceso y uso de la web plaza.podemos.info</h2>

<h3>2.1. Participantes y derecho de acceso a Plaza Podemos</h3>
<p>El acceso y participación activa en la web plaza.podemos.info está reservado a los inscritos en PODEMOS y que accedan a través del portal participa.podemos.info con su nombre de PARTICIPANTE y contraseña.</p>
<p>La persona inscrita declara y garantiza que los datos personales que ha indicado en el formulario de registro son verdaderos, exactos, completos y actualizados, y se hace responsable de los daños y perjuicios, ya sean directos o indirectos, que pudiera ocasionar a PODEMOS como consecuencia de la utilización de datos falsos.</p>
<p>El acceso a esta web atribuye al usuario la condición de PARTICIPANTE e implica la aceptación expresa y sin reservas de todas y cada una de las condiciones generales que se publican en este aviso legal y de las condiciones particulares que se incluyan en las páginas del sitio.</p>
<p>El derecho a acceder y participar en esta web queda condicionado al buen uso de la misma, a la utilización de datos veraces y al cumplimiento de las presentes condiciones generales y las condiciones particulares incluidas en las páginas del sitio.</p>
<p>PODEMOS denegará, retirará el acceso y uso de la web y cancelará la cuenta de usuario, en cualquier momento y sin previo aviso, a toda persona que incumpla las condiciones generales o particulares que se publiquen en este sitio web, que haga un mal uso de las herramientas y servicios que se facilitan a los PARTICIPANTES, que vulnere los derechos y libertades de los ciudadanos, que infrinja los derechos de propiedad intelectual, industrial o de imagen de terceras personas.</p>
<p>En particular, conllevará la inmediata cancelación de la cuenta la utilización de identidades o números de documentos de identificación falsos, ficticios, de terceras personas o duplicados, cualquier dato personal falso, ficticio o inexistente, número de teléfono fijo para la validación, o direcciones de correo o teléfonos móviles duplicados.</p>
<h3>2.2. Modificaciones de la web, de los servicios y de las condiciones de uso</h3><p>PODEMOS se reserva el derecho de modificar unilateralmente en cualquier momento y sin previo aviso las presentes condiciones generales, las condiciones particulares, las condiciones de uso y los servicios de participación que se prestan en esta página web.<br>
También se reserva el derecho a modificar unilateralmente en cualquier momento y sin previo aviso la presentación, diseño y configuración del sitio web.</p>
<p>Las modificaciones serán publicadas oportunamente a todos los PARTICIPANTEs mediante avisos en la propia página web.</p>

<h3>2.3. Accesibilidad a la web</h3>
<p>Esta web ha sido diseñada y programada siguiendo las técnicas y directrices de accesibilidad internacional, para hacer posible su uso a todo tipo de PARTICIPANTEs, incluidos los que sufren algún tipo de discapacidad.</p>

<h3>2.4. Acceso y uso correcto de la web</h3>
<p>El acceso y uso de la web tiene carácter libre y gratuito para los PARTICIPANTES y está reservado para los inscritos en PODEMOS.</p>
<p>Para acceder a los servicios es necesario estar inscrito previamente como miembro de PODEMOS y registrarse posteriormente en la web con el nombre de PARTICIPANTE y la contraseña que sean requeridos y facilitados por PODEMOS.</p>
<p>Para el acceso deberán seguirse las instrucciones de registro que particularmente se establezcan en la página de inicio.</p>
<p>Al introducir el título de las propuestas, se recomienda escribir una descripción breve y precisa con un máximo de 2.000 caracteres. Para completar la argumentación se podrán asociar documentos adjuntos o de las Redes Sociales Vimeo, Youtube, Slideshare, Flickr o SoundCloud, respetando en todo caso, y bajo la responsabilidad exclusiva del PARTICIPANTE, los derechos de propiedad industrial e intelectual sobre los contenidos que publiquen.</p>
<p>El PARTICIPANTE se compromete a usar esta web y sus servicios de forma correcta y diligente, cumpliendo la ley y respetando los derechos y libertades de los demás PARTICIPANTEs.</p>
<p>El PARTICIPANTE se compromete a no poner a disposición de terceros su nombre de PARTICIPANTE y contraseña, así como a comunicar a PODEMOS con la mayor brevedad, la pérdida, robo o cualquier riesgo de acceso a los mismos por un tercero.</p>
<p>El PARTICIPANTE se abstendrá de utilizar cualquiera de los servicios y contenidos de esta web con fines o efectos ilícitos, prohibidos en estas condiciones, que vulneren los derechos y libertades de otras personas o que de cualquier forma puedan dañar, inutilizar, sobrecargar, deteriorar o impedir la utilización normal y correcta de los servicios de esta web, los equipos informáticos o los documentos, archivos y contenidos almacenados en cualquier equipo informático o servidor de PODEMOS o de otros PARTICIPANTEs.</p>
<p>El acceso y uso de la web tienen, en principio, una duración indefinida. No obstante, PODEMOS se reservará el derecho a suspender el acceso a la web y su uso en cualquier momento. En estos casos lo comunicará a los PARTICIPANTEs por correo electrónico o mediante aviso en la página de inicio.</p>
<h3>2.5. Uso del contenido y servicios de la web</h3>
<p>A través de esta web el partido político PODEMOS quiere fomentar la participación de los ciudadanos en la vida política, social y económica, implicándoles en la generación de ideas y propuestas novedosas y viables, con el objeto de mejorar su calidad de vida. Es una apuesta decidida para acercar la política a los ciudadanos que permitirá recibir sus propuestas y además, crear canales directos de comunicación con el partido, contribuyendo a tomar las decisiones más acertadas para el interés general.</p>
<p>Cuando el PARTICIPANTE accede a plaza.podemos.info queda expresamente autorizado para intervenir, al menos, de las siguientes formas:</p>
<p>
• Creando un debate. Cada PARTICIPANTE podrá abrir uno o más debates. Los debates serán publicados automáticamente.<br>
• Votando de manera positiva o negativa a los debates creados por los PARTICIPANTES. Los debates aparecerán con los votos positivos y negativos recibidos. Cada PARTICIPANTE podrá exclusivamente votar o bien positivo o bien negativo, y una vez a un mismo debate.<br>
• Comentando los debates del resto de PARTICIPANTES.<br>
Propuestas e Iniciativas Ciudadanas Podemos<br>
• Creando una propuesta. Cada PARTICIPANTE podrá dar de alta una o más propuestas. Las propuestas serán publicadas automáticamente.<br>
• Apoyando las propuestas creadas por los PARTICIPANTES. Las propuestas aparecerán con el número de apoyos recibidos. Cada PARTICIPANTE podrá exclusivamente apoyar una vez a una misma propuesta.<br>
• Comentando las propuestas del resto de PARTICIPANTES. Cada propuesta podrá ser comentada por el resto de PARTICIPANTES, pudiendo argumentar las razones del apoyo o introducir mejoras a la misma.<br>
</p>
<p>No existe limitación en cuanto al número de debates, comentarios o propuestas a presentar por los PARTICIPANTES.</p>
<p>El uso de las herramientas de participación en debates y propuestas incluidas en la web estarán reguladas por las condiciones particulares que se publiquen en cada momento en la página web y para cada uso concreto, así como en los principios organizativos de Podemos para la votación de las iniciativas ciudadanas.</p>
<p>Cuando el uso de estas herramientas implique el enlace a sitios web de terceros, deberán cumplirse las condiciones de uso, empleo de cookies y política de privacidad del prestador de servicios de la web de destino.</p>
<p>El PARTICIPANTE no está autorizado a reproducir o copiar, distribuir, modificar, ceder o comunicar públicamente la información contenida en la web a menos que se cuente con la autorización del titular de los correspondientes derechos o que resulte legalmente permitido.</p>
<p>El PARTICIPANTE no está autorizado para emplear la información contenida en la web con fines comerciales, enviar mensajes no solicitados dirigidos a una pluralidad de personas con independencia de su finalidad, así como comercializar de cualquier modo dicha información.</p>
<h3>2.6. Titularidad de los contenidos y propiedad intelectual</h3>
<p>Toda la información contenida en esta web, incluyendo imágenes, diseños gráficos o códigos informáticos, nombres comerciales, marcas y signos distintivos, entre otros, así como el contenido publicado por los PARTICIPANTES, es propiedad intelectual e industrial de PODEMOS.</p>
<p>Los PARTICIPANTES deberán ser titulares de todos los textos, imágenes, vídeos, logotipos y cualquier contenido que suban y publiquen en esta web y serán responsables de las infracciones en materia de propiedad intelectual, industrial y derechos de imagen de terceros que puedan cometer al publicar contenidos en esta página web.</p>
<p>Los PARTICIPANTES, en cuanto autores de sus propuestas, aportaciones y contenidos publicados en la web plaza.podemos.info ceden gratuitamente, por tiempo indefinido y en exclusiva a PODEMOS partido político sus derechos de explotación sobre todas las obras, ideas, propuestas, iniciativas, proyectos, textos, música, imágenes, diseños gráficos, códigos informáticos, nombres comerciales, marcas, signos distintivos y demás contenidos multimedia que suban y publiquen en este sitio web. PODEMOS podrá ejercer los derechos de explotación libremente y de forma indefinida, en cualquier lugar, para promocionar su proyecto político y desarrollar todas las actividades del partido.</p>
<p>PODEMOS no cede total ni parcialmente, ni concede licencia o autorización alguna a los PARTICIPANTES sobre los derechos de propiedad intelectual, industrial o de imagen de los contenidos de esta web ni de los contenidos aportados por los PARTICIPANTES.</p>
<p>El PARTICIPANTE sólo podrá reproducir o copiar, distribuir, modificar, ceder o comunicar públicamente la información contenida en la web si dispone de la autorización del titular de los correspondientes derechos de propiedad intelectual o de imagen o si resulta expresamente autorizado en estas condiciones generales.</p>
<p>Se autoriza la difusión y uso de los contenidos de esta web únicamente para promocionar el sitio y sus actividades de participación, para dar a conocer al resto de ciudadanos los proyectos, propuestas, debates, materiales y valoraciones publicados, para participar en la marcha por el cambio, para promover la creación de ideas y para promocionar el proyecto político de PODEMOS.</p>
<p>No se autoriza y se prohibe expresamente reproducir, copiar, distribuir, modificar, ceder o comunicar públicamente los contenidos de esta web con fines comerciales, enviar mensajes no solicitados dirigidos a una pluralidad de personas con independencia de su finalidad o utilizarlos de cualquier modo que impliquen la obtención de un beneficio económico o que puedan perjudicar a PODEMOS.</p>
<p>Supone una infracción de los derechos de propiedad intelectual protegidos por la ley copiar, reproducir, comunicar, distribuir, modificar o ceder la información contenida en la web, a menos que se cuente con la autorización del titular de los correspondientes derechos, que resulte legalmente permitido o que esté expresamente autorizado en estas condiciones generales.</p>
<h3>2.7. Condiciones para el tratamiento de los contenidos proporcionados por los PARTICIPANTES</h3>
<p>Las presentes condiciones regulan los términos aplicables al contenido remitido por los PARTICIPANTES de esta plataforma a través del formulario correspondiente (en adelante, el contenido). Estas condiciones se aplican tanto al contenido inicialmente remitido a plaza.podemos.info como a cualquier contenido que se envíe con posterioridad o se manifieste a Podemos, bajo las siguientes condiciones:</p>
<p>a. No Confidencialidad: Todo el contenido remitido por el PARTICIPANTE plaza.podemos.info deberá ser susceptible de ser conocido por el público en general. Por lo tanto, PODEMOS tratará el citado contenido como información no confidencial.</p>
<p>b. Procedimiento: En el caso de que PODEMOS esté interesado en el contenido remitido por el PARTICIPANTE, se pondrá en contacto con él para solicitarle información adicional. Dicha información tendrá asimismo carácter de no confidencial, sin perjuicio de que en el caso de que las partes consideren la necesidad de intercambiarse información de carácter confidencial se firme el correspondiente acuerdo de confidencialidad.</p>
<p>c. En el supuesto que Podemos, de forma discrecional, decidiera contactar con determinados PARTICIPANTES, éstos conocen y aceptan que por ello PODEMOS no adquiere compromiso alguno.</p>
<p>d. Publicidad o difusión de los contenidos presentados: Los participantes en plaza.podemos.info declaran conocer y aceptar el hecho de que la información aportada podrá ser publicada en la web, así como a través de otros medios que el partido considere oportunos para dar a conocer esta iniciativa.</p>
<p>e. No devolución de los contenidos: PODEMOS se reserva el derecho a no devolver el contenido remitido por los PARTICIPANTES a través de la web.</p>
<p>f. Supresión de contenidos: PODEMOS procesará las peticiones de eliminación o retirada de contenidos que incumplan las condiciones de uso que hayan añadido los participantes.</p>
<p>g. Cualquier persona, con motivos razonados y si existe incumplimiento de las presentes condiciones de uso, podrá solicitar la retirada de contenidos PODEMOS, quien se reserva el derecho de hacer las comprobaciones o verificaciones oportunas con carácter previo a la supresión de cualquier contenido.</p>
<h3>2.8. Exclusión de garantías y responsabilidades</h3>
<p>PODEMOS no responderá ante los PARTICIPANTES y ante terceros perjudicados por los daños y perjuicios de cualquier clase y naturaleza causados por:</p>
<p>a. los contenidos, productos y servicios prestados por terceras personas, empresas o entidades a través de esta web, y en particular, por los servicios y herramientas de votación y participación prestados por las empresas enlazadas en sus páginas;</p>
<p>b. la falta funcionamiento de la web o de los servicios que se prestan y de los fallos en el acceso a las distintas páginas web o a aquellas desde las que se prestan los servicios;</p>
<p>c. la existencia de virus en el sistema informático, documentos electrónicos o ficheros de los PARTICIPANTEs;</p>
<p>d. la presencia de virus en los servicios prestados por terceras personas, empresas o entidades a través de esta web;</p>
<p>e. el acceso a la web por personas no autorizadas utilizando los nombres de PARTICIPANTE y contraseñas del PARTICIPANTE o saltándose las medidas de seguridad legalmente establecidas e implementadas por PODEMOS;</p>
<p>f. el incumplimiento por parte de los PARTICIPANTES de las obligaciones de privacidad y de protección de datos de carácter personal propios y de terceras personas;</p>
<p>g. el mal uso de la web o de los servicios de votación y participación prestados por PODEMOS y por las empresas enlazadas en sus páginas;</p>
<p>h. el incumplimiento de las presentes condiciones generales y particulares y las publicadas en cualquier página de esta web y en las de terceros;</p>
<p>i. las infracciones en materia de propiedad intelectual o industrial y derechos de imagen cometidos por los PARTICIPANTES;</p>
<p>j. las vulneraciones de los derechos al honor, la intimidad personal y familiar y la propia imagen de otros PARTICIPANTEs de la web y de terceros cometidos por los PARTICIPANTES.</p>
<h3>2.9. Empleo de COOKIES</h3>
<p>PODEMOS utiliza en la web cookies de empresas colaboradoras para mejorar su experiencia de PARTICIPANTE y ofrecerle los mejores servicios.</p>
<p>Navegar por esta web con las cookies activadas en el navegador conlleva de manera imprescindible la aceptación del uso de las mismas conforme las presentes condiciones.<br>
Si no aceptas el uso de cookies puedes bloquearlas en el navegador.</p>
<p>Las cookies permiten a la web recordar tus preferencias y reconocerte en sucesivas visitas. Esto se consigue almacenando en tu equipo de navegación cierta información sobre tu uso de la web.</p>
<strong>¿Qué son las cookies?</strong><br>
<p>Las “cookies” son pequeños ficheros temporales que se crean en tu dispositivo de navegación (ordenador, teléfono, tableta, etc.) cuando visitas una web, y que permiten a la misma almacenar información, por ejemplo para guardar tus preferencias de uso o para reconocerte en sucesivas visitas.</p>
<p>Cuando una web crea una cookie en tu dispositivo, se almacena lo siguiente:<br>
La dirección/dominio de la web que ha creado la cookie<br>
La duración de la cookie, que puede ir de escasos minutos a varios años El contenido de la cookie.<br>
En todo momento puedes configurar tu programa de navegación para impedir (bloquear) el uso de cookies por parte de determinadas webs, así como borrar las cookies almacenadas previamente.<br></p>
<strong>¿Para qué se usan las cookies?</strong>
<p>- Cookies esenciales. Se trata de cookies técnicas necesarias para gestionar el flujo de navegación dentro de la web o para mantenerte conectado a la misma. Si las deshabilitas, es posible que algún apartado de la web no funcione correctamente.</p>
 <p>- Cookies de personalización. Necesarias para recordar determinadas preferencias del PARTICIPANTE.</p>
<p>- Cookies analíticas. Nos ayudan a nosotros y a terceros a recopilar información de la procedencia de los PARTICIPANTEs y su navegación dentro de la web, a efectos de realizar un análisis estadístico para poder mejorar su estructura y contenidos.</p>
<p>- Cookies publicitarias. Utilizadas para gestionar los anuncios que aparecen en la web, decidir el contenido o la frecuencia de los anuncios.</p>
<p>- Cookies publicitarias comportamentales. Ayudan a recopilar tus hábitos de navegación para crear un perfil de intereses que sirve para mostrarte anuncios más relevantes.</p>
<p>- Cookies para compartición social. Estas cookies son necesarias para identificarte en tus redes sociales y así permitirte compartir contenidos.</p>
<strong>¿Qué cookies utiliza esta web?</strong>
￼<p>CloudFlare (__cfduid): Esta cookie es servida por CloudFlare, una red de entrega de contenidos (CDN).<br>
Google Analytics (__utma, __utmz): Estas cookies son servidas por Google Analytics para recoger diversa información sobre la navegación del PARTICIPANTE por el site. Por ejemplo, la ubicación del visitante, detalles de la visita realizada (tiempo, páginas vistas, etc.).<br>
Piwik (cookies que empiezan con los prefijos _pk_id, _pk_ref, _pk_ses): Estas cookies son servidas por Piwik para recoger diversa información sobre la navegación del PARTICIPANTE por el site. Por ejemplo, la ubicación del visitante, detalles de la visita realizada (tiempo, páginas vistas, etc.).<br>
Ruby On Rails (_podemos-juntos_session, cookie_law, cookiepolicy, request_method): estas cookies son para la sesión de PARTICIPANTE de la herramienta y comprobar si el visitante ha aceptado o no la política de cookies.<br>
Recaptcha (AID, APISID, CAL, GAPS, HSID, I4SUserLocale, NID, OGPC, OTZ, PREF, PREF, SAPISID, SID, SNID, SSID) Estas cookies son servidas por Google, para el correcto funcionamiento de su servicio de Recaptcha.</p>
<strong>¿Cómo impedir el uso de cookies y cómo borrar las cookies?</strong>
<p>La mayoría de navegadores te permiten desactivar completamente las cookies. Los navegadores también te permiten borrar las cookies creadas por una web específica. Recuerda que en caso de bloquear las cookies es posible que determinados servicios o funciones de la web no funcionen correctamente.</p>
<p>Hay que tener en cuenta que las diferentes versiones de los navegadores de internet pueden modificar los sistemas de desactivación y borrado de cookies y por ello es imprescindible que el PARTICIPANTE consulte en cada momento las preferencias del navegador que utilice en su equipo y las instrucciones publicadas en sus páginas web.</p>
<p>¿Dónde encontrar información sobre uso y bloqueo de cookies?<br>
Puedes encontrar información en las webs de los principales navegadores:</p>
<p>
Chrome: <a href="http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647" target="_blank">http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647</a><br>
Explorer: <a href="http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9" target="_blank">http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9</a><br>
Firefox: <a href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-web" target="_blank">http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-web</a><br>
Safari: <a href="http://support.apple.com/kb/ph5042" target="_blank">http://support.apple.com/kb/ph5042</a><br>
Safari para IOS: <a href="http://support.apple.com/kb/HT1677?viewlocale=es_ES&locale=es_ES" target="_blank">http://support.apple.com/kb/HT1677?viewlocale=es_ES&locale=es_ES</a><br>
Opera: <a href="http://help.opera.com/Windows/11.50/es-ES/cookies.html" target="_blank">http://help.opera.com/Windows/11.50/es-ES/cookies.html</a><br>
</p>
<h3>2.10. Legislación aplicable y jurisdicción</h3>
<p>Las condiciones generales y particulares de uso, empleo de cookies y política de privacidad de esta página web se regirán por la legislación española.</p><p>PODEMOS y el PARTICIPANTE, con renuncia expresa al fuero que pudiera corresponderles, se someten a los juzgados y tribunales del domicilio del PARTICIPANTE, para cualquier controversia que pudiera surgir de la prestación de los servicios objeto de estas condiciones generales. En el supuesto de que el PARTICIPANTE tuviera su domicilio fuera del territorio español, PODEMOS y el PARTICIPANTE se someten, con renuncia expresa al fuero que pudiera corresponderles, a los juzgados y tribunales de Madrid (España).</p>

<h2>3. Política de privacidad</h2>
<h3>3.1. Protección de datos personales</h3>
<p>PODEMOS, de acuerdo con la Ley Orgánica 15/1999 de Protección de Datos de Carácter Personal, informa a los PARTICIPANTES de que los datos personales que constan en los perfiles personales de la web participa.podemos.info y cuya inscripción es necesaria para el acceso a plaza.podemos.info, están incorporados en los ficheros de datos los que es responsable PODEMOS Partido Político, CIF G86976941, que los utiliza para gestionar los perfiles de los PARTICIPANTES, contactar con ellos para gestionar su registro, votación y participación en la web, hacerles llegar información sobre las incidencias y cambios de condiciones de uso y prestarles toda la información relativa a las votaciones, colaboraciones y participación en el proyecto de PODEMOS.</p>
<p>El PARTICIPANTE acepta y consiente expresamente el tratamiento de sus datos personales y la recepción de comunicaciones electrónicas para los fines indicados.</p>
<p>Los datos personales de los inscritos no serán cedidos a terceras personas ni organismos públicos sin su consentimiento, excepto cuando la ley establezca la obligación de ceder estos datos a las autoridades.</p>
<p>PODEMOS cumple con todas las medidas de seguridad para la protección de datos personales exigidas por el Real Decreto 1720/2007, de 21 de diciembre, por el que se aprueba el Reglamento de desarrollo de la Ley Orgánica 15/1999, de 13 de diciembre, de protección de datos de carácter personal.</p>

<h3>3.2. Ejercicios de los derechos de acceso, rectificación, cancelación y oposición</h3>
<p>
Para ejercer los derechos de acceso, rectificación, cancelación y oposición, es decir, para consultar y modificar los datos personales y solicitar la baja de la inscripción en PODEMOS, los PARTICIPANTES podrán utilizar los formularios disponibles en la página del perfil de PARTICIPANTE de la web participa.podemos.info o podrá dirigirse también por correo electrónico a la dirección <a href="mailto:lopd@podemos.info"></a>lopd@podemos.info</p>
<p>Si solicita la baja o modificación por correo electrónico deberá indicar su nombre y apellidos y adjuntar como archivo anexo una copia de su DNI o documento legal de identificación.</p>

<h2>4. Aceptación de las presentes condiciones generales</h2>
<p>Al marcar la casilla “He leído y acepto las condiciones de uso, empleo de cookies y política de privacidad" el PARTICIPANTE declara haber leído este aviso legal y estar conforme con su contenido.</p>
<p>En cualquier caso, el simple acceso a la web y uso de sus servicios implicarán la aceptación tácita de las condiciones de uso y política de privacidad que estén vigentes en el momento del acceso y publicadas en este aviso legal.</p>
<p>
PODEMOS Partido Político<br>
CIF G86976941<br>
￼￼￼</p>
    </div>
  </div>
</div>
