<% provide :title do %>Política de privacidad<% end %>
<div class="page row-full">
  <div class="row">
    <div class="text small-12 column">
      <%= render '/shared/print' %>
      <h1>Política de privacidad</h1>
      <p>Descripción.</p>
    </div>
  </div>
</div>
