<% provide :title do %><%= t('pages.titles.privacy') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("privacy") %>
<% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1><%= t("pages.privacy") %></h1>

    <h2>INFORMACIÓN AMPLIADA SOBRE PROTECCIÓN DE DATOS</h2>

    <h3>¿Quién es el responsable del tratamiento de sus datos personales?</h3>
    <div>Razón Social: FUNDACIÓN PARA LAS RELACIONES INTERNACIONALES Y EL DIALOGO EXTERIOR</div>
    <div>CIF: G82483082</div>
    <div>Dirección Postal: C/Felidive IV, 9, 1º dcha. 28014 Madrid</div>
    <div>Teléfono: 91 244 47 58</div>
    <div>Email de contacto: administracion@esglobal.org</div>
    <p></p>

    <h3>¿Con qué finalidad trataremos sus datos personales?</h3>
    <p>Sus datos personales serán utilizados con la finalidad de posibilitarles acceso a la plataforma mediante un registro para aportar ideas, comentarios, debates y realizar propuestas en base a la participación ciudadana sobre la construcción de Europa que a los ciudadanos nos gustaría, y aportar el punto de vista del ciudadano a los dirigentes para un proyecto europeo más participativo.</p>
    <p>Dichas aportaciones formarán parte de un informe final para dar a conocer las inquietudes ciudadanas.  En cualquier caso, no se incluirá ningún nombre en el informe.</p>

    <h3>¿Por cuánto tiempo conservaremos sus datos personales?</h3>
    <p>Sus datos personales serán conservados mientras no revoque el consentimiento prestado y una vez revocado podrán ser conservados debidamente bloqueados para atender posibles responsabilidades nacidas del tratamiento. Además, al tratarse de un proyecto subvencionado deberemos mantener todos los datos hasta cumplir con los plazos de prescripción de las justificaciones sobre las ayudas recibidas.</p>

    <h3>¿Cuál es la legitimación para el tratamiento de sus datos personales?</h3>
    <p>La base legal para el tratamiento de sus datos personales es el consentimiento del interesado</p>

    <h3>¿Hay obligación de facilitar esos datos personales?</h3>
    <p>Requisito necesario para registrarse</p>

    <h3>¿Cuáles son las consecuencias de no hacerlo?</h3>
    <p>Imposibilidad de participar</p>

    <h3>¿Cederemos sus datos personales?</h3>
    <p>El nombre que se utiliza en el registro será público y acompañará a su propuesta, comentario, idea o debate, tanto en la web como en el informe final.</p>

    <h3>¿Qué derechos tiene cuando nos facilita sus datos personales?</h3>
    <p>Derecho de <strong>Acceso:</strong> Usted tiene derecho a saber si se están tratando sus datos y a recibir esa información por escrito a través del medio solicitado.</p>
    <p>Derecho de <strong>Rectificación:</strong> Usted tiene derecho a solicitar la rectificación de sus datos si estos fuesen inexactos o incompletos.</p>
    <p>Usted tiene derecho a solicitar la <strong>supresión</strong> de sus datos, sin embargo, deberá tener en cuenta que el derecho de supresión queda limitado cuando exista obligación legal de retención o bloqueo de sus datos.</p>
    <p>En determinadas circunstancias, los interesados podrán solicitar la <strong>limitación</strong> del tratamiento de sus datos, en cuyo caso únicamente los conservaremos para el ejercicio o la defensa de reclamaciones, la protección de terceros o por razones de interés público importante.</p>
    <p>En determinadas circunstancias y por motivos relacionados con su situación particular, Usted podrá <strong>oponerse</strong> al tratamiento de sus datos. El responsable dejará de tratar los datos, salvo por motivos legítimos imperiosos, o el ejercicio o la defensa de posibles reclamaciones.</p>
    <p>Cuando el tratamiento de sus datos esté basado en el consentimiento o sea necesario para la ejecución de un contrato o precontrato y se efectúe por medios automatizados, Usted tendrá derecho a la <strong>portabilidad</strong> de sus datos, es decir, a que se le entreguen en formato estructurado, de uso común y lectura mecánica, incluso a remitírselos a un nuevo responsable.</p>
    <p>Cualquier interesado podrá <strong>presentar una reclamación</strong> ante la Autoridad de Control competente en materia de Protección de Datos, especialmente cuando no haya obtenido satisfacción en el ejercicio de sus derechos y la forma de ponerse en contacto con ella sería dirigir un escrito a Agencia Española de Protección de Datos Personales en C/Jorge Juan n.º 6, 28001 Madrid o a través de su sede electrónica en <a href="http://www.agpd.es">www.agpd.es</a></p>
    <p>Los modelos para la solicitud del ejercicio de sus derechos se encuentran en el apartado de Políticas de Privacidad / derechos de nuestro sitio web, también podrá solicitárnoslos por escrito a la dirección del responsable e incluso podrá obtenerlos en la sede electrónica de la Autoridad de control en <a href="http://www.agpd.es">www.agpd.es</a> y deberán ser remitidos a la dirección postal o electrónica del responsable.</p>

  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>

</div>
