<% provide :title do %>Privacy Policy<% end %>
<div class="page row-full">
  <div class="row">
    <div class="text small-12 column">
      <%= render '/shared/print' %>
      <h1>Política de privacitat</h1>
      <p>Descripció.</p>
    </div>
  </div>
</div>
