<% provide :title do %><%= t('pages.titles.privacy') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("privacy") %>
<% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1><%= t("pages.privacy") %></h1>

    <h2>AVISO DE PROTECCIÓN DE DATOS</h2>
    <ol>
      <li>La navegación en la plataforma digital "Más democracia en Europa" es anónima</li>
      <li>Para realizar propuestas dirigidas a mejorar la democracia en Europa, el usuario deberá registrarse y proporcionar los datos de carácter personal requeridos.</li>
      <li>Los datos aportados serán incorporados y tratados por esglobal/FRIDE de acuerdo con la descripción del fichero siguiente:
        <ul>
          <li><strong>Nombre del fichero/tratamiento:</strong> Gestión de la plataforma digital "Más democracia en Europa"</li>
          <li><strong>Finalidad del fichero/tratamiento:</strong> Gestionar las propuestas realizadas a través de la plataforma digital para comprobar el registro de las personas que participan en los mismos y realizar un informe sobre las propuestas realizadas por ciudadanos/as, organizaciones o colectivos, y el debate surgido a partir de las mismas.</li>
          <li><strong>Órgano responsable:</strong> esglobal/FRIDE, C/ Felipe IV, 9, 1º derecha, 28014, Madrid</li>
        </ul>
      </li>
      <li>El/la interesado/a podrá ejercer los derechos de acceso, rectificación, cancelación y oposición, ante la organización responsable indicada, tal como establece el artículo 5 de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal.</li>
      <li>Como principio general, este sitio web no comparte ni revela la información obtenida a través del registro, excepto cuando haya sido autorizada por el/a usuario/a, o la información sea requerida por la autoridad judicial, ministerio fiscal o la policía judicial, o se dé alguno de los supuestos regulados en el artículo 11 de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal.</li>
    </ol>
  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>

</div>
