<div class="row-full jumbo">
  <div class="row">
    <div class="small-12 column">
      <%= link_to "/processes_plaza_espana", class: "left back" do %>
        <i class="icon-angle-left left"></i>
        <%= t("pages.processes.back") %>
      <% end %>

      <h1>¡Gracias por completar la encuesta!</h1>
      <h2>Ahora puedes leer y valorar las respuestas de otros ciudadanos.</h2>
    </div>
  </div>
</div>

<div class="row margin">
  <div class="survey-comments small-12 medium-9 column">
    <h3>¿Qué nuevos usos o enfoques de la Plaza te expulsarían de la zona?</h3>
    <%= link_to "Ver todas las respuestas", "#" %>

    <section class="comments">
      <div class="row">
        <div id="comments" class="small-12 column">
        <!-- This is an example, render here 3 random comments -->
          <div class="row">
            <div id="comment_23578" class="comment small-12 column">
              <div class="comment-body">
                <div class="comment-user">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                </div>

                <div id="comment_23578_reply" class="reply">
                  <span id="comment_23578_votes" class="comment-votes right">
                    <span>48 votos</span>&nbsp;|&nbsp;
                    <span class="in_favor"><i class="icon-angle-up"></i>37</span>
                    <span class="against"><i class="icon-angle-down"></i>11</span>
                  </span>
                  <p>&nbsp;</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div id="comment_23578" class="comment small-12 column">
              <div class="comment-body">
                <div class="comment-user">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                </div>

                <div id="comment_23578_reply" class="reply">
                  <span id="comment_23578_votes" class="comment-votes right">
                    <span>48 votos</span>&nbsp;|&nbsp;
                    <span class="in_favor"><i class="icon-angle-up"></i>37</span>
                    <span class="against"><i class="icon-angle-down"></i>11</span>
                  </span>
                  <p>&nbsp;</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div id="comment_23578" class="comment small-12 column">
              <div class="comment-body">
                <div class="comment-user">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                </div>

                <div id="comment_23578_reply" class="reply">
                  <span id="comment_23578_votes" class="comment-votes right">
                    <span>48 votos</span>&nbsp;|&nbsp;
                    <span class="in_favor"><i class="icon-angle-up"></i>37</span>
                    <span class="against"><i class="icon-angle-down"></i>11</span>
                  </span>
                  <p>&nbsp;</p>
                </div>
              </div>
            </div>
          </div>
        <!-- /. This is an example, render here 3 random comments -->
        </div>
      </div>
    </section>


    <h3>¿Qué servicios, actividades o usos crees que faltan o piensas que sobran?</h3>
    <%= link_to "Ver todas las respuestas", "#" %>

    <section class="comments">
      <div class="row">
        <div id="comments" class="small-12 column">
        <!-- This is an example, render here 3 random comments -->
          <div class="row">
            <div id="comment_23578" class="comment small-12 column">
              <div class="comment-body">
                <div class="comment-user">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                </div>

                <div id="comment_23578_reply" class="reply">
                  <span id="comment_23578_votes" class="comment-votes right">
                    <span>48 votos</span>&nbsp;|&nbsp;
                    <span class="in_favor"><i class="icon-angle-up"></i>37</span>
                    <span class="against"><i class="icon-angle-down"></i>11</span>
                  </span>
                  <p>&nbsp;</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div id="comment_23578" class="comment small-12 column">
              <div class="comment-body">
                <div class="comment-user">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                </div>

                <div id="comment_23578_reply" class="reply">
                  <span id="comment_23578_votes" class="comment-votes right">
                    <span>48 votos</span>&nbsp;|&nbsp;
                    <span class="in_favor"><i class="icon-angle-up"></i>37</span>
                    <span class="against"><i class="icon-angle-down"></i>11</span>
                  </span>
                  <p>&nbsp;</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div id="comment_23578" class="comment small-12 column">
              <div class="comment-body">
                <div class="comment-user">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                </div>

                <div id="comment_23578_reply" class="reply">
                  <span id="comment_23578_votes" class="comment-votes right">
                    <span>48 votos</span>&nbsp;|&nbsp;
                    <span class="in_favor"><i class="icon-angle-up"></i>37</span>
                    <span class="against"><i class="icon-angle-down"></i>11</span>
                  </span>
                  <p>&nbsp;</p>
                </div>
              </div>
            </div>
          </div>
        <!-- /. This is an example, render here 3 random comments -->
        </div>
      </div>
    </section>

  </div>
</div>
