<% provide :title, "Pleno Abierto" %>

<div class="expanded processes-show-temp no-margin-top">
  <div class="row padding">
    <div class="small-12 medium-7 column">
      <h1 class="margin-bottom">Pleno abierto</h1>
      <p>Desde el <strong>lunes 18 al jueves 21</strong> podrás hacer tus preguntas y propuestas para el <strong>Pleno Abierto del domingo 24</strong>.</p>
    </div>

    <div class="medium-5 column relative">
      <%= image_tag "pleno_abierto_cartel.gif" %>
    </div>
  </div>
</div>

<div class="row img-space">&nbsp;</div>
