<% provide :title, "Remodelación de Plaza España" %>
<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags_plaza_espana" %>
<% end %>

<div class="row-full jumbo-survey">
  <div class="row margin-bottom">
    <div class="small-12 medium-6 column">
      <%= link_to "/processes_plaza_espana", class: "left back" do %>
        <i class="icon-angle-left left"></i>
        <%= t("pages.processes.back") %>
      <% end %>

      <h1>Plaza España. Movilidad, Medio Ambiente y Energía</h1>
      <h3>Jueves 25 de febrero, 18:30h</h3>
      <p>Colegio de Ingenieros de Caminos, Canales y Puertos <br>(C/ Almagro, 42, 28010 Madrid)</p>
    </div>
    <div class="small-12 medium-6 column">
      <%
        up_time = Time.strptime('25-FEB-16 18.20.00', '%d-%b-%y %H.%M.%S')
        if (up_time..(up_time + 4.hours)).include? Time.now.in_time_zone
       %>
         <div class="text-right">
           <span class="label round alert">EN DIRECTO</span>
         </div>
         <div class="flex-video">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/z2HP9cm-Jvg?rel=0" frameborder="0" allowfullscreen></iframe>
         </div>
      <% else %>
        <%= image_tag "processes_plaza_espana_debates.png", size: "580x270", alt: "#decideplazaespaña"%>
      <% end %>
    </div>
  </div>
</div>

<div class="process row margin">
  <div class="small-12 column">

    <h3>Próximos debates...</h3>
    <ul>
      <li>
       <strong>La Plaza como ágora. Usos. El barrio y la ciudad</strong>
       <em>(Pendiente de fecha)</em>
      </li>
    </ul>
    <h3>Debates anteriores</h3>
    <ul>
      <li>
        <strong>Pasado, presente y futuro de la plaza de España. ¿Por qué remodelarla?</strong><br>
        <em>Jueves 11 de febrero</em>&nbsp;|&nbsp;
        <a href="https://www.youtube.com/watch?v=RWQeKbheobY" target="_blank">Ver vídeo del debate</a>
      </li>
    </ul>
  </div>
</div>
