<div class="row margin-top">
  <div class="small-12 column">
    <h2>Evaluación  de propuestas de Presupuestos Participativos 2017</h2>
  </div>


  <div class="small-12 medium-8 column">
    <div class="margin" data-equalizer-watch="">

      <p>
        <h3>Duración</h3>
        Una vez acabado el plazo de recepción de propuestas se inicia la fase de evaluación que se desarrollará desde el 13 de Marzo hasta el 12 de Mayo.
      </p>
      <br>

      <p>
        <h3>Evaluación</h3>
        En este periodo los Servicios Técnicos del Ayuntamiento de Getafe analizarán la viabilidad de las propuestas recibidas, tanto de inversiones como de programas socio comunitarios. Esta información será volcada en Participa Getafe.
      </p>

      <br>
      <p>
        <h3>Comisiones de barrio</h3>
        Paralelamente al trabajo de los técnicos municipales, las Comisiones de cada barrio se reunirán para trabajar sobre las propuestas recibidas así como conocer la fase de gestión en la que se encuentra el proceso de 2016.
      </p>

      <br>
      <p>

        <%= link_to budgets_path, class: "button" do %>
            Ver propuestas presentadas
        <% end %>

        <br>

        <%= link_to page_path('more_information', anchor: '1'), class: "" do %>
            Ver información detallada sobre el proceso
        <% end %>
      </p>
    </div>
  </div>


  <div class="smal-12 medium-4 column">
    <div class="margin panel-image" data-equalizer-watch="">
    </div>
    <small class="text-muted"></small>
  </div>



</div>