<div class="expanded public-consultations-bg page-background-row">
  <div class="row no-margin-top">
    <div class="small-12 padding column text-center">
      <h1>Audiencias previas</h1>
    </div>
  </div>
</div>
<div class="row margin-top">

  <div class="small-12 column">
    <h2>Audiencias previas en  Participa Getafe</h2>
  </div>


  <div class="small-6 column">
      <p>
        <h3>¿Qué son?</h3>
        Herramienta formal de participación creada al amparo de lo dispuesto por el artículo 133 de la Ley 39/2015, de 1 de octubre, de Procedimiento Administrativo Común de las Administraciones Públicas, en la que el Ayuntamiento de Getafe, antes de la elaboración de los proyectos de normas o reglamentos locales, realizará una consulta pública, a través del Portal de Transparencia y del Portal de Participación en la que se recaba la opinión de todos los ciudadanos y de aquellos sujetos y organizaciones representativas potencialmente afectados por la futura norma acerca de todos los aspectos de la iniciativa normativa.
      </p>
      <br>
  </div>
  <div class="small-6 column">

      <p>
        <h3>¿Cómo puedo dar mi opinión?</h3>
        La audiencia desarrollada en esta herramienta se realiza de tal manera que los potenciales destinatarios y quienes realicen aportaciones sobre ella tengan la posibilidad de emitir su opinión, para lo cual deberán ponerse a su disposición los documentos necesarios, que serán claros, concisos y reunirán toda la información precisa para poder pronunciarse sobre la materia. Es por ello que siempre se adjuntará el documento normativo. Las opiniones, sugerencias y comentarios podrán efectuarse a través del buzón de correo electrónico <a href="mailto:audiencia.previa@ayto-getafe.org">audiencia.previa@ayto-getafe.org</a>
      </p>

  </div>
  <div class="small-12 column">
      <p>
        <h3>Plazo de Audiencia</h3>
          Se especificará en la web el plazo que los interesados tienen para dar sus aportaciones al proceso de aprobación de la norma de rango municipal.
      </p>
    </div>

  <div class="small-12 column">
    <p>
    <h3>Audiencias previas en plazo abierto</h3>
    <small class="text-muted"><i>No hay ninguna audiencia previa en este momento</i></small>
    </p>
  </div>


</div>