<div class="emphatized-header-row no-margin-top budget-header-bg">

  <div class="row padding">
    <div class="small-12 column">
      <h1 class="margin-bottom">
        REGLAMENTO DE CESIONES DE USO DE LOCALES MUNICIPALES
      </h1>
    </div>

    <div class="row">
      <div class="small-12 column">
        <div class="small-12 medium-9 column with-border">



        </div>
      </div>
    </div>
  </div>
</div>

<div class="row margin-top">
  <div class="small-12 medium-6 large-8 column">
    <h2>Getafe Contigo</h2>

    <p>
      Por el Ayuntamiento Pleno, en sesión extraordinaria celebrada el 13 de septiembre de 2017, se acordó aprobar inicialmente el Reglamento para la gestión de autorizaciones y cesiones del uso de locales municipales del Ayuntamiento de Getafe a entidades ciudadanas, colectivos y partidos políticos y someterlo a información pública y audiencia a los interesados por el plazo de treinta días hábiles para la presentación de reclamaciones y sugerencias a contar desde el 5 de octubre, surtiendo esta aprobación inicial efectos definitivos si no se presentan.
    </p>
    <p>
      Os dejamos el enlace al Portal de Trasparencia en el que podrás consultar el documento y realizar alegaciones al mismo por escrito y a través del registro de entrada del Ayuntamiento de Getafe.
    </p>

    <h2>Enlace</h2>

    <p>
      <%= link_to 'Enlace al Portal de Transparencia', 'https://transparencia.getafe.es/portalGetafe/transparencia/se_contenedor2.jsp?seccion=s_fdes_d4_v2.jsp&contenido=16501&tipo=6&nivel=1400&codResi=1&language=es' %>
    </p>
  </div>

  <div class="small-12 medium-6 large-4 column legislation">

  </div>
</div>