<div class="page row-full">
  <div class="row">
  <div class="menu small-12 medium-3 column">
    <i class="icon-angle-left left"></i>&nbsp;
    <%= link_to t("spending_proposals.new.back_link"), "/more_information", class: 'left back' %>
    <ul class="clear">
        <li>
          <a href="#i">Explicación detallada del proceso</a>
        </li>
    </ul>
  </div>
    <div class="text small-12 medium-9 column">
      <h1>¿Cómo funcionan los presupuestos ciudadanos?</h1>

      <h2 id="i">Explicación detallada del proceso</h2>
      <p>Próximamente se podrá encontrar aquí una descripción del proceso de participación ciudadana en los presupuestos.</p>

    </div>
  </div>
</div>