<div class="row margin-top">
  <div class="small-12 medium-3 column">
    <%= render "shared/back_link" %>

    <ul class="menu vertical margin-top">
      <li><a href="#i"><strong>Explicación detallada del proceso</strong></a></li>
    </ul>
  </div>

  <div class="small-12 medium-9 column">
    <h1>¿Cómo funcionan los Presupuestos participativos?</h1>
    <h2 id="i">Explicación detallada del proceso</h2>
    <p>Descripción del proceso de participación ciudadana en los presupuestos.</p>
  </div>
</div>
