<div class="small-12 medium-6">
  <%= form_tag(url, method: :get) do |f| %>
    <div class="input-group">
        <%= text_field_tag :search, search_terms.to_s, placeholder: t("admin.shared.user_search.placeholder") %>
      <div class="input-group-button">
        <%= submit_tag t("admin.shared.user_search.button"), class: "button" %>
      </div>
    </div>
  <% end %>
</div>
