<div class="table-actions">
  <%= content %>

  <% if actions.include?(:edit) %>
    <%= action(:edit, **edit_options, text: edit_text, path: edit_path) %>
  <% end %>

  <% if actions.include?(:destroy) %>
    <%= action(:destroy, **destroy_options, text: destroy_text, path: destroy_path) %>
  <% end %>
</div>
