<% if documents.any? %>
  <div class="row">
    <div class="small-12 column">
      <table>
        <tbody>
          <% documents.each do |document| %>
            <%= render "documents/document", document: document %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="small-12 column">
      <div class="callout primary text-center">
        <%= t('documents.no_documents') %>
      </div>
    </div>
  </div>
<% end %>
