<tr id="<%= dom_id(document)%>">
  <td class="document-link">
    <%= document.title %>
  </td>
  <td class="text-center">
    <%= link_to t('documents.buttons.download_document'),
                document.attachment.url,
                target: "_blank",
                rel: "nofollow",
                class: 'button hollow' %>
  </td>
  <td class="text-center">
    <% if can? :destroy, Document %>
      <%= link_to t('documents.buttons.destroy_document'),
                    document_path(document, from: request.url), method: :delete,
                    data: { confirm: t('documents.actions.destroy.confirm') },
                    class: 'button hollow alert' %>
    <% end %>
  </td>
</tr>
