<%= render Pages::Help::SectionComponent.new("polls") do %>
  <p>
    <%= sanitize(t("pages.help.polls.description",
          link: link_to(t("pages.help.polls.link"), polls_path))) %>
  </p>
  <ul class="features">
    <li>
      <%= sanitize(t("pages.help.polls.feature_1",
            link: link_to(t("pages.help.polls.feature_1_link", org_name: setting["org_name"]),
                             new_user_registration_path))) %>
    </li>
  </ul>
<% end %>
