<div class="row section-content">
  <div class="small-12 column">
    <h3 id="processes" data-magellan-target="processes">
      <%= t("pages.help.processes.title") %>
    </h3>

    <p>
      <% link = link_to(t("pages.help.processes.link"), legislation_processes_path) %>
      <%= t("pages.help.processes.description", link: link).html_safe %>
    </p>
    <ul class="features">
      <li>
        <% link = link_to(t("pages.help.processes.link"), legislation_processes_path) %>
      </li>
    </ul>
  </div>
</div>
