<div class="text-center">
  <h2><%= t("codigos.comprobation.access_code") %><em><%= @codigo %></em></h2>
  <p class="lead"><%= t("codigos.comprobation.access_with_code", link: new_codigo_path).html_safe %>.</p>
</div>
