<p><strong><%= link_to t("stats.advanced"), "#advanced_statistics" %></strong></p>
<ul class="menu vertical">
  <li>
    <%= link_to t("stats.polls.by_channel"), "#stats_by_channel" %>
  </li>
  <li>
    <%= link_to t("stats.polls.vote_by_channel"), "#vote_stats_by_channel" %>
  </li>
</ul>
