<div class="row margin-top">
  <div class="small-12 column">
    <ul class="tabs" data-tabs id="polls_tabs">
      <li class="tabs-title is-active">
        <%= link_to "#tab-comments" do %>
          <h3>
            <%= t("polls.show.comments_tab") %>
            <span class="js-comments-count">(<%= @poll.comments_count %>)</span>
          </h3>
        <% end %>
      </li>
    </ul>
  </div>
</div>
