<div class="row">
  <div class="small-12 column">
    <ul class="tabs" data-tabs id="polls-tabs">
      <li class="tabs-title">
        <%= link_to "#tab-stats" do %>
          <h3>
            <%= t("polls.show.stats_menu") %> <!-- t("polls.show.comments_tab") -->
          </h3>
        <% end %>
      </li>
      <li class="tabs-title is-active">
        <%= link_to "#tab-information" do %>
          <h3>
            <%= t("polls.show.info_menu") %>
          </h3>
        <% end %>
      </li>
    </ul>
  </div>
</div>