.aue-goals-index {
  .banner,
  .header-card,
  .section-header {
    @include full-width-background($adjust-padding: true);
  }

  .section-header {
    @include full-width-border(bottom, 1px solid #eee, $adjust-padding: true);

    h1 {
      &::before {
        @extend %font-icon;

        content: "";
        background-image: url("aue.png");
        background-size: 36px 36px;
        position: relative;
        z-index: 9;
        height: 36px;
        width: 36px;
      }
    }
  }

  .aue-goal-list {
    $spacing: 1.5%;

    @include aue-goal-list($spacing);

    margin-left: auto;
    margin-right: auto;
    max-width: 60rem;
    width: 100%;

    li {
      line-height: 0;
      margin-left: $spacing / 2;
      margin-right: $spacing / 2;
      width: 100%;
      height: 54px;
      .aue-goal-item {
        height: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: center;
        .aue-goal-item-text {
          height: 100%;
          margin-left: -30px;
          clip-path: polygon(0 0, 93% 0%, 100% 100%, 0% 100%);
          position: relative;
          width: 100%;
          padding-right: 7%;
          padding-left: 40px;
          display: flex;
          align-items: center;
          span {
            font-size: clamp(14px, 1.6vw, 16px);
            font-weight: 400;
            line-height: 1rem;
          }
        }
        .aue-goal-icon {
          // width: calc(100% / 6 - #{$spacing});
          height: 60px;
          width: auto;
          z-index: 9;
        }
      }
    }
  }

  .aue-phase {
    .cards-container {
      @include grid-row-nest;
    }
  }

  .background-header {
    margin-bottom: $line-height;
  }

  @each $code, $color in $aue-colors {
    .aue-goal-#{$code} {
      color: black;
      background-color: $color;
    }
  }
}
