<div class="row">
  <div class="small-12 medium-9 medium-centered column">
    <h1>Editing Project</h1>
    
    <%= render 'form', project: @project %>
    
    <%= link_to 'Show', @project %> |
    <%= link_to 'Back', projects_path %>
  </div>
</div>