
<% if @banner.errors.any? %>
   
  <div id="error_explanation" data-alert class="callout alert" data-closable>
    <button class="close-button" aria-label="<%= t("application.close") %>" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>

    <strong>
      <%= @banner.errors.count %>
      <%= t("admin.banners.errors.form.error", count: @banner.errors.count) %>
    </strong>
  </div>

<% end %>