<%
    # Parameters:
    #   message: A string explaining the permissions
    #   permissions: An array of symbols containing the permissions
    #   (can be :debates, :proposal, :support_proposal, :votes)
%>
<div class="user-permissions">

  <p><%= message %></p>

  <ul>
    <% [:debates, :create_proposals, :support_proposals, :vote_proposals].each do |permission| %>
      <li>
        <i class="<%= permissions.include?(permission) ? 'icon-check' : 'icon-x' %>"></i>
        <%= t("management.permissions.#{permission}") %>
      </li>
    <% end %>
  </ul>

</div>
