.admin  [role=search] {
  display: flex;

  &.complex {
    @include breakpoint(small only) {
      flex-direction: column;
    }

    @include breakpoint(medium) {
      select {
        height: $line-height * 2;
        margin: 0 rem-calc(12);

        + select {
          margin-left: 0;
        }
      }
    }
  }

  &:not(.complex) {
    @include breakpoint(medium) {
      width: 50%;
    }

    input:not([type="button"], [type="checkbox"], [type="file"], [type="radio"], [type="submit"]) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-right: 0;
    }
  }

  [type="submit"] {
    @include regular-button;
    border-radius: 0;
    font-size: 1rem;
  }
}
