default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  pool: 5
  username:
  password:

development:
  <<: *default
  database: participacion_development

staging:
  <<: *default

preproduction:
  <<: *default

production:
  <<: *default

test:
  <<: *default
  database: participacion_test