staging:
  deploy_to: "/var/www/participacion"
  ssh_port: 21
  server: staging.participacion.madrid.es
  user: xxxxx
  full_app_name: participacion
  server_name: staging.participacion.madrid.es
  db_server: postgre.participacion.madrid.es

preproduction:
  deploy_to: "/var/www/participacion"
  ssh_port: 2222
  server1: xxx.xxx.xxx.xxx
  server2: xxx.xxx.xxx.xxx
  user: xxxxx
  full_app_name: participacion
  db_server: xxx.xxx.xxx.xxx

production:
  deploy_to: "/var/www/participacion"
  ssh_port: 2222
  server: xxx.xxx.xxx.xxx
  user: xxxxx
  full_app_name: participacion

