default: &default
  secret_key_base: "56792feef405a59b18ea7db57b4777e855103882b926413d4afdfb8c0ea8aa86ea6649da4e729c5f5ae324c0ab9338f789174cf48c544173bc18fdc3b14262e4"
  ca_path: "/etc/ssl/certs"
  openid_name: "openid"
  openid_identifier: "domain.com/openid/discover"
  reddit_key: ""
  reddit_secret: ""
  mail_from: "no-reply@plaza.podemos.info"

development:
  <<: *default

test:
  <<: *default

staging:
  server_name: ""
  <<: *default

production: &production
  <<: *default
  secret_key_base: "817232feef405a59b18ea7db57b4777e855103882b926413d4afdfb8c0ea8aa86ea6649da4e729c5f5ae324c0ab9338f789174cf48c544173bc18fdc3b14262e4"

  census_api_end_point: ""
  census_api_institution_code: ""
  census_api_portal_name: ""
  census_api_user_code: ""

  sms_end_point:  ""
  sms_username: ""
  sms_password: ""

  http_basic_username: ""
  http_basic_password: ""

  twitter_key: ""
  twitter_secret: ""
  facebook_key: ""
  facebook_secret: ""
  google_oauth2_key: ""
  google_oauth2_secret: ""

  rollbar_server_token: ""
  server_name: ""

  smtp:
    address: ""
    port: 587
    user_name: ""
    domain: ""
    password: ""
    authentication: "plain"
    enable_starttls_auto: true
    openssl_verify_mode: "none"


preproduction:
  server_name: ""
  <<: *production
