default: &default
  secret_key_base: 56792feef405a59b18ea7db57b4777e855103882b926413d4afdfb8c0ea8aa86ea6649da4e729c5f5ae324c0ab9338f789174cf48c544173bc18fdc3b14262e4
  email_interceptor_recipients: ""

maps: &maps
  map_tiles_provider: "//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
  map_tiles_provider_attribution: "&copy; <a href=\"http://osm.org/copyright\">OpenStreetMap</a> contributors"

apis: &apis
  microsoft_api_key: ""
  census_api_end_point: ""
  census_api_institution_code: ""
  census_api_portal_name: ""
  census_api_user_code: ""
  sms_end_point:  ""
  sms_username: ""
  sms_password: ""
  padron_public_key: ""
  padron_host: ""
  padron_password: ""

participacion: &participacion
  # Ips de acceso de gestion, ellas pasaran directamente al sign_in, en otro caso serán redirigidas
  # a la URL de negociación, se pueden separar por ";" en caso de existir varias
  participacion_management_ip : ""
  # URL de renegociacion en el caso de que la IP no sea valida, para que se gestione una renegociacion
  # de sesion, en cualquier caso siempre entra por aqui, sera el portal de participacion el que se
  # encarga de comprobar si el resultado es valido
  participacion_renegotiation : ""
  # Mantiene el token seguro que se negocia con la aplicacion para la conexión remota
  participacion_xauth_secret : ""
  # Mantiene las IPs de acceso remoto para la autenticacion
  participacion_xauth_origin : ""
  # Datos de pushMessage para permitir enviar información al contenedor sobre cambios
  # de altura. NO USAR '*' en producción, indicar el nombre del host valido
  participacion_push_target_origin : "*"
  # URL del iframe contenedor, para permitir el correcto funcionamiento de la función de share
  participacion_iframe_source: ""

http_basic_auth: &http_basic_auth
  http_basic_auth: true

omniauth_ldap: &omniauth_ldap
  ldap_host: ""
  ldap_port: ""
  ldap_base: ""
  ldap_attribute: ""
  ldap_password: ""
  ldap_bind_dn: ""
  ldap_url: ""
  ldap_new_path: ""

development:
  http_basic_username: "dev"
  http_basic_password: "pass"
  <<: *default
  <<: *maps
  <<: *omniauth_ldap
  <<: *participacion

test:
  <<: *default
  <<: *maps

staging:
  secret_key_base: ""
  server_name: ""
  server_protocol: "https"
  # mailer_delivery_method: :smtp
  # smtp_settings:
  #   :address: "smtp.example.com"
  #   :port: 25
  #   :domain: "your_domain.com"
  #   :user_name: "<username>"
  #   :password: "<password>"
  #   :authentication: "plain"
  #   :enable_starttls_auto: true
  force_ssl: true
  delay_jobs: true
  rollbar_server_token: ""
  http_basic_username: ""
  http_basic_password: ""
  managers_url: ""
  managers_application_key: ""
  <<: *default
  <<: *maps
  <<: *apis
  <<: *participacion

preproduction:
  secret_key_base: ""
  server_protocol: "http"
  server_name: ""
  mailer_delivery_method: :smtp
  smtp_settings:
    :address: "smtp.example.com"
    :port: 25
    :openssl_verify_mode: ""
  #   :domain: "your_domain.com"
  #   :user_name: "<username>"
  #   :password: "<password>"
  #   :authentication: "plain"
  #   :enable_starttls_auto: true
  force_ssl: false
  delay_jobs: true
  rollbar_server_token: ""
  http_basic_username: ""
  http_basic_password: ""
  managers_url: ""
  managers_application_key: ""
  twitter_key: ""
  twitter_secret: ""
  facebook_key: ""
  facebook_secret: ""
  google_oauth2_key: ""
  google_oauth2_secret: ""
  <<: *maps
  <<: *apis
  <<: *omniauth_ldap
  <<: *participacion


production:
  secret_key_base: ""
  server_protocol: "https"
  server_name: ""
  mailer_delivery_method: :smtp
  smtp_settings:
    :address: "smtp.example.com"
    :port: 25
    :openssl_verify_mode: ""
  #   :domain: "your_domain.com"
  #   :user_name: "<username>"
  #   :password: "<password>"
  #   :authentication: "plain"
  #   :enable_starttls_auto: true
  force_ssl: false
  delay_jobs: true
  rollbar_server_token: ""
  http_basic_username: ""
  http_basic_password: ""
  managers_url: ""
  managers_application_key: ""
  twitter_key: ""
  twitter_secret: ""
  facebook_key: ""
  facebook_secret: ""
  google_oauth2_key: ""
  google_oauth2_secret: ""
  wordpress_oauth2_key: ""
  wordpress_oauth2_secret: ""
  wordpress_oauth2_site: ""
  <<: *maps
  <<: *apis
  <<: *omniauth_ldap
  <<: *participacion

