<%= back_link_to admin_budgets_path, t("admin.budget_groups.index.back") %>

<div class="clear"></div>

<h2 class="inline-block"><%= @budget.name %></h2>

<%= link_to t("admin.budget_groups.form.create"),
            new_admin_budget_group_path,
            class: "button float-right" %>

<%= render "groups" %>
