<div class="remove supported inline-block">
  <span class="icon-check-circle bounceIn animated"
        title="<%= t("budget.investments.investment.already_added") %>">
  </span>

  <p class="investment-project-amount">
    <%= format_price(investment.price) %>
  </p>

  <% if @budget.balloting? %>
    <%= link_to t('budgets.ballots.show.remove'),
                ballot_line_path(id: investment.id,
                                 investments_ids: investment_ids),
                class: "delete small expanded",
                method: :delete,
                remote: true %>
  <% end %>
</div>
