<div class="row">
  <div class="small-12 column">
    <div id="section_help" class="section-help margin" data-magellan-target="section_help">
      <h2 class="lead">
        <%= t("budgets.index.section_footer.title") %>
      </h2>
      <p><%= t("budgets.index.section_footer.description") %></p>
    </div>
  </div>
</div>
