<div id="groups_and_headings" class="groups-and-headings">
  <% budget.groups.each do |group| %>
    <h2 id="<%= group.name.parameterize %>"><%= group.name %></h2>
    <ul class="headings-list">
      <% group.headings.sort_by_name.each do |heading| %>
        <li class="heading">
          <%= link_to_unless(
            (budget.informing? || budget.finished?),
            heading.name,
            budget_investments_path(budget.id, heading_id: heading.id)
          ) %>

          <%= price(heading) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
