<% if investments.any? %>
  <section id="investments_list" class="investments-list">
    <header>
      <h2><%= t("budgets.investments_list.title") %></h2>
    </header>

    <% investments.each do |investment| %>
      <%= render Budgets::InvestmentComponent.new(investment) %>
    <% end %>
  </section>
<% end %>

<% if budget.single_heading? && !budget.informing? || investments.any? %>
  <%= render "budgets/all_investments_link", budget: budget %>
<% end %>
