#application-title{
  display: block;
  padding-left: 4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 4rem;
  background: image-url("logo-barcelona-white.svg") left center no-repeat;

  @media (max-width: $small-breakpoint) {
    line-height: 2rem;
    padding-left: 2rem;
  }
}
