#application-title{
  line-height: rem-calc(100px);
  margin: 0;
  padding: 0;

  a{
    color: $text;
    text-decoration: none;
    strong{
      color: $brand;
      font-weight: bold;
    }
    font-weight: 200;
  }
}
