.account-menu.menu {

  @include breakpoint(small only) {
    margin-top: calc($line-height / 2);

    &,
    .menu {
      border-bottom: 1px solid $border;
      margin-bottom: $line-height;
      padding-bottom: $line-height;
    }
  }

  li {
    display: block;
    width: 100%;

    @include breakpoint(medium) {
      width: auto;
    }

    a,
    button,
    summary {
      color: inherit;
      cursor: pointer;
      line-height: inherit;
      padding-left: 0;

      @include breakpoint(medium) {
        font-size: $small-font-size;
        padding: rem-calc(8) rem-calc(16);
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .admin-login-items {
    details {
      position: relative;

      &[open] {
        summary {
          font-weight: bold;
        }
      }

      summary {
        cursor: pointer;
      }

      ul {
        @extend %body-colors;
        background: $dropdownmenu-submenu-background;
        border: $dropdownmenu-border;
        margin-top: calc($line-height / 4);
        min-width: $dropdownmenu-min-width;
        position: absolute;
        top: 100%;
        z-index: 9;
      }
    }
  }
}
