.admin {
  > header {
    border-bottom: 1px solid #eee;

    > * {
      @include full-width-background($adjust-margin: false, $adjust-padding: true);
    }
  }

  .top-links {

    a {
      line-height: rem-calc($line-height * 1.5);
    }
  }

  .top-bar {
    @include breakpoint(small only) {

      .account-menu {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;

        a {
          font-weight: normal;
        }

        .is-active {
          font-weight: bold;
          text-decoration: underline;
        }
      }

      [class^="icon-"] {
        display: none;
      }
    }

    @include breakpoint(medium) {
      padding-bottom: 0.8rem;
      padding-top: 0.8rem;
    }

    [class^="icon-"] {
      font-size: $base-font-size;
    }

    h1 {

      small {
        color: inherit;
        text-transform: uppercase;
      }

      a {
        color: inherit;
        display: inline-block;
        font-family: "Lato" !important;
        font-size: rem-calc(24);
        font-weight: lighter;
      }
    }
  }
}
