.cookies-consent-banner {
  @include brand-border;
  background: inherit;
  bottom: calc($line-height / 3);
  left: calc($line-height / 3);
  padding: 2rem;
  position: fixed;
  right: calc($line-height / 3);
  z-index: 20;

  button {
    @include breakpoint(small only) {
      display: block;
      width: 100%;
    }

    &.accept-all-cookies,
    &.accept-essential-cookies {
      @include regular-button;
      margin-bottom: 0;

      @include breakpoint(small only) {
        margin-bottom: calc($line-height / 3);
      }
    }

    &.manage-cookies {
      @include hollow-button;
    }
  }
}
