.cookies-consent-management {
  border-radius: 0.75rem;

  @include breakpoint(medium) {
    width: 50%;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  .close-button {
    @include modal-close-button;
  }

  .buttons {
    border-top: 1px solid $medium-gray;
    padding-top: $line-height;

    button {
      @include breakpoint(small only) {
        display: block;
        width: 100%;
      }

      &.accept-essential-cookies {
        @include regular-button;
        margin-bottom: 0;
      }
    }
  }
}
