.subfooter .legal {
  display: inline-block;
  margin-#{$global-left}: 0;

  &::before {
    content: "|";
  }

  li {
    display: inline-block;

    &::after {
      content: "|";
      margin-left: 4px;
    }

    &:last-child::after {
      content: none;
    }
  }
}
