.locale {
  float: left;
  height: $line-height * 1.5;
  margin-left: $line-height / 2;
  position: relative;

  &::after {
    color: #808080;
    content: "\61";
    font-family: "icons" !important;
    font-size: $small-font-size;
    pointer-events: none;
    position: absolute;
    right: 2px;
    top: 9px;
  }

  .locale-form {
    display: inline-block;
    position: relative;

    label {
      color: #fff;
      font-size: $tiny-font-size;
      font-weight: normal;
    }

    select {
      background: #001d33;
      border: 0;
      border-radius: rem-calc(4);
      color: #fff;
      font-size: $small-font-size;
      height: $line-height;
      margin-bottom: 0;
      margin-top: $line-height / 4;
      outline: none;
      padding-left: $line-height / 4;
      padding-right: calc(#{$line-height / 4} + 1em);
      width: auto;

      &:focus {
        outline: $outline-focus;
      }

      option {
        background: $body-background;
        color: $text;
        border: 0;
        outline: none;
      }
    }
  }
}
