.locale-switcher {
  align-items: center;
  display: flex;
  float: left;
  margin-bottom: $line-height / 4;
  margin-top: $line-height / 4;

  li::after {
    content: none;
  }

  &.few-languages {
    p {
      @include element-invisible;
    }

    > ul {
      $gap: 0.75em;
      display: flex;
      flex-wrap: wrap;
      margin-left: -$gap;

      > * {
        margin-left: $gap;
      }

      a {
        margin-left: 0;
      }

      [aria-current] {
        font-weight: bold;
      }
    }
  }

  &.many-languages {
    p {
      cursor: default;
      font-size: $tiny-font-size;
      margin-bottom: 0;
      margin-right: $line-height / 4;
    }

    > ul {
      display: flex;
      margin-left: 0;

      > :first-child a {
        margin-left: 0;
      }
    }
  }

  ul ul {
    font-size: $small-font-size;
  }

  .menu .has-submenu.is-dropdown-submenu-parent > a {
    @include has-fa-icon(angle-down, solid, after);
    align-items: flex-end;
    background: #001d33;
    border-radius: $button-radius;
    cursor: default;
    display: inline-flex;
    line-height: 1;
    padding: $line-height / 4;
    padding-left: $line-height / 2;
    text-decoration: none;

    &:focus {
      outline: $outline-focus;
    }

    &::after {
      margin-left: 0.5em;
      opacity: 0.5;
      position: static;
    }
  }

  .menu.is-dropdown-submenu {
    margin: 0;
    max-height: 80vh;
    overflow: hidden auto;
    padding: 0 $line-height / 4;
    min-width: 100%;
    padding: 0;

    li {
      display: block;
      margin-bottom: 0;
      min-width: max-content;
      width: 100%;
    }

    a {
      background: $body-background;
      color: $text;
      cursor: default;
      font-weight: normal;
      line-height: 1;
      margin: 0;
      padding: $line-height / 2 calc(1em + 20px) $line-height / 2 calc(1em + #{rem-calc(4)});
      width: 100%;

      &:focus,
      &:hover {
        @include brand-background;
        text-decoration: none;
        outline: none;
      }
    }

    [aria-current] a {
      @include has-fa-icon(check, solid);
      padding-left: rem-calc(4);

      &::before {
        margin-right: $font-icon-margin;
      }
    }
  }
}
