.remote-translations-button {
  text-align: center;

  &.callout {
    margin: 0;
    padding: rem-calc(6);

    [type="submit"] {
      @include brand-color;
      background: none;
      border: 0;
      cursor: pointer;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
