.remote-translations-button {
  @include info-colors;
  font-size: $small-font-size;
  text-align: center;
  padding: rem-calc(6);

  [type="submit"] {
    @include brand-color;
    background: none;
    border: 0;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}
