<% if @residence.errors[:local_residence].present? %>

  <div id="error_explanation" data-alert class="callout alert" data-closable>
    <button class="close-button" aria-label="<%= t("application.close") %>" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
    <%= t("verification.residence.new.error_verifying_census") %>
  </div>

<% else %>
  <%= render "shared/errors",
             resource: @residence,
             message: t("verification.residence.new.form_errors") %>
<% end %>
