<% if @residence.errors[:residence_in_madrid].present? %>

  <div id="error_explanation" data-alert class="callout alert" data-closable>
    <button class="close-button" aria-label="<%= t("application.close") %>" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
    <%= t("verification.residence.new.error_verifying_census",
    offices: link_to( t("verification.residence.new.error_verifying_census_offices"),
    setting['verification_offices_url'], title: t('shared.target_blank_html'), target: "_blank")).html_safe %>
  </div>

<% else %>
  <%= render "shared/errors",
             resource: @residence,
             message: t("verification.residence.new.form_errors")  %>
<% end %>
