<div class="row">
  <div class="small-12 medium-6 column">
    <%= f.text_field :name,
                     placeholder: t("admin.shared.labels.name"),
                     label:       t("admin.shared.labels.name") %>
  </div>

  <div class="small-12 column">
    <%= f.text_field :location,
                     placeholder: t("admin.shared.labels.location"),
                     label:       t("admin.shared.labels.location") %>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-4 column">
    <%= f.submit t("admin.booths.#{admin_submit_action(@booth)}.submit_button"),
                 class: "button success expanded" %>
  </div>
</div>
