<%= back_link_to admin_booths_path %>

<div class="small-12 column">
  <h2><%= t("admin.booths.edit.title") %></h2>
</div>

<%= form_for @booth, url: admin_booth_path(@booth) do |f| %>
  <%= render "form", f: f %>
<% end %>
