.legislation-draft-versions-form {

  .fullscreen-container {
    background: #ccdbe6;
    text-align: center;

    .markdown-editor-header,
    .markdown-editor-buttons {
      display: none;
    }

    span {
      font-size: $small-font-size;
      text-decoration: none;
    }

    .icon-expand {
      line-height: 0;
      margin-left: 0.25rem;
      text-decoration: none;
      vertical-align: sub;
    }
  }

  .markdown-preview {
    border: 1px solid #cacaca;
    font-family: $font-family-serif;
    margin-bottom: 2rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $font-family-serif !important;
      font-size: 1rem;
      line-height: 1.625rem;
      margin-bottom: 0;
    }

    p {
      font-size: 1rem;
      line-height: 1.625rem;
    }
  }

  .fullscreen {

    .markdown-area,
    .markdown-preview {
      display: block;
    }

    .column {
      padding: 0;
    }

    .fullscreen-container {
      background: $admin-color;
      margin-bottom: 0;
      padding: 0.5rem 1rem;
      text-align: left;
    }

    .legislation-draft-version-body {
      border-radius: 0;

      @include breakpoint(medium) {
        padding-left: 2rem;
        padding-right: 2rem;
      }

      &:focus {
        box-shadow: inset 0 1px 2px rgba(34, 34, 34, 0.1);
      }
    }

    .markdown-preview {
      border: 0;
      padding: 1rem;

      @include breakpoint(medium) {
        padding: 1rem 2rem;
      }
    }
  }

  .radio-and-label {
    @include radio-or-checkbox-and-label-alignment;

    span {
      margin-#{$global-left}: 1ch;
    }
  }
}
