<h2><%= t("admin.menu.site_customization.information_texts") %></h2>

<%= render "tabs" %>

<div class="tabs-content" data-tabs-content="information-texts-tabs">
  <div class="tabs-panel is-active">
    <%= render Admin::SiteCustomization::InformationTexts::FormComponent.new([@content]) %>
  </div>
</div>
