<% globalize(locale) do %>
  <div class="js-globalize-attribute" data-locale="<%= locale %>" style="<%= display_style %>">
    <%= label_tag html_id, i18n_key %>
    <%= text_area_tag html_name, text, id: html_id, rows: 5 %>
  </div>
<% end %>
