// Override CONSUL and Foundation settings in this file.
//
// For example, override the brand color to #123456 with:
//
// $brand: #123456;
//
// Or override Foundation's tooltip color to #123456 with:
//
// $tooltip-color: #123456;
//
// The variables you can override are defined in the
// `_settings.scss` and `_consul_settings.scss` files.

@font-face {
  font-family: "Formata";
  src: font-url("formata-regular.otf");
  src: font-url("formata-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Formata";
  src: font-url("formata-medium.otf");
  src: font-url("formata-medium.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

$brand: #2272b7;
$brand-secondary: #2272b7;

$footer: rgb(128, 161, 182);
$footer-color: rgb(35, 31, 32);

$base-font-size: 18px;
$body-font-family: "Formata", sans-serif;
$header-font-weight: 700;
$hover: rgb(17, 24, 39);
$hover-secondary: scale-color($brand-secondary, $lightness: -20%);

$text: #231f20;

$social-background: $text;
$social-color: #fff;

$social-background-hover: #fff;
$social-color-hover: $text;

html {
  --brand: #{$brand};
  --brand-secondary: #{$brand-secondary};

  --footer: #{$footer};

  --header-color: var(--brand);
  --heading-border-color: #{$footer};

  --button-shadow: none;
  --button-secondary-background: #f1f1f1;
  --button-secondary-color: var(#{$text}, inherit);

  --small-border-radius: 0px;
  --medium-border-radius: 0px;
  --large-border-radius: 0px;
}
