<div class="row featured-brand-banner">
  <%= link_to plaza_path do %>
    <div class="small-12 column padding">
      <div class="icon-successfull"></div>
      <h2><%= t("probes.plaza_banner.title") %></h2>
      <p><%= t("probes.plaza_banner.date_html") %></p>
    </div>
  <% end %>
</div>
