<%= render "probes/#{@probe.codename}/header" %>

<div class="expanded processes-show no-margin-top">
  <div class="row padding">
    <div class="small-12 medium-9 column">
      <%= render "shared/back_link" %>

      <h1 class="margin-bottom"><%= t("pages.processes.index.process_2_title") %></h1>
        <p>Hasta el 28 de octubre, la ciudadanía formó parte del jurado que está decidiendo cómo será la nueva Plaza de España.</p>
      <div class="small-12 medium-6">
        <%= link_to "Más información sobre la remodelación",
                      page_path("processes_plaza_espana"), class: "button" %>
      </div>
    </div>
  </div>
</div>

<div class="row margin-top">
  <div class="small-12 medium-9 small-centered column text-center">
    <div class="callout primary">
      <strong>La preselección ciudadana de los proyectos ha terminado</strong>. En breve anunciaremos los resultados.
    </div>
  </div>
</div>
