<div class="row">

  <div class="small-12 column">
    <%= render "shared/back_link" %>

    <h1><%= t("admin.enquiries.edit.title") %></h1>

    <%= render "form", form_url: admin_enquiry_path(@enquiry) %>
  </div>
</div>
