<div class="row">

  <div class="small-12 column">
    <%= render "shared/back_link" %>

    <div class="float-right">
      <%= link_to t("admin.enquiries.new.show_link"), @enquiry %>
    </div>

    <h1><%= t("admin.enquiries.new.title") %></h1>

    <%= render "form", form_url: admin_enquiries_path %>
  </div>
</div>
