.budget-subheader {
  @include grid-row;
  margin-bottom: $line-height;
  margin-top: $line-height;

  .current-phase {
    text-transform: uppercase;
  }

  .button {
    margin-top: $line-height / 2;
  }

  .callout {
    margin-bottom: 0;
  }
}
