<div class="mark-featured-action">
  <% if debate.featured? %>
    <%= button_to t("admin.actions.unmark_featured").capitalize, unmark_featured_debate_path(debate),
                  method: :put,
                  data: { confirm: t("admin.actions.confirm_action",
                                     action: t("admin.actions.unmark_featured"),
                                     name: debate.title) } %>
  <% else %>
    <%= button_to t("admin.actions.mark_featured").capitalize, mark_featured_debate_path(debate),
                  method: :put,
                  data: { confirm: t("admin.actions.confirm_action",
                                     action: t("admin.actions.mark_featured"),
                                     name: debate.title) } %>
  <% end %>
</div>
