<%= form_for [:admin, @poll] do |f| %>
  <div class="row">
    <div class="small-12 medium-6 column">
      <%= f.text_field :name,
                       placeholder: t('admin.polls.new.name'),
                       label:       t("admin.polls.new.name") %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-4 column">
      <%= f.submit t("admin.polls.#{admin_submit_action(@poll)}.submit_button"),
                   class: "button success expanded" %>
    </div>
  </div>
<% end %>