<tr id="<%= dom_id(poll) %>" class="poll">
  <td>
    <strong>
      <%= link_to poll.name, admin_poll_path(poll) %>
    </strong>
  </td>
  <td class="text-right">
    <%= link_to t("admin.actions.edit"),
                edit_admin_poll_path(poll),
                class: "button hollow" %>
  </td>
</tr>