<div class="row">
  <div class="small-12 medium-6 column">
    <%= form_tag(search_questions_admin_poll_path(@poll), method: :get, remote: true) do |f| %>
      <div class="input-group">
        <%= text_field_tag :search,
                           @search,
                           placeholder: t("admin.shared.poll_questions_search.placeholder"), id: "search-questions" %>

        <div class="input-group-button">
          <%= submit_tag t("admin.shared.poll_questions_search.button"), class: "button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="search-questions-results"></div>
