<%= form_tag(search_officers_admin_poll_path(@poll), method: :get, remote: true) do |f| %>
  <div class="row">
    <div class="small-12 medium-6 column">
      <%= text_field_tag :search,
                         @search,
                         placeholder: t("admin.shared.poll_officers_search.placeholder"), id: "search-officers" %>
    </div>
    <div class="form-inline small-12 medium-3 column end">
      <%= submit_tag t("admin.shared.poll_officers_search.button"), class: "button" %>
    </div>
  </div>
<% end %>

<div id="search-officers-results"></div>
