<div class="row devise-omniauth-form">
  <div class="small-12 column">
    <div class="margin-bottom">
      <strong><%= t("omniauth.info.#{action}") %></strong>
    </div>
  </div>

  <div class="oauth-logins small-12">
    <% oauth_logins.each do |login| %>
      <div class="oauth-login">
        <%= button_to t("omniauth.#{login}.name"), send("user_#{login}_omniauth_authorize_path"),
                      title: t("omniauth.#{login}.#{action}"),
                      class: "button-#{login.to_s.delete_suffix("_oauth2")} button expanded" %>
      </div>
    <% end %>
  </div>

  <div class="small-12 column auth-divider">
    <span><%= t("omniauth.or_fill") %></span>
  </div>
</div>
