staging:
  deploy_to: "/home/deploy/consul"
  ssh_port: "22"
  server: xxx.xxx.xxx.xxx
  db_server: "localhost"
  user: "deploy"
  server_name: "xxx.xxx.xxx.xxx"
  full_app_name: "consul"

production:
  deploy_to: "/home/deploy/consul"
  ssh_port: "22"
  server1: xxx.xxx.xxx.xxx
  db_server: "localhost"
  user: "deploy"
  server_name: "xxx.xxx.xxx.xxx"
  full_app_name: "consul"
