.budget-phases-table {

  .budget-phase-enabled {
    font-weight: bold;
    padding-left: rem-calc(20);
    position: relative;
    text-decoration: none;

    &.enabled::before,
    &.disabled::before {
      font-family: "icons";
      left: 0;
      position: absolute;
    }

    &.enabled {
      color: $check;

      &::before {
        color: $check;
        content: "\6c";
      }
    }

    &.disabled {
      color: #000;

      &::before {
        color: #000;
        content: "\76";
      }
    }
  }
}
