<div class="dashboard">
  <h2><%= t("moderation.dashboard.index.title") %></h2>

  <p>Desde aquí puedes moderar el sistema, a través de las siguientes acciones:</p>

  <h3>Debates</h3>
  <p>Cuando un usuario marca en un debate la opción de "denunciar como inapropiado", aparecerá en esta lista. Respecto a cada uno aparecerá el título, fecha y el texto del debate. A la derecha aparece el número de denuncias (cuántos usuarios diferentes han marcado la opción de denuncia), y las posibles acciones para el moderador: "Ocultar" (lo que hará que ese debate deje de mostrarse para los demás usuarios) e "Ignorar" (que implica que el moderador considera que no debe ser ocultado). Para facilitar la gestión, arriba encontramos un filtro con las secciones "pendientes" (los debates sobre los que todavía no se ha pulsado "ocultar" o "ignorar", que deberían ser revisados todavía), "ignorados" y "todos". Es recomendable revisar regularmente la sección "pendientes".</p>

  <h3>Comentarios<h3>
  <p>Cuando un usuario marca en un comentario la opción de "denunciar como inapropiado", aparecerá en esta lista. Respecto a cada uno aparecerá el debate al que pertenece, la fecha y el texto del comentario. A la derecha aparece el número de denuncias (cuántos usuarios diferentes han marcado la opción de denuncia), y las posibles acciones para el moderador: "Ocultar" (lo que hará que ese comentario deje de mostrarse para los demás usuarios) e "Ignorar" (que implica que el moderador considera que no debe ser ocultado). Para facilitar la gestión, arriba encontramos un filtro con las secciones "pendientes" (los comentarios sobre los que todavía no se ha pulsado "ocultar" o "ignorar", que deberían ser revisados todavía), "ignorados" y "todos". Es recomendable revisar regularmente la sección "pendientes".</p>
</div>
