<%= link_to t("admin.dashboard.index.back", org: setting['org_name']), root_path, class: "button float-right" %>

<h2 class="inline-block"><%= t("moderation.dashboard.index.title") %></h2>

<p>Desde aquí puedes moderar el sistema, a través de las siguientes acciones:<p>

<div class="small-12 medium-9">
  <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">

    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Propuestas / Debates / Comentarios</a>
      <div class="accordion-content" data-tab-content>
        <p>Cuando un usuario marca en una Propuesta/Debate/Comentario la opción de "denunciar como inapropiado", aparecerá en esta lista. Respecto a cada uno aparecerá el <em>título, fecha, número de denuncias</em> (cuántos usuarios diferentes han marcado la opción de denuncia) y el <em>texto de la Propuesta/Debate/Comentario</em>.</p>

        <p>A la derecha de cada elemento aparece una caja que podemos marcar para seleccionar todos los que queramos de la lista. Una vez seleccionados uno o varios, encontramos al final de la página <strong>tres botones para realizar acciones</strong> sobre ellos:</p>

        <ul>
          <li><strong>Ocultar</strong>: hará que esos elementos dejen de mostrarse en la web.</li>
          <li><strong>Bloquear autores</strong>: hará que el autor de ese elemento deje de poder acceder a la web, y que además todos las Propuestas/Debates/Comentarios de ese usuario dejen de mostrarse en la web.</li>
          <li><strong>Marcar como revisados</strong> cuando consideramos que esos elementos no deben ser moderados, que su contenido es correcto, y que por lo tanto deben dejar de ser mostrados en esta lista de elementos inapropiados.</li>
        </ul>

        <p>Para facilitar la gestión, arriba encontramos un <strong>filtro</strong> con las secciones:</p>

        <ul>
          <li><strong>Pendientes</strong>: las Propuestas/Debates/Comentarios sobre los que todavía no se ha pulsado "ocultar", "bloquear" o "marcar como revisados", y que por lo tanto deberían ser revisados todavía</li>
          <li><strong>Todos</strong>: mostrando todos las Propuestas/Debates/Comentarios de la web, y no sólo los marcados como inapropiados.</li>
          <li><strong>Marcados como revisados</strong>: los que algún moderador ha marcado como revisados y por lo tanto parecen correctos.</li>
        </ul>

        <p><em>Es recomendable revisar regularmente la sección "pendientes".</em></p>
      </div>
    </li>

    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Bloquear usuarios</a>
      <div class="accordion-content" data-tab-content>
        <p>Un buscador nos permite encontrar cualquier usuario introduciendo su <em>nombre de usuario o correo electrónico</em>, y bloquearlo una vez encontrado. Al bloquearlo, <strong>el usuario no podrá volver a acceder a la web</strong>, y todas sus Propuestas/Debates/Comentarios serán ocultados y dejarán de ser visibles en la web.</p>
      </div>
    </li>
  </ul>
</div>
