<% content_for :canonical do %>
  <%= render "shared/canonical", href: faq_url %>
<% end %>

<div class="row margin-top">
    <div class="small-12">
<p>Te presentamos una lista de las soluciones a los problemas y dudas t&eacute;cnicas m&aacute;s frecuentes del Portal de Gobierno Abierto. Si esto no resuelve tu problema, puedes contactar con la Oficina de Atenci&oacute;n al Ciudadano del Ayuntamiento de Zamora:</p>

<p><strong>Edificio Santa Ana</strong><br />
C/ Santa Ana, 5,&nbsp;Esquina Ronda de San Torcuato<br />
<strong>Telefono</strong>:&nbsp;980 54 87 00&nbsp;<strong>Ext.</strong> 60,61 y 62&nbsp;<strong>Email:</strong><span style="color:#0000cd"> atencionalciudadano@zamora.es</span></p>
    </div>
</div>
<div class="row margin-top">
  <div class="menu small-12 medium-3 column">
    <%= back_link_to %>

    <ul class="menu vertical margin-top">
	<li><a href="#1"><strong>No me funciona la verificaci&oacute;n de residencia</strong></a></li>
	<li><a href="#2"><strong>No estoy empadronado en Zamora</strong></a></li>
	<li><a href="#3"><strong>&iquest;Para qu&eacute; sirve verificar mi cuenta?</strong></a></li>
	<li><a href="#4"><strong>&iquest;Necesito m&oacute;vil para participar?</strong></a></li>
	<li><a href="#5"><strong>&iquest;C&oacute;mo creo y verifico mi cuenta?</strong></a></li>
	<li><a href="#6"><strong>&iquest;C&oacute;mo puedo enviar una propuesta al Ayuntamiento?</strong></a></li>
	<li><a href="#7"><strong>Me he olvidado de mi contrase&ntilde;a &iquest;Qu&eacute; puedo hacer?</strong></a></li>
	<li><a href="#8"><strong>No consigo crear mi cuenta correctamente</strong></a></li>
	<li><a href="#9"><strong>&iquest;C&oacute;mo puedo cambiar mi correo electr&oacute;nico o mis datos de perfil?</strong></a></li>
</ul>
  </div>

  <div class="text small-12 medium-9 column">
    <h2 id="1">No me funciona la verificaci&oacute;n de residencia.</h2>

<p>Comprueba las siguientes posibilidades:</p>

<ul>
	<li>&iquest;Has puesto el DNI o documento con todos los caracteres juntos, incluyendo la letra al final?</li>
	<li>&iquest;Est&aacute;s seguro de que est&aacute;s empadronado en el <strong>municipio</strong> de Zamora?</li>
	<li>Puede que haya alg&uacute;n problema en el registro de empadronamiento con tus datos. Puedes acercarte a la Oficina de Atenci&oacute;n al Ciudadano del Ayuntamiento de Zamora para resolverlo o enviarnos un correo electr&oacute;nico a atencionalciudadano@zamora.es con la descripci&oacute;n del problema que tienes.</li>
</ul>

<p>&nbsp;</p>

<h2 id="2">No estoy empadronado en <strong>Zamora</strong> &iquest;por qu&eacute; no puedo participar?</h2>

<p>El apoyo y votaci&oacute;n de propuestas est&aacute; limitado a la gente empadronada en <strong>Zamora</strong>, ya que se trata de tomar decisiones que afectar&aacute;n al municipio y a los que viven en &eacute;l, y por tanto nos parece que son ellos los que tienen que tomar la decisi&oacute;n final.</p>

<p>Es cierto que hay personas que no est&aacute;n empadronadas en <strong>Zamora</strong> y que aun as&iacute; les pueden afectar esas decisiones, pero el Padr&oacute;n es el censo m&aacute;s amplio del que disponemos que nos permite que el proceso de participaci&oacute;n sea seguro y lleguemos al m&aacute;ximo posible de personas. No obstante, s&iacute; que es posible participar aunque no se est&eacute; empadronado. La secci&oacute;n de debates est&aacute; abierta a todo el mundo, y tambi&eacute;n es posible lanzar una propuesta, o comentar las propuestas existentes sin necesidad de estar empadronado. <strong>S&oacute;lo la decisi&oacute;n sobre las propuestas (apoyos y votaciones) est&aacute;n limitadas a la gente empadronada</strong>.</p>

<h2>&nbsp;</h2>

<h2 id="3">&iquest;Para qu&eacute; sirve verificar mi cuenta?</h2>

<p>Para usar la web necesitamos una cuenta de usuario, que podr&aacute; hacer m&aacute;s o menos cosas seg&uacute;n est&eacute; m&aacute;s o menos verificada:</p>

<ul>
	<li>Si nos <a href="https://zamoraparticipa.com/users/sign_up">registramos</a> en la web con nuestro correo electr&oacute;nico y no damos ning&uacute;n dato m&aacute;s (no hacemos el proceso de verificaci&oacute;n de residencia) podremos:</li>
</ul>

<p>Participar en debates</p>

<p>Crear propuestas</p>

<ul>
	<li>Si despues de registrarnos realizamos la verificaci&oacute;n completa (a trav&eacute;s de la web consiste en verificar la residencia) ser&aacute; posible:</li>
</ul>

<p>Participar en debates</p>

<p>Crear propuestas</p>

<p>Apoyar propuestas</p>

<p>Votar propuestas</p>

<p><strong>Recuerda</strong> que la votaci&oacute;n de propuestas es un proceso muy concreto que s&oacute;lo ocurre durante un periodo concreto una vez las propuestas han llegado a 275 apoyos, por lo tanto por lo general ser&aacute; posible realizar todas las acciones en la web con la verificaci&oacute;n b&aacute;sica de nuestra cuenta.</p>

<p>Tambi&eacute;n es importante recalcar que podemos crear y verificar completamente nuestra cuenta sin pasar por Internet, realizando el proceso completamente de manera presencial en la Oficina de Atenci&oacute;n al Ciudadano del Ayuntamiento de Zamora.</p>

<h2>&nbsp;</h2>

<h2 id="4">&iquest;Necesito tel&eacute;fono m&oacute;vil o acceso a Internet para poder participar?</h2>

<p>No. Todas las acciones relacionadas con las propuestas, tanto crearlas, como apoyarlas, votarlas o informarnos sobre ellas, es algo que podemos hacer presencialmente en la Oficina de Atenci&oacute;n al Ciudadano del Ayuntamiento de Zamora, simplemente presentando nuestro DNI, pasaporte o tarjeta de residencia (recuerda que para apoyar o votar propuestas es necesario estar empadronado en Zamora). Tambi&eacute;n podremos crearnos una cuenta de usuario completamente verificada, en caso de que optemos en alg&uacute;n momento por utilizar la web directamente.</p>

<h2>&nbsp;</h2>

<h2 id="5">&iquest;C&oacute;mo creo y verifico mi cuenta?</h2>

<ul>
	<li>Lo primero es crear una cuenta b&aacute;sica. Para ello hacemos clic en el enlace <a href="https://zamoraparticipa.com/users/sign_up">Registrarse</a> y rellenamos los datos que nos piden. Es un requisito marcar la casilla de aceptaci&oacute;n de las condiciones de uso. Al crear una cuenta nos llegar&aacute; un correo electr&oacute;nico a la direcci&oacute;n que hayamos especificado, y tendremos que hacer click en el enlace que contiene (el enlace que pone &quot;Confirmar mi cuenta&quot;) para terminar de crear la cuenta.</li>
	<li>Una vez creada la cuenta b&aacute;sica, y tras <a href="https://zamoraparticipa.com/users/sign_in">entrar</a> con nuestro correo y contrase&ntilde;a, el sistema nos dar&aacute; la opci&oacute;n de realizar una verificaci&oacute;n b&aacute;sica de la misma. Tanto este paso como el siguiente se pueden realizar presencialmente la Oficina de Atenci&oacute;n al Ciudadano del Ayuntamiento de Zamora. Si preferimos hacerlo a trav&eacute;s de la web, hacemos click en el enlace <a href="https://zamoraparticipa.com/account">&quot;Mi cuenta&quot;</a> de la parte superior derecha, y luego en el bot&oacute;n &quot;Verificar mi cuenta&quot;. Lo primero que se nos pedir&aacute; es que introduzcamos nuestros datos de residencia, para verificar que estamos empadronados en el municipio de Zamora (es importante introducir el n&uacute;mero de documento con la letra; y marcar la casilla de aceptaci&oacute;n de acceso al Padr&oacute;n). Si los datos son correctos, se proceder&aacute; al registro completo de la cuenta.</li>
	<li>Para poder acceder a las votaciones finales de las propuestas, tendremos que verificar completamente nuestra cuenta. No obstante recuerda que la votaci&oacute;n de propuestas es un proceso muy concreto que s&oacute;lo ocurre durante una semana una vez las propuestas han llegado al 1.3% de apoyos, por lo tanto por lo general ser&aacute; posible realizar todas las acciones en la web con la anterior verificaci&oacute;n b&aacute;sica de nuestracuenta. Para verificar completamente nuestra cuenta, podemos hacerlo presencialmente en la Oficina de Atenci&oacute;n al Ciudadano del Ayuntamiento de Zamora o bien a trav&eacute;s de la web <a href="https://zamoraparticipa.com/users/sign_in">entrando</a> con nuestro correo y contrase&ntilde;a, hacer clic en el enlace <a href="https://zamoraparticipa.com/account">&quot;Mi cuenta&quot;</a> de la parte superior derecha y completar los campos solicitados para realizar la verificaci&oacute;n completa de nuestra cuenta.</li>
</ul>

<h2>&nbsp;</h2>

<h2 id="6">&iquest;C&oacute;mo puedo enviar una propuesta al Ayuntamiento? &iquest;Puedo mandaros directamente mi propuesta a alguno de los correos electr&oacute;nico que aparecen en la web de participaci&oacute;n?</h2>

<p>El camino correcto para hacer una propuesta es a&ntilde;adirla uno mismo directamente en la web de participaci&oacute;n dentro de la secci&oacute;n <a href="https://zamoraparticipa.com/proposals">&quot;Propuestas&quot;</a> (para ello es necesario primero crear una cuenta haciendo click en el enlace <a href="https://zamoraparcipa.es/users/sign_up">Registrarse</a>, y una vez creada, hacer click en el bot&oacute;n &quot;Crear propuesta&quot; de la secci&oacute;n &quot;Propuestas&quot;), o presencialmente en la Oficina de Atenci&oacute;n al Ciudadano del Ayuntamiento de Zamora. En caso de que lo que queremos presentar sea una sugerencia o reclamaci&oacute;n, el lugar para presentarlas es en las oficinas de Participaci&oacute;n Ciudadana en C/ Santa Ana, 5, Esquina Ronda de San Torcuato.</p>

<h2>&nbsp;</h2>

<h2>Hay muchas propuestas parecidas, &iquest;no se podr&iacute;an unificar?</h2>

<p>En breve implementaremos una nueva funcionalidad de la web que permitir&aacute; marcar propuestas similares como tales, y que se muestren al visualizar cualquiera de ellas. De esta forma la gente podr&aacute; decidir cu&aacute;l de ellas apoyar tras compararlas, y ayudar&aacute; a que no se dispersen tanto los apoyos y no se repitan tanto las mismas propuestas. Tambi&eacute;n implementaremos un sistema que cuando creemos nuestra propuesta nos mostrar&aacute; propuestas similares, por si la idea que queremos lanzar ya existiera en el portal de participaci&oacute;n.</p>

<p>Sobre la posibilidad de unificar propuestas, lo que pueden parecer peque&ntilde;as diferencias entre dos propuestas similares, pueden marcar grandes diferencias a la hora de hacerlas realidad. Por ello hay personas que pueden querer apoyar una de ellas y no otras. Es por eso que debemos respetar los apoyos particulares que haya dado la gente, y no unificar las propuestas. Esto es independiente de que los autores de las propuestas quieran unirlas. Una vez las propuestas est&aacute;n recibiendo apoyos pasan a ser tanto de la gente que las apoya como de sus autores.</p>

<h2>&nbsp;</h2>

<h2 id="7">Me he olvidado de mi contrase&ntilde;a o no me funciona &iquest;qu&eacute; puedo hacer?</h2>

<ul>
	<li>Puedes hacer <a href="https://zamoraparticipa.com/users/password/new">solicitar un nueva contrase&ntilde;a</a> para que se te env&iacute;e una nueva contrase&ntilde;a a tu correo electr&oacute;nico.</li>
	<li>Si la anterior soluci&oacute;n no funciona, puedes acercarte a la Oficina de Atenci&oacute;n al Ciudadano del Ayuntamiento de Zamora, donde te resolver&aacute;n el problema presencialmente solucionando el problema asociado a tu cuenta o cre&aacute;ndote una cuenta nueva.</li>
</ul>

<h2>&nbsp;</h2>

<h2 id="8">No consigo crear mi cuenta correctamente.</h2>

<ul>
	<li>Revisa por favor la secci&oacute;n <a href="https://zamoraparticipa.com/more-information/faq#1">&quot;No me funciona la verificaci&oacute;n de residencia&quot;</a>, por si el problema estuviera en ese paso, que suele ser el problema m&aacute;s frecuente.</li>
	<li>Si no se ha solucionado, revisa la secci&oacute;n <a href="https://zamoraparticipa.com/more-information/faq#5">&quot;&iquest;C&oacute;mo creo y verifico mi cuenta?&quot;</a>, para asegurarte de que est&aacute;s siguiendo los pasos adecuadamente.</li>
	<li>Si todav&iacute;a se mantiene el problema, ac&eacute;rcate la Oficina de Atenci&oacute;n al Ciudadano del Ayuntamiento de Zamora.</li>
</ul>

<h2>&nbsp;</h2>

<h2 id="9">&iquest;C&oacute;mo puedo cambiar mi correo electr&oacute;nico, mi nombre de usuario, mi contrase&ntilde;a, darme de baja o activar/desactivar las notificaciones que me llegan al correo electr&oacute;nico?</h2>

<p>Haz click en el enlace <a href="https://zamoraparticipa.com/users/sign_in">&quot;Entrar&quot;</a>, introduce tu correo electr&oacute;nico y tu contrase&ntilde;a, y pulsa el bot&oacute;n &quot;Entrar&quot;. Una vez hecho esto, haz click en el enlace <a href="https://zamoraparticipa.com/account">&quot;Mi cuenta&quot;</a> donde encontrar&aacute;s todas las opciones que te permitir&aacute;n cambiar tu correo electr&oacute;nico, nombre de usuario, contrase&ntilde;a, darte de baja o activar/desactivar las notificaciones. Una vez realizado el cambio adecuado aseg&uacute;rate de hacer click en el bot&oacute;n &quot;Guardar cambios&quot;</p>
  </div>
</div>
