.admin .poll-question-options-table {
  margin-top: $line-height;

  td {
    &:not(:last-child) {
      vertical-align: top;
    }

    &.description {
      word-break: break-word;
    }
  }

  th {
    &.description {
      @include breakpoint(medium) {
        width: calc(100% * 7 / 12);
      }
    }
  }

  td,
  th {
    &.association-count {
      text-align: center;
    }
  }
}
