.admin .poll-question-options-table {
  margin-top: $line-height;

  td {
    &:not(:last-child) {
      vertical-align: top;
    }

    &.description,
    &.open-text {
      overflow-wrap: anywhere;
    }
  }

  th {
    &.description {
      @include breakpoint(medium) {
        width: calc(100% * 7 / 12);
      }
    }

    &.open-text {
      @include breakpoint(medium) {
        width: calc(100% * 2 / 12);
      }
    }
  }

  td,
  th {
    &.association-count {
      text-align: center;
    }
  }
}
