.admin .poll-questions-filter {
  $gap: 0.5em;
  @include flex-with-gap($gap);
  align-items: flex-end;
  flex-wrap: wrap;

  [type="submit"] {
    @include regular-button;
    margin-left: $gap;
  }
}
