<%= back_link_to admin_local_census_records_path %>

<h2><%= t("admin.local_census_records.imports.new.title") %></h2>

<h3><%= t("admin.local_census_records.imports.new.subtitle") %></h3>

<%= render "form" %>
