<h1><%= t('devise_views.organizations.registrations.success.title') %></h1>

<p><%= t('devise_views.organizations.registrations.success.thank_you') %></p>

<p><%= t('devise_views.organizations.registrations.success.instructions') %></p>

<p><%= link_to t('devise_views.organizations.registrations.success.back_to_index'), root_path %></p>

