<div class="dashboard">
  <h2><%= t("management.dashboard.index.title") %></h2>

  <p>Desde aquí puedes gestionar usuarios a través de las siguientes acciones:</p>

  <h3>Usuarios</h3>

  <h3>Crear propuesta</h3>

  <h3>Apoyar propuesta</h3>

  <h3>Imprimir propuestas</h3>

</div>
