
<td style="padding-bottom: 20px; padding-left: 10px;">
  <%= markdown t("mailers.budget_investment_moderate_hide.content", title: @investment.title, moderation_text: @investment.moderation_text) %>
</td>
