<td style="padding-bottom: 20px; padding-left: 10px;">

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif; font-size: 20px;">
    <%= sanitize(t("mailers.direct_message_for_sender.title",
        receiver: @direct_message.receiver.name)) %>
  </p>

  <h2 style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif; font-size: 18px;">
    <%= @direct_message.title %>
  </h2>

  <div style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= simple_format sanitize_and_auto_link(@direct_message.body), {}, sanitize: false %>
  </div>
</td>
