<h2>
  <%= t("mailers.email_verification.title") %>
</h2>

<p>
<%= t("mailers.email_verification.instructions_html",
      verification_link: link_to(
        t('mailers.email_verification.click_here_to_verify'),
        email_url(email_verification_token: @token))) %>
</p>

<p>
<%= t("mailers.email_verification.instructions_2_html",
      document_type: humanize_document_type(@document_type),
      document_number: @document_number) %>
</p>
<p>
  <%= t("mailers.email_verification.thanks") %>
</p>
