<td style="padding-bottom: 20px; padding-left: 10px;">

  <h1 style="font-family: 'Open Sans','Helvetica Neue',sans-serif;">
    <%= t("mailers.machine_learning_error.title") %>
  </h1>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;
            font-weight: normal;line-height: 24px;">
    <%= t("mailers.machine_learning_error.text") %>
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;
            font-weight: normal;line-height: 24px;">
    <%= link_to t("mailers.machine_learning_error.link"), admin_machine_learning_url,
                style: "color: #2895F1; text-decoration:none;" %>
  </p>
</td>
