<p>Estimado usuario,</p>

<p>Desde el Ayuntamiento de Madrid queremos agradecer tu participación en los Presupuestos Participativos de la ciudad de Madrid.
Lamentamos informarte de que tu propuesta '<%= @spending_proposal.title %>' quedará excluida de este proceso participativo por el siguiente motivo:</p>

<p><%= @spending_proposal.feasible_explanation %></p>

<p>Por todo ello, te invitamos a que elabores una nueva propuesta que se ajuste a las condiciones de este proceso. Esto lo puedes hacer en este enlace:
<%= link_to "nueva propuesta de inversión", new_spending_proposal_url %></p>

<p>Si consideras que la propuesta rechazada cumple los requisitos para mantenerla como propuesta de inversión, podrás comunicarlo, en el plazo de 48 horas, al correo preparticipativos@madrid.es, indicando necesariamente para su tramitación el código <%= @spending_proposal.code %> como asunto del correo, correspondiente a tu propuesta.</p>

<p>Sentimos las molestias ocasionadas y volvemos a darte las gracias por tu inestimable participación.</p>

<p>Atentamente</p>
<p>DIRECCIÓN GENERAL DE PARTICIPACIÓN CIUDADANA</p>