<div class="sidebar-divider"></div>
<h3 class="sidebar-title"><%= t("shared.tags_cloud.districts") %></h3>
<br>
<%= link_to map_proposals_path, id: 'map', title: t("shared.tags_cloud.districts_list") do %>
  <%= image_tag("map.jpg", alt: t("shared.tags_cloud.districts_list")) %>
<% end %>
