<div class="tabs-panel" id="tab-notifications">
  <div class="row">
    <div class="small-12 column">
      <% if @notifications.blank? %>
        <div class="callout primary text-center">
          <%= t('proposals.show.no_notifications') %>
        </div>
      <% end %>

      <% @notifications.each do |notification| %>
        <h3><%= notification.title %></h3>
        <p class="more-info"><%= notification.created_at.to_date %></p>
        <p><%= notification.body %></p>
      <% end %>
    </div>
  </div>
</div>
