<div class="sidebar-divider"></div>
<h3 class="sidebar-title"><%= t("proposals.index.top") %></h3>

<p>
  <%= link_to t("proposals.index.top_link_proposals"), "/proposals/summary", class: "small" %><br>
</p>
