<div id="next-voting" class="row featured-proposals-ballot-banner">
  <%= link_to proposal_ballots_index_path do %>
    <div class="small-12 column padding">
      <div class="icon-successfull"></div>
      <h2><%= t("proposal_ballots.featured_title") %></h2>
      <div class="small-12 medium-9">
        <p><%= t("proposal_ballots.info_extend") %></p>
      </div>
    </div>
  <% end %>
</div>
