<div id="next-voting" class="row sucessfull-proposals-banner">
  <%= link_to polls_path do %>
    <div class="small-12 column padding">
      <div class="icon-successful"></div>
      <h2><%= t("poll_questions.banner.featured_title") %></h2>
      <p><%= t("poll_questions.banner.info") %></p>
    </div>
  <% end %>
</div>
