<div class="proposal-edit row">

  <div class="small-12 column">
    <%= back_link_to %>

    <div class="float-right">
      <%= link_to t("proposals.edit.show_link"), @proposal %>
    </div>

    <h1><%= t("proposals.edit.editing") %></h1>

    <%= render "form", form_url: proposal_url(@proposal) %>
  </div>
</div>
