<div class="proposal-form row">

  <div class="small-12 medium-12 column">
    <%= render "shared/back_link" %>

    <h1 class="text-center title-page"><%= t("titles.create_proposal") %></h1>
    <p class="text-center"><%= t("subtitles.create_proposal") %></p>


    <%= render "proposals/form", form_url: proposals_url %>
  </div>

</div>
