<div class="small-12 column" >
  <% if @search_terms && @proposals.count >0 %> 
    <% proposals_count =  @proposals.count %>
    <% query = @search_terms %>
    <% limit = 5 %>
    <div class="alert-box radius warning">
      <p class="note-marked">
        <%= t("proposals.new.suggestions.found", count: proposals_count, query: query)%> 
      </p>
      <ul>
        <% @proposals.take(limit).each do |proposal| %>
          <li> <%= link_to proposal.title, proposal %> </li>
        <% end %>   
      </ul>
      <% if proposals_count > limit %>   
      <p class="note-marked">
        <%= t("proposals.new.suggestions.message", count: proposals_count, 
                                      query: query,
                                      limit: limit)%>
        <%= link_to t("proposals.new.suggestions.see_all"), proposals_path(:search => query)%>
      </p>
      <% end %>
    </div>
  <% end %>
</div>