<section role="main">
  <div class="wrap row">
    <div id="proposals" class="proposals-list small-12 medium-9 column">
      <% @proposals.each do |group_name, proposals| %>
        <div><strong><%= group_name %></strong></div><br/>

        <% proposals[0..2].each do |proposal| %>
          <div><strong><%= proposal.title %></strong></div>
          <div><%= proposal.description %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>