<h2><%= t("admin.settings.index.participation_processes") %></h2>

<%= render Admin::Settings::TableComponent.new(settings: @participation_processes_settings, setting_name: "feature", tab: "#tab-participation-processes") %>
