<h2><%= t("admin.settings.index.dashboard.title") %></h2>

<%= render Admin::Settings::TableComponent.new(setting_name: "setting") do %>
  <% %w[proposals.successful_proposal_id proposals.poll_short_title proposals.poll_description
        proposals.poll_link proposals.email_short_title proposals.email_description
        proposals.poster_short_title proposals.poster_description].each do |key| %>
    <%= render Admin::Settings::RowComponent.new(key, tab: "#tab-proposals") %>
  <% end %>
<% end %>
