<% if feature?(:sdg) %>
  <h2><%= t("admin.settings.index.sdg.title") %></h2>

  <%= render Admin::Settings::TableComponent.new(settings: @sdg_settings, setting_name: "feature", tab: "#tab-sdg-configuration") %>
<% else %>
  <div class="callout primary">
    <%= t("admin.settings.index.sdg.how_to_enable") %>
  </div>
<% end %>
