<tr>
  <td class="small-12 medium-4">
    <strong><%= t("settings.#{setting.key}") %></strong>
  </td>
  <td class="small-12 medium-8">
    <%= form_for setting,
                 url: admin_setting_path(setting),
                 html: { id: "edit_#{dom_id(setting)}"} do |f| %>
      <div class="small-12 medium-6 large-9 column">
        <%= f.cktext_area :value, label: false, id: dom_id(setting) %>
      </div>
      <div class="small-12 medium-6 large-3 column">
        <%= f.submit(t('admin.settings.index.update_setting'), class: "button hollow expanded") %>
      </div>
    <% end %>
  </td>
</tr>

