<% provide :title do %>
  Cómo crear un proyecto de presupuestos participativos en diez pasos
<% end %>

<div class="row margin-top">
  <div class="small-12 medium-9 column">
    <h1>Cómo crear un proyecto de presupuestos participativos en diez pasos</h1>

    <p>Los <%= link_to "presupuestos participativos", budgets_path, target: "_blank" %> son un proceso que lleva a cabo anualmente el Ayuntamiento de Madrid para que la ciudadanía decida de forma directa <strong>en qué se invierte una parte del presupuesto municipal</strong>.</p>

    <p>A través de este proceso participativo que comienza en enero y finaliza en junio, cualquier persona residente en Madrid puede presentar en la plataforma una idea o proyecto de gasto para mejorar la vida de su calle, barrio, distrito o de toda la ciudad.</p>

    <p>Una vez presentado, el proyecto tiene que pasar una fase de apoyos que sirve para priorizar los proyectos que revisa posteriormente el personal municipal (analizan la viabilidad técnica y legal de las ideas).</p>

    <p>Por último, tiene lugar una votación final en la que <strong>se deciden los proyectos que llevará a cabo el Ayuntamiento</strong> a partir del año siguiente. A continuación te explicamos en 10 pasos cómo publicar tu proyecto de presupuestos participativos.</p>

    <h2>1. Diferencia entre propuesta y presupuestos participativos</h2>
    <p>Es importante que sepas qué quieres presentar exactamente. Una propuesta ciudadana sirve, principalmente, para cambiar las políticas de la ciudad. Para prosperar necesitan el apoyo del 1% de las personas empadronadas en Madrid mayores de 16 años en el plazo de un año, es decir, 27.662 apoyos. Después pasa por una votación y <strong>su resultado es vinculante para el Ayuntamiento</strong>.</p>

    <p>Los presupuestos participativos permiten plantear proyectos de gasto que se financian con una parte del presupuesto municipal del año siguiente. Se presentan durante un plazo concreto, que se abre en enero y dura aproximadamente un mes. Necesitan menos apoyos que las propuestas ciudadanas y la decisión final de la ciudadanía se conoce en julio.</p>

    <h2>2. Regístrate en Decide Madrid</h2>
    <p>Si es la primera vez que entras, necesitas darte de alta en <%= link_to "decidemadrid.es", root_path %> y verificar tu cuenta.</p>

    <h2>3. Ideas que puedes presentar</h2>
    <ul>
      <li><strong>Proyectos de inversión</strong>: creación o reposición de infraestructuras; construcción o reforma de edificios; elementos de transporte; aplicaciones informáticas.</li>
      <li><strong>Bienes y servicios</strong>: talleres y cursos; alquileres de infraestructuras; suministros de material.</li>
      <li><strong>Ayudas o subvenciones</strong>: becas para realizar cursos; concursos y premios para realizar actuaciones de interés; convenios para ofrecer servicios; ayudas para instalaciones.</li>
    </ul>

    <h2>4. Haz un borrador de tu proyecto</h2>
    <p>Antes de crear el proyecto, piensa qué es lo que quieres proponer. Escribe en un borrador la idea que propones, de forma clara, directa, descriptiva y comprensible. Una vez lo tengas claro, entra en <%= link_to "Presupuestos Participativos", budgets_path, target: "_blank" %> y pulsa "Crear proyecto de gasto".</p>

    <h2>5. ¿Qué pongo en el título?</h2>
    <p>Escribe un título atractivo, que describa en pocas palabras tu idea. No escribas en mayúsculas, en internet eso significa gritar.</p>

    <h2>6. ¿Qué pongo en la descripción?</h2>
    <p>Explica tu idea con frases correctamente construidas (sujeto, verbo, predicado). Es aconsejable que seas breve para conseguir que los usuarios de Decide Madrid lean tu proyecto por completo y ten cuidado con las faltas de ortografía, una vez creado el proyecto no se puede editar. No hace falta que uses palabras muy técnicas ni que estimes su valor, ya que es el personal técnico municipal el que lo tasa.</p>

    <h2>7. Complementa tu propuesta con más información.</h2>
    <p>Puedes añadir una foto; un enlace a YouTube o Vimeo de un vídeo propio u otro vídeo que ilustre tu idea; usar la ubicación en el mapa y añadir un documento PDF que pese menos de 3MB.</p>

    <h2>8. Comparte tu proyecto en redes sociales.</h2>
    <p>Una vez publicado el proyecto, usa tus cuentas de Facebook, Twitter o Instagram, entre otras, para difundir tu proyecto durante la fase de apoyos y en la de votación (si consigue llegar).</p>

    <h2>9. Difunde por mensaje a amigos y familiares.</h2>
    <p>Tu red de contactos más cercana es fundamental para empezar la difusión: puedes enviar el enlace de tu proyecto en un mensaje de WhatsApp o Telegram a tus amigos y familiares. El objetivo es que apoyen en la fase de apoyos y voten en la última fase (si consigue llegar).</p>

    <h2>10. Contacta con posibles colectivos aliados.</h2>
    <p>Si tu propuesta es de medio ambiente o derechos sociales, por ejemplo, busca colectivos y personas clave que trabajen en esa materia para darles a conocer tu proyecto. Si están de acuerdo con lo que expones, pueden ayudarte a difundir en sus redes e incluso formar parte de tu campaña.</p>
  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>
</div>
