<% if @custom_page.slug == "lugares-de-votacion" %>
  <div class="row margin-top">
    <div class="small-12 column">
      <iframe src="https://www.google.com/maps/d/embed?mid=1Z-mz5WgYFQS2yfpaQRZsybBEiRDFqu4&ehbc=2E312F"
              width="100%" height="640" style="border: 0;"></iframe>
    </div>
  </div>
<% end %>
