<% provide :title do %><%= t('pages.titles.conditions') %><% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1><%= t("pages.conditions") %></h1>
    <h2>AVISO LEGAL SOBRE LAS CONDICIONES DE USO, PRIVACIDAD Y PROTECCI&Oacute;N DE DATOS PERSONALES DEL PORTAL DE GOBIERNO ABIERTO DEL AYUNTAMIENTO DE ZAMORA</h2>

<h3>1. &Aacute;mbito de aplicaci&oacute;n de las condiciones de uso</h3>

<p>La participaci&oacute;n (entendi&eacute;ndola como participaci&oacute;n activa m&aacute;s all&aacute; de la lectura del contenido presente) en el Portal de Gobierno Abierto del Ayuntamiento de Zamora se regula por las presentes condiciones de uso que vinculan a todas las personas que participen en este sitio web. Por ello, cualquier persona que desee participar deber&aacute; registrarse, a cuyo fin se solicitar&aacute; la aceptaci&oacute;n de estas condiciones de uso.</p>

<p>El Ayuntamiento de Zamora se reserva la facultad de modificar las presentes condiciones de uso para la participaci&oacute;n en el Portal de Gobierno Abierto del Ayuntamiento de Zamora, cuya &uacute;ltima versi&oacute;n se publicar&aacute; en este sitio web.</p>

<h3>2. Objetivo de la iniciativa</h3>

<p>A trav&eacute;s del Portal de Gobierno Abierto, el Ayuntamiento de Zamora quiere fomentar la participaci&oacute;n de los ciudadanos en la gesti&oacute;n de la ciudad, implic&aacute;ndoles en la generaci&oacute;n de ideas y propuestas novedosas y viables, con el objeto de mejorar su calidad de vida. Es una apuesta decidida por una gesti&oacute;n m&aacute;s cercana a los ciudadanos que permitir&aacute; recibir sus propuestas y adem&aacute;s, crear canales directos de comunicaci&oacute;n con el gobierno municipal, contribuyendo a tomar las decisiones m&aacute;s acertadas para el inter&eacute;s general.</p>

<h3>3. Cuestiones generales sobre la participaci&oacute;n en el Portal de Gobierno Abierto del Ayuntamiento de Zamora</h3>

<p>Podr&aacute; participar cualquier persona f&iacute;sica a partir de los 16 a&ntilde;os que se haya registrado previamente en el Portal de Gobierno Abierto. Mediante la aceptaci&oacute;n de estas condiciones de uso se declara tener 16 a&ntilde;os o m&aacute;s. Los mayores de edad a cuyo cargo se encuentran los menores, son los plenos responsables de la actuaci&oacute;n que tengan &eacute;stos en el Portal de Gobierno Abierto. No existe limitaci&oacute;n en cuanto al n&uacute;mero de debates, comentarios o propuestas a presentar por los participantes.</p>

<p>Al introducir el t&iacute;tulo de las propuestas, se recomienda escribir una descripci&oacute;n breve y precisa con un m&aacute;ximo de 2000 caracteres. Para completar la argumentaci&oacute;n se podr&aacute;n asociar documentos adjuntos o de las Redes Sociales Vimeo, Youtube, Slideshare, Flickr o SoundCloud.</p>

<h3>4. Obligaciones de los usuarios del Portal de Gobierno Abierto</h3>

<p>Al ser el Portal de Gobierno Abierto del Ayuntamiento de Zamora un punto de encuentro cuyo objetivo es debatir, y compartir y valorar propuestas relacionadas con la mejora de la ciudad, los usuarios est&aacute;n obligados a hacer un uso diligente y acorde a dicho objetivo.</p>

<p>El Ayuntamiento de Zamora no es responsable del uso incorrecto del Portal de Gobierno Abierto por los usuarios o de los contenidos localizados en el mismo, siendo cada usuario responsable de su uso correcto y de la legalidad de los contenidos y opiniones que haya compartido.</p>

<p>El Ayuntamiento de Zamora se reserva, por lo tanto, el derecho a limitar el acceso al Portal de Gobierno Abierto del Ayuntamiento de Zamora de opiniones, informaciones, comentarios o documentos que los usuarios quieran incorporar, pudiendo instalar filtros a tal efecto. Todo ello se realizar&aacute; &uacute;nicamente mientras tenga el fin de preservar el objetivo fundamental del Portal de Gobierno Abierto.</p>

<p>De acuerdo a la normativa legal vigente queda prohibida la utilizaci&oacute;n del Portal de Gobierno Abierto del Ayuntamiento de Zamora con fines distintos a los de debatir, compartir y valorar propuestas, y espec&iacute;ficamente:</p>

<ul>
	<li>Compartir cualquier contenido que pueda ser considerado como una vulneraci&oacute;n en cualquier forma de los derechos fundamentales al honor, imagen e intimidad personal y familiar de terceros o contra la dignidad de las personas.</li>
	<li>Compartir im&aacute;genes o fotograf&iacute;as que recojan im&aacute;genes o datos personales de terceros sin haber obtenido el oportuno consentimiento de sus titulares.</li>
	<li>Compartir cualquier contenido que vulnere el secreto en las comunicaciones, la infracci&oacute;n de derechos de propiedad industrial e intelectual o de las normas reguladoras de la protecci&oacute;n de datos de car&aacute;cter personal.</li>
	<li>Reproducir, distribuir, compartir contenidos, informaciones o im&aacute;genes que hayan sido puestas a disposici&oacute;n por otros usuarios sin la autorizaci&oacute;n expresa de estos.</li>
	<li>Su utilizaci&oacute;n con fines de publicidad.</li>
</ul>

<p>La realizaci&oacute;n de cualquiera de los anteriores comportamientos permitir&aacute; al Ayuntamiento de Zamora suspender temporalmente la actividad de un participante, inhabilitar su cuenta o borrar su contenido, sin perjuicio de otras responsabilidades que puedan ser reclamadas.</p>

<p>En caso de que el contenido introducido por los usuarios incorpore un enlace a otro sitio web, el Ayuntamiento de Zamora no ser&aacute; responsable por los da&ntilde;os o perjuicios derivados del acceso al enlace o a sus contenidos.</p>

<p>En caso de litigio de cualquier clase o por cualquier motivo entre los participantes en el sitio web y/o un tercero, el Ayuntamiento de Zamora quedar&aacute; exento de cualquier responsabilidad por reclamaciones, demandas o da&ntilde;os de cualquier naturaleza relacionados o derivados del litigio.</p>

<h3>5. Uso del Portal de Gobierno Abierto</h3>

<p>Los participantes podr&aacute;n acceder y navegar por el Portal de Gobierno Abierto libremente y de forma an&oacute;nima. S&oacute;lo cuando quieran realizar alguna acci&oacute;n que implique la creaci&oacute;n, apoyo o comentario de una propuesta, o a la participaci&oacute;n en un debate, se le solicitar&aacute; que introduzca sus credenciales, para cuya obtenci&oacute;n ser&aacute; necesario registrarse previamente. El registro que permitir&aacute; participar comentando en cualquiera de las secciones, creando debates o propuestas, se realizar&aacute; introduciendo los siguientes datos:</p>

<ul>
	<li>Nombre de usuario</li>
	<li>Correo electr&oacute;nico</li>
	<li>Aceptaci&oacute;n de las condiciones de uso de el Portal de Gobierno Abierto</li>
</ul>

<p>El Portal de Gobierno Abierto tambi&eacute;n permite la identificaci&oacute;n mediante el usuario de Facebook y Google+.</p>

<p>Para participar apoyando propuestas, al usuario se le requerir&aacute; que verifique su cuenta cumpliendo que tiene 16 a&ntilde;os o m&aacute;s y est&aacute; empadronado en Zamora, para lo cual se le guiar&aacute; a trav&eacute;s de una serie de pasos donde se le solicitar&aacute;n datos relativos al padr&oacute;n.</p>

<p>El usuario podr&aacute; interactuar con la herramienta interviniendo, al menos, de las siguientes formas:</p>

<h4>(1) DEBATES</h4>

<p>En el apartado de debates el usuario podr&aacute; participar:</p>

<ul>
	<li>Creando un debate. Cada usuario podr&aacute; abrir uno o m&aacute;s debates. Los debates ser&aacute;n publicados autom&aacute;ticamente.</li>
	<li>Votando de manera positiva o negativa a los debates creados por los usuarios. Los debates aparecer&aacute;n con los votos positivos y negativos recibidos. Cada usuario podr&aacute; exclusivamente votar o bien positivo o bien negativo, y una vez a un mismo debate.</li>
	<li>Comentando los debates del resto de usuarios. Cada debate podr&aacute; ser comentado por el resto de usuarios.</li>
</ul>

<h4>(2) PROPUESTAS</h4>

<p>En el apartado de propuestas ciudadanas el usuario podr&aacute; participar:</p>

<ul>
	<li>Creando una propuesta. Cada usuario podr&aacute; dar de alta una o m&aacute;s propuestas. Las propuestas ser&aacute;n publicadas autom&aacute;ticamente.</li>
	<li>Apoyando las propuestas creadas por los usuarios. Las propuestas aparecer&aacute;n con el n&uacute;mero de apoyos recibidos. Cada usuario podr&aacute; exclusivamente apoyar una vez a una misma propuesta. Cuando una propuesta reciba apoyos de 275 personas empadronadas mayores de 16 a&ntilde;os o m&aacute;s (700 ciudadanos), la propuesta pasar&aacute; a una fase posterior donde durante una semana se invitar&aacute; a la ciudadan&iacute;a a aceptarla o rechazarla como propuesta colectiva.</li>
	<li>Comentando las propuestas del resto de usuarios. Cada propuesta podr&aacute; ser comentada por el resto de usuarios, pudiendo argumentar las razones del apoyo o introducir mejoras a la misma.</li>
</ul>

<h3>6. Condiciones para el tratamiento de los contenidos proporcionados por los usuarios</h3>

<p>Las presentes condiciones regulan los t&eacute;rminos aplicables al contenido remitido por los usuarios de esta plataforma a trav&eacute;s del formulario correspondiente (en adelante, el contenido). Estas condiciones se aplican tanto al contenido inicialmente remitido al Portal de Gobierno Abierto como a cualquier contenido que se env&iacute;e con posterioridad o se manifieste al Ayuntamiento de Zamora, debiendo significarse lo siguiente:</p>

<ul>
	<li>A. No Confidencialidad: Todo el contenido remitido por el usuario al Ayuntamiento de Zamora deber&aacute; ser susceptible de ser conocido por el p&uacute;blico en general. Por lo tanto, el Ayuntamiento de Zamora tratar&aacute; el citado contenido como informaci&oacute;n no confidencial.</li>
	<li>B. Procedimiento: En el caso de que el Ayuntamiento de Zamora est&eacute; interesado en el contenido remitido por el usuario, se pondr&aacute; en contacto con &eacute;l para solicitarle informaci&oacute;n adicional. Dicha informaci&oacute;n tendr&aacute; asimismo car&aacute;cter de no confidencial, sin perjuicio de que en el caso de que las partes consideren la necesidad de intercambiarse informaci&oacute;n de car&aacute;cter confidencial se firme el correspondiente Acuerdo de Confidencialidad.<br />
	El Ayuntamiento de Zamora se reserva el derecho de no contactar con los usuarios que le hubieran remitido el contenido. Todo ello sin perjuicio de lo establecido en el apartado relativo a &quot;Derechos de Propiedad Intelectual e industrial&quot;.<br />
	En el supuesto que el Ayuntamiento de Zamora, a su entera discreci&oacute;n, decidiera contactar con determinados usuarios, &eacute;stos conocen y aceptan que por ello el Ayuntamiento de Zamora no adquiere compromiso alguno.</li>
	<li>C. Publicidad o difusi&oacute;n de los contenidos presentados: Los participantes en el Portal de Gobierno Abierto del Ayuntamiento de Zamora declaran conocer y aceptar el hecho de que la informaci&oacute;n aportada podr&aacute; ser publicada en la web <a href="http://www.zamora.es" target="_blank" title="(se abre en ventana nueva)">www.zamora.es</a>, as&iacute; como a trav&eacute;s de otros medios que la organizaci&oacute;n considere oportunos para dar a conocer esta iniciativa.</li>
	<li>D. No devoluci&oacute;n material: El Ayuntamiento de Zamora carece de obligaci&oacute;n alguna de devolver el Contenido remitido por los usuarios.</li>
	<li>E. Procedimiento de aviso y retirada: El Ayuntamiento de Zamora procesar&aacute; las peticiones de eliminaci&oacute;n o retirada de contenidos que incumplan las condiciones de uso que hayan a&ntilde;adido los participantes. Asimismo, cualquier persona, con motivos razonados si existe incumplimiento de las presentes condiciones de uso, podr&aacute; solicitar la retirada de contenidos al Ayuntamiento de Zamora. El Ayuntamiento de Zamora se reserva el derecho de hacer las comprobaciones o verificaciones oportunas con car&aacute;cter previo a la retirada de cualquier contenido.</li>
</ul>

<h3>7. Pol&iacute;tica de privacidad y protecci&oacute;n de datos</h3>

<ul>
	<li>A. Titularidad de los derechos de propiedad intelectual e industrial: El usuario que aporta el Contenido declara, con la aceptaci&oacute;n de las presentes Condiciones, ser titular de los derechos de propiedad intelectual y/o industrial u ostentar derechos suficientes sobre dicho contenido y que adem&aacute;s lo remite al Ayuntamiento de Zamora de forma voluntaria para su divulgaci&oacute;n en el Portal de Gobierno Abierto del Ayuntamiento de Zamora.<br />
	La titularidad de todos y cada uno de los Contenidos presentados que se encuentren protegidos o sean susceptibles de encontrarse protegidos, por el Derecho de la Propiedad Industrial e Intelectual, corresponde a los autores y/o titulares de los mencionados Contenidos.<br />
	El Ayuntamiento de Zamora no asume responsabilidad alguna, ya sea directa o indirecta, respecto de cualquier tipo de controversia, disputa y/o litigio que pudiera derivarse de la publicaci&oacute;n, divulgaci&oacute;n y/o difusi&oacute;n de los contenidos aportados sin el preceptivo consentimiento de sus leg&iacute;timos titulares.<br />
	El Ayuntamiento de Zamora respetar&aacute; todos los Derechos de Propiedad Intelectual o Industrial sobre el contenido remitido por los usuarios. Cualquier vulneraci&oacute;n de los Derechos de Propiedad Intelectual o Industrial ser&aacute; responsabilidad de la persona que aporte el contenido.<br />
	El Ayuntamiento de Zamora, por la mera recepci&oacute;n del contenido, no recibe del usuario licencia alguna de propiedad intelectual o industrial, por lo que no har&aacute; uso del contenido salvo aceptaci&oacute;n expresa de su titular.</li>
	<li>B. Protecci&oacute;n de datos: Los datos personales aportados por los usuarios que se registren en el Portal de Gobierno Abierto, ser&aacute;n incorporados y tratados en el fichero &quot;Consul Zamora&quot;, cuya finalidad es gestionar los procesos participativos para el control de la habilitaci&oacute;n de las personas que participan en los mismos y recuento meramente num&eacute;rico y estad&iacute;stico de los resultados derivados de los procesos de participaci&oacute;n ciudadana.&nbsp;El &oacute;rgano responsable del fichero es el Ayuntamiento de Zamora, ante el que la persona interesada podr&aacute; ejercer los derechos de acceso, rectificaci&oacute;n, cancelaci&oacute;n y oposici&oacute;n, dirigiendo una comunicaci&oacute;n por escrito al&nbsp;&oacute;rgano responsable,&nbsp;todo lo cual se informa en cumplimiento del art&iacute;culo 5 de la Ley Org&aacute;nica 15/1999, de 13 de diciembre, de Protecci&oacute;n de Datos de Car&aacute;cter Personal.</li>
</ul>

<p>Como principio general, los datos personales no ser&aacute;n comunicados a terceros, excepto cuando la comunicaci&oacute;n haya sido autorizada por el usuario, o la informaci&oacute;n sea requerida por la autoridad judicial, ministerio fiscal o la polic&iacute;a judicial, o se de alguno de los supuestos regulados en el art&iacute;culo 11 de la Ley Org&aacute;nica 15/1999, de 13 de diciembre, de Protecci&oacute;n de Datos de Car&aacute;cter Personal.</p>

<h3>8. Normativa aplicable</h3>

<p>Las normas del ordenamiento jur&iacute;dico espa&ntilde;ol rigen de manera exclusiva estas condiciones de uso. Cualquier disputa, controversia o reclamaci&oacute;n derivada de estas condiciones de uso, o el incumplimiento, rescisi&oacute;n o invalidaci&oacute;n de estas, se resolver&aacute;n exclusivamente ante los juzgados competentes.</p>

<h3>9. Revisi&oacute;n de las condiciones de uso</h3>

<p>El Ayuntamiento de Zamora se reserva el derecho de revisar las presentes condiciones de uso y la pol&iacute;tica de privacidad en cualquier momento y por cualquier raz&oacute;n. En dicho caso, los usuarios registrados ser&aacute;n avisados a trav&eacute;s de este espacio en l&iacute;nea y, si contin&uacute;an utilizando el Portal de Gobierno Abierto, se entender&aacute;n aceptadas las modificaciones introducidas.</p>

<h3>10. DISPOSICI&Oacute;N FINAL</h3>

<p>EL AYUNTAMIENTO DE ZAMORA PONE EN MARCHA LOS PRESUPUESTOS PARTICIPATIVOS PARA EL A&Ntilde;O 2019</p>

<p>Las cantidades asignadas para cada zona de la ciudad para proyectos a realizar en el a&ntilde;o 2019 son:</p>

<ul>
	<li>Norte: 75.000,00 &euro;</li>
	<li>Este: 75.000,00 &euro;</li>
	<li>Centro: 75.000,00 &euro;</li>
	<li>Sur: 75.000,00 &euro;</li>
	<li>Toda la ciudad: 100.000,00 &euro;</li>
</ul>

<p>Las fases de los presupuestos participativos tendr&aacute;n el siguiente calendario en el a&ntilde;o 2019:</p>

<ul>
	<li>&nbsp;&nbsp;&nbsp; Fase de proposici&oacute;n: duraci&oacute;n m&iacute;nima de 3 semanas. Creaci&oacute;n de proyectos de inversi&oacute;n por la ciudadan&iacute;a.</li>
	<li>&nbsp;&nbsp;&nbsp; Fase de preselecci&oacute;n: duraci&oacute;n m&iacute;nima de 2 semanas. Participaci&oacute;n de la ciudadan&iacute;a apoyando los proyectos de m&aacute;s inter&eacute;s y creando un orden de trabajo para la siguiente fase.</li>
	<li>&nbsp;&nbsp;&nbsp; Fase de evaluaci&oacute;n: duraci&oacute;n m&iacute;nima de 2 meses y medio. Fase interna exclusiva de la administraci&oacute;n municipal, emitiendo informes de viabilidad (legal, t&eacute;cnica y econ&oacute;mica) sobre los proyectos presentados seg&uacute;n el orden de la fase de preselecci&oacute;n.</li>
	<li>&nbsp;&nbsp;&nbsp; Fase de votaci&oacute;n: duraci&oacute;n m&iacute;nima de 3 semanas. Votaci&oacute;n ciudadana entre los proyectos viables seg&uacute;n los informes emitidos en la fase previa. En caso de ser necesario seg&uacute;n el volumen de participaci&oacute;n, podr&aacute; ser ampliada una semana m&aacute;s, previo anuncio a trav&eacute;s de la plataforma de participaci&oacute;n ciudadana y sus redes sociales vinculadas.</li>
	<li>&nbsp;&nbsp;&nbsp; Publicaci&oacute;n de resultados: en el mes de septiembre, permitiendo as&iacute; su inclusi&oacute;n en el proyecto de presupuestos municipales para el ejercicio siguiente.&quot;</li>
</ul>
  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>
</div>
