<% provide :title do %>Proceso de presentación de propuestas<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("proposal_guide") %>
<% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1>Proceso de presentación de propuestas</h1>

<p>El proceso de presentación de propuestas puede resumirse en los siguientes pasos, que incluyen algunos consejos sobre cómo presentar una buena propuesta:</p>

<h3>1. Regístrate en plataforma digital "Más democracia en Europa" introduciendo tus datos y el correo electrónico.</h3>
<p>En caso de que un colectivo o una organización sea el autor/a de la propuesta, se puede registrar como tal a través de la persona que actúe por su cuenta o en representación del grupo u organización.</p>
<p></p>
<h3>2. Comprueba que la propuesta no está repetida</h3>
<p>Te recomendamos que hagas una primera búsqueda para comprobar que otra persona no ha planteado lo mismo que tú.</p>
<p>¿Cómo buscar? La plataforma tiene un buscador, a la derecha de la pantalla, donde puedes escribir las palabras clave de tu propuesta. También puedes buscar por categorías, clicando en cada etiqueta ves las propuestas ya presentadas en torno a esa temática.</p>

<h3>3. Consejos para escribir una buena propuesta</h3>
Piensa en el problema y la solución que quieres proponer, a quién afecta y quién debería actuar para llevar a cabo lo que planteas. Intenta que tu propuesta sea práctica, que pueda ser aceptada por amplios sectores de la ciudadanía, que suponga un cambio sustancial respecto del sistema actual, y que pueda llevarse a la práctica de modo realista… Intenta demostrar que tu propuesta puede generar consenso entre personas de distinta opinión política y posición social, que pueda recibir apoyos de otras muchas personas porque resuelve un problema común de modo que beneficia a los intereses de la mayoría.
<p>Define la propuesta: escribe en un borrador el problema y la actuación que propones, de forma clara y comprensible.</p>
<p>Escribe claro: para facilitar que te entienda todo el mundo (ten en cuenta que muchas veces leemos de forma rápida en el móvil), usa frases correctamente construidas (sujeto, verbo, predicado) e intenta no abusar de las frases subordinadas.</p>
<p>Sé breve: el borrador sirve para que desarrolles tu idea completa, pero al "pasarla a limpio" es aconsejable que sintetices para conseguir que otras personas lean tu propuesta por completo. Se recomienda que la propuesta no supere los 3000 caracteres o 500 palabras.</p>
<p>No escribas en mayúsculas frases enteras. En internet eso se considera gritar, y a nadie le gusta que le griten.</p>

<h3>4. Escribe tu propuesta en "Más democracia en Europa"</h3>
<p>Entra en "Crear una propuesta" y rellena los campos que aparecen en el formulario</p>
<p>Selecciona las etiquetas que ayuden a categorizar mejor la propuesta, pon tu nombre y apellidos  (individualmente o como representante de un colectivo; no se mostrará públicamente) y acepta la política de privacidad y las condiciones de uso.</p>

<h3>5. Completa tu propuesta con más información</h3>
<p>La página te permite adjuntar información que enriquezca tu propuesta:</p>
<p>Vídeos: puedes adjuntar un enlace a YouTube o Vimeo de un vídeo propio u otro vídeo que ilustre tu idea.</p>
<p>Documentación adicional: puedes adjuntar documentos propios que estén subidos a internet (servicios como Dropbox, Drive, un enlace a una página propia, etc.).</p>

<h3>6. Comparte tu propuesta en redes sociales y a través de tus contactos</h3>
<p>Las redes sociales como Facebook, Twitter o Instagram, entre otras, son un buen altavoz para llegar a más personas. Usa tu cuenta, la de tu colectivo o créate una si no tienes para publicar contenidos en torno a tu propuesta. Cuantos más seguidores/amigos tengas, más probabilidad tendrás de difundir tu propuesta.</p>
<p>Desde la plataforam Más democracia en Europa puedes compartir tu propuesta en redes sociales (Facebook, Twitter y Google+) además de por Telegram y WhatsApp si navegas desde el móvil. No olvides adjuntar siempre el enlace a tu propuesta.</p>
<p>Además, puedes acompañar tus mensajes de fotos o vídeos: los mensajes con imagen se comparten más. Puedes encontrar imágenes libres relacionadas con tu propuesta en Wikimedia Commons, Flickr, Google Imágenes, Pixabay…. Revisa las condiciones de cada imagen, puesto que normalmente hay que publicar la autoría.</p>
<p>Difunde tu propuesta a través de tu red de contactos más cercana. Envía un breve mensaje al móvil de tus contactos con la información fundamental de tu propuesta y el enlace a tu propuesta, y envía también un mensaje electrónico breve a las direcciones de correo de las personas que conozcas.</p>
<p>Trata de buscar colectivos, organizaciones y personas que se ocupen de temas europeos para darles a conocer tu propuesta. Si están de acuerdo con la propuesta, pueden ayudarte a difundirla en sus redes. Puedes incluso dirigirte directamente o a través de tu red de contactos a periodistas que informen acerca de Europa para hacerles llegar tu propuesta. Un consejo: que sea un escrito claro, breve y directo para captar su atención.</p>

  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>

</div>
