<main class="bggray about">
  <div class="main-indented-content">
    <div class="row">
      <div class="small-12 medium-8 small-centered column">
        <div class="margin text-center">
          <h1>Tvoj račun je potrjen.</h1>
          <p>Hvala za registracijo! Za nadaljevanje se moraš <b>vpisati</b>.</p>
          <br/>
          <div class="small-12 medium-6 column small-centered">
            <%= link_to t("devise_views.menu.login_items.login"), new_user_session_path, rel: "nofollow", class: "action-button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>