<main class="bggray about">
  <div class="main-indented-content">
    <div class="row">
      <div class="small-12 medium-8 small-centered column">
        <div class="margin text-center">
          <h1><%= t("account.show.verified_account") %></h1>
          <br />
          <div class="small-12 medium-6 column small-centered">
          <%= link_to t("devise_views.users.registrations.success.back_to_index"),
            root_path, class: "default-button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
