<span class="js-follow">
  <span class="followable-content">

    <% if show_follow_action? followable %>

      <%= link_to t('shared.follow'),
                  follows_path(followable_id: followable.id,
                               followable_type: followable.class.name),
                  method: :post, remote: true,
                  title: follow_text(followable),
                  class: 'button hollow' %>

    <% end %>

    <% if show_unfollow_action? followable %>

      <% follow = followable.follows.where(user: current_user).first %>
      <%= link_to t('shared.unfollow'),
                  follow_path(follow),
                  method: :delete, remote: true,
                  title: unfollow_text(followable),
                  class: 'button hollow' %>

    <% end %>

  </span>
</span>