<span class="comment-avatar">
  <% if comment.as_administrator? %>
    <%= special_avatar("avatar_admin.png", class: "admin-avatar") %>
  <% elsif comment.as_moderator? %>
    <%= special_avatar("avatar_moderator.png", class: "moderator-avatar") %>
  <% elsif comment.user.hidden? || comment.user.erased? %>
    <span class="icon-deleted user-deleted"></span>
  <% elsif comment.user.organization? %>
    <%= special_avatar("avatar_collective.png", class: "avatar") %>
  <% else %>
    <%= render Shared::AvatarComponent.new(comment.user, size: 32) %>
  <% end %>
</span>
