<div class="milestone-new row">

  <div class="small-12 column">
    <%= back_link_to milestoneable_path %>

    <h1><%= t("admin.milestones.new.creating") %></h1>

    <%= render "form" %>
  </div>
</div>
