<% content_for :canonical do %>
  <%= render "shared/canonical", href: participation_open_government_url %>
<% end %>

<div class="row margin-top">
  <div class="small-12 medium-3 column">
    <%= back_link_to more_info_path %>

    <ul class="menu vertical margin-top hide-for-small-only">
      <li>
        <a href="#i"><strong>I. Participación</strong></a>
        <ul class="nested vertical menu">
          <li><a href="#i1">I.1. Propuestas ciudadanas</a></li>
          <li><a href="#i2">I.2. Presupuestos participativos</a></li>
          <li><a href="#i3">I.3. Legislacion colaborativa</a></li>
          <li><a href="#i4">I.4. Co-gobierno ciudadano</a></li>
          <li><a href="#i5">I.5. Participación sectorial</a></li>
          <li><a href="#i6">I.6. Inclusión, neutralidad y privacidad</a></li>
          <li><a href="#i7">I.7. Innovación social</a></li>
        </ul>
      </li>
      <li>
        <a href="#ii"><strong>II. Transparencia</strong></a>
        <ul class="nested vertical menu">
          <li><a href="#ii1">II.1. Ordenanza de transparencia</a></li>
          <li><a href="#ii2">II.2. Portal de transparencia</a></li>
          <li><a href="#ii3">II.3. Datos abiertos</a></li>
          <li><a href="#ii4">II.4. Agendas públicas</a></li>
          <li><a href="#ii5">II.5. Transparencia del Lobby</a></li>
        </ul>
      </li>
      <li>
        <a href="#iii"><strong>III. Datos abiertos</strong></a>
      </li>
    </ul>
  </div>

  <div class="small-12 medium-9 column">
    <h1>Participación Ciudadana, Transparencia y Gobierno Abierto</h1>

    <p>Desde el nuevo gobierno del Ayuntamiento de Madrid ponemos en marcha un nuevo proyecto de participación y transparencia, desarrollado a través de la recién creada área de gobierno: Participación Ciudadana, Transparencia y Gobierno Abierto. El objetivo de este nuevo proyecto es claro: que los madrileños puedan decidir directamente la política de la ciudad, y que todo lo que ocurra en el Ayuntamiento, hasta el último rincón, esté a la vista de todos.</p>

    <p>Este nuevo área de gobierno también es la encargada de la atención al ciudadano, de las sugerencias y reclamaciones, de la evaluación y calidad de las políticas y gestión del Ayuntamiento, de la administración electrónica y otros temas relacionados con la relación entre ciudadanía e institución.</p>

    <p>Iremos publicando nuestros avances, las novedades y cualquier otra cosa que queramos compartir con vosotros en relación con el proyecto en <a href="https://diario.madrid.es/decidemadrid/" target="_blank" title="(se abre en ventana nueva)">nuestro blog</a>.</p>

    <p>Podéis escribirnos para lo que queráis a <a href="mailto:ag.gobiernoabierto@madrid.es">ag.gobiernoabierto@madrid.es</a></p>

    <p>El nuevo Portal de Gobierno Abierto está dividido en tres partes: Participación, Transparencia y Datos Abiertos.</p>

    <h2 id="i">I. Participación</h2>
    <p>Donde poder decidir qué ciudad queremos tener (a través de propuestas ciudadanas, espacios de debate, presupuestos participativos, legislación colaborativa, y muchos otros procesos que iremos implementando).</p>

    <ul>
      <li id="i1"><strong>I.1. Propuestas ciudadanas.</strong> Un espacio que permite que entre todos decidamos qué debe ser Madrid. Cualquiera puede presentar propuestas, que en caso de que sean aceptadas mayoritariamente se llevarán a cabo por parte del Ayuntamiento. Debate, propón, decide.</li>
      <li id="i2"><strong>I.2. Presupuestos participativos.</strong> Parte del presupuesto de inversión del Ayuntamiento (el que no está comprometido ya con necesidades básicas como pueden ser los servicios sociales o las emergencias), será reservado para ser decidido su uso por la ciudadanía. La gente hará propuestas, se tasarán las más apoyadas, y luego los ciudadanos decidirán en cuáles de esos proyectos priorizar el presupuesto reservado.</li>
      <li id="i3"><strong>I.3. Legislacion colaborativa.</strong> A través de diferentes fases de participación, la ciudadanía tendrá un papel fundamental colaborando directamente en la elaboración de las propuestas, reglamentos, decretos o cualquier otro tipo de trabajo político desarrollado por el gobierno municipal. Una participación real desde el principio al fin del proceso legislativo, desde decidir los expertos en la materia hasta revisar el texto final.</li>
      <li id="i4"><strong>I.4. Co-gobierno ciudadano.</strong> Mediante este sistema la ciudadanía podrá decidir las líneas prioritarias de actuación del Ayuntamiento a medio plazo.</li>
      <li id="i5"><strong>I.5. Participación sectorial.</strong> La participación ciudadana se va a tratar de manera transversal en todas las áreas de gobierno del Ayuntamiento, afectando a todos los procesos que se lleven a cabo. Un ejemplo de esto es el proceso de auditoría ciudadana de la deuda, que llevaremos a cabo con el Área de Gobierno de Economía y Hacienda.</li>
      <li id="i6"><strong>I.6. Inclusión, neutralidad y privacidad.</strong> Una de las misiones principales del área será velar por la inclusión de todo el mundo en los procesos participativos, para que todas las voces y voluntades formen parte de ellos y no se quede nadie fuera. Para ello, desarrollaremos una mesa de inclusión a la que invitaremos a todos los expertos, colectivos y asociaciones que trabajen con colectivos excluidos, para diseñar las maneras adecuadas de superar estas brechas. La protección de la participación se complementará con la protección de la neutralidad y privacidad en todos los procesos, para asegurar su legitimidad y confianza.</li>
      <li id="i7"><strong>I.7. Innovación social.</strong> Pretendemos crear un entorno que movilice la inteligencia colectiva existente en favor de una ciudad más hospitalaria e inclusiva. Espacios donde la sociedad se hable y piense con la administración, con la convicción de que son los ciudadanos quienes mejor conocen sus problemas, y es en lo colectivo donde están los expertos que pueden hallar las soluciones.</li>
    </ul>

    <h2 id="ii">II. Transparencia</h2>
    <p>En este espacio se publicarán todos los datos relativos a quién y cómo se gestiona Madrid (nombres de los responsables, cargos, sueldos, planes de gobierno, contratos, agendas de los responsables...). Además es el espacio donde ejercer el derecho de acceso a la información, pudiendo solicitar cualquier información sobre el Ayuntamiento de Madrid de manera fácil y rápida.</p>

    <ul>
      <li id="ii1"><strong>II.1. Ordenanza de transparencia</strong>
      Este ayuntamiento cree en la transparencia como medio para conseguir objetivos claves para el desarrollo de la democracia. En la práctica, el derecho de acceso a la información tiene un efecto disuasorio y preventivo sobre la corrupción. Además tiene un impacto directo sobre los derechos democráticos más esenciales como es el derecho a la participación, desde su concepción más básica como es votar en las elecciones, el derecho a una prensa libre e independiente o sobre todo nuestro derecho a obtener o a exigir una rendición de cuentas completa de lo público.<br>
      El Ayuntamiento de Madrid se propone aprobar una norma de transparencia que incluya los principios más avanzados en esta materia y que incluya la obligación de las instituciones públicas hacer pública, reactiva o proactivamente, toda la información, registrada, archivada, elaborada, recibida o en posesión de las autoridades públicas sea cual sea el formato. Se trata de explicar todo lo que afecte a una decisión sobre lo público: qué se hace, quién lo hace, por qué se hace, cómo se hace y cuánto cuesta. Además esta información debe ser publicada en formatos abiertos que la hagan más accesible y reutilizable por cualquiera.</li>

      <li id="ii2"><strong>II.2. Portal de transparencia</strong>
      En cumplimiento de la Ley 19/2013 de Transparencia, Acceso a la Información y Buen Gobierno, y de su futura implementación en una Ordenanza Municipal en Madrid, el Ayuntamiento de Madrid plantea el desarrollo y mejora del Portal de la Transparencia. El Ayuntamiento no se limitará a cumplir con las obligaciones que se adquieran cuando entre en vigor la ley 19/2013 sino que aprobará mediante su Ordenanza las obligaciones y derechos que posibiliten la publicación de una lista de la información más ambiciosa que debe encontrarse en el Portal de transparencia del Ayuntamiento siguiendo los mandatos legales.<br>
      El objetivo de esta mejora es no solo la publicación de un mayor volumen de información sino también la publicación de esta información en formatos que la hagan más accesible y fácil de entender para los ciudadanos.</li>

      <li id="ii3"><strong>II.3. Datos abiertos</strong>
      El Ayuntamiento tiene como objetivo compartir todos los datos que tienen en su poder en formatos abiertos y fomentar su reutilización por parte de la sociedad. El objetivo por tanto es doble, por un lado se trabajará en la mejora del portal de datos, en aumentar la cantidad, la calidad y la frecuencia en la publicación de datos, y por otro lado se abrirán canales de colaboración para promover las aplicaciones y los usos que resulten de la reutilización de los datos.</li>

      <li id="ii4"><strong>II.4. Agendas públicas</strong>
      En el moderno proceso de toma de decisiones por los responsables políticos, la publicación de las agendas de los cargos públicos es una medida fundamental para garantizar la transparencia de las instituciones. De esta forma, la ciudadanía puede tener una idea clara de quiénes participan en el proceso de toma de decisiones.<br>
      Esta necesidad de publicidad viene refrendada por destacados organismos internacionales, como el Grupo de Estados Contra la Corrupción del Consejo de Europa (GRECO), que la señala como uno de los estándares internacionales a tener en cuenta para incorporar al sistema parlamentario español; o la Organización para la Cooperación y el Desarrollo Económico (OCDE) que, en junio de 2013, destacaba que "en el despertar de una crisis global donde la protección del interés público ha sido cuestionada de forma mundial, hay una creciente necesidad de valorar el progreso alcanzado para garantizar un proceso de toma de decisiones abierto, balanceado y con un público informado".<br>
      En línea con este espíritu de apertura, y con la decidida voluntad de que exista fluidez en la información, se considera necesario hacer públicas las agendas de los Concejales como inicio de una política de transparencia y rendición de cuentas en el Ayuntamiento de Madrid, de forma que sea posible saber qué trabajo realizan los miembros del gobierno municipal y qué colectivos o circunstancias pueden tener repercusión en las decisiones que se toman.<br>
      Ya se pueden consultar <a href="http://www.madrid.es/portales/munimadrid/es/Inicio/El-Ayuntamiento/Transparencia/Informacion-institucional-y-organizativa/Agendas-publicas-de-los-concejales/Agendas-publicas-de-los-concejales?vgnextfmt=default&vgnextchannel=481f003fec17e410VgnVCM1000000b205a0aRCRD" target="_blank" title="(se abre en ventana nueva)">las agendas de los concejales</a> pero el Ayuntamiento está trabajando en una aplicación mejor que permita encontrar las reuniones más fácilmente.</li>

      <li id="ii5"><strong>II.5. Transparencia del Lobby</strong>
      Con el objetivo de hacer el proceso de toma de decisiones del Ayuntamiento de Madrid un proceso lo más transparente posible, se propone la creación de un registro de lobbies que obligue a todas las personas que quieran reunirse con el Gobierno para ejercer influencia sobre los asuntos públicos a estar registrada en el mismo. El objetivo de este registro es conocer a qué intereses representan las personas que se reúnen con los representantes públicos.</li>
    </ul>

    <h2 id="iii">III. Datos Abiertos</h2>
    <p>En este espacio se cuelgan las bases de datos que tiene el Ayuntamiento, para que cualquiera pueda usar toda la información directamente, sin necesidad ni siquiera de preguntar. También se puede solicitar la publicación de más bases de datos.</p>
  </div>
</div>
