<% content_for :canonical do %>
  <%= render "shared/canonical", href: participation_world_url %>
<% end %>

<div class="row margin-top">
  <div class="small-12 medium-3 column">
    <%= render "shared/back_link" %>

    <ul class="menu vertical margin-top">
        <li><a href="#i"><strong>La nueva ola global de participación ciudadana</strong></a></li>
        <li><a href="#ii"><strong>Participación ciudadana directa con experiencia</strong></a></li>
    </ul>
  </div>

  <div class="small-12 medium-9 column">
    <h1>Participación ciudadana directa en el mundo</h1>
    <p>En el mundo existen sistemas de participación ciudadana que llevan funcionando desde hace más de cien años y en países muy diferentes. La experiencia larga y variada de dichos sistemas demuestra el impacto muy positivo en la sociedad que ha tenido en esos otros países.</p>

    <p>Además de los ejemplos clásicos, como Suiza, asistimos a un desarrollo muy fuerte de los sistemas de participación ciudadana en todo el mundo, en particular en los últimos años, gracias especialmente a las nuevas posibilidades que nos brinda Internet. Islandia, Finlandia, Brasil, Estados Unidos, son algunos de los países que más están apostando por una participación directa de la ciudadanía en la toma de decisiones.</p>

    <h2 id="i">La nueva ola global de participación ciudadana</h2>

    <p>Las nuevas formas de participación se están dirigiendo principalmente a que sean la ciudadanía quien decida qué caminos debe tomar la política de su país, a través de mecanismos de <strong>iniciativas ciudadanas</strong>. Finlandia es uno de los países donde se están desarrollando nuevas herramientas similares al nuevo portal de gobierno abierto. Su plataforma <a href="http://openministry.info/" target="_blank" title="(se abre en ventana nueva)">Open Ministry</a> permite a la población presentar y apoyar propuestas, y ha conseguido por ejemplo que se apruebe gracias a él la ley de matrimonio igualitario. Islandia también ha tenido una gran repercusión desde 2011, cuando lanzaron su plataforma Better Reykjavik, que ha permitido que el 58% de la población participe en el proceso de propuestas, seleccionando cada mes las 15 ideas más votadas.</p>

    <p>Estonia es uno de los países que gracias a una apuesta clara por las nuevas tecnologías, ha podido situarse en cabeza de Europa en el nivel de uso por parte de la ciudadanía de Internet para  la interacción con el gobierno. No sólo los ciudadanos y ciudadanas resuelven diariamente todos sus trámites a través de Internet, sino que han puesto en marcha plataformas como Rahvakogu, donde después de los escándalos políticos de 2012, 50.000 personas (de un total de 1.3 millones) participaron proponiendo medidas para mejorar la situación democrática del país.</p>

    <p>Otra de las principales experiencias que se están extendiendo rápidamente por todo el mundo son los <strong>presupuestos participativos</strong>. Estos consisten en mecanismos, generalmente acompañados de una plataforma en Internet, por los cuales el gobierno reserva parte de sus presupuestos de inversión (los que no están comprometidos ya en cuestiones como limpieza o servicios sociales), para que sea la ciudadanía quien decida en qué se gasta dicho dinero.</p>

    <p>Islandia es uno de los países de referencia al respecto, a través de su plataforma Betri Reykjavík-Betri Hverfi (Better District). Cada año se gastan 1.8 millones de euros en alrededor de 200 proyectos propuestos por la población para los distintos barrios de Reykjavík. Las ciudadanas y ciudadanos pueden participar y seguir el proyecto a través de la plataforma digital <a href="http://www.betrireykjavik.is" target="_blank" title="(se abre en ventana nueva)">betrireykjavik</a>, en <a href="http://www.facebook.com/Betri.Reykjavik" target="_blank" title="(se abre en ventana nueva)">Facebook</a> o a través de centros en sus distritos o comités distritales.</p>

    <p>Otras experiencias de referencia incluyen París, donde los residentes decidirán hasta el 2020 cómo se gastan 426 millones de euros (lo que corresponde al 5% del presupuesto municipal de París); Nueva York, donde el año pasado dedicaron <a href="http://council.nyc.gov/html/action/pb.shtml" target="_blank" title="(se abre en ventana nueva)">32 millones de euros a presupuestos participativos</a>; más de 100 ciudades brasileñas donde se han manejado <a href="http://www.washingtonpost.com/blogs/monkey-cage/wp/2014/01/22/brazil-let-its-citizens-make-decisions-about-city-budgets-heres-what-happened/" target="_blank" title="(se abre en ventana nueva)">presupuestos participativos que han oscilado entre el 5% y el 15%</a>; entre muchas otras ciudades del mundo.</p>

    <h2 id="ii">Participación ciudadana directa con experiencia</h2>

    <p>En diferentes países del mundo existen sistemas de participación ciudadana directa que vienen funcionando desde hace mucho tiempo sin pasar por las nuevas tecnologías. Aunque estos sistemas no tengan la agilidad de las nuevas plataformas, los procesos que se dan en ellos son básicamente los mismos, y nos aseguran la calidad y los resultados de los mecanismos que se van a poner en marcha. Comentamos a continuación tres de los casos más importantes y resaltamos algunas cifras para entender de lo que hablamos:</p>

    <h3>Suiza</h3>
    <p>Desde 1848 se han votado unos 600 referéndum a nivel federal (<a href="https://www.admin.ch/ch/f/pore/va/vab_2_2_4_1_gesamt.html" target="_blank" title="(se abre en ventana nueva)">compilación en francés</a>), y se celebran cada año en todo el país del orden de 200 referéndum a todos los niveles (municipal, cantonal y federal).</p>
    <p>Aproximadamente una de cada dos leyes aprobadas en el Parlamento directamente, y luego consultada a la ciudadanía, fue anulada. Por otro lado, incluso aunque las iniciativas populares no tengan éxito, el gobierno acaba concediendo parte de las demandas propuestas, y se genera una atención nacional sobre el asunto tratado. Esto hace que aproximadamente la mitad de la gente que lanzó las iniciativas que no tuvieron éxito consideren que mereció la pena el esfuerzo y se obtuvo algo que no hubiera sido posible sin la iniciativa.</p>

    <h3>Estados Unidos</h3>
    <p>En este país no se cuenta con procesos de iniciativas ciudadanas a nivel federal, pero 27 de los 51 estados cuentan con algún tipo sistema de democracia directa (cambiando mucho la regulación y el alcance de un estado a otro). A nivel local, aproximadamente la mitad de las ciudades cuentan con un sistema de iniciativas ciudadanas vinculantes.</p>
    <p>Entre 1904 y 2000 se convocaron casi 2.000 referéndum iniciados por la ciudadanía. En 1996 en los estados con mecanismos de iniciativas ciudadanas se convocaron 96 referéndum, frente a las más de 14.000 leyes y resoluciones aprobadas por los representantes de esos estados.</p>

    <h3>Alemania</h3>
    <p>No existe en Alemania ningún mecanismo de democracia directa a nivel nacional, pero sí a nivel regional y local. Estos sistemas se introdujeron en su mayoría en los años 90. En 1996 el número de iniciativas ciudadanas fue de 318, reduciéndose en años posteriores, una vez tratados tantos temas pendientes anteriores a la introducción de estos mecanismos, a una media de 100 por año.</p>

  </div>
</div>
