<% provide :title do %><%= t("layouts.header.articles") %><% end %>

<main>
  <div class="row">
    <%# TODO - change id and class to smth dedicated to articles %>
    <div id="articles" class="small-12 column">
      <% if @articles.any? %>
        <%= render partial: 'articles/article', collection: @articles %>
        <%= paginate @articles %>
      <% else %>
        <%# TODO - internationalization %>
        Aucune actualité publiée
      <% end %>
    </div>
  </div>
</main>
