<div class="legislation-admin legislation-process-index">
  <div class="row">
    <div class="small-12 medium-9 column">
      <h2 class="inline-block">Procesos de legislación colaborativa</h2>
    </div>
    <div class="small-12 medium-3 column legislation-process-new">
      <a class="button" href="/admin/legislation/processes/new">Nuevo proceso</a>
    </div>
  </div>

  <ul class="menu simple clear">
    <li class="show-for-sr"><span class="translation_missing" title="translation missing: es.admin.legislation.processes.index.filter">Filter</span>: </li>
        <li class="active">Abiertos</li>
        <li><a href="/admin/legislation/processes?filter=next&amp;page=1">Próximamente</a></li>
        <li><a href="/admin/legislation/processes?filter=past&amp;page=1">Pasados</a></li>
        <li><a href="/admin/legislation/processes?filter=all&amp;page=1">Todos</a></li>
  </ul>

  <table class="stack">
    <thead>
      <tr>
        <th>Proceso</th>
        <th>Comentarios</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr id="legislation_process_1">
        <td class="small-12 medium-8">
          <a href="/sandbox/admin_legislation_info.html">Licencias urbanísticas, declaraciones responsables y comunicaciones previas</a>
        </td>
        <td>
          <a href="#">123 comentarios</a>
        </td>
        <td>
          <a class="button hollow alert" rel="nofollow" data-method="delete" href="/admin/legislation/processes/1">Borrar</a>
        </td>
      </tr>
      <tr id="legislation_process_1">
        <td class="small-12 medium-8">
          <a href="/admin/legislation/processes/1/edit">Licencias urbanísticas, declaraciones responsables y comunicaciones previas</a>
        </td>
        <td>
          <a href="#">123 comentarios</a>
        </td>
        <td>
          <a class="button hollow alert" rel="nofollow" data-method="delete" href="/admin/legislation/processes/1">Borrar</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
