<a href="#" class="button float-right margin-right">Crear nueva página</a>
<h2 class="inline-block">Editar páginas</h2>

<table class="cms_page_list">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Creada</th>
      <th>Última actualización</th>
      <th>Estado</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="cms_page">
      <td>
        <strong><a href="admin_cms_page">Política de privacidad</a></strong>
      </td>
      <td class="small">
        Hace 20 días
      </td>
      <td class="small">
        Hace 15 días
      </td>
      <td class="small">
        Publicada
      </td>
      <td class="small">
        <span class="icon-eye"></span>
        <a href="#">Ver página</a>
      </td>
      <td class="small">
        <span class="icon-x"></span>
        <a href="#">Borrar página</a>
      </td>
    </tr>
    <tr class="cms_page">
      <td>
        <strong><a href="admin_cms_page">FAQ</a></strong>
      </td>
      <td class="small">
        Hace 6 días
      </td>
      <td class="small">
        Hace 3 días
      </td>
      <td class="small">
        <span class="icon-edit"></span>
        Borrador
      </td>
      <td class="small">
        <span class="icon-eye"></span>
        <a href="#">Ver página</a>
      </td>
      <td class="small">
        <span class="icon-x"></span>
        <a href="#">Borrar página</a>
      </td>
    </tr>
  </tbody>
</table>
