<div class="legislation-admin legislation-draft-versions-index row">
  <div class="small-12 column">
    <a class="back" href="/admin/legislation/processes">
      <span class="icon-angle-left"></span>
      Volver
    </a>
    
    <h1>Licencias urbanísticas, declaraciones responsables y comunicaciones previas</h1>

    <ul class="menu simple clear">
      <li>
        <a href="/sandbox/admin_legislation_info.html">Información</a>
      </li>
      <li>
        <a href="/sandbox/admin_legislation_debate.html">Debate</a>
      </li>
      <li class="active">
        <a href="/sandbox/admin_legislation_draft.html">Texto</a>
      </li>
    </ul>

    <div class="row">
      <div class="small-12 medium-9 column">
        <h4>Versiones del borrador</h4>
      </div>
      
      <div class="small-12 medium-3 column legislation-process-version">
        <a class="button" href="/admin/legislation/processes/1/draft_versions/new">Crear versión</a>
      </div>
    </div>

    <table class="stack">
      <thead>
        <tr>
          <th>Título</th>
          <th>Creado</th>
          <th>Estado</th>
          <th>Comentarios</th>
          <th>Versión final</th>
        </tr>
      </thead>
      <tbody>
        <tr id="legislation_draft_version_1">
          <td>
            <a href="/sandbox/admin_legislation_draft_edit.html">Versión 1</a>
          </td>
          <td>2016-12-16</td>
          <td>draft</td>
          <td></td>
          <td>false</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
