<div class="legislation-admin legislation-questions-index row">
  <div class="small-12 column">
    <a class="back" href="/admin/legislation/processes/1">
      <span class="icon-angle-left"></span>
      Volver
    </a>
   
    <h1>Licencias urbanísticas, declaraciones responsables y comunicaciones previas</h1>

    <ul class="menu simple clear">
      <li>
        <a href="/sandbox/admin_legislation_info.html">Información</a>
      </li>
      <li class="active">
         <a href="/sandbox/admin_legislation_debate.html">Debate</a>
      </li>
      <li>
        <a href="/sandbox/admin_legislation_draft.html">Texto</a>
      </li>
    </ul>
    
    <div class="row">
      <div class="small-12 medium-9 column">
        <h3>Editar “Esta es mi pregunta”</h3>
      </div>
      <div class="small-12 medium-3 column legislation-question-delete">
        <a class="button hollow alert" rel="nofollow" data-method="delete" href="/admin/legislation/processes/1/questions/1">Borrar</a>
      </div>
    </div>

    <form class="edit_legislation_question" id="edit_legislation_question_1" action="/admin/legislation/processes/1/questions/1" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="patch" /><input type="hidden" name="authenticity_token" value="gLqJjLSt++BL/cV4vPnZ+PRs+78xArJsc1dNnvr2t0P57PVhIhESvKRGJqjxiSIIU6+PjtE0qMK7/U1cbREW0Q==" />
      <div class="row">
        <div class="small-12 medium-4 column">
          <label for="legislation_question_title">Título de la pregunta</label>
        </div>
        <div class="small-12 medium-8 column">
          <textarea rows="5" name="legislation_question[title]" id="legislation_question_title">
Esta es mi pregunta</textarea>
          </div>
      </div>

      <div class="row legislation-questions-answers">
        <div class="small-12 medium-4 column">
          <label for="legislation_question_question_options">Respuestas</label>
        </div>
        
        <div class="small-12 medium-8 column">
          <div class="nested-fields">
            <div class="field">
              <div class="row">
                <div class="small-12 medium-9 column">
                  <input type="text" placeholder="respuesta" value="No" name="legislation_question[question_options_attributes][0][value]" id="legislation_question_question_options_attributes_0_value" />
                </div>
                <div class="small-12 medium-3 column">
                  <input type="hidden" name="legislation_question[question_options_attributes][0][_destroy]" id="legislation_question_question_options_attributes_0__destroy" value="false" /><a class="remove_fields existing" href="#"><span class="icon-x" aria-hidden="true"></span> <span>eliminar</span></a>
                </div>
                <input type="hidden" value="1" name="legislation_question[question_options_attributes][0][id]" id="legislation_question_question_options_attributes_0_id" />
              </div>
            </div>
          </div>
          
          <div class="nested-fields">
            <div class="field">
              <div class="row">
                <div class="small-12 medium-9 column">
                  <input type="text" placeholder="respuesta" value="Nunca" name="legislation_question[question_options_attributes][1][value]" id="legislation_question_question_options_attributes_1_value" />
                </div>
                <div class="small-12 medium-3 column">
                  <input type="hidden" name="legislation_question[question_options_attributes][1][_destroy]" id="legislation_question_question_options_attributes_1__destroy" value="false" /><a class="remove_fields existing" href="#"><span class="icon-x" aria-hidden="true"></span> <span>eliminar</span></a>
                </div>
                <input type="hidden" value="2" name="legislation_question[question_options_attributes][1][id]" id="legislation_question_question_options_attributes_1_id" />
              </div>
            </div>
          </div>
        </div>
        
        <div class="small-12 medium-8 column">
          <a class="add_fields" data-association="question_option" data-associations="question_options" data-association-insertion-template="&lt;div class=&quot;small-12 medium-8 column medium-offset-4&quot;&gt;
            &lt;div class=&quot;nested-fields&quot;&gt;
              &lt;div class=&quot;field&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                  &lt;div class=&quot;small-12 medium-9 column&quot;&gt;
                    &lt;input type=&quot;text&quot; placeholder=&quot;respuesta&quot; name=&quot;legislation_question[question_options_attributes][new_question_options][value]&quot; id=&quot;legislation_question_question_options_attributes_new_question_options_value&quot; /&gt;                &lt;/div&gt;
                  &lt;div class=&quot;small-12 medium-3 column&quot;&gt;
                    &lt;input type=&quot;hidden&quot; name=&quot;legislation_question[question_options_attributes][new_question_options][_destroy]&quot; id=&quot;legislation_question_question_options_attributes_new_question_options__destroy&quot; value=&quot;false&quot; /&gt;&lt;a class=&quot;remove_fields dynamic&quot; href=&quot;#&quot;&gt;&lt;span class=&quot;icon-x&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt; &lt;span&gt;eliminar&lt;/span&gt;&lt;/a&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;" href="#">+Añadir respuesta cerrada
          </a>
        </div>
      </div>

      <div class="row">
        <div class="actions small-12 medium-3 column legislation-process-save">
          <input type="submit" name="commit" value="Guardar cambios" class="button expanded" />
        </div>
      </div>
    </form>
    
  </div>
</div>
