<div class="legislation-hero no-margin-top brand-heading">
  <div class="row">
    <div class="small-12 medium-12 column padding">
      <h4>
        PROCESOS DESTACADOS
      </h4>
    </div>
  </div>
</div>

<div class="row">
  <div class="legislation-categories small-12 medium-3 column">
    <ul>
      <li class="active"><h4>Procesos activos</h4></li>
      <li><h4>Próximamente</h4></li>
      <li><h4>Terminados</h4></li>
    </ul>
  </div>

  <div id="legislation" class="legislation-list small-12 medium-9 column">
    <div id="legislation-list">

      <div id="proposal_1" class="legislation clear">
        <div class="column row legislation-text">
          <div class="small-12 medium-8 column">
            <div class="legislation-text">
              <h3><a href="legislation_debate.html">Licencias urbanísticas, declaraciones responsables y comunicaciones previas</a></h3>
              <p>Se va a modificar la regulación del procedimiento para la autorización de obras y la apertura de locales comerciales o empresariales para simplificar y agilizar trámites</p>
            </div>
          </div>

          <div id="proposal_6_votes" class="small-12 medium-4 column">
            <a class="button hollow big expanded" title="Apoyar esta propuesta" href="legislation_debate.html">
              <span class="icon-comments"></span>&nbsp; Ver últimas aportaciones
            </a>
          </div>
        </div>

        <div class="column row">
          <div class="small-12 column legislation-calendar-info">
            <p>Fechas clave:</p>
          </div>
        </div>

        <div class="column row small-collapse medium-uncollapse legislation-calendar">
          <div class="small-6 medium-3 column">
              <h5>Debate previo</h5>
              <p>15 nov 2016 - 15 dic 2016</p>
          </div>
          <div class="small-6 medium-3 column">
              <h5>Publicación borrador</h5>
              <p>1 dic 2016</p>
          </div>
          <div class="small-6 medium-3 column">
              <h5>Alegaciones</h5>
              <p>1 dic 2016 - 15 dic 2016</p>
          </div>
          <div class="small-6 medium-3 column">
              <h5>Publicación resultados</h5>
              <p>15 feb 2017</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
