<section class="debate-quiz">
  <div class="quiz-header row small-collapse">
    <div class="small-12 medium-9 column">
      <div class="quiz-title">
        <p class="quiz-header-title">Proceso de legislación colaborativa</p>
        <h4><a href="legislation_debate.html">Licencias urbanísticas, declaraciones responsables y comunicaciones previas</a></h4>
      </div>
    </div>
    <div class="small-12 medium-3 column">
      <a class="quiz-next-link" href="#"><div class="quiz-next">Siguiente pregunta <span class="icon-angle-right" aria-hidden="true"></span></div></a>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-9 column">
      <h3 class="quiz-question">¿Considera necesario realizar una nueva regulación para facilitar y simplificar las obras en viviendas, o la modificación y apertura de locales comerciales o empresariales?</h3>
      <div class="debate-questions">
        <form class="controls-stacked">
          <label class="active control radio">
            <input id="quiz-1" name="radio" type="radio">
            <span class="control-indicator"></span>
            Sí
          </label>
          <label class="control radio">
            <input id="quiz-2" name="radio" type="radio">
            <span class="control-indicator"></span>
            No
          </label>
          <label class="control radio">
            <input id="quiz-3" name="radio" type="radio">
            <span class="control-indicator"></span>
            No tengo información suficiente
          </label>
        </form>
      </div>
    </div>

    <aside class="small-12 medium-3 column">
      <div id="social-share" class="sidebar-divider"></div>
      <h3>Compartir</h3>
      <div class="social-share-full">
          <div class="social-share-button" data-title="Soluta sed sapiente dolores. #consul_dev" data-img="" data-url="" data-desc="" data-via="">
            <a rel="nofollow " data-site="twitter" class="ssb-icon ssb-twitter" onclick="return SocialShareButton.share(this);" title="Compartir en Twitter" href="#"><span class="show-for-sr">twitter</span></a>
            <a rel="nofollow " data-site="facebook" class="ssb-icon ssb-facebook" onclick="return SocialShareButton.share(this);" title="Compartir en Facebook" href="#"><span class="show-for-sr">facebook</span></a>
            <a rel="nofollow " data-site="google_plus" class="ssb-icon ssb-google_plus" onclick="return SocialShareButton.share(this);" title="Compartir en Google+" href="#"><span class="show-for-sr">google_plus</span></a>
          </div>
        </div>
    </div>
  </div>
</section>

<hr />

<div class="row">
  <div class="small-12 column">
    COMENTARIOS
  </div>
</div>
