<div class="legislation-hero no-margin-top grey-heading">
  <div class="row headline">
    <div class="small-12 medium-7 column">
      <p>Colabora en la elaboración de la normativa sobre</p>
      <h2>
        Licencias urbanísticas, declaraciones responsables y comunicaciones previas
      </h2>
    </div>
    <div class="small-12 medium-4 column right">
      <a class="button-subscribe expanded button strong" title="Suscríbete al proceso" data-remote="true" rel="nofollow" data-method="post" href="/proposals/6-soluta-sed-sapiente-dolores/vote?value=yes">
        <h3>Suscríbete al proceso</h3>
        <p>Recibe notificaciones clave sobre el proceso</p>
      </a>
    </div>
  </div>

  <div class="row description">
    <div class="small-12 medium-4 column">
      <h4>En qué consiste</h4>
      <p>Se va a modificar la regulación del procedimiento para la autorización de obras y la apertura de locales comerciales o empresariales para simplificar y agilizar trámites.</p>
    </div>
    <div class="small-12 medium-4 column">
      <h4>A quién va dirigido</h4>
      <ul>
        <li>Ciudadanos con vivienda en propiedad</li>
        <li>Profesionales de la construcción y reformas</li>
        <li>Empresarios con locales comerciales</li>
      </ul>
    </div>
    <div class="small-12 medium-4 column">
      <h4>Cómo puedes participar</h4>
      <ul>
        <li><strong>Participa en el debate previo</strong> para identificar los problemas a solucionar, la necesidad de esta normativa, sus objetivos y posibles soluciones alternativas.</li>
        <li>Después del debate el Ayuntamiento presentará un borrador del texto al cual podrás realizar <strong>comentarios y alegaciones</strong>.</li>
      </ul>
    </div>
    <div id="debate-info" class="small-12 column">
      <div class="debate-info-wrapper">
        <h2>En qué consiste</h2>
        <p>El ayuntamiento de Madrid somete...</p>
      </div>
    </div>
  </div>

  <div class="text-center half-gradient">
    <a id="js-toggle-debate" class="button big center strong" title="Suscríbete al proceso">
      Más información y contexto
    </a>
  </div>
</div>

<div class="column row">
  <%= render 'sandbox/legislation_process_nav' %>

  <div class="debate-chooser">
    <div class="row">
        <div class="debate-draft">

          <div class="small-12 medium-7 column">
            <h3>Esta fase del proceso todavía no está abierta</h3>
            <p>Suscríbete al proceso para recibir un aviso en el momento en que se abra.</p>
          </div>

          <div class="small-12 medium-5 column">
            <button class="button-subscribe expanded button strong" title="Suscríbete al proceso" href="/proposals/6-soluta-sed-sapiente-dolores/vote?value=yes">
              <h3>Suscríbete al proceso</h3>
              <p>Recibe notificaciones clave sobre el proceso</p>
            </button>
          </div>

        </div>
    </div>
  </div>
</div>
