<div class="legislation-hero no-margin-top grey-heading">
  <div class="row headline">
    <div class="small-12 medium-7 column">
      <p>Colabora en la elaboración de la normativa sobre</p>
      <h2>
        Licencias urbanísticas, declaraciones responsables y comunicaciones previas
      </h2>
    </div>
    <div class="small-12 medium-4 column right">
      <a class="button-subscribe expanded button strong" title="Suscríbete al proceso" href="#">
        <h3>Suscríbete al proceso</h3>
        <p>Recibe notificaciones clave sobre el proceso</p>
      </a>
    </div>
  </div>

  <div class="row description">
    <div class="small-12 medium-4 column">
      <h4>En qué consiste</h4>
      <p>Se va a modificar la regulación del procedimiento para la autorización de obras y la apertura de locales comerciales o empresariales para simplificar y agilizar trámites.</p>
    </div>
    <div class="small-12 medium-4 column">
      <h4>A quién va dirigido</h4>
      <ul>
        <li>Ciudadanos con vivienda en propiedad</li>
        <li>Profesionales de la construcción y reformas</li>
        <li>Empresarios con locales comerciales</li>
      </ul>
    </div>
    <div class="small-12 medium-4 column">
      <h4>Cómo puedes participar</h4>
      <ul>
        <li><strong>Participa en el debate previo</strong> para identificar los problemas a solucionar, la necesidad de esta normativa, sus objetivos y posibles soluciones alternativas.</li>
        <li>Después del debate el Ayuntamiento presentará un borrador del texto al cual podrás realizar <strong>comentarios y alegaciones</strong>.</li>
      </ul>
    </div>
    <div id="debate-info" class="small-12 column">
      <div class="debate-info-wrapper">
        <h2>En qué consiste</h2>
        <p>1.Esta Ordenanza tiene por objeto establecer las condiciones generales que deben cumplir los distintos elementos integrados en el denominado mobiliario urbano, tanto en lo que se refiere a su emplazamiento como a las características propias de dichos elementos.</p>

        <p>2.Para determinar las condiciones relativas a la explotación del mobiliario urbano y a los requisitos que, en su caso, hayan de reunir los respectivos titulares, se estará a la normativa específica establecida para los distintos elementos y a las señaladas en el título que autorice su instalación y funcionamiento.</p>

        <h2>Preámbulo</h2>
        <p>3.El mobiliario urbano deberá cumplir los criterios estéticos y de diseño para las distintas zonas de Madrid, aprobados por el titular del Área de Gobierno competente en materia de mobiliario urbano. En aquellos casos en los que la normativa aplicable así lo exija, deberá obtenerse dictamen de la comisión competente en materia de protección del patrimonio histórico y artístico.</p>

        <p>(redacción dada por la Ordenanza de 30 de marzo 2011 de Adaptación al ámbito de la Ciudad de Madrid de las previsiones contenidas en la normativa estatal y autonómica de transposición de la Directiva 2006/123/CE)</p>
      </div>
    </div>
  </div>

  <div class="text-center half-gradient">
    <a id="js-toggle-debate" class="button big center strong" title="Más información y contexto">
      Más información y contexto
    </a>
  </div>
</div>

<div class="column row">
  <%= render 'sandbox/legislation_process_nav' %>

  <div class="debate-chooser">
    <div class="row">
      <div class="small-12 medium-9 column">
        <div class="debate-list">
          <div class="debate-block">
            <div class="debate-type">
              Debate <span class="icon-debates" aria-hidden="true"></span>
            </div>
            <div class="debate-title">
              <h4><a href="legislation_debate_quiz.html">¿Qué medidas podría adoptar el Ayuntamiento de Madrid para facilitar y agilizar la autorización para la realización de obras y la apertura de locales comerciales o empresariales?</a></h4>
            </div>
            <div class="debate-meta">
              <span class="icon-comments" aria-hidden="true"></span> <span class="debate-comments"><a href="#">Sin comentarios</a></span> · <span class="debate-date">27/11/2016
            </div>
          </div>

          <div class="debate-block">
            <div class="debate-type">
              Debate <span class="icon-debates" aria-hidden="true"></span>
            </div>
            <div class="debate-title">
              <h4><a href="#">¿En el ámbito de las autorizaciones urbanísticas, es partidario de que se modifique el papel que juegan las empresas privadas acreditadas (ECU) para que también puedan facilitar las gestiones en las obras que realicen los particulares en sus viviendas u otras actuaciones similares?</a></h4>
            </div>
            <div class="debate-meta">
              <span class="icon-comments" aria-hidden="true"></span> <span class="debate-comments"><a href="#">Sin comentarios</a></span> · <span class="debate-date">27/11/2016
            </div>
          </div>

          <div class="debate-block">
            <div class="debate-type">
              Debate <span class="icon-debates" aria-hidden="true"></span>
            </div>
            <div class="debate-title">
              <h4><a href="#">¿Qué medidas podría adoptar el Ayuntamiento de Madrid para facilitar y agilizar la autorización para la realización de obras y la apertura de locales comerciales o empresariales?</a></h4>
            </div>
            <div class="debate-meta">
              <span class="icon-comments" aria-hidden="true"></span> <span class="debate-comments"><a href="#">Sin comentarios</a></span> · <span class="debate-date">27/11/2016
            </div>
          </div>

          <div class="debate-block">
            <div class="debate-type">
              Debate <span class="icon-debates" aria-hidden="true"></span>
            </div>
            <div class="debate-title">
              <h4><a href="#">¿En el ámbito de las autorizaciones urbanísticas, es partidario de que se modifique el papel que juegan las empresas privadas acreditadas (ECU) para que también puedan facilitar las gestiones en las obras que realicen los particulares en sus viviendas u otras actuaciones similares?</a></h4>
            </div>
            <div class="debate-meta">
              <span class="icon-comments" aria-hidden="true"></span> <span class="debate-comments"><a href="#">Sin comentarios</a></span> · <span class="debate-date">27/11/2016
            </div>
          </div>

          <div class="debate-block">
            <div class="debate-type">
              Debate <span class="icon-debates" aria-hidden="true"></span>
            </div>
            <div class="debate-title">
              <h4><a href="#">¿Qué medidas podría adoptar el Ayuntamiento de Madrid para facilitar y agilizar la autorización para la realización de obras y la apertura de locales comerciales o empresariales?</a></h4>
            </div>
            <div class="debate-meta">
              <span class="icon-comments" aria-hidden="true"></span> <span class="debate-comments"><a href="#">Sin comentarios</a></span> · <span class="debate-date">27/11/2016
            </div>
          </div>

          <div class="debate-block">
            <div class="debate-type">
              Debate <span class="icon-debates" aria-hidden="true"></span>
            </div>
            <div class="debate-title">
              <h4><a href="#">¿En el ámbito de las autorizaciones urbanísticas, es partidario de que se modifique el papel que juegan las empresas privadas acreditadas (ECU) para que también puedan facilitar las gestiones en las obras que realicen los particulares en sus viviendas u otras actuaciones similares?</a></h4>
            </div>
            <div class="debate-meta">
              <span class="icon-comments" aria-hidden="true"></span> <span class="debate-comments"><a href="#">Sin comentarios</a></span> · <span class="debate-date">27/11/2016
            </div>
          </div>
        </div>
      </div>

      <div class="small-12 medium-3 column">
        <div class="debate-info">Realiza tus aportaciones al debate previo participando en los siguientes temas.</div>
      </div>

    </div>
  </div>
</div>
