<div class="legislation-hero legislation-allegation no-margin-top grey-heading">
  <div class="row headline">
    <div class="small-12 medium-7 column">
      <h3>
        Licencias urbanísticas, declaraciones responsables y comunicaciones previas
      </h3>
    </div>
    <div class="small-12 medium-4 column right">
      <a class="button-subscribed expanded button strong" title="Suscríbete al proceso" data-remote="true" rel="nofollow" data-method="post" href="/proposals/6-soluta-sed-sapiente-dolores/vote?value=yes">
        <span class="icon-checkmark-circle" aria-hidden="true"></span>
        <h3>Suscrito</h3>
      </a>
    </div>
  </div>

  <div class="text-center half-gradient">
    <a class="button big center button-circle" title="Suscríbete al proceso" data-remote="true" rel="nofollow" data-method="post" href="/proposals/6-soluta-sed-sapiente-dolores/vote?value=yes">
      <span class="icon-angle-down" aria-hidden="true"></span>
    </a>
  </div>
</div>

<div class="column row">
  <%= render 'sandbox/legislation_process_nav' %>

  <div class="draft-panels small-12 column row">
    <div class="row draft-chooser">
      <div class="small-12 medium-9 column">
        <h3>Estás viendo la revisión</h3>
        <div class="select-box">
          <select aria-label="Seleccionar borrador">
            <option selected="">número 3 del borrador</option>
            <option value="1">número 2 del borrador</option>
            <option value="2">número 1 del borrador</option>
          </select>
        </div>
        <span>actualizada el 13 nov 2017</span>
      </div>
      <div class="small-12 medium-3 column">
        <a class="button strong" title="Suscríbete al proceso" href="legislation_allegations.html">Ver borrador del texto</a>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-8 column legislation-changes">
        <p>El 12 nov 2016 se publica un nuevo borrador de la normativa sobre Licencias urbanísticas, que incorpora las aportaciones de la ciudadanía realizadas a través de la web de decide.madrid.es. A continuación se detallan los principales cambios que se han introducido en el texto:</p>

        <ul>
          <li>Se detalla el ámbito de actuación <span class="changes-link"><a href="#"><span>ver apartado</span> <span class="icon-external" aria-hidden="true"></span></a></span></li>
          <li>Se reescribe la introducción al Capítulo I para incorporar sugerencias ciudadanas <span class="changes-link"><a href="#"><span>ver apartado</span> <span class="icon-external" aria-hidden="true"></span></a></span></li>
          <li>Se detalla el ámbito de actuación <span class="changes-link"><a href="#"><span>ver apartado</span> <span class="icon-external" aria-hidden="true"></span></a></span></li>
          <li>Se reescribe la introducción al Capítulo I para incorporar sugerencias ciudadanas <span class="changes-link"><a href="#"><span>ver apartado</span> <span class="icon-external" aria-hidden="true"></span></a></span></li>
          <li>Se detalla el ámbito de actuación <span class="changes-link"><a href="#"><span>ver apartado</span> <span class="icon-external" aria-hidden="true"></span></a></span></li>
          <li>Se reescribe la introducción al Capítulo I para incorporar sugerencias ciudadanas <span class="changes-link"><a href="#"><span>ver apartado</span> <span class="icon-external" aria-hidden="true"></span></a></span></li>
        </ul>
      </div>
    </div>
</div>
