<div class="legislation-hero legislation-allegation no-margin-top grey-heading">
  <div class="row headline">
    <div class="small-12 medium-7 column">
      <h3>
        Licencias urbanísticas, declaraciones responsables y comunicaciones previas
      </h3>
    </div>
    <div class="small-12 medium-4 column right">
      <a class="button-subscribed expanded button strong" title="Suscríbete al proceso" data-remote="true" rel="nofollow" data-method="post" href="/proposals/6-soluta-sed-sapiente-dolores/vote?value=yes">
        <span class="icon-checkmark-circle" aria-hidden="true"></span>
        <h3>Suscrito</h3>
      </a>
    </div>
  </div>

  <div id="debate-info" class="row description">
    <div class="small-12 medium-4 column">
      <h4>En qué consiste</h4>
      <p>Se va a modificar la regulación del procedimiento para la autorización de obras y la apertura de locales comerciales o empresariales para simplificar y agilizar trámites.</p>
    </div>
    <div class="small-12 medium-4 column">
      <h4>A quién va dirigido</h4>
      <ul>
        <li>Ciudadanos con vivienda en propiedad</li>
        <li>Profesionales de la construcción y reformas</li>
        <li>Empresarios con locales comerciales</li>
      </ul>
    </div>
    <div class="small-12 medium-4 column">
      <h4>Cómo puedes participar</h4>
      <ul>
        <li><strong>Participa en el debate previo</strong> para identificar los problemas a solucionar, la necesidad de esta normativa, sus objetivos y posibles soluciones alternativas.</li>
        <li>Después del debate el Ayuntamiento presentará un borrador del texto al cual podrás realizar <strong>comentarios y alegaciones</strong>.</li>
      </ul>
    </div>
    <div class="small-12 column">
      <div class="debate-info-wrapper">
        <h2>En qué consiste</h2>
        <p>El ayuntamiento de Madrid somete...</p>
      </div>
    </div>
  </div>

  <div class="text-center half-gradient">
    <a id="js-toggle-debate" class="button big text-center button-circle" title="Suscríbete al proceso">
      <span class="icon-angle-down" aria-hidden="true"></span>
    </a>
  </div>
</div>

<div class="column row">
  <%= render 'sandbox/legislation_process_nav' %>

  <div class="draft-panels small-12 column row">
    <div class="row draft-chooser">
      <div class="small-12 medium-9 column">
        <h3>Estás viendo la revisión</h3>
        <div class="select-box">
          <select aria-label="Seleccionar borrador">
            <option selected="">número 3 del borrador</option>
            <option value="1">número 2 del borrador</option>
            <option value="2">número 1 del borrador</option>
          </select>
          <span><a href="legislation_draft_changes.html">ver resumen de cambios</a></span>
        </div>
        <span>actualizada el 13 nov 2017</span>
      </div>
      <div class="small-12 medium-3 column">
        <a class="button strong" title="Ver todos los comentarios" href="legislation_draft_comments.html">Ver todos los comentarios</a>
      </div>
    </div>

    <div class="row draft-allegation medium-collapse">
      <div class="small-12 calc-index column border-right js-toggle-allegations">
        <div class="draft-panel">
          <div>
            <span class="icon-banner" aria-hidden="true"></span> <span class="panel-title">Índice</span>
          </div>
        </div>

        <div class="draft-index-rotated text-center">
          <span class="panel-title">Índice</span>
        </div>

        <div class="draft-index">
          <table>
            <tbody>
              <tr>
                <td class="item_name collapse-all">
                  <span class="icon-plus-square" aria-hidden="true"></span>
                  <a href="#">Desplegar todo</a>
                </td>
              </tr>

              <tr>
                <td class="item_name">
                  <span class="icon-plus-square" aria-hidden="true"></span>
                  <a href="#">Título preliminar. Objeto y definiciones</a>
                    <tr class="child_group">
                      <td colspan="5">
                        <div class="child_tb_cont">
                          <table>
                            <tbody>
                              <tr>
                                <td class="item_name">
                                  <span class="icon-plus-square" aria-hidden="true"></span>
                                  <a href="#">Artículo 1</a>
                                </td>
                              </tr>
                              <tr>
                                <td class="item_name">
                                  <span class="icon-plus-square" aria-hidden="true"></span>
                                  <a href="#">Artículo 2</a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </td>
                </tr>

              <tr>
                <td class="item_name">
                  <span class="icon-plus-square" aria-hidden="true"></span>
                  <a href="#">TÍTULO I. De los emplazamientos del mobiliario urbano</a>
                </td>
              </tr>

              <tr>
                <td class="item_name">
                  <span class="icon-plus-square" aria-hidden="true"></span>
                  <a href="#">TÍTULO II. De los emplazamientos del mobiliario urbano</a>
                </td>
              </tr>

              <tr>
                <td class="item_name">
                  <span class="icon-plus-square" aria-hidden="true"></span>
                  <a href="#">TÍTULO III. De los emplazamientos del mobiliario urbano</a>
                </td>
              </tr>

              <tr>
                <td class="item_name">
                  <span class="icon-plus-square" aria-hidden="true"></span>
                  <a href="#">TÍTULO IV. De los emplazamientos del mobiliario urbano</a>
                </td>
              </tr>

              <tr>
                <td class="item_name">
                  <span class="icon-plus-square" aria-hidden="true"></span>
                  <a href="#">TÍTULO V. De los emplazamientos del mobiliario urbano</a>
                </td>
              </tr>
          </table>
        </div>
      </div>
      <div class="small-12 calc-text column border-right">
        <div class="draft-panel">
          <div><span class="panel-title">Texto</span></div>
        </div>
        <div class="draft-text">
          <h2>TÍTULO PRELIMINAR. Objeto y definiciones</h2>
          <a href="#articulo-1"><h3 id="articulo-1" class="anchor">Artículo 1.</h3></a>
          <div class="show-comments">
            <p>1.Esta Ordenanza tiene por objeto establecer las condiciones generales que deben cumplir los distintos elementos integrados  en  el  denominado  mobiliario  urbano,  tanto  en  lo  que  se  refiere  a  su  emplazamiento  como  a  las características propias de dichos elementos.</p>
          </div>
          <p>2.Para determinar las condiciones relativas a la explotación del mobiliario urbano y a los requisitos que, en su caso, hayan de reunir los respectivos titulares, se estará a la normativa específica establecida para los distintos elementos y a las señaladas en el título que autorice su instalación y funcionamiento.</p>
          <p>3.El mobiliario urbano deberá cumplir los criterios estéticos y de diseño para las distintas zonas de Madrid, aprobados por el titular del Área de Gobierno competente en materia de mobiliario urbano. En aquellos casos en los que la normativa aplicable así lo exija, deberá obtenerse dictamen de la comisión competente en materia de protección del patrimonio histórico y artístico.</p>
          <p>(redacción dada por la Ordenanza de 30 de marzo 2011 de Adaptación al ámbito de la Ciudad de Madrid de las previsiones contenidas en la normativa estatal y autonómica de transposición de la Directiva 2006/123/CE)</p>

          <a href="#articulo-2"><h3 id="articulo-2" class="anchor">Artículo 2.</h3></a>
          <p>1. A los efectos de esta Ordenanza se entiende por mobiliario urbano el conjunto de instalaciones o elementos que ocupan un espacio público, y cuya finalidad sea la de atender una necesidad social o prestar un determinado servicio al vecindario.</p>
          <div class="show-comments">
            <p>2.En el concepto indicado estarán incluidas tanto las instalaciones y elementos de titularidad pública, explotados directamente  o  por  concesión:  bancos,  bolardos,  marquesinas,  papeleras,  etcétera,  como  los  colocados  por particulares, previa autorización municipal, tales como quioscos o puestos fijos, de temporada u ocasionales.</p>
          </div>
          <p>(apartado 2 del art. 2, redacción dada por la Ordenanza de 30 de marzo 2011 de Adaptación al ámbito de la Ciudad de Madrid de las previsiones contenidas en la normativa estatal y autonómica de transposición de la Directiva 2006/123/ CE)</p>

          <a href="#articulo-3"><h3 id="articulo-3" class="anchor">Artículo 3.</h3></a>
          <p>Constituirá criterio general para la implantación de mobiliario urbano la armonización de las finalidades asignadas al mismo con las funciones generales de los espacios públicos, la coordinación de los distintos elementos procurando, cuando fuera posible, la polivalencia de cada uno de ellos para evitar la ocupación intensiva de aquellos espacios y la adecuación, tanto por su emplazamiento como por su diseño, al entono urbano en que se localicen.</p>
          <h2>TÍTULO I.  DE LOS EMPLAZAMIENTOS DE MOBILIARIO URBANO</h2>

          <a href="#articulo-4"><h3 id="articulo-4" class="anchor">Artículo 4.</h3></a>
          <p>Cuando  se  trate  de  mobiliario  urbano  de  titularidad  pública,  el  número,  localización  y  características  de  sus emplazamientos estará determinado en el correspondiente acuerdo de implantación o bases de concesión, si fuera municipal, y en el de autorización, si fuese promovido por otras entidades.</p>

          <a href="#articulo-5"><h3 id="articulo-5" class="anchor">Artículo 5.</h3></a>

          <p>Los interesados tendrán reconocidos específicamente, además de los establecidos con carácter general en otras normas, los siguientes derechos:
          <p>1. Iniciar inmediatamente el ejercicio de la actividad cuando esté sometida a declaración responsable, o una vez obtenida la licencia de primera ocupación y funcionamiento.</p>
          <p>2. Obtener la licencia de actividad y funcionamiento en el plazo establecido en cada caso, sin perjuicio de los efectos establecidos en la legislación aplicable en el ámbito del silencio administrativo.</p>
          <p>3. No presentar documentación que obre en poder de los servicios municipales</p>
          <p>4.  Presentar  quejas,  reclamaciones  y  sugerencias  sobre  el  funcionamiento  de  los  servicios  municipales y  de  las entidades colaboradoras urbanísticas.</p>

          <a href="#articulo-6"><h3 id="articulo-6" class="anchor">Artículo 6.</h3></a>
          <div class="show-comments">
            <p>1. Durante la realización de las obras o la implantación de la actividad y previamente al acto de comprobación, no se considerarán modificación de la licencia o de la declaración responsable las alteraciones que se hayan producido en  el  edificio,  local  o  sus  instalaciones  cuando  las  mismas  se  ajusten  a  la  normativa  que  las  regula,  salvo  que afecten a las condiciones de volumen y forma de los edificios, a la posición y ocupación del edificio en la parcela, a la edificabilidad o superficie del local, al número de locales. Si no se ajustasen se aplicarán los mecanismos de restablecimiento de la legalidad urbanística.</p>
          </div>

          <p>Se considerará modificación el cambio de actividad, salvo que la nueva actividad o la inicial con la incorporación de alguna complementaria de ella, tenga la misma consideración y exigencias urbanísticas, ambientales, de seguridad y salubridad. Las variaciones producidas se relacionarán en el acta de comprobación, sin necesidad de tramitar licencia o declaración aparte, quedando legalizadas con la concesión de la licencia de primera ocupación y funcionamiento o el acto de comprobación posterior. Cuando las variaciones se hayan concretado en obras que requieran proyecto de obras de edificación de acuerdo con el artículo 2.2 de la Ley de Ordenación de la Edificación se incorporará el correspondiente proyecto modificado.</p>
          <p>2.  Durante  el  ejercicio  de  las  actividades  con  licencia  o  declaración  responsable,  y  con  las  mismas  salvedades indicadas en el punto 1, no se considerará modificación de la licencia o declaración las variaciones que se hayan producido en la actividad, el local o sus instalaciones cuando no alteren las condiciones de repercusión ambiental, seguridad o salubridad por debajo de las exigencias técnicas establecidas para las mismas por la normativa vigente. Tampoco  se  considerará  modificación  el  cambio  de  actividad  o  la  incorporación  de  alguna  complementaria  a  la misma cuando esta tenga la misma consideración y exigencias urbanísticas, ambientales, de seguridad y salubridad que la primera.</p>
          <p>Las obras que han dado lugar a estas variaciones se legalizarán a través de licencia o declaración responsable, dependiendo  de  la  entidad  de  las  mismas.  La  licencia  que  se  conceda  o  la  declaración  se  limitarán  a  recoger  el contenido de la modificación, haciendo referencia a la licencia del establecimiento.</p>
          <p>3. En el caso de actividades de espectáculos públicos y recreativas también se considerará modificación de licenciao declaración responsable el cambio de actividad de las indicadas en el Catálogo, así como el incremento del aforo.</p>
          <p>4. Cuando la modificación sea requerida de oficio, el requerimiento indicará las alteraciones existentes, motivando la necesidad de la modificación de la licencia o de la declaración responsable.</p>
          <p>5. Durante la ejecución de las obras autorizadas no precisarán modificación de licencia las variaciones en el número de  plazas  de  aparcamiento  que  no  supongan  disminución  de  la  dotación  obligatoria  de  servicio  del  edificio,  sin perjuicio de su constancia documentada en el expediente.</p>
        </div>
      </div>

      <div class="small-12 calc-comments end column js-toggle-allegations">
        <div class="draft-panel">
          <div>
            <span class="icon-comments" aria-hidden="true"></span> <span class="panel-title">Comentarios</span>
          </div>
        </div>

        <div class="draft-comments-rotated text-center">
          <span class="panel-title">Comentarios</span>
        </div>

        <div class="comment-box">
          <div class="comment-header">
            <span class="icon-comment" aria-hidden="true"></span>
            <div class="comment-number">34 comentarios</div>
            <a href="legislation_draft_comment.html"><span class="icon-expand" aria-hidden="true"></span></a>
          </div>
          <div class="comments-wrapper">
            <div class="comment">
              <div class="comment-text">
                <p>Mi comentario va encaminado a que no nos equivoquemos al pensar que esta es una opci...</p>
              </div>
              <div class="comment-meta">
                <div class="comment-more-info">
                  <div class="comment-expand">
                    <a href="#">Ver completo</a>
                  </div>
                  <div class="comment-replies">
                    <a href="#">3 respuestas</a>
                  </div>
                </div>
                <div class="comment-votes">
                  <div class="comment-votes-number">Sin votos</div>
                  <span class="icon-like" aria-hidden="true">0</span>
                  <span class="icon-unlike" aria-hidden="true">0</span>
                </div>
              </div>
            </div>

            <div class="comment">
              <div class="comment-text">
                <p>Mi comentario va encaminado a que no nos equivoquemos al pensar que esta es una opci...</p>
              </div>
              <div class="comment-meta">
                <div class="comment-more-info">
                  <div class="comment-expand">
                    <a href="#">Ver completo</a>
                  </div>
                  <div class="comment-replies">
                    <a href="#">3 respuestas</a>
                  </div>
                </div>
                <div class="comment-votes">
                  <div class="comment-votes-number">Sin votos</div>
                  <span class="icon-like" aria-hidden="true">0</span>
                  <span class="icon-unlike" aria-hidden="true">0</span>
                </div>
              </div>
            </div>

            <div class="comment">
              <div class="comment-text">
                <p>Mi comentario va encaminado a que no nos equivoquemos al pensar que esta es una opci...</p>
              </div>
              <div class="comment-meta">
                <div class="comment-more-info">
                  <div class="comment-expand">
                    <a href="#">Ver completo</a>
                  </div>
                  <div class="comment-replies">
                    <a href="#">3 respuestas</a>
                  </div>
                </div>
                <div class="comment-votes">
                  <div class="comment-votes-number">Sin votos</div>
                  <span class="icon-like" aria-hidden="true">0</span>
                  <span class="icon-unlike" aria-hidden="true">0</span>
                </div>
              </div>
            </div>
          </div>
          <div class="comment-footer">
            <a class="button strong" title="Ver todos" href="#">Ver todos</a>
            <a class="button strong publish-comment" title="Publicar comentario" href="#">Publicar comentario</a>
          </div>
        </div>

        <div class="comment-box">
          <div class="comment-header">
            <span class="icon-comment" aria-hidden="true"></span>
            <div class="comment-number">34 comentarios</div>
            <a href="legislation_comment.html"><span class="icon-expand" aria-hidden="true"></span></a>
          </div>
          <div class="comments-wrapper">
            <div class="comment">
              <div class="comment-text">
                <p>Mi comentario va encaminado a que no nos equivoquemos al pensar que esta es una opci...</p>
              </div>
              <div class="comment-meta">
                <div class="comment-more-info">
                  <div class="comment-expand">
                    <a href="#">Ver completo</a>
                  </div>
                  <div class="comment-replies">
                    <a href="#">3 respuestas</a>
                  </div>
                </div>
                <div class="comment-votes">
                  <div class="comment-votes-number">Sin votos</div>
                  <span class="icon-like" aria-hidden="true">0</span>
                  <span class="icon-unlike" aria-hidden="true">0</span>
                </div>
              </div>
            </div>

            <div class="comment">
              <div class="comment-text">
                <p>Mi comentario va encaminado a que no nos equivoquemos al pensar que esta es una opci...</p>
              </div>
              <div class="comment-meta">
                <div class="comment-more-info">
                  <div class="comment-expand">
                    <a href="#">Ver completo</a>
                  </div>
                  <div class="comment-replies">
                    <a href="#">3 respuestas</a>
                  </div>
                </div>
                <div class="comment-votes">
                  <div class="comment-votes-number">Sin votos</div>
                  <span class="icon-like" aria-hidden="true">0</span>
                  <span class="icon-unlike" aria-hidden="true">0</span>
                </div>
              </div>
            </div>

            <div class="comment">
              <div class="comment-text">
                <p>Mi comentario va encaminado a que no nos equivoquemos al pensar que esta es una opci...</p>
              </div>
              <div class="comment-meta">
                <div class="comment-more-info">
                  <div class="comment-expand">
                    <a href="#">Ver completo</a>
                  </div>
                  <div class="comment-replies">
                    <a href="#">3 respuestas</a>
                  </div>
                </div>
                <div class="comment-votes">
                  <div class="comment-votes-number">Sin votos</div>
                  <span class="icon-like" aria-hidden="true">0</span>
                  <span class="icon-unlike" aria-hidden="true">0</span>
                </div>
              </div>
            </div>
          </div>

          <div class="comment-input">
            <div class="comment-advice">
              <span class="icon-proposals" aria-hidden="true"></span>
              <a href="#">Recomendaciones para un debate constructivo :)</a>
            </div>

            <textarea></textarea>

            <div class="comment-actions">
              <a class="cancel-comment" href="#">Cancelar</a>
              <a class="button strong publish-comment" title="Publicar comentario" href="#">Publicar comentario</a>
            </div>
          </div>
          <div class="comment-footer">
            <a class="button strong" title="Ver todos" href="#">Ver todos</a>
          </div>
        </div>

        <div class="comment-box">
          <div class="comment-header">
            <span class="icon-comment" aria-hidden="true"></span>
            <div class="comment-number">34 comentarios</div>
            <a href="legislation_comment.html"><span class="icon-expand" aria-hidden="true"></span></a>
          </div>
          <div class="comments-wrapper">
            <div class="comment">
              <div class="comment-text">
                <p>En la actualidad, el número de autobuses de la EMT suman 1.900 de los cuales 740 funcionan con gas natural (el 42%), con los 170 que se van a adquirir en 2016, el cómputo sube a 900, lo que significa casi el 50% del total. Con tecnología híbrida existen 23 y se prevé comprar 30 más, lo que supone 53 vehículos, y hay 20 minibuses eléctricos puros. Por último, el 80% de los autobuses de diésel están catalizados a niveles euro4 y euro5 (470), “con lo que podríamos asegurar que el 78% de nuestra flota es verde.</p>
                <p>En la actualidad, el número de autobuses de la EMT suman 1.900 de los cuales 740 funcionan con gas natural (el 42%), con los 170 que se van a adquirir en 2016, el cómputo sube a 900, lo que significa casi el 50% del total. Con tecnología híbrida existen 23 y se prevé comprar 30 más, lo que supone 53 vehículos, y hay 20 minibuses eléctricos puros. Por último, el 80% de los autobuses de diésel están catalizados a niveles euro4 y euro5 (470), “con lo que podríamos asegurar que el 78% de nuestra flota es verde.</p>
              </div>
              <div class="comment-meta">
                <div class="comment-more-info">
                  <div class="comment-replies">
                    <a href="#">3 respuestas</a>
                  </div>
                </div>
                <div class="comment-votes">
                  <div class="comment-votes-number">Sin votos</div>
                  <span class="icon-like" aria-hidden="true">0</span>
                  <span class="icon-unlike" aria-hidden="true">0</span>
                </div>
              </div>
            </div>

            <div class="comment">
              <div class="comment-text">
                <p>Mi comentario va encaminado a que no nos equivoquemos al pensar que esta es una opci...</p>
              </div>
              <div class="comment-meta">
                <div class="comment-more-info">
                  <div class="comment-expand">
                    <a href="#">Ver completo</a>
                  </div>
                  <div class="comment-replies">
                    <a href="#">3 respuestas</a>
                  </div>
                </div>
                <div class="comment-votes">
                  <div class="comment-votes-number">Sin votos</div>
                  <span class="icon-like" aria-hidden="true">0</span>
                  <span class="icon-unlike" aria-hidden="true">0</span>
                </div>
              </div>
            </div>

            <div class="comment">
              <div class="comment-text">
                <p>Mi comentario va encaminado a que no nos equivoquemos al pensar que esta es una opci...</p>
              </div>
              <div class="comment-meta">
                <div class="comment-more-info">
                  <div class="comment-expand">
                    <a href="#">Ver completo</a>
                  </div>
                  <div class="comment-replies">
                    <a href="#">3 respuestas</a>
                  </div>
                </div>
                <div class="comment-votes">
                  <div class="comment-votes-number">Sin votos</div>
                  <span class="icon-like" aria-hidden="true">0</span>
                  <span class="icon-unlike" aria-hidden="true">0</span>
                </div>
              </div>
            </div>
          </div>
          <div class="comment-footer">
            <a class="button strong" title="Ver todos" href="#">Ver todos</a>
            <a class="button strong publish-comment" title="Publicar comentario" href="#">Publicar comentario</a>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
