<div class="row">
  <div class="more-information small-12 medium-9 large-7 column">
    <h1>Más información</h1>
    <ul class="no-bullet">
      <li>
        <a href="/how_it_works">
          ¿Cómo funciona este Portal de Gobierno Abierto?
          <br>
          <span>Descubre todo lo que puedes hacer en esta web</span>
</a>      </li>
      <li>
      <a href="/how_to_use">
          Utilízalo en tu municipio
          <br>
          <span>Utilízalo libremente o ayúdanos a mejorarlo, es software libre</span>
</a>      </li>
      <li>
      <a href="/participation">
          Participación y Transparencia - Próximas novedades
          <br>
          <span>Participación Ciudadana, Transparencia y Gobierno Abierto</span>
</a>      </li>
      <li>
      <a href="/proposals_info">
          ¿Cómo funcionan las propuestas ciudadanas?
          <br>
          <span>Crea tus propias propuestas</span>
</a>      </li>
      <li>
      <a href="/spending_proposals_info">
          ¿Cómo funcionan los presupuestos participativos?
          <br>
          <span>Envía tus propuestas de gasto</span>
</a>      </li>
      <li>
      <a href="/participation_world">
          Participación ciudadana directa en el mundo
          <br>
          <span>Sistemas de participación ciudadana que ya existen en el mundo</span>
</a>      </li>
      <li>
      <a href="/participation_facts">
          Hechos sobre participación ciudadana y democracia directa
          <br>
          <span>Para perderle el miedo</span>
</a>      </li>
      <li>
      <a href="/faq">
          Soluciones a problemas técnicos (FAQ)
          <br>
          <span>Preguntas frecuentes sobre problemas técnicos</span>
</a>      </li>
      <li>
      <a href="/proposals_info#iii">
          Hojas de firmas
          <br>
          <span>Hojas de firmas para recoger apoyos</span>
</a>      </li>
    </ul>
  </div>
</div>
