.admin .machine-learning-settings {

  .settings-management {
    $gap: rem-calc(map-get($grid-column-gutter, medium));
    display: flex;
    flex-wrap: wrap;
    margin-left: -$gap;

    > * {
      margin-left: $gap;
      flex-basis: calc((#{rem-calc(720)} - 100%) * 999);
      flex-grow: 1;
    }

    .card-section {
      display: flex;
      flex-direction: column;

      > :last-child {
        margin-top: auto;
      }
    }
  }
}
