<h2 class="not-print"><%= t("management.account.menu.reset_password_email") %></h2>

<%= link_to t("management.account.edit.password.send_email"), reset_password_management_account_path(managed_user.id), class: "button hollow" %>
