<div class="proposal-new row">

  <%= render '/shared/print' %>

  <div class="small-12 medium-9 column">
    <h1 class=""><%= t("management.proposals.create_proposal") %></h1>
    <%= render "proposals/form", form_url: management_proposals_url %>
  </div>

</div>
