<div class="proposal-form">

  <div class="clear float-right">
    <%= render '/shared/print' %>
  </div>

  <div class="small-12 medium-9 column end">
    <h2><%= t("management.proposals.create_proposal") %></h2>
    <%= render "proposals/form", form_url: management_proposals_url %>
  </div>

</div>
