<ul class="permissions-list">
  <% permissions.each do |text, allowed| %>
    <li>
      <% if allowed %>
        <span class="icon-check"></span>
      <% else %>
        <span class="icon-x"></span>
      <% end %>

      <%= text %>
    </li>
  <% end %>
</ul>
