<div class="verify-account">
  <% if account.level_three_verified? %>
    <p class="already-verified">
      <%= t("account.show.verified_account") %>
    </p>
  <% else %>
    <p>
      <%= t("account.show.user_permission_verify") %>
    </p>

    <% if account.level_two_verified? %>
      <%= link_to t("account.show.finish_verification"), verification_path, class: "button success" %>
    <% else %>
      <%= link_to t("account.show.verify_my_account"), verification_path, class: "button success" %>
    <% end %>
  <% end %>
</div>
