<div class="sidebar-divider"></div>
<h2 class="sidebar-title"><%= t("legislation.people_proposals.index.top") %></h2>

<p>
  <%= link_to t("legislation.people_proposals.index.top_link_proposals"), summary_proposals_path, class: "small" %><br>
</p>
