<%= form_for(Poll::Question::Answer.new, 
						 url: admin_answer_images_path(@answer), 
						 method: :post) do |f| %>
						 
	<div class="images small-12 column">
	  <%= render 'images/nested_image', imageable: @answer, f: f, image_fields: :images %>
	</div>

	<%= f.submit "Save image" %>
<% end %>