// Override CONSUL and Foundation settings in this file.
//
// For example, override the brand color to #123456 with:
//
// $brand: #123456;
//
// Or override Foundation's tooltip color to #123456 with:
//
// $tooltip-color: #123456;
//
// The variables you can override are defined in the
// `_settings.scss` and `_consul_settings.scss` files.

//  CONSUL Settings
//  -----------------------------
//
//  Table of Contents:
//
//  1. CONSUL variables
//  2. Foundation settings overrides
//

// 1. CONSUL variables
// --------------------

$base-line: rem-calc(26);
$line-height: rem-calc(24);

$tiniest-font-size: 10px;
$tiny-font-size: 12px;
$small-font-size: 14px;
$base-font-size: 16px;
$medium-font-size: 18px;
$large-font-size: 20px;
$extra-large-font-size: 24px;

$brand: #004a83;
$dark: darken($brand, 10%);

$white: #fff;
$black: #000;
$grey-background: #f2f2f2;

$mandys-pink: #f0b9ad;
$mandys-pink-hover: #f0b9ad;
$rhino: #32366a;
$minsk: #3c3583;
$input-gray: #e1e1e1;
$alabaster: #fafafa;
$athens-gray: #eaebf0;
$mine-shaft: #3d3d3d;
$blue-violet: #594bbd;
$prelude: #cac6e8;

$text: #222;
$text-medium: #515151;
$text-light: #bfbfbf;

$border: #dee0e3;

$link: $black;
$link-hover: $rhino;

$debates: $brand;

$like: #7bd2a8;
$unlike: #ef8585;

$delete: #f04124;
$check: #46db91;

$proposals: #ffa42d;
$proposals-dark: #794500;

$budget: #7e328a;
$budget-hover: #7571bf;

$highlight: #e7f2fc;
$highlight-soft: #f3f8fd;
$light: #f5f7fa;
$featured: #ffdc5c;

$footer-border: #bfc1c3;

$success-bg: #e0f2d8;
$success-border: #e0f2d8;
$color-success: #174D00;
$color-success-new: rgba(211, 163, 57, 1);

$info-bg: #ebebeb;
$info-border: #ebebeb;
$color-info: #222222;

$warning-bg: #fff8b3;
$warning-border: #fff8b3;
$color-warning: #222222;
$color-warning-new: rgba(135, 47, 74, 1);

$alert-bg: #fde4e4;
$alert-border: #fde4e4;
$color-alert: #79302F;

// 2. Foundation settings overrides
// ---------------------------------

$black: #222;
$white: #fff;

$body-font-family: 'Barlow', sans-serif !important;

$header-font-family: $body-font-family;

$global-radius: rem-calc(3);

$button-radius: $global-radius;

$font-family-serif: 'Barlow', Georgia, 'Times New Roman', Times, serif;

$header-styles: (
  small: (
    'h1': ('font-size': 50),
    'h2': ('font-size': 20),
    'h3': ('font-size': 14),
    'h4': ('font-size': 18), // TODO
    'h5': ('font-size': 16), // TODO
    'h6': ('font-size': 14), // TODO
  ),
  medium: (
    'h1': ('font-size': 60),
    'h2': ('font-size': 30),
    'h3': ('font-size': 24),
    'h4': ('font-size': 19), // TODO
    'h5': ('font-size': 16), // TODO
    'h6': ('font-size': 13), // TODO
  ),
);

$small-font-size: rem-calc(14);
$sdg-icon-min-width: 40px;


$abbr-underline: none;

$tab-background-active: $white;

$accordion-background: $white !default;
$accordion-item-color: foreground($accordion-background, $text);
$accordion-content-color: foreground($accordion-background, $text);

$tab-item-font-size: $base-font-size;
$tab-item-padding: $line-height / 2 0;
$tab-content-border: $border;

$orbit-bullet-diameter: 0.8rem;

$pagination-radius: $global-radius;
