// Add custom variables in this file. For example, define a new variable
// called `$important-link` which you can use in your custom CSS files.
//
// To override existing variables, use the file named
// `_consul_custom_overrides.scss` instead
$accepting: #b9e5fb;
$balloting: #c8e2ae;
$finnished: #ffe3a6;

$theme-color: rgb(4, 174, 239);
$theme-color-opacity-90: rgba($theme-color, 0.1);
$theme-color-opacity-80: rgba($theme-color, 0.2);

$hover-color: #025777;