// Overrides and adds customized foundation settings in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//
$brand:             #dd3464;
$link:              $brand;
$link-hover:        darken($link, 20%);
$background:        #f9f9f9;

//  Foundation for Sites Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. Global
//  11. Button


// 1. Global
// ---------

$foundation-palette: (
  primary: $brand,
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);

@include add-foundation-colors;

// 11. Button
// ----------

$button-background: $primary-color;
$button-background-hover: scale-color($button-background, $lightness: -15%);
$button-palette: $foundation-palette;
