// Overrides and adds customized foundation settings in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

$base-font-size:       18px;
$border:            #cbc7c7;
$brand:             #d3170e;
$brand-secondary:   #0054ad;
$dark:              #2d313b;
$footer:            #c9d8ff;
$highlight-soft:    #f0f3f6;
$highlight-text:    #8a9999;
$hover:             darken($brand, 20%);
$hover-secondary:   darken($brand-secondary, 20%);
$info:              #4ab4f9;
$label:             #00469f;
$light:             #f2f5f7;
$like:              #21a562;
$link-dark:         #493d57;
$link-hover:        $brand;
$link-soft:         #a099a8;
$text:              #000;
$unlike:            #da262b;
