// Overrides and adds customized foundation settings in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//
$first-color: #EB003B;
$second-color: #217ABF;
$third-color: #48B700;
$fourth-color: #B900A2;
$fifth-color: #9FC800;
$sixth-color: #FF9200;
.translation_missing{
  background-color: red;
}
.theme-cards{
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 650px) {
 .card.card1 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 10px;
 }
}
.point-relatif{
  position: relative;
}
.point-absolu{
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  // top: 20px;
  // left: 20px;
}

.picto_ampoule img{
  // height: 200px;
  margin-top: 10%;
  weight: 100%;
  text-align: center;
  vertical-align: middle;
}

.expanded.budget.banner-background-image{
  background-image: linear-gradient(135deg, rgba(62, 152, 210, 0.6) 40%, rgba(62, 152, 210, 0.6) 30%), image-url("custom/bannerbackground.png");
  background-size: cover;
  background-position: 0% 30%;
}

.color-1{color:$second-color;}
.background-1{background-color: $second-color;}

.color-2{color: $second-color;}
.background-2{background-color: $second-color;}

.color-3{color: $second-color;}
.background-3{background-color: $second-color;}

.color-4{color: $fourth-color;}
.background-4{background-color: $fourth-color;}

.color-5{color: $fifth-color;}
.background-5{background-color: $fifth-color;}

.color-6{color: $sixth-color;}
.background-6{background-color: $sixth-color;}

.card {
  .color-1{color:$second-color;}
  .background-1{background-color: $second-color;}

  .color-2{color: $second-color;}
  .background-2{background-color: $second-color;}

  .color-3{color: $second-color;}
  .background-3{background-color: $second-color;}

  .color-4{color: $fourth-color;}
  .background-4{background-color: $fourth-color;}

  .color-5{color: $fifth-color;}
  .background-5{background-color: $fifth-color;}

  .color-6{color: $sixth-color;}
  .background-6{background-color: $sixth-color;}
}
.active{
     background-color: white;
   }

.card1{
  border-radius: 3px;
  box-shadow: 0.5px 0.5px 1.5px rgba(0, 0, 0, 0.1);
  padding: 0px;
  margin: 0px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  // width: 150px;
  padding-left: -0.9375rem;
  padding-right: -0.9375rem;
  margin: -10px;
  .item-1{
    img{
    margin-top:10px;
    height: 100px;
    }

  }
  .item-2{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    height: 70px;
    p{
      font-size: 0.8rem;
    }

  }
  .item-3{
    height: 30px;

  }
  .item-4{
    height: 100px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .item-5{
    height: 25px;

    margin-top: 20px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

  }
  .active{
    color: white;
    background-color: #1C6890;
    }
  .inactive{
    color: #878786;
    background-color: #878786;
  }
}



.card2{
  // border-radius: 5px;
  // box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

  // padding: 20px;
  margin: 20px;
  // border: 1px solid rgba(0, 0, 0, 0.1);
  // background-color: white;
  width: 100%;
  .item-1{
    img{
    height: 100px;
    }
  }
  .item-2{
    margin-top: 20px;
    margin-bottom: 20px;
    // height: 30px;
  }
  .item-3{
    // height: 120px;
        p{
    color: white;
    }
  }
  .item-4{
    height: 150px;
  }
  .item-5{
    height: 30px;
  }
  .item-6{
    height: 10px;
    margin: -20px;
    margin-top: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}


.card3{
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

  // padding: 10px;
  // margin: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  height: 150px;
  .item-1{
    img{
    height: 100px;
    width: 100px;
    // display: block;
    // margin: auto;
    // vertical-align: middle;
    }
    height: 150px;
    width: 150px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
  .item-2{

    margin-top: 20px;
    margin-bottom: 20px;
    // height: 100px;
  }
}

.color {
  fill: red;
}

.home{
  // padding-bottom: 10px;
  h1 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-color: #F8BA2B;
  }
  background-color: #F5F5F5;
  .actu{
    background: #CD2B33;
    color: white;
    p{
      margin-top: 15px;
    }
  }
  p {
    text-align: center;
  }
}

.blue-body{
  h1{
    margin-top: -25px;
    padding-bottom: 10px;
    color: white;
  }
  h3{
    font-size: 34px;
  }
  background-color: #4F98CC;
}

.expanded.budget{
    h1 {
      text-align: right;
      font-color: #F8BA2B;
      padding-top: 20px;
  }
  h4 {
    color: white;
    font-size: 28px;
  }
  p {
    font-size: 18px;
  }


}


.vertical{
  background-color: #BFBFBF;
}

.list-group {
  margin-bottom: 20px;
  padding-left: 0;
}
.list-group-item {
  position: relative;
  display: block;
  // padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #ffffff;
  border: 1px solid #ecf0f1;
}

.mode-demploi{
  h2{
    padding-bottom: 20px;
    padding-top: 20px;
  }
  h3{
    padding-bottom: 20px;
    padding-top: 20px;
  }
  li{
    padding-top: 10px;
    font-weight: bold;
    li{
      font-weight: normal;
      p{
      font-weight: normal;
      }
    }
    p{
      font-weight: normal;
    }
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  th {
    text-align: left;
  }
  .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .table > tbody > tr > th,
  .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
  }
  .table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
}

