// Overrides and adds customized foundation settings in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

//------------ JHH: -----------
$brand: linear-gradient(to right, #fb700a, #fca406);

.content-reco {
  display: flex;
  justify-content: center;
  align-items: center;

  .color-img-1 {
    background-color: #fb6e0a70;
    height: 250px;
    border-radius: 5px;

    p {
      margin-top: 10px;
    }

    .position {
      margin-top: 30px;
      margin-left: 10px;
    }
  }
}

footer {
  .row {
    .colors {
      .banner1 {
        height: 5px;
        background-color: #fb700a;
      }
      .banner2 {
        height: 5px;
        background-color: #143454;
      }
      .banner3 {
        height: 5px;
        background-color: #049cdc;
      }
      .banner4 {
        height: 5px;
        background-color: #fbee04;
      }
      .banner5 {
        height: 5px;
        background-color: #047c4c;
      }
    }
    .logos {
      margin-top: 10px;
      margin-bottom: 10px;
      justify-content: center;
      align-items: center;
      .column {
        .foot_img {
          max-width: 200px;
          height: auto;
          width: 100%;
        }
        .foot_img2 {
          max-width: 300px;
          height: auto;
          width: 100%;
        }
      }
    }
  }
}
//------------ Fin -----------
