.advanced-search {
  float: left;
  margin: $line-height 0;
  position: inherit;

  @include breakpoint(medium) {
    float: right;
    margin-bottom: 0;
    margin-top: $line-height / 4;
    position: absolute;
    right: 0;
  }
}

.advanced-search-form {

  select {
    height: $line-height * 2;
  }

  .column.end.clear {
    clear: both;
  }
}
