.advanced-search-form {
  @include grid-row-nest;
  display: flex;
  flex-direction: column;

  @include breakpoint(large) {
    .filter {
      @include grid-column;
      width: 25%;
    }

    .date-filters {
      float: left;
      width: 25%;

      .filter {
        width: 100%;
      }

      .custom-date-filters {
        clear: both;
      }
    }

    .submit {
      width: 25%;
    }
  }

  > [aria-expanded] {
    @include xy-gutters;
    color: $link;
    cursor: pointer;
    margin-top: $line-height;
    margin-bottom: $line-height;
    max-width: max-content;

    @include breakpoint(medium) {
      align-self: flex-end;
      margin-bottom: 0;
      margin-top: $line-height / 4;
    }

    &:focus {
      outline: $outline-focus;
    }
  }

  .general-search,
  .filter,
  .submit {
    @include grid-column-gutter;
  }

  select {
    height: $line-height * 2;
  }
}
