// Overrides styles of annotator.min
//

.annotator-editor .annotator-controls,
.annotator-filter,
.annotator-filter .annotator-filter-navigation button {
  background: #f3f3f3;
  background-image: none;
  border: 0;
  border-radius: 0;
  border-top: 1px solid $border;
  box-shadow: none;
  padding: $line-height / 2 $line-height / 4;
}

.annotator-adder {
  background-image: image-url('annotator_adder.png');
  margin-top: -52px;
}

.annotator-widget {
  background: #fff;
  border: 1px solid $border;
  border-radius: 0;
  bottom: $line-height;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  font-family: $body-font-family;
  font-size: $base-font-size;
  line-height: $line-height;
  min-width: $line-height * 13;

  p {
    color: $text;
    padding: $line-height / 2;
  }
}

.annotator-item,
.annotator-editor .annotator-item input:focus,
.annotator-editor .annotator-item textarea:focus {
  background: #fff;
}

.annotator-widget::after,
.annotator-editor.annotator-invert-y .annotator-widget::after {
  background-image: image-url('annotator_items.png');
}

.annotator-editor a,
.annotator-filter .annotator-filter-property label {
  padding: 0 $line-height / 4;
}

.annotator-editor a {
  background: none;
  background-image: none;
  border: 0;
  box-shadow: none;
  color: $link;
  font-family: $body-font-family;
  font-size: $base-font-size;
  font-weight: normal;
  text-shadow: none;
  padding: 0;

  &:hover,
  &:active,
  &:focus {
    background: none;
    background-image: none;
    color: $link-hover;
    text-decoration: underline;
    text-shadow: none;
  }

  &::after {
    content: none;
  }

  &.annotator-cancel {
    background: #f04124;
    color: #fff;
    padding: $line-height / 4 $line-height / 2;

    &:hover {
      background: darken(#f04124, 20);
      text-decoration: none;
    }
  }

  &.annotator-save {
    background: #43ac6a;
    color: #fff;
    padding: $line-height / 4 $line-height / 2;

    &:hover {
      background: darken(#43ac6a, 20);
      text-decoration: none;
    }
  }
}

.annotator-hl {
  cursor: pointer;
  background: rgba(255, 249, 218, 0.75);

  &.weight-1 {
    background: hsla(50, 100, 93, 0.5);

    .weight-1 {
      background: hsla(50, 100, 93, 0.75);
    }
  }

  &.weight-2 {
    background: hsla(63, 78, 86, 0.5);

    .weight-2 {
      background: hsla(63, 78, 86, 0.75);
    }
  }

  &.weight-3 {
    background: hsla(52, 100, 85, 0.5);

    .weight-3 {
      background: hsla(52, 100, 85, 0.75);
    }
  }

  &.weight-4 {
    background: hsla(51, 91, 75, 0.5);

    .weight-4 {
      background: hsla(51, 91, 75, 0.75);
    }
  }

  &.weight-5 {
    background: hsla(46, 83, 60, 0.5);

    .weight-5 {
      background: hsla(46, 83, 60, 0.5);
    }
  }
}

.current-annotation {
  text-decoration: underline;
}
