@import "mixins_and_variables";
@import "fonts";
@import "icons";

@import "annotator_overrides";
@import "autocomplete_overrides";
@import "datepicker_overrides";
@import "layout";
@import "participation";
@import "milestones";
@import "pages";
@import "dashboard";
@import "legislation";
@import "legislation_process";
@import "legislation_process_form";
@import "notification_item";
@import "community";
@import "stats";
@import "sticky_overrides";
@import "tags";
@import "account/**/*";
@import "budgets/**/*";
@import "comments/**/*";
@import "debates/**/*";
@import "devise/**/*";
@import "documents/**/*";
@import "layout/**/*";
@import "machine_learning/**/*";
@import "management/**/*";
@import "moderation/**/*";
@import "polls/**/*";
@import "proposals/**/*";
@import "relationable/**/*";
@import "sdg/**/*";
@import "sdg_management/*";
@import "sdg_management/**/*";
@import "shared/**/*";
@import "subscriptions";
@import "users/**/*";
@import "widgets/**/*";

@import "custom";
@import "custom/**/*";
