@import "amsify.suggestags";
@import "annotator.min";
@import "c3";
@import "social-share-button";
@import "font-awesome-sprockets";
@import "font-awesome/variables";
@import "font-awesome/path";
@import "font-awesome/mixins";
@import "font-awesome/core";
@import "jquery-ui/autocomplete";
@import "jquery-ui/datepicker";
@import "jquery-ui/sortable";
@import "leaflet";

@import "foundation_and_overrides";
@import "fonts";
@import "icons";
@import "mixins/*";

@import "admin";
@import "advanced_search";
@import "annotator_overrides";
@import "autocomplete_overrides";
@import "banner";
@import "datepicker_overrides";
@import "layout";
@import "participation";
@import "milestones";
@import "pages";
@import "dashboard";
@import "legislation";
@import "legislation_process";
@import "legislation_process_form";
@import "notification_item";
@import "community";
@import "stats";
@import "sticky_overrides";
@import "tags";
@import "admin/**/*";
@import "budgets/**/*";
@import "debates/**/*";
@import "layout/**/*";
@import "machine_learning/**/*";
@import "proposals/**/*";
@import "relationable/**/*";
@import "sdg/**/*";
@import "sdg_management/*";
@import "sdg_management/**/*";
@import "widgets/**/*";
@import "base";
@import "custom";
@import "custom/**/*";
