// Overrides styles of jquery-ui/autocomplete
//

/* Autocomplete
----------------------------------*/
.ui-autocomplete {
  cursor: default;
  position: absolute;
}

/* Menu
----------------------------------*/
.ui-menu {
  background: $body-background;
  border: 1px solid $border;
  display: block;
  font-size: $small-font-size;
  list-style: none;
  padding: calc($line-height / 4) calc($line-height / 3);

  .ui-menu-item {

    .ui-menu-item-wrapper {
      padding: calc($line-height / 4) calc($line-height / 3);
      position: relative;
    }

    .ui-state-hover,
    .ui-state-active {
      background: #ececec;
      border-radius: rem-calc(6);
    }
  }

}
