// Overrides styles of jquery-ui/autocomplete
//

/* Autocomplete
----------------------------------*/
.ui-autocomplete {
  position: absolute;
  cursor: default;
}

/* workarounds */
* html .ui-autocomplete {
  width: 1px;
} /* without this, the menu expands to 100% in IE6 */

/* Menu
----------------------------------*/
.ui-menu {
  list-style: none;
  padding: $line-height / 4 $line-height / 3;
  display: block;
  background: #fff;
  border: 1px solid $border;
  font-size: $small-font-size;

  .ui-menu-item {

    .ui-menu-item-wrapper {
      padding: $line-height / 4 $line-height / 3;
      position: relative;
    }

    .ui-state-hover,
    .ui-state-active {
      background: #ececec;
      border-radius: rem-calc(6);
    }
  }

}
