.check-all-none {
  float: $global-left;
  list-style-type: none;
  margin-#{$global-left}: 0;

  button {
    @include link;
  }

  li {
    display: inline-block;

    + li::before {
      @include vertical-separator;
    }
  }
}
