.communities-show{

  .wide-order-selector{
    margin-top: 0;
  }

  .panel{
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 0;
    box-shadow: 0 1px 3px 0 #dee0e3;
    margin-bottom: 0.75rem;
    min-height:7rem;
    padding: 0.75rem 0.75rem 0;
  }

  .panel {
    h3{
      font-weight: bold;
      margin-top: $line-height / 2;
    }

    a {
      color: $text;
    }
    .nopadding{
      padding: 0;
    }
    .button{
      margin-top: $line-height;
    }
  }
}

.communities-participantes{
  .comment-body{
    display: inline-block;
    float: left;
    margin-right: $line-height;
  }
}
.topic-show{
  p{
    margin-bottom: 0;
  }
}
