// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

h1 {
  font-size: 4.5vw;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: $body-font-family-title;
}

h2 {
  letter-spacing: 3px;
  font-size: 3.5vw;
  text-transform: uppercase;
  font-family: $body-font-family-title;
  margin: 2vw 0;
}

h3 {
  font-size: 36px;
  font-weight: 500;
}

h4 {
  font-size: 24px;
  color: $gray-two;
}

h4 a {
    color: $gray-two;
    &:hover {
      color: $gray-one;
    }
}

h5 {
  font-size: 20px;
}

@media only screen and (max-width: 800px) {
  h2 {
    font-size: 28px;
  }

  h1 {
    font-size: 44px;
  }
}

.row {
  max-width: none;
}

a:hover {
  text-decoration: none;
}

p {
  color: $gray-two;
  font-size: 16px;
}

.small {
  font-family: $body-font-family-title;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  padding-left: 25px;
  position: relative;
  margin-bottom: 14px;
  &:before {
    content: '_';
    font-size: 36px;
    position: absolute;
    bottom: -3px;
    left: 5px;
  }
}

h4.page-title {
  margin-bottom: 2vw;
}

h1.page-title {
  margin-top: 5vw;
}

.label {
    padding: 0.5rem 0.9rem 0.35rem;
    border-radius: 0;
}

.tags a, .tag-cloud a, .categories a, .geozone a, .sidebar-links a, .tags span {
    background: $gray-two;
    border-radius: 0;
    color: white;
    font-size: 16px;
    padding: 0.1vw 0.6rem;
}

.tags a:hover, .tag-cloud a:hover, .categories a:hover, .geozone a:hover, .sidebar-links a:hover, .tags span:hover {
    background: $brand;
}

.padding {
  padding: 2.5vw;
}

.num {
  position: relative;
  text-align: center;
  margin-top: -9px;
  &::after {
    content: '_';
    position: absolute;
    bottom: -16px;
    left: 43%;
  }
}

.counter {
  font-size: 4vw;
  font-family: "Dosis", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
}

// Text color

.line-text {
  color: $gray-four;
}

.white {
  color: white;
}

.gray {
  color: $gray-two;
}

.blue {
  color: $light-blue;
}

.orange {
  color: $orange;
}

// Background color

.bg-gray {
    background: $gray-two;
}

.bg-light-gray {
  background: $gray-five;
}

// Form

form label {
  font-size: 24px;
  color: $gray-two;
}

ol {
    list-style-type: decimal-leading-zero;
}

li {
    font-size: 24px;
    color: #6C798A;
    font-weight: bold;
    position: relative;
}

.cd-horizontal-timeline .events-content {
  position: relative;
}
.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  opacity: 0;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}
.cd-horizontal-timeline .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  transform: translateX(0);
}
.cd-horizontal-timeline .events-content li.enter-right,
.cd-horizontal-timeline .events-content li.leave-right {
  animation-name: cd-enter-right;
}
.cd-horizontal-timeline .events-content li.enter-left,
.cd-horizontal-timeline .events-content li.leave-left {
  animation-name: cd-enter-left;
}
.cd-horizontal-timeline .events-content li.leave-right,
.cd-horizontal-timeline .events-content li.leave-left {
  animation-direction: reverse;
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.active-problem{
  background: $orange;
  background-position: 75% 0;
  position: relative;

  h4, a:hover h4 {
    color: white !important
  }

  p {
    color: white;
  }

  @include breakpoint(medium) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

}

// Buttons

.button.primary {
  background: $brand;
  color: white;
  &:hover {
    background: darken( $brand, 6% );
    color: white;
  }
}

.button{
  border-radius: 2rem;
}

.button-proposal{
  background: white;
  color: black;
}

.button.secondary {
    background-color: $gray-two;
    color: #ffffff;
    text-decoration: none;
    &:hover {
      background-color: darken($gray-two, 5%);
    }
}

.button.hollow.primary {
    border: 1px solid #fff;
    color: #fff;
    &:hover {
      border: 1px solid #fff;
      color: #fff;
      background: darken($brand, 5%);
    }
}

.in-favor{
  text-align: -webkit-right;
}


.proposal .supports .button-support {
  background: $brand;
  color: white;
  display: inline-block;
  font-size: 0.875rem;
  margin-top: 0.75rem;
}

.meter{
  background: $light-blue !important;
}

.progress{
  background: $gray-three !important;
  margin-top: 1rem;
}

.proposal .supports {
  padding: inherit;
  position: relative;
}

ul, ol, dl {
    line-height: 1.6;
    margin-bottom: 0rem;
    list-style-position: outside;
}

.tag-votes{
  background: $light-blue;
}

.top-bar-title-right{
  float: right;
}

.top-bar .top-bar-title a img {
    margin-bottom: -4px;
}

.header-title{
  color: $gray-two;
  font-family: "Dosis", "Helvetica", "Arial", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
}

.subnavigation ul li a {
  line-height: 2rem;
  font-weight: 400;
  color: $gray-two;
}

.submenu h2 {
    font-size: 0.9rem;
}

.text-width{
  max-width: 900px;
  margin: 0 auto !important;
}

.summary {
  background-color: $orange;
  margin-bottom: 30px;
  color: $white;
  p {
    color: $white
  }
}

.img-content-poll{
  background-color: $orange;
  max-width: 900px;
  padding: 0.7rem;
  padding-top: 2.5rem;
  padding-left: 2.5rem;
  margin-bottom: 30px;
  color: $white;
}

.img-poll{
  clip: rect(0px, 900px, 220px, 0px);
  position: absolute;
  z-index: -1;
  width: 100%;
}

.end-poll{
  border-bottom: 1px solid $gray-three;
}

.info-poll{
  max-width: 500px;
  margin-top: 5rem;
  padding: 2rem;
  background-color: $gray-two;
  color: $white;
}

.menu-poll{
  border-bottom: 0;
}

.deadline-problem{
  margin-top: -7vw;
}

.mark-days{
  font-size: 2rem;
  text-decoration: underline;
}

.problem-display{
  margin-bottom: 3rem;

  p{
    color: $white;
  }
}

// Home

.hero{
  background-image: asset-url("foto1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h1 {
  margin: 0 0 2vw;
}

.hero-quote {
  color: #ffffff;
  background: #D80017;
  padding: 0.2vw 3vw 2vw;
  margin-top: -24vw;
  z-index: 1;
  position: relative;
}


.how-it-works {
  background: $gray-two;
  margin-top: -3vw;
}

@media only screen and (max-width: 1024px) {
  .hero-quote {
    margin-top: 0vw;
  }

  .how-it-works {
    margin-top: 0vw;
  }
}

.home-subtitle{
  font-size: 1.1rem;
  color: $white;
  font-weight: lighter;
  text-decoration: underline;
  margin-left: 2rem;
}

.home-column2{
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

.home-info-link{
  color: $brand;
  text-decoration: underline;
  font-size: 0.9rem;
}

.home-info-dates{
  color: $white;
  background-color: $orange;
}

.home-info {
    padding: 6vmin;
    background: white;
}

.home-proposals {
    padding: 6vw 0;
}

.home-proposal  {
  padding: 0 3vw;
  &:nth-child(2)  {
    border-left: 1px solid $gray-four;
    border-right: 1px solid $gray-four;
  }
}

.proposal-type{
  font-family: $body-font-family-title;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
}

.most-voted{
  color: $orange;
}

.most-activated{
  color: $light-blue;
}

.como01, .como02, .como03, .como04 {
  height: 210px;
  width: 265px;
  margin: 0 auto;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  &:hover {
    background-size: 200px;
    background-repeat: no-repeat;
  }
}

.como01 {
    background-image: asset-url("como01.png");
    &:hover {
      background-image: asset-url("como01.gif");
    }
}

.como02 {
    background-image: asset-url("como02.png");
    &:hover {
      background-image: asset-url("como02.gif");
    }
}

.como03 {
    background-image: asset-url("como03.png");
    &:hover {
      background-image: asset-url("como03.gif");
    }
}

.como04 {
    background-image: asset-url("como04.png");
    &:hover {
      background-image: asset-url("como04.gif");
    }
}

.white{
  color: $white;
}

// Vista propuesta

.back, .icon-angle-left {
    color: $gray-two;
    float: none;
    font-size: 14px;
}

// Footer

.footer {
    background: white;
    border-top: 1px solid $gray-four;
    margin-top: 3rem;
    padding-top: 5vw;
}

.footer p {
  font-size: inherit;
}

footer a, footer a:active, footer a:focus {
    color: $gray-two;
    text-decoration: none;
    padding-left: 16px;
    &:hover {
      color: darken ($gray-two, 10%)
    }
}

.footer svg {
    max-width: 100%;
}

.redes {
    padding: 2vw 0px;
}

.disabled {
   pointer-events: none;
   cursor: default;
   color: $gray-four;
}
