// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

//Carousel
.docs-example-orbit-slide {
  padding: 0.5rem 3rem;
}

.orbit-slide {
  background-color: rgba(255, 98, 0, 0.6);
}

.contact-form-button {
  width: 200px;
  height: 50px;
  font-size: 24px;
  color: #585858;
  background-color: white;
  cursor: pointer;
  border-radius: 50px;
  > a {
    position: relative;
    top: 10px;
    color: #585858;
  }
  > i {
    position: relative;
    top: 10px;
  }
}

//Send Form
.negrita {
  font-weight: bold;
}

//Image
.custom-image {
  max-width: 240px;
  width: 100%;
  height: auto;
}

//User form scroll
.scroll {
  width: 100%;
  height: auto;
  max-height: 200px;
  overflow: scroll;
}

//Footer
.contact-custom {
  > p {
    margin-bottom: 0;
  }
}

//Top-links
.top-link-custom {
  background-color: #585858;
  position: relative;
  height: 45px;
}
.social-network {
  position: absolute;
  top: 5px;
  right: 2rem;
  > li > a {
    color: white;
    margin-right: 0.5rem;
  }
}

.ul-link {
  position: relative;
  top: 5px;
  margin-left: 10px;
  > li {
    display: inline-block;
    margin-left: 1rem;
    > a {
      color: white;
    }
  }
}

//Formulario
.project-form-field {
  border-radius: 10px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #9e9a9a;
  margin-bottom: 30px;
}
//Fin Formulario

//Admin/Usuarios
.edit-link {
  @include has-fa-icon(edit, regular);
}

.block-link {
  @include has-fa-icon(ban, solid);
  color: $alert-color;
}

//Fin Admin/Usuarios

.header-style-photo {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-style-content {
  color: white;
}

.image-contact {
  max-width: 240px;
  width: 100%;
  height: auto;
  position: absolute;
  top: 3vh;
  left: 3vw;
}

.style_image {
  // position: relative;
  // justify-content: center;
  // align-items: center;
  max-width: 100%;
  width: 98%;
  height: auto;
}

.top-links {
  background: $top-color;
  //background: #f1f1f1;
}

// JHH:
.select-participants {
  border-radius: 8%;
  background-color: #5e5a581c;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 3px;
  font-style: oblique;
}

.menu_imagen {
  //Responsive
  //width: 100%;
  //height: 100%;
  max-width: 100%;
  height: auto;
  background-color: rgb(255, 98, 0);
}
// Fin
