// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

// 01. General

.color-brand-secondary {
  color: $brand-secondary;
}

strong, b, a, .ava-link {
  color: $brand;
}

.callout.primary a {
  color: $brand !important;
}

.map .map-marker .map-icon {
  background: $brand;
}

// 02. Header

// Color de fondo de la cabecera
header, .top-bar {
  background: #ebebeb !important;
}

// Color de fondo de los enlaces en la parte superior de la cabecera
.top-links {
  background-color: #E6118F;
}

// Eliminado margen en la cabecera
.top-bar-title {
  margin: 0;
}

// Color enlaces menú usuario
.top-bar ul.menu > li a {
    color: #4d4d4d;
}

// Tamaño fuente icóno notificación
.notifications [class^="icon-"] {
  font-size: 0.8rem;
}

.notifications .icon-circle {
  font-size: 0.5rem;
}

// Menú principal de la página
.subnavigation {
  background-color: $brand;
}

.subnavigation {
  a {
    color: #FFFFFF;
  }

  a:hover, a:active, a.is-active {
    color: $brand_secondary;
  }
}

// Dropdown menú del usuario
.dropdown.menu > li {
  a {
    background: none;
  }

  &.is-active > a {
    color: #000;
  }

  &.is-dropdown-submenu-parent > a::after {
    border-color: #000 transparent transparent;
  }
}

@media screen and (max-width: 39.999em) {
  .top-bar span {
    color: #000;
  }

  .top-bar .menu-icon::after {
    background: #000;
    box-shadow: 0 7px 0 #000, 0 14px 0 #000;
    -webkit-box-shadow: 0 7px 0 #000, 0 14px 0 #000;
  }
}

// Botón de entrar

@media screen and (min-width: 64em) {
  #login-va a {
    font-size: 1.3rem;
    padding: 0.9rem 3rem;
  }

  #login-va a.button {
    background: $brand;
    color: $brand_secondary;
    text-align: center;
    font-weight: bold;
  }
}

// 03. Footer

// Tamaño iconos redes sociales
.social a {
  font-size: 0.9rem;
}

// 04. Homepage

.welcome-image {
  max-width: 353px;
}

// Contenido debajo de la cabecera
.homepage-tu-voz {
  background: $brand;
  position: relative;
  top: 48px;

  h4 {
    color: #FFF;
  }
}

@media screen and (min-width: 64em) {
  .welcome-image {
    position: relative;
    top: -25px;
    margin-left: 1.5rem;
  }
}

// Color de los títulos de las tarjetas
.figure-card h3 {
  color: #FFFFFF;
}

// 05. custom pages

.budgets-calendar {

  margin: 0;
  padding: 0;
  border: 1px solid white;
  display: inline-block;
  padding: 2.2rem 1.5rem 0.75rem 1.5rem;
  background: $brand;
  min-height: 8rem;
  min-width: 15rem;
  width: 20%;
  color: white;
  font-family: "Nunito Bold";
  text-align: center;

}

.budgets-calendar-active {
  background: $brand_secondary;
  color: black;
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
}

.tabla-puntos-encuentro {
  
  background: #fff1f9;
  overflow: auto;

  .columna {

    background: #fff1f9;
    padding: 0;

    .fila {

      background: #fff1f9;
      padding: 0.4rem 0 0.4rem 2rem;
      border-top: 2px solid white;

      .titulo {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
      }
    }
  }
}

.boton-propuestas {
  margin: 0.3rem 0 0.3rem 0;
  font-size: 0.9rem;
  width: 100%;
}

.lista {
  color:$brand;
  p {
    color: black;
  }
}

// 06. Devise

.auth-image {
  background: none;
}

// Omniauth ldap login

.button.button-ldap {
  background: #C1DEEA;
  border-left: 3px solid #006E9C;

  &:before {
    color: #006E9C;
    content: "c";
    font-family: "icons" !important;
    font-size: rem-calc(24);
    left: 0;
    line-height: $line-height*2;
    padding: 0 rem-calc(20);
    position: absolute;
    top: 0;
  }
}
.ssb-ldap {
  background: #C1DEEA;
  background-image: none !important;
  color: white;
  height: rem-calc(48) !important;
  position: relative;
  width: rem-calc(48) !important;
  
  &:before{
    content: "A";
    font-family: "icons" !important;
    font-size: rem-calc(24);
    left: 50%;
    line-height: $line-height*2;
    margin-left: rem-calc(-11);
    position: absolute;
    top: 0;
  }
}

.button.button-ldap {
  background: white;
  color: $text;
  font-weight: bold;
  height: $line-height*2;
  line-height: $line-height*2;
  padding: 0;
  position: relative;
}

// 07. Admin

body.admin header .top-links{
  background: #d3b700 !important;
}

body.admin .top-bar {
  background: #ffdd00 !important;
}

body.management .admin-content {
  padding-left: 15px !important;
}

#admin_menu li a {
  color: $brand;
}

.admin-sidebar {
  background: #FFF;
}

.admin-sidebar ul [class^="icon-"]{
  color: black;
}

.admin-sidebar li a {
  color: $brand;
  font-weight: bold;
}

.admin-sidebar ul li a:hover {
  background: #f3f6f7;
  border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -webkit-border-radius: 0.375rem;
  color: #CF3638;
  text-decoration: none;
}

.admin-sidebar li.is-active a {
  background: #FFF;
  border-left: 2px solid #f4fcd0;
  font-weight: bold;
}

#admin_menu li, #moderation_menu li, #valuation_menu li  {
  border-bottom: 1px solid #DEE0E3;
}

.admin-sidebar .is-accordion-submenu-parent > a::after {
  color: $brand;
  top: 0 !important;
}

.admin-sidebar ul li ul {
  border-left: 1px solid #DEE0E3;
}

// 08. Budgets

// Imágen de fondo de la cabecera y los botones
.expanded.budget, .budget-heading {
  background-image: image-url("header_va_proposals.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

// Eliminar margen de la cabecera en los presupuestos participativos
#budget_heading.no-margin-top, #budget-investments-main > .no-margin-top, .budget.no-margin-top {
  margin-top: -1.54rem;
}

// Estilo de la tabla de budgets
.table-areas tr td a {
  margin-left: 0.3rem;
}

.budget-header-description {
  color: #FFF;
}

.budget-investment .panel h3 a {
  color: $brand;
}

.expanded.budget .callout a {
    color: $brand !important;
}

// Botón de volver atrás
.budget-heading a.back {
  color: black !important;
  background: #FFDB0A !important;
  border: 1px solid #FFDB0A !important;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  vertical-align: middle;
  border: 1px solid #000000;
  border-radius: 0.1875rem;
  padding: 1em 1em;
  font-size: 0.9rem;
}

.budget-heading a.back span {
  color: #000000;
  font-weight: 100;
}


// Color de fondo de la barra de progreso en
// la votación final
.progress-bar-nav { 
  @include breakpoint(medium) { 
    background-color: transparent;

    &.is-fixed { 
      background-color: $budget; 
    } 
  } 
}

// 09. Propuestas

.featured-proposals {
  background: #eee;
}


// 10. Debates

.featured-debates {
  background: #eee;
}

// 11. Banners

.banner {
  background-image: image-url("banner-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px 10px;
}

#debates .banner, #proposals .banner {
  margin-bottom: 20px;
}

.home-page .banner, .budgets-banner .banner, .help-banner .banner {
  top: -25px;
  position: relative;
}

// 12. Votaciones

#poll_more_info_answers .answer-description {
  margin-top: 42px;
}

// 13. Enlaces de compartir en redes sociales

.icon-whatsapp_web::before {
    content: "\50";
}

.button.button-linkedin,
.button.button-whatsapp_web {
  background: #fff;
  color: #222;
  font-weight: bold;
  height: 3rem;
  line-height: 3rem;
  padding: 0;
  position:relative;
}

.button.button-whatsapp_web {
  background: #ebeef4;
  border-left: 3px solid #43d854;
}

.button.button-whatsapp_web::before { 
  color: #43d854;
  content: "A";
  font-family: "icons" !important;
  font-size: 1.5rem;
  left: 0;
  line-height: 3rem;
  padding: 0 1.25rem;
  position: absolute;
  top: 0;
}

.ssb-whatsapp_web {
  background: #43d854;
  background-image: none !important;
  color: #fff;
  height: 3rem !important;
  position: relative;
  width: 3rem !important;
}

.ssb-whatsapp_web::before {
  content: "P";
  font-family: "icons" !important;
  font-size: 1.5rem;
  left: 50%;
  line-height: 3rem;
  margin-left: -0.6875rem;
  position: absolute;
  top: 0;
}

.ssb-whatsapp_web:hover, .ssb-whatsapp_web:focus { 
  background: #fff;
  color: #43d854;
}

.debate-show .whatsapp_web::before,
.proposal-show .whatsapp_web::before,
.poll-question-show .whatsapp_web::before,
.investment-project-show .whatsapp_web::before,
.budget-investment-show .whatsapp_web::before,
.polls-show .whatsapp_web::before,
.debate-quiz .whatsapp_web::before,
.budget-investment-show .whatsapp_web::before,
.draft-panels .whatsapp_web::before,
.debate-questions .whatsapp_web::before,
.communities-show .whatsapp_web::before,
.topic-show .whatsapp_web::before,
.milestone-content .whatsapp_web::before {
  background-color: #43d854;
  color: #fff;
  display: inline-block;
  font-size: 1.875rem;
  height: 3rem;
  padding-top: 0.5625rem;
  text-align: center;
  vertical-align: top;
  width: 3rem;
}

.featured-proposals .share-supported .ssb-whatsapp_web {
  background: none;
  color: #222;
  height: 2.0625rem !important;
}

.featured-proposals .share-supported .ssb-whatsapp_web::before {
  font-size: 1.125rem;
  line-height: 2.0625rem;
}

.jumbo-budget .social-share-button a[class^="social-share-button-whatsapp_web"] {
  color: #43d854;
}

.jumbo-survey .social-share-button a.social-share-button-whatsapp_web:hover,
.jumbo-featured .social-share-button a.social-share-button-whatsapp_web:hover,
.jumbo-investment-project .social-share-button a.social-share-button-whatsapp_web:hover {
  color: #2b9b20;
}

.whatsapp_web::before {
  background-color: #43d854;
  color: #fff;
  font-size: 1.7em;
  margin-left: 0.03125rem;
  padding: 0.59375rem 0.6125rem;
  vertical-align: 0.625rem;
}

.button.button-linkedin { 
  background: #ebeef4;
  border-left: 3px solid #0e76a8;
}

.button.button-linkedin::before {
  color: #0e76a8;
  content:"#";
  font-family:"icons" !important;
  font-size: 1.5rem;
  left: 0;
  line-height: 3rem;
  padding: 0 1.25rem;
  position: absolute;
  top: 0;
}

.ssb-linkedin {
  background: #007ccb;
  color: #fff;
  height: 3rem !important;
  position: relative;
  width: 3rem !important;
}

.ssb-linkedin:hover,
.ssb-linkedin:focus {
  background: #fff;
  background-image: image-url("linkedin_hover.png");
  background-position: center;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  color: #0e76a8;
}

.share-supported .ssb-linkedin {
  color: #fff;
  height: 1.5rem;
  position: relative;
  width: 3rem;
}

.share-supported .ssb-linkedin:hover,
.share-supported .ssb-linkedin:focus {
  background-image: image-url("linkedin_hover.png");
  background-position: center;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  color:#40a2d1;
}

.featured-proposals .share-supported .ssb-linkedin {
  background: none;
  background-image: image-url("linkedin_featured_proposals.png");
  background-position: center;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  color: #222;
  height: 2.0625rem !important;
}

.ssb-linkedin::before {
  font-size: 1.125rem;
  line-height: 2.0625rem;
}

.jumbo-survey .social-share-button a.social-share-button-linkedin:hover,
.jumbo-featured .social-share-button a.social-share-button-linkedin:hover,
.jumbo-investment-project .social-share-button a.social-share-button-linkedin:hover {
  color: #0e76a8;
}

.jumbo-survey .social-share-button a.social-share-button-telegram:hover,
.jumbo-featured .social-share-button a.social-share-button-telegram:hover,
.jumbo-investment-project .social-share-button a.social-share-button-telegram:hover {
  color: #08c
}

.featured-proposals .share-supported .ssb-telegram {
  background: none;
  color: #222;
  height: 2.0625rem !important;
}

.featured-proposals .share-supported .ssb-telegram::before {
  font-size: 1.125rem;
  line-height: 2.0625rem;
}

// 14. Legislación

.draft-panels a strong {
  color: #FFF;
}

// 15. IE 10 & 11

// Error de visualización en IE 11, parece que en ciertas circustancias tiene
// problemas al especificar las medidas de las unidades con rem
@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ssb-whatsapp_web::before, .ssb-facebook::before, .ssb-twitter::before, .ssb-telegram::before {
    line-height: 50px;
  }
}
