// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//
.span_header {
  -webkit-text-stroke: 1px black;
  color: #f1f1f1;
  font-size: 30px;
}

.p_header {
  -webkit-text-stroke: 1px black;
  color: #f1f1f1;
}

.image_contact {
  position: absolute;
  top: 3vh;
  left: 3vw;
}

.style_image {
  // position: relative;
  // justify-content: center;
  // align-items: center;
  max-width: 100%;
  width: 98%;
  height: auto;
}

.top-links {
  background: $top-color;
  //background: #f1f1f1;
}

// JHH:
.select-participants {
  border-radius: 8%;
  background-color: #5e5a581c;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 3px;
  font-style: oblique;
}

.menu_imagen {
  //Responsive
  //width: 100%;
  //height: 100%;
  max-width: 100%;
  height: auto;
  background-color: #fb700a;
}

.Letter_welcome_enterprise {
  -webkit-text-stroke: 1px black;
  color: #f1f1f1;
}
// Fin
