// Override and add customized styles in this file.
//

/* Avoid empty space after past budgets listing */
.investment-projects-list,
.budget-investments-list {
  @include breakpoint(medium) {
    min-height: 0;
  }
}

header {
  > .top-links {
    background: white !important;
    .row {
      color: black;
      a {
        color: black;
      }
    }
  }

  background: white !important;

  .row > .top-bar {
    span {
      color: black !important;
    }
    background: white !important;
    background-color: white !important;
  }
}

#navigation-bar {
  background: white !important;
  background-color: white !important;
}

#responsive-menu {
  li {
    a {
      color: black !important;
    }
    a.button {
      background: $brand;
      color: white !important;
    }
  }
}

input.button,
a.button,
a.button.success,
a.button.hollow {
  background: $brand;
  color: white;
  border: 0px;
  &:hover {
    background: $link-hover;
    color: white !important;
  }
}

.mySlides {
  display: none;
  width: 100%;
  height: 60%;
}

.w3-content {
  max-width: 100% !important;
}

.jumbow3 {
  margin-bottom: 1.5rem;
  margin-top: -1.5rem;
  padding-bottom: 0rem;
  padding-top: 0rem;
}

.w3-display-container {
  width: 100%;
  height: 60%;
}

.w3-left, .w3-right, .w3-badge {
  cursor: pointer;
}

.w3-badge {
  height: 1.2vh;
  min-height: 10px;
  padding: 0;
  border-radius: 100% !important;
}

.jumbo.highlight {
  background: $light-gray;
}

.expanded.budget .info {
  background: $brand-dark;
}

.tags a ,
.tag-cloud a,
.categories a,
.geozone a,
.sidebar-links a,
.tags span {
  background: $very-light !important;
  color: $brand-very-dark !important;

  &:hover,
  &.is-active {
    background: $brand !important;
    color: white !important;
  }
}

.additional-content .filter-subnav {
  background: none;
}

.more-info-content h3 {
  color: black;
}

/* HomePage */

.home-page .background-header {
  background: $light-gray;
  clip-path: none;
  margin-top: rem-calc(-48);
}

/* Admin */

.admin table th {
  background: white;
  color: black;
}

/* Footer */

.footer {
  border-top: 6px solid $brand;
}

.subfooter .medium-4 {
  width: 31.333% !important;
}

/* Buttons */

#print_link {
  background: $brand;
  color: white;
}

#search_form {
  button {
    background: $brand;
    color: black;
  }
}

/* Varios */

#section_help {
  p > a {
    color: $brand-original !important;
    &:hover {
      color: black !important;
    }
  }
}

.banner > a {
  padding: 10px;
}

main {
  margin-top: 22px;
}

.menu-icon {
  &.dark {
    &:hover::after,
    &::after {
      background: black;
      box-shadow: 0 7px 0 black, 0 14px 0 black;
    }
  }
}
