// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

//Variables
$color-gray-super-light: #f2f2f2;
$color-gray-light: #dfe0e4;
$color-yellow: #ffcc00;
$color-blue: #004a83;
$color-blue-2: #002f7a;
$body-font-family: 'Lato', 'Arial', sans-serif !important;



.button {
  background: $color-yellow;
  font-size: $base-font-size;
  color: $color-blue-2;
  &:hover {
    text-decoration: none !important;
    color: $color-blue-2;
    background: #fff;
  }
}

.button.hollow {
  border: 1px solid $color-yellow;
  color: $color-yellow;
  &:hover {
    border: 1px solid #fff;
    color: #fff;
  }
}

body{
  font-family: $body-font-family;
  &.home-page{
    .push{
      display: none;
    }
  }
}

//Header
header{
  background: $color-gray-light !important;

  @include breakpoint(small) {
    .title-bar{
      margin-top: 10px;
    }
  }

  @include breakpoint(medium) {
    .title-bar{
      margin-top: 0;
    }
  }

  .top-bar#responsive_menu{
    @include breakpoint(small) {
      margin-top: $line-height;
      padding: $line-height;
    }

    @include breakpoint(medium) {
      margin-top: 0;
      padding: 0;
    }
  }

  .top-bar{
    background: $color-gray-light;
    .subnavigation {
      a{
        color:$color-blue;
      }
    }
    .menu > li a{
      color: $color-blue;
    }

    .menu .menu-text a{
      color: $color-blue;
      font-weight: 700;

      img{
        margin-top: .7rem;
        margin-left: .5rem;
      }

      .title{
        @include breakpoint(small) {
          font-size: 13px;
          float: left;
          display: inline-block;
          margin-top: 10px;
          margin-left: 10px;
        }
      }
    }
  }
}

.home-page{

  //Header
  header{
    margin-bottom: 0;
  }

  //Home page Banner
  .home-banner{
    overflow: hidden;
    color: #fff;
    position: relative;

    .content{

      @include breakpoint(medium) {
        padding-top: 4rem;
        padding-bottom: 4rem;
        position: relative;
        z-index: 2;
      }

      @include breakpoint(small) {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }

      h1{
        @include breakpoint(medium) {
          color:#fff;
          max-width: 100%;
        }

        @include breakpoint(small) {
          color: $black;
          max-width: 400px;
          line-height: 1;
          margin: 0 auto;
          float: none;
        }
      }

      .lead{
        @include breakpoint(small) {
          color: $black;
          font-size: 1.3rem;
        }
        @include breakpoint(medium) {
          color: #fff;
        }
      }
    }

    .bg-overlay{
      @include breakpoint(medium) {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.4);
        z-index: 1;
        display: block;
      }
      @include breakpoint(small) {
        // display: none;
      }
    }

    .bg-image{
      @include breakpoint(medium) {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      @include breakpoint(small) {
        // position: relative;
        // height: auto;
      }

    }
  }

  .questions{
    @include breakpoint(medium) {
      padding: $line-height;
      padding-top: $line-height*3;
      padding-bottom: $line-height*3;
    }

    @include breakpoint(small) {
      padding-top: $line-height;
      padding-bottom: $line-height;
    }
  }

  .buttons{
    background: $color-blue-2;
    padding: $line-height;
    padding-top: $line-height*3;
    padding-bottom: $line-height*3;
    position: relative;

    a{
      margin-right: 1rem;
    }
    .arrow-down {
      position: absolute;
      left: 0;
      right: 0;
      top:0;
      width: 0;
      height: 0;
      margin: 0 auto;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-top: 30px solid #fff;
    }
  }

  h3.title{
    border:0;
  }

  .feed-description p,
  a p.description {
    font-size: 0.875rem;
  }

  .feeds-list{
    .proposal{
     clear: none;
   }

   a.see-all{
     text-align: left;
     border: 0;
   }
  }

  .sidebar{
    background:$color-gray-super-light;
    padding: $line-height;
    text-align: center;

    img{
      margin:0 auto;
      display: block;
      height: 130px;
    }
  }
}

.footer {
  min-height: auto;
  background: $color-gray-light;
  border-top: 0;

  .subfooter{
    margin-top: $line-height;
    padding-top: $line-height;
  }
}



// Check this...is not mine....
.icon-linkedin{
  img{
    margin-top: -10px;
    width: 25px;
    height: 25px;
  }
}

.small-subtitle{
  font-size: 16px;
  border-bottom: solid 1px #dee0e3;
}
