.dashboard-poster-pdf {

  .header {
    background-color: #3700fd;
    color: white;
    padding: 40pt 40pt 80pt 40pt;
    margin-bottom: 0;
    border-bottom: 0;

    h1 {
      font-size: 40pt;
      color: #dcf5fe;
    }

    h2 {
      font-size: 40pt;
    }

    p {
      text-align: justify;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40pt;
      font-size: 18pt;
    }

    .image-caption {
      margin-bottom: 0;
      text-align: center;
      color: white;
      font-weight: bold;
      font-size: 18pt;
    }
  }

  .proposal-image {
    display: block;
    margin-top: -75pt;
    margin-bottom: 40pt;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  h3 {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18pt;
    font-weight: bold;
    color: #505050;
  }

  .proposal-title {
    display: block;
    font-size: 40pt;
    font-weight: bold;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    color: #3800ff;
    width: 60%;
    margin-bottom: 40pt;
  }

  .poster-footer {
    font-size: 15pt;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-left: 10pt;
    border-left: 1pt solid darkgray;
    text-align: left;
  }
}
