// Table of Contents
//
// 01. Debates
// 02. Index
// 03. Show
// 04. New
// 05. Comments
//

// 01. Debates
// - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin votes {
  background: $votes-bg;
  border-top: 1px solid $votes-border;
  margin: 0 -12px;
  padding: rem-calc(14) rem-calc(12);
  position: relative;

  .icon-like {
    background: white;
    border: 2px solid $votes-border;
    border-radius: rem-calc(3);
    color: $votes-neutral;
    display: inline-block;
    font-size: rem-calc(30);
    line-height: rem-calc(30);
    padding: rem-calc(3) rem-calc(6);
    position: relative;

    &:hover {
      background: $votes-like;
      border-color: white;
      color: white;
      cursor: pointer;
      opacity: 1 !important;
    }

    &:active {
      border-color: $votes-like-act;
    }
  }

  .icon-unlike {
    background: white;
    border: 2px solid $votes-border;
    border-radius: rem-calc(3);
    color: $votes-neutral;
    display: inline-block;
    font-size: rem-calc(30);
    line-height: rem-calc(30);
    padding: rem-calc(3) rem-calc(6);
    position: relative;

    &:hover {
      background: $votes-unlike;
      border-color: white;
      color: white;
      cursor: pointer;
      opacity: 1 !important;
    }

    &:active {
      border-color: $votes-unlike-act;
    }
  }

  .like {
    line-height: rem-calc(48);
    vertical-align: super;

    span {
      color: $votes-text;
      display: inline-block;
      font-size: rem-calc(16);
      font-weight: lighter;
      line-height: $line-height*2;
      padding-left: rem-calc(8);
      vertical-align: top;
    }
  }

  .unlike {
    @extend .like;
  }

  .voted {
    .icon-like {
      @extend .icon-like;
      background: $votes-like;
      border-color: white;
      color: white;
    }

    .icon-unlike {
      @extend .icon-unlike;
      background: $votes-unlike;
      border-color: white;
      color: white;
    }
  }

  .no-voted {
    .icon-like, .icon-unlike {
      opacity: .5;
    }
  }

  .total-votes {
    color: $votes-text;
    float: right;
    line-height: $line-height*2;
  }

  .divider {
    margin: 0 rem-calc(6);
  }

  .not-logged {
    background: $not-logged-bg;
    color: white;
    height: 100%;
    left: 0;
    line-height: $line-height*2;
    padding-top: $line-height/2;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;

    a {
      color: white;
      text-decoration: underline;
    }
  }
}

// 02. Index
// - - - - - - - - - - - - - - - - - - - - - - - - -

.debate-featured {
  margin-bottom: rem-calc(34);
  margin-top: rem-calc(23);

  .panel {
    background: white;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: rem-calc(3);
    margin-bottom: $line-height;
    padding: rem-calc(24) rem-calc(12) 0 rem-calc(12);

    .debate-content {
      min-height: $line-height*14.71;
    }

    .label {
      background: none;
      clear: both;
      color: $debates;
      display: block;
      font-weight: bold;
      text-transform: uppercase;
      padding-left: 0;
      padding-top: 0;
    }

    .icon-comment-quotes {
      color: $debates;
      font-size: rem-calc(36);
      line-height: $line-height;
      position: absolute;
      right: rem-calc(18);
      top: rem-calc(24);
    }

    h3 {
      font-weight: bold;
      margin: rem-calc(8) 0 0 0;
      min-height: rem-calc(65);

      a {
        clear: both;
        color: $header-color;
        display: block;
        font-size: rem-calc(16);
        line-height: $line-height;
      }
    }

    .debate-info {
      color: $text-light;
      font-weight: lighter;
      margin-bottom: 0;

      .icon-chat-bubble-two {
        font-size: rem-calc(16);
        vertical-align: top;
      }

      a {
        color: $text-light;
      }
    }

    .debate-description {
      color: $text-color;
      font-size: rem-calc(13);
      height: $line-height*6.5;
      line-height: $line-height;
      margin-bottom: $line-height/2;
      margin-top: $line-height;
      overflow: hidden;
      position: relative;

      a {
        color: $text-color;
      }
    }

    .truncate {
      background: url('truncate.png');
      background-repeat: repeat-x;
      bottom: 0;
      height: 24px;
      position: absolute;
      width: 100%;
    }

    p {
      color: $text-color;
      font-size: rem-calc(13);
      line-height: $line-height;
      margin-bottom: $line-height/2;
    }
  }

  .votes {
    @include votes;
  }
}

.debates-list {
  margin-bottom: $line-height*2;
}

.debate {
  @extend .debate-featured;
  margin-bottom: 0;
  margin-top: 0;

  .panel {
    margin-bottom: 0;
    min-height: $line-height*8;
    padding: 0 rem-calc(12) rem-calc(2) rem-calc(12);

    &:first-child {
      padding-top: $line-height;
    }

    .label {
      line-height: $line-height;
      padding-bottom: 0;
    }

    h3 {
      margin-top: 0;
      min-height: $line-height*2;
    }

    p {
      text-align: justify;
    }

    .debate-content {
      margin: 0;
      min-height: 0;

      .tags {
        display: block;
      }
    }

    .icon-comment-quotes {
      font-size: rem-calc(18);
      left: rem-calc(60);
      top: 0;
    }

    .debate-description {
      height: $line-height*3;
      margin-top: 0;
    }
  }

  .votes {
    border: 0;

    .total-votes {
      display: block;
      float: none;
      line-height: $line-height;
    }

    .like {

      span {
        color: $votes-text;
        display: block;
        line-height: $line-height/2;
      }
    }

    .not-logged {
      line-height: $line-height;
      padding-top: $line-height*1.5;
    }
  }
}

// 03. Show
// - - - - - - - - - - - - - - - - - - - - - - - - -

.debate-show {
  background: white;
  padding: rem-calc(24) rem-calc(12) 0 rem-calc(12);

  .back {
    @include back;
  }

  .icon-angle-left {
   @extend .back;
  }

  h1 {
    clear: both;
    font-size: rem-calc(24);
    font-weight: bold;
    line-height: $line-height*2;
    margin: 0;
  }

  .debate-info {
    clear: both;
    color: $text-light;
    font-weight: lighter;
    line-height: $line-height*2;
    text-align: justify;

    a {
        color: $text-light;
    }

    .bullet {
      color: $border;
    }

    p {
      font-size: rem-calc(14);
      line-height: $line-height;
      margin-bottom: 0;
    }
  }

  .author-photo {
    border-radius: 2px;
    display: inline-block;
    height: 32px;
    line-height: $line-height*2;
    margin-right: $line-height/4;
    vertical-align: middle;
    width: 32px;
  }

  .author {
    color: $text-color;
    font-weight: bold;
  }

  .sidebar {
    border-top: 1px solid $border;
  }

  h3 {
    border-top: 1px solid $votes-border;
    display: inline-block;
    font-family: $font-family-sans-serif;
    font-size: rem-calc(16);
    margin: -1px 0 rem-calc(12);
    padding-top: rem-calc(6);
    text-transform: uppercase;
  }

  .votes {
    @include votes;
    border: 0;
    margin: 0;

    .total-votes {
      display: block;
      float: none;
      line-height: $line-height;
    }

    .not-logged {
      line-height: $line-height;
      padding: $line-height;
    }
  }

  .leave-comment {
    display: inline-block;
    margin-top: $line-height;
  }

  .tags {
    display: block;
    margin-top: $line-height;
  }
}

// 04. New
// - - - - - - - - - - - - - - - - - - - - - - - - -

.debate-new {
  background: white;
  padding-top: $line-height;

  .back {
    @include back;
  }

  h1 {
    clear: both;
    font-size: rem-calc(36);
    font-weight: bold;
    line-height: $line-height*2;
    margin-bottom: $line-height;
  }

  .icon-comment-quotes {
    color: $debates;
    font-size: rem-calc(60);
    line-height: $line-height;
    opacity: .5;
  }

  h2 {
    clear: both;
    font-size: rem-calc(20);
    font-weight: bold;
    line-height: $line-height;
    margin: 0;
  }

  .recommendations {
    list-style-type: none;
    margin-left: 0;
    margin-top: $line-height;

    li {
      font-size: rem-calc(12);
      margin: rem-calc(12) 0;

      &:before {
        color: $debates;
        content: "l ";
        font-family: "icons" !important;
      }
    }
  }
}

// 05. Comments
// - - - - - - - - - - - - - - - - - - - - - - - - -

.comments {
  background: $comments-bg;
  background-image: url('comments_divider.png');
  background-repeat: repeat-x;
  padding-top: $line-height;
  padding-bottom: $line-height*4;

  h2 {
    margin: 0;
    font-weight: bold;
  }

  .comment {
    margin: $line-height/4 0;

    p {
      color: $comments-text;
      margin-bottom: 0;
    }

    .comment-votes {
      color: $comments-info;
      font-weight: lighter;
      margin: rem-calc(15) rem-calc(6) 0;

      a {
        color: $comments-info;
        display: inline-block;
        vertical-align: top;
      }

      [class^="icon-"] {
        font-size: rem-calc(20);
        vertical-align: top;
      }
    }

    .user-photo {
      border-radius: 2px;
      display: inline-block;
      height: 32px;
      line-height: $line-height*2;
      margin-right: rem-calc(6);
      vertical-align: top;
      width: 32px;
    }

    .comment-body {
      margin-left: $line-height*1.6;

      .reply {
        background: white;
        border: 1px solid $border;
        font-size: rem-calc(12);
        font-weight: lighter;
        margin: rem-calc(6) 0;
        padding: rem-calc(6);
      }
    }

    .comment-children {
      border-left: 1px dashed $border;
      margin-left: $line-height*1.6;
      padding-left: $line-height/4;

      @media only screen and (max-width: 40em) {
        margin-left: $line-height/1.5;
      }
    }

    .comment-info {
      color: $comments-info;
      font-size: rem-calc(13);
      font-weight: lighter;
      vertical-align: middle;

      span {
        color: $text-color;
        font-weight: bold;
      }
    }
  }
}