.progress-bar {
  background-color: transparent;
  height: 5px;
  width: 100%;
  z-index: 666000555;
}

.loading-bar {
  height: 5px;
  width: 0px;
  z-index: 666000666;
  -webkit-transition:width 500ms ease-out, height 500ms ease-out;
  -moz-transition:width 500ms ease-out, height 500ms ease-out;
  -o-transition:width 500ms ease-out, height 500ms ease-out;
  transition:width 500ms ease-out, height 500ms ease-out;
  &.uploading{
    background-color: #bbb;
  }
  &.complete{
    background-color: #0f0;
  }
  &.errors{
    background-color: #f00;
  }
}

.loading-bar.no-transition {
  -webkit-transition:none;
  -moz-transition:none;
  -o-transition:none;
  transition:none;
}
