.filter-selector {
  text-align: right;

  label {
    display: inline-block;
    font-size: $small-font-size;
    margin-right: $line-height / 2;
    padding-top: $line-height / 2;
  }

  select {
    width: auto;
  }
}
