// List of fonts
//
// 01. Open Sans (http://www.fontsquirrel.com/fonts/open-sans)
// 02. Lato (http://www.fontsquirrel.com/fonts/lato)
//

// 01. Open Sans
// - - - - - - - - - - - - - - - - - - - - - - - - -

@font-face {
  font-family: 'Open Sans';
  src: font-url('opensans-light.eot');
  src: font-url('opensans-light.eot?#iefix') format('embedded-opentype'),
       font-url('opensans-light.woff2') format('woff2'),
       font-url('opensans-light.woff') format('woff'),
       font-url('opensans-light.ttf') format('truetype'),
       font-url('opensans-light.svg#open_sanslight') format('svg');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: font-url('opensans-lightitalic.eot');
  src: font-url('opensans-lightitalic.eot?#iefix') format('embedded-opentype'),
       font-url('opensans-lightitalic.woff2') format('woff2'),
       font-url('opensans-lightitalic.woff') format('woff'),
       font-url('opensans-lightitalic.ttf') format('truetype'),
       font-url('opensans-lightitalic.svg#open_sanslight_italic') format('svg');
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: font-url('opensans-regular.eot');
  src: font-url('opensans-regular.eot?#iefix') format('embedded-opentype'),
       font-url('opensans-regular.woff2') format('woff2'),
       font-url('opensans-regular.woff') format('woff'),
       font-url('opensans-regular.ttf') format('truetype'),
       font-url('opensans-regular.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: font-url('opensans-italic.eot');
  src: font-url('opensans-italic.eot?#iefix') format('embedded-opentype'),
       font-url('opensans-italic.woff2') format('woff2'),
       font-url('opensans-italic.woff') format('woff'),
       font-url('opensans-italic.ttf') format('truetype'),
       font-url('opensans-italic.svg#open_sansitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: font-url('opensans-bold.eot');
  src: font-url('opensans-bold.eot?#iefix') format('embedded-opentype'),
       font-url('opensans-bold.woff2') format('woff2'),
       font-url('opensans-bold.woff') format('woff'),
       font-url('opensans-bold.ttf') format('truetype'),
       font-url('opensans-bold.svg#open_sansbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: font-url('opensans-bolditalic.eot');
  src: font-url('opensans-bolditalic.eot?#iefix') format('embedded-opentype'),
       font-url('opensans-bolditalic.woff2') format('woff2'),
       font-url('opensans-bolditalic.woff') format('woff'),
       font-url('opensans-bolditalic.ttf') format('truetype'),
       font-url('opensans-bolditalic.svg#open_sansbold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}

// 02. Lato
// - - - - - - - - - - - - - - - - - - - - - - - - -

@font-face {
  font-family: 'Lato';
  src: font-url('lato-light.eot');
  src: font-url('lato-light.eot?#iefix') format('embedded-opentype'),
       font-url('lato-light.woff2') format('woff2'),
       font-url('lato-light.woff') format('woff'),
       font-url('lato-light.ttf') format('truetype'),
       font-url('lato-light.svg#latolight') format('svg');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: font-url('lato-regular.eot');
  src: font-url('lato-regular.eot?#iefix') format('embedded-opentype'),
       font-url('lato-regular.woff2') format('woff2'),
       font-url('lato-regular.woff') format('woff'),
       font-url('lato-regular.ttf') format('truetype'),
       font-url('lato-regular.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: font-url('lato-bold.eot');
  src: font-url('lato-bold.eot?#iefix') format('embedded-opentype'),
       font-url('lato-bold.woff2') format('woff2'),
       font-url('lato-bold.woff') format('woff'),
       font-url('lato-bold.ttf') format('truetype'),
       font-url('lato-bold.svg#latobold') format('svg');
  font-weight: bold;
  font-style: normal;
}
