@charset "UTF-8";

@font-face {
  font-family: 'icons';
  src: font-url('icons.eot');
  src: font-url('icons.eot?#iefix') format('embedded-opentype'),
    font-url('icons.woff') format('woff'),
    font-url('icons.ttf') format('truetype'),
    font-url('icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-down:before {
  content: "a";
}
.icon-angle-left:before {
  content: "b";
}
.icon-angle-right:before {
  content: "c";
}
.icon-angle-up:before {
  content: "d";
}
.icon-chat-bubble-two:before {
  content: "e";
}
.icon-twitter:before {
  content: "f";
}
.icon-calendar:before {
  content: "g";
}
.icon-comment-quotes:before {
  content: "i";
}
.icon-unlike:before {
  content: "j";
}
.icon-like:before {
  content: "k";
}
.icon-check:before {
  content: "l";
}
.icon-edit:before {
  content: "m";
}
.icon-star:before {
  content: "n";
}
.icon-eye:before {
  content: "p";
}
.icon-user:before {
  content: "o";
}
.icon-settings:before {
  content: "q";
}
.icon-stats:before {
  content: "r";
}
.icon-initiatives:before {
  content: "h";
}
