.progress-bar-placeholder {
  display: none;
}

.image-form {
  .image .file-name {
    margin-top: 0;
  }
  .progress-bar-placeholder {
    margin-bottom: 15px;
  }
  .image .loading-bar.errors {
    margin-top: $line-height * 2;
  }
}

.cached-image{
  max-width: 150px;
  max-height: 150px;
}
.image {

  .button {
    font-weight: normal;
  }

  .progress-bar {
    width: 100%;
    background-color: $light-gray;
  }

  input.direct_upload_image_attachment[type=file],
  input.direct_upload_document_attachment[type=file] {
    display: none;
  }

  .file-name {
    margin-top: 0px;
  }

  .loading-bar {
    height: 5px;
    width: 0;
    transition: width 500ms ease-out;

    &.uploading {
      background-color: $dark-gray;
    }

    &.complete {
      background-color: $success-color;
      width: 100%;
    }

    &.errors {
      background-color: $alert-color;
      margin-top: $line-height / 2;
    }
  }

  .loading-bar.no-transition {
    transition: none;
  }
}
