.in-favor-against {
  @include flex-with-gap($line-height / 4);

  @include breakpoint(medium) {
    @include flex-with-gap($line-height * 3 / 4);
  }

  &,
  .in-favor,
  .against,
  form {
    display: inline-block;
  }

  button {
    background: #fff;
    border: 2px solid;
    border-radius: rem-calc(3);
    color: $text-light;
    display: inline-block;
    font-size: rem-calc(30);
    line-height: rem-calc(30);
    padding: rem-calc(3) rem-calc(6) rem-calc(6);
    position: relative;

    &:not([disabled]) {
      &:hover,
      &:active,
      &[aria-pressed=true] {
        color: #fff;
        cursor: pointer;
      }
    }
  }

  .in-favor button {
    @include has-fa-icon(thumbs-up, solid);

    &:not([disabled]) {
      &:hover,
      &:active,
      &[aria-pressed=true] {
        background: $like;
        border-color: $like;
      }
    }
  }

  .against button {
    @include has-fa-icon(thumbs-down, solid);

    &:not([disabled]) {
      &:hover,
      &:active,
      &[aria-pressed=true] {
        background: $unlike;
        border-color: $unlike;
      }
    }
  }

  .percentage {
    display: inline-block;
    font-size: $small-font-size;
    line-height: $line-height * 2;
    padding-right: $line-height / 2;
    vertical-align: top;

    @include breakpoint(medium) {
      display: block;
      line-height: $line-height;
      padding-right: 0;
    }
  }
}
