.in-favor-against {
  @include flex-with-gap($line-height / 4);

  @include breakpoint(medium) {
    @include flex-with-gap($line-height * 3 / 4);
  }

  &,
  .in-favor,
  .against,
  form {
    display: inline-block;
  }

  button {
    background: #fff;
    border: 2px solid;
    border-radius: rem-calc(3);
    color: $dark-gray;
    display: inline-block;
    font-size: rem-calc(30);
    line-height: rem-calc(30);
    padding: rem-calc(3) rem-calc(6) rem-calc(6);
    position: relative;
  }

  @mixin like-unlike-icon($icon, $pressed-color) {
    @include has-fa-icon($icon, regular);

    &:not([disabled]) {
      cursor: pointer;

      &:hover,
      &:active,
      &[aria-pressed=true] {
        @include has-fa-icon($icon, solid);
        background: $pressed-color;
        border-color: $pressed-color;
        color: #fff;
      }
    }
  }

  .in-favor button {
    @include like-unlike-icon(thumbs-up, $like);
  }

  .against button {
    @include like-unlike-icon(thumbs-down, $unlike);
  }

  .percentage {
    display: inline-block;
    font-size: $small-font-size;
    line-height: $line-height * 2;
    padding-right: $line-height / 2;
    vertical-align: top;

    @include breakpoint(medium) {
      display: block;
      line-height: $line-height;
      padding-right: 0;
    }
  }
}
