// Table of Contents
//
// 01. Utils
// 02. Hero
// 03. Legislation process
// 04. Debate list
// 05. Debate quiz
// 06. Legislation draft
//

// 01. Utils
// -----------------
.grey {
  color: #878787;
}

.grey-heading {
  background: #E6E6E6;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.strong {
  font-weight: 700;
}

// 02. Hero
// -----------------
.legislation-hero {
  padding-top: 1.5rem;
  margin-bottom: 2rem;
  
  @include breakpoint(medium) {
    padding-top: 3.5rem;
    margin-bottom: 4rem;
  }
  
  h4 {
    color: #878787;
    text-transform: uppercase;
    font-weight: 400;
  }
  
  ul {
    list-style: none;
    margin-left: 0;
    
    li:before {
      vertical-align: text-bottom;
      padding-right: 0.5rem;
      content: "■";
      color: #8AA8BE;
    }
  }
  
  .half-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6e6e6+0,e6e6e6+50,ffffff+50 */
    background: #e6e6e6; /* Old browsers */
    background: -moz-linear-gradient(top, #e6e6e6 0%, #e6e6e6 50%, #ffffff 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e6e6e6 0%,#e6e6e6 50%,#ffffff 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e6e6e6 0%,#e6e6e6 50%,#ffffff 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }
  
  .center .button {
    background: #004A83;
    margin-bottom: 0;
  }
  
  .headline {
    margin-bottom: 1rem;
    
    @include breakpoint(medium) {
      margin-bottom: 4rem;
      
    }
  }
  
  .description {
    margin-bottom: 1rem;
    
    @include breakpoint(medium) {
        margin-bottom: 0;
    }
  }
  
  .button-subscribe {
    margin-top: 1rem;
    
    h3 {
      margin-bottom: 0;
    }
    
    p {
      margin-bottom: 0;
      font-size: $small-font-size;
    }
    
    &:hover h3 {
      color: white;
    }
    
    @include breakpoint(medium) {
      padding: 0.5em 1em;
      margin-top: 3rem;
    }
  }
}

// 03. Legislation process
// -----------------
.legislation-process-categories {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  border-bottom: 1px solid $medium-gray;
  
  li {
    cursor: pointer;
    margin-left: 1rem;
    display: inline-block;
    margin-bottom: 1rem;
    
    @include breakpoint(medium) {
      margin-left: 3rem;
      margin-bottom: 0;
    }
    
    a,
    h4 {
      color: #6D6D6D;
      margin-bottom: 0;
    }
    
    a {
      &:hover, &:active {
        text-decoration: none;
      }
      
      p {
        margin-bottom: 0;
        
        @include breakpoint(medium) {
          margin-bottom: 1rem;
        }
      }
    }
  }
  
  .active {
    border-bottom: 2px solid $brand;
  }
}

// 04. Debate list
// -----------------
.debate-chooser {
  padding: 2rem 1rem;
  
  @include breakpoint(medium) {
    .debate-chooser {
      padding: 2rem 3rem;
    }
  }
  
  .debate-block {
    margin-bottom: 2.5rem;
    
    .debate-type {
      text-transform: uppercase;
      color: #178DCC;
      font-weight: 700;
      font-size: $small-font-size;
      
      .icon-debates {
        margin-left: 0.2rem;
      }
    }
    
    .debate-title a {
      color: $brand;
    }
    
    .debate-meta,
    .debate-meta a {
      font-size: $small-font-size;
      color: #6D6D6D;
      
      .icon-comments {
        margin-right: 0.2rem;
      }
    }
  }
  
  .debate-info {
    padding: 1rem;
    background: #F4F4F4;
  }
}

// 05. Debate quiz
// -----------------
.debate-quiz {
  
  .quiz-header {
    margin-bottom: 2rem;
    
    .quiz-title, .quiz-next {
      padding: 1rem;
      height: 6rem;
    }
    
    .quiz-title {
      background: #E5ECF2;
      
      .quiz-header-title {
        margin-bottom: 0;
        text-transform: uppercase;
        color: #979B9F;
        font-weight: 700;
        font-size: $small-font-size;
      }
    }
    
    h4 a {
      color: $brand;
    }
    
    h4 a:hover {
      text-decoration: none;
    }
    
    .quiz-next-link {
      
      &:hover, &:active {
        text-decoration: none;
      }
      
      .quiz-next {
        background: #CCDBE5;
        font-weight: 700;
        color: $brand;
        font-size: $small-font-size;
        text-align: right;
        text-transform: uppercase;
        transition: background 0.25s ease-out, background 0.25s ease-out;
        
        .icon-angle-right {
          vertical-align: sub;
        }
        
        &:hover, &:active {
          text-decoration: none;
          background: $brand;
          color: white;
          
          .icon-angle-right {
            color: white;
          }
        }
      }
    }
  }
  
  .quiz-question {
    margin-bottom: 2rem;
  }
  
  .debate-questions {
    list-style: none;
    
    .control {
      position: relative;
      display: inline-block;
      color: #555;
      cursor: pointer;
      background: #fff;
      border: 1px solid $border;
      border-radius: 4px;
      padding: 0.75rem 2.5rem;
      margin-right: 1.5rem;
    }
    
    .active {
      background: #CCDBE6;
      border: none;
    }
    
    .control input {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
    
    .control input:checked ~ .control-indicator {
      background-color: $brand;
      border: none;
    }
    
    .radio .control-indicator {
      border-radius: 50%;
    }
    
    .control-indicator {
      position: absolute;
      top: 0.95rem;
      left: 0.95rem;
      display: block;
      width: 1rem;
      height: 1rem;
      line-height: 1rem;
      font-size: 65%;
      text-align: center;
      border: 2px solid #9C9C9C;
      pointer-events: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}

// 06. Legislation draft
// -----------------
.debate-draft {
  padding: 10rem 2rem 15rem 2rem;
  display: block;
  background: #F2F2F2;
  
  button {
    height: 90px;
    
    h3 {
      margin-bottom: 0;
    }
    
    p {
      margin-bottom: 0;
      font-size: $small-font-size;
    }
  }
}
