.legislation {
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 0;
  box-shadow: 0 1px 3px 0 #dee0e3;
  margin: 0 0 $line-height;
  min-height: 12rem;
  padding: 2rem 0 0;
}

.legislation-text {
  margin-bottom: 1rem;

  > * {
    @include grid-column-gutter;
  }

  h3 a {
    color: inherit;
    display: inline-block;
    margin-bottom: 1rem;
  }
}

.legislation-calendar-info p {
  color: $text-medium;
  font-size: $small-font-size;
  margin-bottom: 0;
}

.legislation-calendar {
  background: $highlight;
  padding-top: 1rem;

  h4 {
    color: #61686e;
    font-size: rem-calc(16);
    margin-bottom: 0;
    margin-left: 0.25rem;

    @include breakpoint(medium) {
      margin-left: 0;
    }
  }

  p {
    font-size: $small-font-size;
    margin-left: 0.25rem;

    @include breakpoint(medium) {
      margin-left: 0;
    }
  }
}
