/*---------- VARIABLES ---------------*/

$morado: #612d62;
$verde: #78bbb1;


/*---------- CLASES ---------------*/

header {background: none;}

.contain-to-grid {background: #fff; border-bottom: 1px solid #ddd;}
.top-bar .name a img {height: auto; margin-top: 1.25rem; width: auto;}

header .search-form .postfix, .button,
.top-links, .top-bar-section ul li > a.button {background: $morado;}
.tag-cloud h3, .footer {border-color: $morado;}
.search-form .button.postfix,
button:hover, button:focus, .button:hover, .button:focus{background: $verde;}
.search-form .button.postfix:hover {background: $morado;}
.top-bar-section ul li > a.button:hover {background: $verde !important;}
.top-bar-section ul li {margin-left: 1rem;}

.subnavigation-container {padding: 1.5rem 0;}
.subnavigation {min-height: 0;}
.subnavigation a {line-height: 1rem;}
.subnavigation a:hover {color: $morado; border-bottom: 2px solid $morado;}
.subnavigation a.active {border-bottom-color: $morado; color: $morado;}

.wrapper-home {background: url(/assets/foto-home-plaza.jpg) no-repeat; padding: 1rem 0;}

.button {padding: 0.75rem 1.5rem;}
.button.radius {border-radius: 15px;}
.button.warning {background-color: $morado; border:0;}

header .more-info {text-decoration: none;}
header .more-info:hover {opacity: inherit; color: $morado;}
.top-links a:hover {color:$verde; text-decoration: none;}
h3, .page .more-information ul a, .top-bar-section ul li > a {color: $morado !important;}
.footer {margin-top: 1rem;}
