/*---------- VARIABLES ---------------*/
/*---------- MIXINS ---------------*/
/*---------- CLASES ---------------*/
/* line 17, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.home-plaza-podemos .contain-to-grid {
  background: none; }

/* line 19, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
header {
  background: none; }
  /* line 21, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
  header .locale {
    display: none; }
  /* line 22, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
  header .search-form {
    padding-top: 0; }
  /* line 23, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
  header .more-info {
    text-decoration: none; }
    /* line 25, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
    header .more-info:hover {
      opacity: inherit;
      color: #612d62; }

/* line 30, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.home-plaza-podemos .contain-to-grid {
  background: none; }

/* line 31, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.home-plaza-podemos section[role="main"] {
  padding: 2.5em 0 1em; }

/* line 32, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.home-plaza-podemos .top-bar-section ul li > a.button {
  background: #612d62;
  border: 0; }

/* line 36, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.contain-to-grid {
  background: white;
  border-bottom: 1px solid #ddd; }

/* line 37, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.top-bar .name a img {
  height: auto;
  margin-top: 1.25rem;
  width: auto; }

/* line 40, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
header .search-form .postfix, .button,
.top-links {
  background: #612d62; }

/* line 41, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.top-bar-section ul li > a.button {
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid white; }
  /* line 43, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
  .top-bar-section ul li > a.button:hover {
    background: none !important; }

/* line 45, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.tag-cloud h3, .footer {
  border-color: #612d62; }

/* line 47, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.search-form .button.postfix,
button:hover, button:focus, .button:hover, .button:focus {
  background: #78bbb1; }

/* line 48, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.search-form .button.postfix:hover {
  background: #612d62; }

/* line 49, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.top-bar-section ul li {
  margin-left: 1rem; }

/* line 51, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.subnavigation {
  min-height: 0; }
  /* line 53, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
  .subnavigation a {
    line-height: 1rem; }
    /* line 55, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
    .subnavigation a:hover {
      color: #612d62;
      border-bottom: 2px solid #612d62; }
    /* line 56, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
    .subnavigation a.active {
      border-bottom-color: #612d62;
      color: #612d62;
      line-height: 1rem; }

/* line 60, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.subnavigation-container {
  min-height: 85px;
  padding: 1.5rem 0; }

/* line 62, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.wrapper-home {
  background: url(/assets/home-plaza.jpg) no-repeat;
  padding: 1rem 0; }

/* line 64, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.contain-to-grid {
  background: url(/assets/cabecera-popular.jpg) no-repeat; }

/* line 66, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.button {
  padding: 0.75rem 1.5rem; }

/* line 67, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.button.radius {
  border-radius: 15px; }

/* line 68, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.button.warning {
  background-color: #612d62;
  border: 0; }

/* line 69, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
button.warning:hover, button.warning:focus, .button.warning:hover, .button.warning:focus {
  background: #78bbb1; }

/* line 71, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.top-links a:hover {
  color: #78bbb1;
  text-decoration: none; }

/* line 72, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.top-bar-section ul li > a {
  color: white !important; }

/* line 73, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
h3, .page .more-information ul a {
  color: #612d62 !important; }

/* line 74, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.page .more-information ul a:hover {
  color: #78bbb1 !important; }

/* line 76, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.footer {
  margin-top: 1rem; }

/* line 78, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.top-bar-section ul li > a.button {
  color: white !important; }

/* line 80, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
form input[type]:not([type=submit]):not([type=file]):not([type=checkbox]),
.search-form .button.postfix {
  margin-bottom: 0; }

/* line 82, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.proposal, .proposal-show {
  margin-bottom: 1rem;
  margin-top: 0.5rem; }
  /* line 84, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
  .proposal .panel, .proposal-show .panel {
    box-shadow: none;
    min-height: 0 !important;
    padding: 0; }
    /* line 86, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
    .proposal .panel .proposal-content, .proposal-show .panel .proposal-content {
      padding: 1rem; }
      /* line 11, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
      .proposal .panel .proposal-content h3 a:hover, .proposal-show .panel .proposal-content h3 a:hover {
        color: #78bbb1; }
    /* line 87, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
    .proposal .panel .icon-proposals, .proposal-show .panel .icon-proposals {
      left: 6.5rem;
      top: 1rem; }
  /* line 89, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
  .proposal .supports, .proposal-show .supports {
    margin: 0; }
    /* line 91, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
    .proposal .supports:after, .proposal-show .supports:after {
      content: none; }
    /* line 92, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
    .proposal .supports .progress .meter, .proposal-show .supports .progress .meter {
      color: #B37EB4; }
    /* line 93, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
    .proposal .supports .supported, .proposal-show .supports .supported {
      color: #333; }
    /* line 94, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
    .proposal .supports .total-supports, .proposal-show .supports .total-supports {
      font-weight: bold;
      color: #333; }

/* line 98, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.debate {
  margin-bottom: 1rem;
  margin-top: 0.5rem; }
  /* line 100, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
  .debate .panel {
    box-shadow: none;
    min-height: 0 !important;
    padding: 0; }
    /* line 102, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
    .debate .panel .debate-content {
      padding: 1rem; }
      /* line 11, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
      .debate .panel .debate-content h3 a:hover {
        color: #78bbb1; }
    /* line 103, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
    .debate .panel .icon-debates {
      left: 5.2rem;
      top: 1rem; }
  /* line 105, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
  .debate .votes {
    background: #ddd;
    border-color: #ddd;
    padding-bottom: 3rem;
    padding-top: 3rem;
    margin: 0; }
    /* line 108, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
    .debate .votes:after {
      content: none; }
    /* line 109, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
    .debate .votes .icon-like, .debate .votes .icon-unlike {
      background: #B37EB4;
      border: 0;
      border-radius: 5px; }
    /* line 110, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
    .debate .votes .like span, .debate .votes .debate .votes .unlike span, .debate .votes .total-votes {
      color: #333;
      font-weight: bold; }

/* line 114, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.medida-show .votes, .debate-show .votes {
  background: #ddd; }
  /* line 116, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
  .medida-show .votes .icon-like, .medida-show .votes .icon-unlike, .debate-show .votes .icon-like, .debate-show .votes .icon-unlike {
    background: #B37EB4;
    border: 0;
    border-radius: 5px; }
  /* line 117, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
  .medida-show .votes .total-votes, .debate-show .votes .total-votes {
    color: #333;
    font-weight: bold; }
  /* line 118, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
  .medida-show .votes .like span, .medida-show .votes .unlike-span, .debate-show .votes .like span, .debate-show .votes .unlike-span {
    color: #333;
    font-weight: bold; }

/* line 121, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.medida {
  margin-bottom: 1rem;
  margin-top: 0.5rem; }
  /* line 123, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
  .medida .panel {
    box-shadow: none;
    min-height: 0 !important;
    padding: 0; }
    /* line 125, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
    .medida .panel .medida-content {
      padding: 1rem; }
      /* line 11, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
      .medida .panel .medida-content h3 a:hover {
        color: #78bbb1; }
    /* line 126, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
    .medida .panel .icon-medidas {
      left: 5.2rem;
      top: 1rem; }
  /* line 128, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
  .medida .votes {
    background: #ddd;
    border-color: #ddd;
    padding-bottom: 3rem;
    padding-top: 3rem;
    margin: 0; }
    /* line 131, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
    .medida .votes:after {
      content: none; }
    /* line 132, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
    .medida .votes .icon-like, .medida .votes .icon-unlike {
      background: #B37EB4;
      border: 0;
      border-radius: 5px; }
    /* line 133, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
    .medida .votes .like span, .medida .votes .medida .votes .unlike span, .medida .votes .total-votes {
      color: #333;
      font-weight: bold; }

/* line 148, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.proposal .panel .label-proposal,
.proposal .panel .icon-proposals,
.proposal-featured .panel .proposal-info,
.proposal .panel .proposal-info,
.debate .panel .label-debate,
.debate .panel .icon-debates,
.debate .panel .debate-info,
.debate .panel .debate-info a,
.medida .panel .label-medida,
.medida .panel .icon-medidas,
.medida .panel .medida-info,
.medida .panel .medida-info a {
  color: #B37EB4; }

/* line 153, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.proposal-featured .panel .proposal-info .author,
.proposal .panel .proposal-info .author,
.debate .panel .debate-info .author,
.medida .panel .medida-info .author {
  color: #999; }

/* line 155, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.proposal .supports, .proposal-featured .supports, .proposal-show .supports {
  background: #ddd;
  border-color: #ddd;
  padding-bottom: 2rem;
  padding-top: 2rem; }

/* line 157, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.proposal .supports .button-support, .proposal-featured .supports .button-support, .proposal-show .supports .button-support {
  background: #612d62;
  color: white; }

/* line 159, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.proposal .supports .button-support:hover, .proposal-featured .supports .button-support:hover, .proposal-show .supports .button-support:hover {
  background: #78bbb1; }

/* line 161, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.proposal .supports abbr, .proposal-featured .supports abbr, .proposal-show .supports abbr {
  color: #333; }

/* line 163, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.proposal .supports .percentage, .proposal-featured .supports .percentage, .proposal-show .supports .percentage {
  color: #333; }

/* line 165, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.proposal .supports abbr[title], .proposal-featured .supports abbr[title], .proposal-show .supports abbr[title] {
  border-bottom-color: #333; }

/* line 167, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
abbr, acronym {
  font-size: 100%;
  color: #333; }

/* line 169, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.tags a, .tag-cloud a {
  background: white;
  border: 1px solid #ddd;
  margin-right: 10px;
  margin-bottom: 0; }

/* line 172, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.sidebar .tags a, .sidebar .tag-cloud a, .sidebar .tag-cloud a {
  margin-bottom: 1rem; }

/* line 173, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.sidebar .button.radius {
  border-radius: 0;
  background: #78bbb1; }
  /* line 176, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
  .sidebar .button.radius:hover {
    background: #612d62; }

/* line 180, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.tags a:hover, .tag-cloud a:hover {
  background: white;
  color: #78bbb1; }

/* line 182, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.proposal-featured .panel .proposal-info a, .proposal .panel .proposal-info a {
  color: #B37EB4; }

/* line 186, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.proposal-info a:hover, .debate-info a:hover, .medida-info a:hover {
  color: #612d62 !important; }

/* line 187, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.in-favor .button.expand {
  padding: 0.8rem 2rem; }

/* line 188, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.tag-cloud a .label.info {
  background: #aaa; }

/* line 190, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.filters select, .search-results select {
  border-radius: 10px;
  background-color: #eee;
  border: 0;
  cursor: pointer; }

/* line 192, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
button.success, .button.success {
  background: #78bbb1; }

/* line 193, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
button.success:hover, .button.success:hover {
  background: #B37EB4; }

/* line 195, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.debate-show .votes {
  background: #ddd; }

/* line 199, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.tag-cloud h3 {
  text-transform: none; }

/* line 201, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.medida-new .icon-medidas, .medida-edit .icon-medidas {
  display: none; }

/* line 203, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.top-bar-section {
  top: 2rem; }

/* line 204, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.top-bar-section ul li:not(.has-form) a:not(.button) {
  line-height: 1rem;
  padding: 0.5rem 0.75rem;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid white; }

/* line 211, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.top-bar-section ul li:not(.has-form) a:not(.button):hover {
  line-height: 1rem;
  border: 1px solid white;
  text-decoration: none; }

/* line 217, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.top-bar-section ul li > a.button {
  margin-top: 0;
  top: 0; }

/* line 219, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.debate-new a, .debate-edit a, .proposal-new a, .proposal-show .document-link a, .proposal-show .video-link a {
  color: #612d62; }

/* line 220, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.debate-new a:hover, .proposal-new a:hover, .debate-edit a:hover, .proposal-show .document-link a:hover, .proposal-show .video-link a:hover, .page .menu a:hover, .page .text a:hover {
  color: #78bbb1; }

/* line 221, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.page .text a, .page .menu a {
  color: #B37EB4; }

/* line 223, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.menu-programa {
  float: left;
  margin: 2em 0; }
  /* line 226, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
  .menu-programa > a {
    color: #612d62;
    font-weight: bold;
    float: left;
    text-align: left;
    padding-right: 2rem; }
    /* line 232, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
    .menu-programa > a:hover {
      color: #78bbb1; }

/* line 236, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.comments .comment .comment-body .comment-user.is-author {
  background: #ddd; }

/* line 238, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.comments .comment-children .comment-body .comment-user.is-author {
  background: #eee; }

/* line 240, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.is-author {
  background: #78bbb1; }

/* line 242, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.js-add-comment-link, .verify-account .already-verified {
  color: #78bbb1; }

/* line 244, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.auth-page {
  background: #ddd; }
  /* line 246, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
  .auth-page a.back, .auth-page i {
    color: #612d62; }

/* line 249, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
footer {
  padding: 4rem 0 0; }
  /* line 251, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
  footer .logo a {
    font-size: 1.35rem; }

/* line 255, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.admin .title-area {
  display: none; }

/* line 259, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.proposal-new .icon-proposals,
.debate-new .icon-debates {
  display: none; }

/* line 262, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
[class*='bloque1-epi'], [class*='bloque2-epi'], [class*='bloque3-epi'],
[class*='bloque4-epi'], [class*='bloque5-epi'], [class*='bloque6-epi'] {
  display: none; }

/* line 268, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.condiciones-generales h2 {
  margin-top: 0.5rem; }

/* line 269, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.condiciones-generales h3 {
  font-size: 1rem;
  margin-top: 1rem; }

/* line 270, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.condiciones-generales strong {
  font-size: 1rem; }

/* line 273, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
.f-dropdown li a {
  color: #612d62; }
  /* line 275, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
  .f-dropdown li a:hover {
    color: #78bbb1; }

/* line 279, /Users/slozano/Sites/Podemos/participacion/app/assets/stylesheets/podemos.scss */
#epi-bloque3.f-dropdown li,
#epi-bloque6.f-dropdown li {
  display: inline-block; }

/*# sourceMappingURL=podemos.css.map */
