/*---------- VARIABLES ---------------*/

$morado: #612d62;
$verde: #78bbb1;
$morado-claro: #B37EB4;

/*---------- MIXINS ---------------*/


/*---------- CLASES ---------------*/

.home-plaza-podemos .contain-to-grid {background:none;}

header {
    background: none;
    .locale {display: none;}
    .search-form {padding-top:0;}
    .more-info {
        text-decoration: none;
        &:hover {opacity: inherit; color: $morado;}
    }
}

.contain-to-grid {background: white; border-bottom: 1px solid #ddd;}
.top-bar .name a img {height: auto; margin-top: 1.25rem; width: auto;}

header .search-form .postfix, .button,
.top-links, .top-bar-section ul li > a.button {background: $morado;}
.tag-cloud h3, .footer {border-color: $morado;}
.search-form .button.postfix,
button:hover, button:focus, .button:hover, .button:focus{background: $verde;}
.search-form .button.postfix:hover {background: $morado;}
.top-bar-section ul li > a.button:hover {background: $verde !important;}
.top-bar-section ul li {margin-left: 1rem;}

.subnavigation {
    min-height: 0;
    a {
        line-height: 1rem;
        &:hover {color: $morado; border-bottom: 2px solid $morado;}
        &.active {border-bottom-color: $morado; color: $morado; line-height: 1rem;}
    }
}

.subnavigation-container {min-height: 85px; padding: 1.5rem 0;}

.wrapper-home {background: url(/assets/home-plaza.jpg) no-repeat; padding: 1rem 0;}

.contain-to-grid {background: url(/assets/cabecera-popular.jpg) no-repeat;}

.button {padding: 0.75rem 1.5rem;}
.button.radius {border-radius: 15px;}
.button.warning {background-color: $morado; border:0;}
button.warning:hover, button.warning:focus, .button.warning:hover, .button.warning:focus {background: $verde;}

.top-links a:hover {color:$verde; text-decoration: none;}
.top-bar-section ul li > a {color: white !important;}
h3, .page .more-information ul a {color: $morado !important;}
.page .more-information ul a:hover {color: $verde !important;}

.footer {margin-top: 1rem;}

.top-bar-section ul li > a.button {color: white !important;}
form input[type]:not([type=submit]):not([type=file]):not([type=checkbox]),
.search-form .button.postfix {margin-bottom: 0;}

.proposal, .proposal-show {
    margin-bottom: 1rem; margin-top: 0.5rem;
    .panel {
        box-shadow: none; min-height: 0 !important; padding: 0;
        .proposal-content {padding: 1rem;}
        .icon-proposals {left: 6.5rem; top: 1rem;}
    }
    .supports {
        margin: 0;
        &:after {content: none;}
        .progress .meter {color: $morado-claro;}
        .supported {color: #333;}
        .total-supports {font-weight: bold; color: #333;}
    }
}

.debate {
    margin-bottom: 1rem; margin-top: 0.5rem;
    .panel {
        box-shadow: none; min-height: 0 !important; padding: 0;
        .debate-content {padding: 1rem;}
        .icon-debates {left: 5.2rem; top: 1rem;}
    }
    .votes {
        background: #ddd; border-color: #ddd; padding-bottom: 3rem; padding-top: 3rem;
        margin: 0;
        &:after {content: none;}
        .icon-like, .icon-unlike {background: #B37EB4; border:0; border-radius: 5px;}
        .like span, .debate .votes .unlike span, .total-votes {color: #333; font-weight: bold;}
    }
}

.medida-show .votes, .debate-show .votes {
    background: #ddd;
    .icon-like, .icon-unlike {background: #B37EB4; border:0; border-radius: 5px;}
    .total-votes {color: #333; font-weight: bold;}
    .like span, .unlike-span {color: #333; font-weight: bold;}
}

.medida {
    margin-bottom: 1rem; margin-top: 0.5rem;
    .panel {
        box-shadow: none; min-height: 0 !important; padding: 0;
        .medida-content {padding: 1rem;}
        .icon-medidas {left: 5.2rem; top: 1rem;}
    }
    .votes {
        background: #ddd; border-color: #ddd; padding-bottom: 3rem; padding-top: 3rem;
        margin: 0;
        &:after {content: none;}
        .icon-like, .icon-unlike {background: #B37EB4; border:0; border-radius: 5px;}
        .like span, .medida .votes .unlike span, .total-votes {color: #333; font-weight: bold;}
    }
}

.proposal .panel .label-proposal,
.proposal .panel .icon-proposals,
.proposal-featured .panel .proposal-info,
.proposal .panel .proposal-info,
.debate .panel .label-debate,
.debate .panel .icon-debates,
.debate .panel .debate-info,
.debate .panel .debate-info a,
.medida .panel .label-medida,
.medida .panel .icon-medidas,
.medida .panel .medida-info,
.medida .panel .medida-info a{color: $morado-claro;}

.proposal-featured .panel .proposal-info .author,
.proposal .panel .proposal-info .author,
.debate .panel .debate-info .author,
.medida .panel .medida-info .author {color: #999;}

.proposal .supports, .proposal-featured .supports, .proposal-show .supports {background: #ddd; border-color: #ddd; padding-bottom: 2rem; padding-top: 2rem;}

.proposal .supports .button-support, .proposal-featured .supports .button-support, .proposal-show .supports .button-support {background: $morado; color: white;}

.proposal .supports .button-support:hover, .proposal-featured .supports .button-support:hover, .proposal-show .supports .button-support:hover {background: $verde;}

.proposal .supports abbr, .proposal-featured .supports abbr, .proposal-show .supports abbr {color: #333;}

.proposal .supports .percentage, .proposal-featured .supports .percentage, .proposal-show .supports .percentage {color: #333;}

.proposal .supports abbr[title], .proposal-featured .supports abbr[title], .proposal-show .supports abbr[title] {border-bottom-color: #333;}

abbr, acronym {font-size: 100%; color: #333;}

.tags a, .tag-cloud a {background: white; border: 1px solid #ddd; margin-right: 10px; margin-bottom: 0;}

.sidebar {
    .tags a, .tag-cloud a, .tag-cloud a {margin-bottom: 1rem;}
    .button.radius {
        border-radius: 0;
        background: $verde;
        &:hover {background: $morado;}
    }
}

.tags a:hover, .tag-cloud a:hover {background: white; color: $verde;}

.proposal-featured .panel .proposal-info a, .proposal .panel .proposal-info a {color: $morado-claro;}
.in-favor .button.expand {padding: 0.8rem 2rem;}
.tag-cloud a .label.info {background: #aaa;}

.filters select, .search-results select {border-radius: 10px; background-color: #eee; border: 0; cursor: pointer;}

button.success, .button.success {background: $verde;}
button.success:hover, .button.success:hover {background: $morado-claro;}

.debate-show .votes {
    background: #ddd;
}

.tag-cloud h3 {text-transform: none;}

.medida-new .icon-medidas, .medida-edit .icon-medidas {display: none;}

.top-bar-section {top: 2rem;}
.top-bar-section ul li:not(.has-form) a:not(.button) {
    line-height: 1rem;
    padding: 0.5rem 0.75rem;
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid white;
}

.top-bar-section ul li:not(.has-form) a:not(.button):hover {
    line-height: 1rem;
    border: 1px solid white;
    text-decoration: none;
}

.top-bar-section ul li > a.button {margin-top: 0; top: 0;}

.debate-new a, .debate-edit a,.proposal-show .document-link a, .proposal-show .video-link a, {color: $morado;}
.debate-new a:hover, .debate-edit a:hover,.proposal-show .document-link a:hover, .proposal-show .video-link a:hover, .page .menu a:hover, .page .text a:hover {color: $verde;}
.page .text a, .page .menu a {color: $morado-claro;}

