.poll-card {
  .card {
    background-color: #e7f3fd;
  }

  .clipboard-btn {
    border-radius: 12pt;
    padding: 0;
    width: 24pt;
    height: 24pt;
    padding-top: 5pt;
    padding-left: 1pt;
  }
}
