.poll-card {

  .card {
    background-color: #e7f3fd;
  }

  .clipboard-btn {
    border-radius: rem-calc(12);
    padding: rem-calc(5) rem-calc(10) rem-calc(10) rem-calc(10);
    height: rem-calc(24);
  }
}
