/* Styles for print */

/* Print proposals */

.top-links, .tags a, .supports, .label-proposal,
#print_link, .admin-sidebar, img.left, .proposal-info a,
.icon-comments, .menu-icon, .icon-proposals, li.name span,
p.proposal-info span:nth-child(3) {
  display: none !important;
}

.select-order {
  border: 0;
  font-size: 24px;
  font-weight: bold;
  margin-left: -12px;
}

p.proposal-info {
  margin-left: -6px;
}

a {
  text-decoration: none !important;
}

a:after {
  content: none !important;
}

.proposal .panel, .proposal .panel .proposal-content,
.proposal .panel h3 {
  min-height: auto !important;
}

.proposal .panel .proposal-description {
  height: auto;
}

.proposal .panel {
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
}
