.proposal-show {

  p.centered {
    text-align: center;
  }

  div.centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.proposal-created {
  margin-bottom: 1.5rem;
  
  .row {
    background-color: #e7f3fd;
  }
}

.proposal-dashboard {
  
  .dashboard-sidebar {
    border-right: rem-calc(1) solid lightgray;
    background-color: #fbfbfb;

    @include breakpoint(medium) {
      min-height: rem-calc(1100);
    }

    ul {
      list-style-type: none;
      margin-bottom: 0;
      margin-left: 0;
      padding: 0;

      [class^="icon-"] {
        color: #595959;
        display: inline-block;
        font-size: rem-calc(24);
        line-height: $line-height;
        padding: $line-height / 2 $line-height / 4;
        padding-left: 0;
        vertical-align: middle;
      }

      [class^="fi-"] {
        color: #595959;
        display: inline-block;
        font-size: rem-calc(24);
        line-height: $line-height;
        padding: $line-height / 2 $line-height / 4;
        padding-left: 0;
        vertical-align: middle;
      }
    }

    li {
      margin: 0;
      outline: 0;

      ul {
        margin-left: $line-height / 1.5;
        border-left: 1px solid #b6b6b6;
        padding-left: $line-height / 2;
      }

      &.is-active a {
  
        span {
          color: #00538b;
          font-weight: bold;
          border-bottom: 2px solid #00538b;
          padding-bottom: 2px;
        }
      }
    }

    li a {
      color: #595959;
      display: block;
      line-height: rem-calc(48);
      padding-left: rem-calc(12);
      vertical-align: top;

      &:hover {
        text-decoration: none;
      }
    }

    li a.is-active {
      color: #00538b;

      [class^="icon-"] {
        color: #00538b;
      }

      [class^="fi-"] {
        color: #00538b;
      }
    }

    .submenu {
      border-bottom: 0;
      margin-left: $line-height;

      li:first-child {
        padding-top: $line-height / 2;
      }

      li:last-child {
        padding-bottom: $line-height / 2;
      }

      a {
        font-weight: normal;
      }

      .is-active {
        border-bottom: 0;
      }
    }
  }

  .proposal-totals {
    padding: 0;

    .column {
      padding: 1.5rem;
      display: flex;
      align-items: stretch;
      justify-content: center;
    }

    .column:first-child {
      border-right: 1px solid lightgray;
    }

    .counter {
      flex-grow: 1;
      padding-left: rem-calc(10);
      padding-right: rem-calc(10);

      .counter-value {
        text-align: center;
      }

      .counter-label {
        text-align: center;
      }
    }

    .counter:first-child {
      padding-left: 0;

      .counter-value {
        color: #ffac38;
      }

      .counter-label {
        color: #ffac38;
      }
    }

    .counter:not(:last-child) {
      border-right: 1px solid lightgray;
    } 

    .counter-value {
      font-size: 1.2rem;
      font-weight: bold;
    }

    .counter-label {
      color: #c5c5c5;
      font-weight: bold;
    }

    .proposal-link {
      flex-grow: 1;
  
      .button {
        margin: 0;
      }
    }

    .support-indicator {
      flex-grow: 3;
      padding-left: 1rem;
      padding-right: 1rem;

      .progress {
        margin-bottom: 0;
      }

      .progress-meter {
        background-color: #ffac38;
      }
    }

    .current-goal {
      flex-grow: 0;
    }
  }  

  .proposal-title {
    display: flex;
    align-items: flex-start;

    .label {
      color: #fefefe;
      margin-left: rem-calc(10);
    }
  }

  .action-title {
    margin-top: rem-calc(5);
    margin-bottom: rem-calc(10);

    hr {
      max-width: 100%;
      margin: 0;
    }
  }

  .next-goal {
    i {
      margin-right: 10px;
    }

    .skip-icon {
      padding-left: 40px;
    }
  } 

  .columns {
    padding: 0;
  }

  .row {
    max-width: 100%;
  }

  .has-tip {
    border-bottom: none;
    font-weight: normal;
  }

  .title {
    border-bottom: rem-calc(1) solid lightgray;

    h5 {
      padding: 1rem 1.5rem 1rem 1.5rem;
      font-size: rem-calc(16);
      margin: 0;
    }
  }

  .body {
    padding: 1rem 1.5rem 1rem 1.5rem;
  }

  .proposal-dashboard-action-links {
    margin-bottom: rem-calc(15);
  }

  .resource-card {
    min-height: rem-calc(200);

    .bottom-container {
      padding-left: 0;
      padding-right: 0;

      .bottom-element {
        position: absolute; 
        bottom: 0; 
        width: 100%;
      }
    }
  }

  .resource-card {
  
    i {
      display: inline-block;
      width: rem-calc(20);
      height: rem-calc(20);
      border-radius: rem-calc(10);
      padding-right: rem-calc(4);
    }
  }

  .resource-card.primary {
    background-color: #d3edf6;

    i {
      color: #116f8e;
      border: rem-calc(1) solid #116f8e;
    }
  }

  .resource-card.success {
    background-color: #c5f6eb;

    i {
      color: #00cf96;
      border: rem-calc(1) solid #00cf96;
    }
  }

  .resource-card.alert {
    background-color: #ffe5e8;

    i {
      color: #ff828b;
      border: rem-calc(1) solid #ff828b;
    }
  }

  .proposed-action {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: rem-calc(15);

    .exec-indicator {
      margin-right: rem-calc(10);
      
      i {
        color: #00e193;
      }

      .checkbox-unchecked {
        display:block; 
        width: 16px; 
        height: 16px; 
        border: 1px solid lightgray; 
        margin-top: 4px;
      }
    }

    h4 {
      font-weight: normal;
    }

    p {
      color: #535469;
      line-height: 1rem;
      font-size: 16px;
      margin: 0;
    }
    
    a {
      font-size: 16px;
    }
  }

  .community-totals {
    
    span {
      color: #898989;
    }

    p {
      color: #898989;
    }
  }

  .polls-form {

    hr {
      width: 100%;
      max-width: 100%;
    }

    .remove-nested-record {
      padding-top: 20px;
    }
  }
}
