// Table of Contents
//
// 01. Debates
// 02. Index
//  02.1. Featured
//  02.2. List
// 03. Show
//


// 02. Index
// - - - - - - - - - - - - - - - - - - - - - - - - -

// 02.1. Featured
// - - - - - - - - - - - - -

// .proposal-featured {

//   .panel {
//     background: white;
//     border: 1px solid;
//     border-color: #e5e6e9 #dfe0e4 #d0d1d5;
//     border-radius: rem-calc(3);
//     margin-bottom: rem-calc(24);
//     padding: rem-calc(24) rem-calc(12) 0 rem-calc(12);

//     .proposal-content {
//       min-height: rem-calc(353);
//     }

//     .label-proposal {
//       background: none;
//       clear: both;
//       color: $proposals;
//       display: block;
//       font-size: rem-calc(12);
//       font-weight: bold;
//       text-transform: uppercase;
//       padding-left: 0;
//       padding-top: 0;
//     }

//     .icon-proposals {
//       color: $proposals;
//       font-size: rem-calc(36);
//       line-height: $line-height;
//       position: absolute;
//       right: rem-calc(18);
//       top: rem-calc(12);
//     }

//     h3 {
//       font-weight: bold;
//       margin: rem-calc(8) 0 0 0;
//       min-height: rem-calc(65);

//       a {
//         clear: both;
//         color: $text;
//         display: block;
//         font-size: rem-calc(16);
//         line-height: $line-height;
//         text-transform: lowercase;

//         &:first-letter {
//           text-transform: uppercase;
//         }
//       }
//     }

//     .proposal-info {
//       color: $text-medium;
//       font-weight: lighter;
//       margin-bottom: 0;

//       .icon-comments {
//         font-size: rem-calc(16);
//         vertical-align: top;
//       }

//       a {
//         color: $text-medium;
//       }
//     }

//     .proposal-description {
//       color: $text;
//       font-size: rem-calc(13);
//       height: rem-calc(156);
//       line-height: $line-height;
//       margin-bottom: rem-calc(12);
//       margin-top: rem-calc(24);
//       overflow: hidden;
//       position: relative;

//       a {
//         color: $text;
//       }

//       ul, ol {

//         li {
//           font-size: rem-calc(13);
//           margin-bottom: rem-calc(12);
//         }
//       }
//     }

//     .truncate {
//       background: image-url('truncate.png');
//       background-repeat: repeat-x;
//       bottom: 0;
//       height: 24px;
//       position: absolute;
//       width: 100%;
//     }

//     p {
//       color: $text;
//       font-size: rem-calc(14);
//       line-height: $line-height;
//       margin-bottom: rem-calc(12);

//       &.debate-info {
//         font-size: rem-calc(13);
//       }
//     }
//   }

//   .supports {
//     @include supports;
//   }
// }

// 02.2. List
// - - - - - - - - - - - - -

.proposals-list {

  @media (min-width: $small-breakpoint) {
    margin-bottom: rem-calc(48);
  }
}

.proposal {
  @extend .proposal-featured;
  margin-bottom: 0;
  margin-top: 0;

  .panel {
    border-radius: 0;
    box-shadow: 0px 1px 3px 0 $border;
    margin-bottom: rem-calc(12);
    min-height: rem-calc(192);
    padding-top: rem-calc(12);

    @media (min-width: $small-breakpoint) {
      margin-bottom: rem-calc(-1);
      padding-bottom: rem-calc(12);
    }

    .label-proposal {
      line-height: $line-height;
      padding-bottom: 0;
    }

    h3 {
      margin-top: 0;
      min-height: rem-calc(48);
    }

    .proposal-content {
      margin: 0;
      min-height: rem-calc(180);

      .tags {
        display: block;
      }
    }

    .icon-proposals {
      font-size: rem-calc(18);
      left: rem-calc(88);
      top: 0;
    }

    .proposal-description {
      height: rem-calc(72);
      margin-top: 0;
    }
  }

  .supports {
    border: 1px solid $proposals-border;
    margin: 0 rem-calc(-12);

    @media (min-width: $small-breakpoint) {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      margin: 0 rem-calc(-25) 0 rem-calc(12);
    }

    &:after {
      content: none;
      position: absolute;
      display: block;
      border-style: solid;
      border-color: #664212 transparent transparent transparent;
      bottom: rem-calc(-14);
      border-left-width: 0;
      border-right-color: transparent;
      right: rem-calc(-1);
      border-width: 1em 1em 0 0;

      @media (min-width: $small-breakpoint) {
        content: "";
      }
    }

    .total-supports {
      display: inline-block;
      line-height: $line-height;
      padding-top: rem-calc(12);
      vertical-align: top;

      @media (min-width: $small-breakpoint) {
        display: block;
        float: none;
        margin-left: 0;
        padding-top: 0;
      }
    }

    .not-logged {
      line-height: $line-height;
      padding-top: rem-calc(24);
    }

    .anonymous-votes, .organizations-votes {
      padding-top: rem-calc(24);
    }

    .divider {
      display: none;
    }

    @media (min-width: $medium-breakpoint) {
      .divider {
        display: inline-block;
      }
    }
  }
}
