.search-results-summary {
  @include full-width-background;
  background: $highlight;
  margin-bottom: $line-height;
  margin-top: -$line-height;
  padding-bottom: $line-height;
  padding-top: $line-height;
}
