.polls-results-stats {

  .sidebar {
    border-right: 1px solid $border;

    > ul {
      display: block;
      font-size: rem-calc(20);
      padding: 0;

      ul {
        font-size: rem-calc(15);
        list-style-type: none;
        margin-left: 0.8rem;
        margin-top: 1rem;
      }

      li a {
        color: $link;
        padding: 0;
      }
    }
  }

  h2 {
    border-bottom: 1px solid $border;
  }

  h3 {
    font-size: rem-calc(20);
    margin-bottom: 0;
    margin-top: rem-calc(30);
  }
}
