.participation-stats {

  .sidebar {
    border-right: 1px solid $border;

    ul {
      margin-left: $line-height / 2;
      margin-top: 0;
      padding: 0;
    }
  }

  .section-title {
    font-size: rem-calc(24);
    border-bottom: 1px solid $border;
  }

  .stats-group {
    margin-bottom: $line-height;
    margin-top: $line-height;
  }

  .number-with-info {
    display: inline-block;
    margin-right: $line-height * 2;

    &.participants {
      padding-left: $line-height * 2.5;
      position: relative;

      &::before {
        left: 0;
        position: absolute;
      }
    }

    &.total-participants::before {
      content: image-url('stats_man.png');
    }

    &.male::before {
      content: image-url('stats_man.png');
    }

    &.female::before {
      content: image-url('stats_woman.png');
    }

    .number {
      display: block;
      font-size: rem-calc(60);
      font-weight: bold;
      line-height: rem-calc(60);
    }

    .info {
      color: $text-medium;
      font-style: italic;
    }
  }

  .progress {
    background: #ebf0f4;
    border-radius: rem-calc(20);
    height: $line-height / 2;
  }

  .progress-meter {
    background: #52a4ee;
    border-bottom-left-radius: rem-calc(20);
    border-top-left-radius: rem-calc(20);
  }
}
