// Table of Contents
//
// 01. Fonts
// 02. Colors
// 03. Forms
// 04. Alerts
// 05. Levels
//

// 01. Fonts
// - - - - - - - - - - - - - - - - - - - - - - - - -

$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$line-height: rem-calc(24);

// 02. Colors
// - - - - - - - - - - - - - - - - - - - - - - - - -

$body:              #E9E9E9;
$background:        #EDEFF0;
$border:            #DEE0E3;
$brand:             #0077B9;

$text:              #222222;
$text-medium:       #999999;
$text-light:        #CCCCCC;

$link:              #2895F1;
$link-hover:        #2178BF;

$debates:           #008CCF;
$votes-bg:          #26AEEE;
$votes-border:      #1F94CB;

$votes-like:        #7BD2A8;
$votes-like-act:    #5D9E7F;
$votes-unlike:      #EF8585;
$votes-unlike-act:  #BD6A6A;

$check:             #46DB91;

// 03. Forms
// - - - - - - - - - - - - - - - - - - - - - - - - -

$input-bg:          #F8F8F8;

// 04. Alerts
// - - - - - - - - - - - - - - - - - - - - - - - - -

$success-bg:        #DFF0D8;
$success-border:    #D6E9C6;
$success-color:     #3C763D;

$info-bg:	          #D9EDF7;
$info-border:       #BCE8F1;
$info-color:        #31708F;

$warning-bg:        #FCF8E3;
$warning-border:    #FAEBCC;
$warning-color:     #8A6D3B;

$alert-bg:          #F2DEDE;
$alert-border:      #EBCCD1;
$alert-color:       #A94442;

// 05. Levels
// - - - - - - - - - - - - - - - - - - - - - - - - -

$level-1:           #43AC6A;
$level-2:           #43AC6A;
$level-3:           #43AC6A;
$level-4:           #43AC6A;
$level-5:           #F08A24;

$author:            #008CCF;
$association:       #222222;

$comment-author:    rgba(45,144,248,.15);
$comment-official:  rgba(70,219,145,.3);
$comment-level-5:   rgba(255,241,204,1);
