// Table of Contents
//
// 01. Typography
// 02. Colors
// 03. Forms
// 04. Alerts
// 05. Levels
// 06. Responsive
//

// 01. Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

$font-sans:           'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
$font-logo:           $font-sans;

$font-light:          200;
$font-normal:         400;
$font-bold:           600;

$base-font-size:      rem-calc(14);
$base-line-height:    $base-font-size * 1.5;

$h1-font-size:        rem-calc(40);
$h1-line-height:      $h1-font-size * 1.5;

$h2-font-size:        rem-calc(34);
$h2-line-height:      rem-calc(44);

$h3-font-size:        rem-calc(20);
$h3-line-height:      rem-calc(30);

$h4-font-size:        rem-calc(18);
$h4-line-height:      rem-calc(27);

$h5-font-size:        rem-calc(16);
$h5-line-height:      rem-calc(21);

$h6-font-size:        rem-calc(13);
$h6-line-height:      rem-calc(17);

$small-font-size:     rem-calc(14);
$tiny-font-size:      rem-calc(10);
$line-height:         rem-calc(24);

// 02. Colors
// - - - - - - - - - - - - - - - - - - - - - - - - -

$body:              #E9E9E9;
$background:        #fff;
$dark:              #000;
$border:            darken($background, 10%);
$brand:             #c60c30;

$text:              #000;
$text-medium:       #666;
$text-light:        #CCCCCC;
$text-inverse:      #fff;

$link:              $brand;
$link-hover:        darken($brand, 10%);

$debates:           darken($brand, 10%);
$votes-bg:          lighten($brand, 10%);
$votes-border:      $brand;

$votes-like:        #7BD2A8;
$votes-like-act:    #5D9E7F;
$votes-unlike:      #EF8585;
$votes-unlike-act:  #BD6A6A;

$delete:            #F04124;
$check:             #46DB91;

$proposals:         #FFA42D;
$proposals-border:  #CC8425;

$budget:            #454372;

$highlight:         #f2f2f2;
$featured:          #FED900;

$footer-bg:         #DEE0E2;
$footer-color:      #171819;
$footer-link:       #454A4C;
$footer-border:     #BFC1C3;

// 03. Forms
// - - - - - - - - - - - - - - - - - - - - - - - - -

$input-bg:          #F8F8F8;

// 04. Alerts
// - - - - - - - - - - - - - - - - - - - - - - - - -

$success-bg:        #DFF0D8;
$success-border:    #D6E9C6;
$success-color:     #3C763D;

$info-bg:	          #FEF9CE;
$info-border:       #F8DB31;
$info-color:        #DF9823;

$warning-bg:        #FCF8E3;
$warning-border:    #FAEBCC;
$warning-color:     #8A6D3B;

$alert-bg:          #F2DEDE;
$alert-border:      #EBCCD1;
$alert-color:       #A94442;

// 05. Levels
// - - - - - - - - - - - - - - - - - - - - - - - - -

$level-1:           #1ABC9C;
$level-2:           #43AC6A;
$level-3:           #43AC6A;
$level-4:           #43AC6A;
$level-5:           #F08A24;

$author:            #008CCF;
$association:       #C0392B;
$deleted:           #E7E7E7;

$comment-author:    rgba(45,144,248,.15);
$comment-level-5:   rgba(255,241,204,1);
$comment-admin:     rgba(45,144,248,.15);
$comment-official:  rgba(70,219,145,.3);

// 06. Responsive
// - - - - - - - - - - - - - - - - - - - - - - - - -

$small:             em-calc(480);
$small-breakpoint:  em-calc(640);
$medium-breakpoint: em-calc(1024);
$large-breakpoint:  em-calc(1440);
$xlarge-breakpoint: em-calc(1920);

$footer-height: rem-calc(64);
