// Table of Contents
//
// 01. Typography
// 02. Colors
// 03. Forms
// 04. Alerts
// 05. Levels
// 06. Responsive
//

// 01. Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

$base-font-size:      rem-calc(17);
$small-font-size:     rem-calc(14);
$lead-font-size:      rem-calc(20);
$title-font-size:     rem-calc(52);
$h1-font-size:        rem-calc(40);
$h2-font-size:        rem-calc(30);
$h3-font-size:        rem-calc(20);
$h4-font-size:        rem-calc(17);
$h5-font-size:        rem-calc(15);
$h6-font-size:        rem-calc(13);
$base-line-height:    1.5;
$heading-line-height: 1.3;
$lead-line-height:    1.7;

$font-sans:           'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
$font-serif:          'Merriweather', 'Georgia', 'Times New Roman', serif;
$font-logo:           'Lato' !important;

$font-normal:         400;
$font-bold:           700;

$line-height: rem-calc(24);

// 02. Colors
// - - - - - - - - - - - - - - - - - - - - - - - - -

$body:              #E9E9E9;
$background:        #ededed;
$dark:              #0B0C0C;
$border:            darken($background, 10%);
$brand:             #E9283D;

$text:              #222222;
$text-medium:       #999999;
$text-light:        #CCCCCC;
$text-inverse:      #fff;

$link:              $brand;
$link-hover:        darken($brand, 10%);

$debates:           darken($brand, 10%);
$votes-bg:          lighten($brand, 10%);
$votes-border:      $brand;

$votes-like:        #7BD2A8;
$votes-like-act:    #5D9E7F;
$votes-unlike:      #EF8585;
$votes-unlike-act:  #BD6A6A;

$delete:            #F04124;
$check:             #46DB91;

$proposals:         #FFA42D;
$proposals-border:  #CC8425;

// 03. Forms
// - - - - - - - - - - - - - - - - - - - - - - - - -

$input-bg:          #F8F8F8;

// 04. Alerts
// - - - - - - - - - - - - - - - - - - - - - - - - -

$success-bg:        #DFF0D8;
$success-border:    #D6E9C6;
$success-color:     #3C763D;

$info-bg:	          #FEF9CE;
$info-border:       #F8DB31;
$info-color:        #DF9823;

$warning-bg:        #FCF8E3;
$warning-border:    #FAEBCC;
$warning-color:     #8A6D3B;

$alert-bg:          #F2DEDE;
$alert-border:      #EBCCD1;
$alert-color:       #A94442;

// 05. Levels
// - - - - - - - - - - - - - - - - - - - - - - - - -

$level-1:           #1ABC9C;
$level-2:           #43AC6A;
$level-3:           #43AC6A;
$level-4:           #43AC6A;
$level-5:           #F08A24;

$author:            #008CCF;
$association:       #C0392B;
$deleted:           #E7E7E7;

$comment-author:    rgba(45,144,248,.15);
$comment-level-5:   rgba(255,241,204,1);
$comment-admin:     rgba(45,144,248,.15);
$comment-official:  rgba(70,219,145,.3);

// 06. Responsive
// - - - - - - - - - - - - - - - - - - - - - - - - -

$small:             em-calc(480);
$small-breakpoint:  em-calc(640);
$medium-breakpoint: em-calc(1024);
$large-breakpoint:  em-calc(1440);
$xlarge-breakpoint: em-calc(1920);

$small-range:   (0, $small-breakpoint);
$medium-range:  ($small-breakpoint  + em-calc(1), $medium-breakpoint);
$large-range:   ($medium-breakpoint + em-calc(1), $large-breakpoint);
$xlarge-range:  ($large-breakpoint  + em-calc(1), $xlarge-breakpoint);
$xxlarge-range: ($xlarge-breakpoint + em-calc(1), em-calc(99999999));


$footer-height: rem-calc(64);
