<%# If no omniauth_configs are available, there is no need to show them %>
<% if Devise.omniauth_configs.any? %>
    
    <%# The only difference between sign_in and sign_up is the title for this partial the loop has been shortened. %>
    <% if current_page?(new_user_session_path) %>
      <%# sign in %>
      <div class="row">
        <div class="small-12 column">
          <div class="margin-bottom">
            <strong><%= t("omniauth.info_sign_in") %></strong>
          </div>
        </div>
    <% elsif current_page?(new_user_registration_path) %>
      <%# sign up %>
      <div class="row">
        <div class="small-12 column">
          <div class="margin-bottom">
            <strong><%= t("omniauth.info_sign_up") %></strong>
          </div>
        </div>
    <% end %>
    <%# omniauth providers loop. %>
    <%#loop through the omniauth providers. If they have a client ID, enable them, otherwise disable. %>
    <% Devise.omniauth_configs.select do |key, value|  %>
      <%# Check if feature is enabled %>
      <% if (key.to_s == "google_oauth2" && feature?("google_login")) || feature?(key.to_s + "_login") %>
        <div class="small-12 medium-6 large-4 column end">
          <%= link_to t("omniauth." + key.to_s + ".name"), user_omniauth_authorize_path(key),
                  title: current_page?(new_user_session_path) ? t("omniauth." + key.to_s + ".sign_in") : t("omniauth." + key.to_s + ".sign_up"),
                  class: "button-" + key.to_s + " button expanded" %>
        </div>
      <% end %>
    <% end %>
    <%# omniauth providers loop - end. %>
  
      <div class="small-12 column auth-divider">
        <span><%= t("omniauth.or_fill") %></span>
      </div>
    </div>
<% end %>