<div class="investments-filters">
  <h2 class="sidebar-title" id="investments_filters_header"><%= t("budgets.investments.index.filter") %></h2>
  <%= link_list(*filters, "aria-labelledby": "investments_filters_header") %>
</div>
