<h3 id="<%= dom_id(subcategory) %>"><%= subcategory.name_with_code %></h3>
<%= subcategory.description.html_safe %>

<p class="clearfix">
  <%= link_to t('categories.filter'), subcategory.proposals_path, class: 'button round tiny right' %>
</p>
