.ballot-list li {
  background: #f9f9f9;
  line-height: $line-height;
  margin-bottom: $line-height / 4;
  padding: $line-height $line-height / 2;
  position: relative;

  a {
    color: $text;
  }

  span {
    display: block;
    font-style: italic;
  }

  .remove-budget-investment {
    @include has-fa-icon(times, solid);
    font-size: rem-calc(20);
    position: absolute;
    right: rem-calc(6);
    top: rem-calc(6);

    &::before {
      margin-right: 0;
    }
  }

  &:hover {
    background: $budget;
    color: #fff;

    a,
    span {
      color: #fff;
      outline: 0;
      text-decoration: none;
    }
  }
}
