<% content_for :canonical do %>
  <%= render "shared/canonical", href: g1000_url %>
<% end %>

<div class="g1000">
  <div class="row">
    <div class="small-12 column text-center">
      <%= image_tag "landings/g1000_header.png", alt: "G1000" %>
    </div>
  </div>

  <div class="row" data-equalizer data-equalize-on="medium">
    <div class="small-12 medium-6 column text-center">
      <div class="people" data-equalizer-watch>
        "Mil personas para<br> proponer el<br> Madrid que queremos"
      </div>
    </div>
    <div class="small-12 medium-6 column" data-equalizer-watch>
      <h1><span class="show-for-sr">G1000</span> CUMBRE CIUDADANA</h1>
      <p>Ni G7 ni G8 ni G20: G1000 MADRID. Es hora de que la ciudadanía participe de la toma de decisiones clave para la ciudad. Por ello, desde ParticipaLAB, el laboratorio de la Inteligencia Colectiva para la Democracia de Medialab-Prado, convocamos a 1000 ciudadanos y ciudadanas de Madrid a debatir y sugerir nuevas propuestas para los segundos presupuestos participativos de la historia de la ciudad.</p>
    </div>
  </div>

  <div class="expanded who">
    <div class="row">
      <div class="small-12 medium-6 large-4 column text">
        <h2>¿quién?</h2>
        <p>Buscamos a mil personas con diferentes creatividades, sensibilidades e ideas. Mil personas diferentes entre sí que representen la pluralidad y diversidad de la ciudad de Madrid. Quizá muchas nunca han participado en política, el G1000 es una invitación directa para hacerlo. Un equipo especializado se encargará de reunir una muestra demográfica representativa de la ciudad. Si te contactan por tu barrio, en el mercado o en tu centro de salud, podrás decidir si quieres participar.</p>
      </div>
    </div>
  </div>

  <div class="row" data-equalizer>
    <div class="small-12 medium-6 large-8 column" data-equalizer-watch>
      <%= image_tag "landings/g1000_3.png", alt: "" %>
    </div>
    <div class="small-12 medium-6 large-4 column ">
      <div class="when" data-equalizer-watch>
        <h2>¿cuándo & dónde?</h2>
        <p>El G1000 transcurrirá durante la mañana del sábado 4 de marzo en la Galería de Cristal del Centro Centro, en el Palacio de Cibeles, sede del Ayuntamiento de Madrid. La entrada se realizará por la C/ Montalbán si participas en la zona adulta o por C/ Alcalá si traes a los más pequeños a la ludoteca o a #Sitesientesgato”.</p>
<p>El proyecto de participación con jóvenes #sitesientesgato ha habilitado dinámicas específicas para infancia y juventud de todas las edades. Puedes inscribir a tus hijos e hijas y un personal especializado trabajará  a su lado. Mientras tú participas en la zona adulta para la elaboración de propuestas, ellos propondrán por su cuenta qué ciudad quieren.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 column small-centered budget-text">
      <p>Más de 100 millones de euros destinados a mejorar tu ciudad.<br>
      _Presupuestos participativos</p>
    </div>
  </div>

  <div class="row how">
    <div class="small-12 medium-4 column">
      <%= image_tag "landings/g1000_4.png", alt: "" %></h1>
    </div>
    <div class="small-12 medium-8 column">
      <h2 class="text-right">Colabora con G1000</h2>
      <p>Si quieres colaborar realizando tareas de facilitación o apoyo logístico durante el evento contamos contigo. Puedes apuntarte en el siguiente formulario habilitado en la web de Medialab Prado.</p>
      <div class="buttons text-center">
        <a href="http://medialab-prado.es/article/g1000" class="button-how-red">formulario<br> colaboración</a>
      </div>
    </div>
  </div>
</div>
