<div class="g1000">
  <div class="row">
    <div class="small-12 column text-center">
      <%= image_tag "landings/g1000_header.png", alt: "G1000" %>
    </div>
  </div>

  <div class="row" data-equalizer data-equalize-on="medium">
    <div class="small-12 medium-6 column text-center">
      <div class="people" data-equalizer-watch>
        "Mil personas para<br> proponer el<br> Madrid que queremos"
      </div>
    </div>
    <div class="small-12 medium-6 column" data-equalizer-watch>
      <h1><span class="sr-only">G1000</span> CUMBRE CIUDADANA</h1>
      <p>Ni G7 ni G8 ni G20; G1000 MADRID. Es hora de que la ciudadanía tome el control de la política. Es hora de que la ciudadanía participe de las decisiones clave para la ciudad. Por ello, desde ParticipaLAB, el laboratorio de la Inteligencia Colectiva para la Democracia de Medialab-Prado, convocamos a 1000 ciudadanos y ciudadanas de Madrid a debatir y proponer nuevas propuestas para los segundos presupuestos participativos de la historia de la ciudad.</p>
      <div class="text-right">
        <a href="#" class="button-red">participa</a>
      </div>
    </div>
  </div>

  <div class="expanded who">
    <div class="row">
      <div class="small-12 medium-6 large-4 column text">
        <h2>¿quién?</h2>
        <p>Buscamos a mil personas con diferentes creatividades, sensibilidades e ideas. Mil personas diferentes entre sí que representen la pluralidad y diversidad de la ciudad de Madrid. Puede que muchas nunca hayan participado en política: el G1000 es una invitación directa para hacerlo.</p>
      </div>
    </div>
  </div>

  <div class="row" data-equalizer>
    <div class="small-12 medium-6 large-8 column" data-equalizer-watch>
      <%= image_tag "landings/g1000_3.png", alt: "" %>
    </div>
    <div class="small-12 medium-6 large-4 column ">
      <div class="when" data-equalizer-watch>
        <h2>¿cuándo & dónde?</h2>
        <p>El G1000 transcurrirá la mañana del sábado 4 de marzo en la Galería de Cristal del Centro Centro, en el Palacio de Cibeles, sede del Ayuntamiento de Madrid</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 column small-centered budget-text">
      <p>Más de 100 millones de euros destinados a mejorar tu ciudad.<br>
      _Presupuestos participativos</p>
    </div>
  </div>

  <div class="row how">
    <div class="small-12 medium-4 column">
      <%= image_tag "landings/g1000_4.png", alt: "" %></h1>
    </div>
    <div class="small-12 medium-8 column">
      <h2 class="text-right">¿cómo participar?</h2>
      <p>Si quieres participar solamente tienes que rellenar este formulario. Al ser un recinto cubierto no entra todo el mundo, te pedimos que te inscribas lo antes posible para poder asegurar tu plaza.</p>
      <p>Si tienes críos o eres menor de edad también puedes participar. El proyecto de participación con jóvenes #sitesientesgato ha habilitado dinámicas específicas para niños y jóvenes de todas las edades. Puedes inscribir a tus hijos y un monitor trabajará con ellos. Mientras tú participas en una mesa de adultos los chavales propondrán por su cuenta qué ciudad quieren.</p>
      <div class="buttons text-center">
        <a href="#" class="button-how-blue">formulario<br> general</a>
        <a href="#" class="button-how-red">formulario<br> juvenil</a>
      </div>
    </div>
  </div>
</div>
