<h2><%= t("admin.users.index.title") %></h2>

<%= render Admin::SearchComponent.new(
  url: admin_users_path,
  label: t("admin.users.search.placeholder"),
  remote: true
) %>

<div id="users">
  <%= render "users" %>
</div>
