<% if show_author_actions?(investment) %>
  <div class="sidebar-divider"></div>
  <h2><%= t("budgets.investments.show.author") %></h2>
  <div class="show-actions-menu">
    <% if can?(:edit, investment) %>
      <%= link_to t("shared.edit"),
                  edit_budget_investment_path(investment.budget, investment),
                  method: :get, class: "button hollow expanded" %>
    <% else %>
        <%= link_to image_path(investment.image),
                    method: :delete,
                    class: "button hollow alert expanded" do %>
          <span class="icon-image"></span>
          <%= t("images.remove_image") %>
        <% end %>
    <% end %>
  </div>
<% end %>
