<div class="margin banner-budgets-remember">
  <p class="title">VOTA PROYECTOS DE TODA LA CIUDAD</p>
  <p class="lead">Recuerda que puedes votar también proyectos de <strong>toda la ciudad</strong>.</p>
  <div class="small-12 medium-6 large-5">
  <%= link_to "Votar proyectos de toda la ciudad",
              "https://decide.madrid.es/presupuestos/presupuestos-participativos-2017/toda-la-ciudad/toda-la-ciudad?filter=selected",
              class: "button hollow expanded large" %>
  </div>
</div>
