<div class="margin padding banner-budgets-remember">
  <p class="title"><%= t("budgets_banner.district_title") %></p>
  <p class="lead"><%= t("budgets_banner.district_text_html") %></p>
  <div class="small-12 medium-6 large-5">
    <%= link_to t("budgets_banner.district_button"),
                "#{request.url}presupuestos/presupuestos-participativos-2017/distritos?filter=selected",
                class: "button hollow expanded large margin-top" %>
  </div>
</div>
