<div class="margin padding banner-budgets-remember">
  <p class="title">VOTA PROYECTOS DE UN DISTRITO</p>
  <p class="lead">Recuerda que puedes votar también proyectos de <strong>uno de los distritos</strong>.</p>
  <div class="small-12 medium-6 large-5">
    <%= link_to "Votar proyectos de un distrito",
                "https://decide.madrid.es/presupuestos/presupuestos-participativos-2017/distritos?filter=selected",
                class: "button hollow expanded large margin-top" %>
  </div>
</div>
