<div class="margin banner-budgets-remember">
  <p class="title"><%= t("budgets_banner.city_title") %></p>
  <p class="lead"><%= t("budgets_banner.city_text_html") %></p>
  <div class="small-12 medium-6 large-5">
  <%= link_to t("budgets_banner.city_button"),
              budgets_path(anchor: "toda-la-ciudad"),
              class: "button hollow expanded large" %>
  </div>
</div>
