<div class="tabs-panel tab-milestones" id="tab-milestones">
  <div class="row">
    <div class="small-12 column">
      <% if @investment.milestones.blank? %>
        <div class="callout primary text-center">
          <%= t('budgets.investments.show.no_milestones') %>
        </div>
      <% end %>
      <section class="timeline">
        <ul class="no-bullet">
          <% @investment.milestones.order_by_publication_date.each do |milestone| %>
            <%= render 'budgets/investments/milestones/milestone', milestone: milestone %>
          <% end %>
        </ul>
      </section>
    </div>
  </div>
</div>
