<div class="tabs-panel" id="tab-milestones">
  <div class="row">
    <div class="small-12 column">
      <% if @investment.milestones.blank? %>
        <div class="callout primary text-center">
          <%= t('budgets.investments.show.no_milestones') %>
        </div>
      <% end %>
      <section class="timeline">
        <ul class="no-bullet">
          <% @investment.milestones.each do |milestone| %>
            <li>
              <div>
                <h3><%= milestone.title %></h3>
                <strong>Publicado el <%= milestone.created_at.strftime("%d/%m/%Y") %></strong>
                <p><%= milestone.description %></p>
              </div>
            </li>
          <% end %>
        </ul>
      </section>
    </div>
  </div>
</div>
