<div class="float-right budgets-minimal-selector">
  <%= link_to investments_minimal_view_path,
              class: "button",
              title: t("budgets_minimal_selector.view") do %>
    <%= image_tag "budget_icon_minimal_selector.png" %>
  <% end %>
</div>
