<div class="budget-investment-image-edit row">

  <div class="small-12 column">
    <%= render "shared/back_link" %>

    <h1><%= t("budgets.investments.edit_image.title") %></h1>

    <%= render "image_form" %>
  </div>
</div>
