<div class="budget-investment-new row">
  <div class="small-12 medium-9 column">
    <h1><%= t("management.budget_investments.create") %></h1>

    <%= render '/budgets/investments/form', form_url: budget_investments_path(@budget) %>
  </div>
</div>
