<main class="budget-investment-new">
  <%= back_link_to budgets_path %>

  <header>
    <h1>
      <span>
        <%= t("budgets.investments.form.title") %>

        <% if @budget.single_heading? %>
          <span>
            <%= t("budgets.investments.form.subtitle",
                  heading: @budget.headings.first.name,
                  price: @budget.formatted_heading_price(@budget.headings.first)) %>
          </span>
        <% end %>
      </span>
    </h1>
  </header>

  <%= render "/budgets/investments/form", form_url: budget_investments_path(@budget) %>
</main>
