<h3 id="9">Participación total</h3>

<p class="stat-number margin-top">
  Nº total de participantes<br>
  <span>10.000</span>
</p>

<h4>Canales de participación</h4>

<table class="polls-participation">
  <thead>
    <tr>
      <th>WEB</th>
      <th>URNAS</th>
      <th>CORREOS</th>
      <th class="border-left">TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <td>7000 <small><em>(70,00%)</em></small></td>
    <td>1000 <small><em>(10,00%)</em></small></td>
    <td>2000 <small><em>(20,00%)</em></small></td>
    <td class="border-left"><strong>10000</strong></td>
  </tbody>
</table>