<%= back_link_to admin_valuator_groups_path %>

<div class="small-12 medium-6 margin-top">
  <%= form_for [:admin, @group] do |f| %>
    <%= f.text_field :name %>
    <%= f.submit t("admin.valuator_groups.form.new"), class: "button success" %>
  <% end %>
</div>
