<div>Documento: <%= @log.document_number %></div>
<div>Código Postal: <%= @log.postal_code %></div>
<div><%= @log.message %></div>

<div><%= link_to "Introducir nuevo documento", new_officing_letter_path %></div>