.image,
.document {
  border-top: 1px solid $light-gray;

  .title {
    border-bottom: none;
  }

  hr {
    display: none;
  }
}

.file-name,
.delete {
  font-size: 0.8125rem;
  line-height: 1.75rem;
}

.delete {
  margin-right: -0.9375rem;
  white-space: nowrap;
}

.upload-document:active {
  color: $white;
}

.upload-document:focus {
  background-color: $black;
  outline: 3px solid $outline-focus;
}

.upload-document:focus:hover {
  color: $white;
}
