.budget-investment-form {

  .required-fields {
    @include full-width-background($adjust-padding: true);
    background: $light;
    margin-bottom: $line-height;
    padding-top: $line-height;
  }

  > fieldset > legend {
    float: left;
    font-size: rem-calc(36);
    font-weight: bold;
    margin-bottom: $line-height;
    text-transform: uppercase;

    + * {
      clear: left;
    }
  }

  select {
    min-height: $line-height * 2;

    @include breakpoint(medium) {
      &:not(.js-add-language):not(.js-select-language) {
        width: 50%;
      }
    }
  }

  .globalize-languages,
  .translatable-fields {
    @include grid-row-nest;
    @include grid-column-gutter;
  }

  [type="submit"] {
    @include regular-button;
    font-size: map-get($button-sizes, large);
    margin-top: $line-height;
  }

  .actions {
    border: 6px solid $border;
    border-radius: rem-calc(12);
    margin-left: auto;
    margin-right: auto;
    margin-top: $line-height * 2;
    padding: $line-height * 2 $line-height;
    text-align: center;

    @include breakpoint(medium) {
      width: 75%;
    }
  }
}
