.my-ballot {
  border-top: 1px solid $border;

  h2 + * {
    @include has-fa-icon(check-to-slot, solid);

    &::before {
      float: left;
      font-size: rem-calc(50);
      margin-right: rem-calc(10);
    }

    + * {
      clear: both;
    }
  }
}
