.budget-investment-new {
  $border-width: 4px;

  h1 {
    margin-bottom: 0;
  }

  header {
    $icon-size: $line-height * 4;
    $padding-right: rem-calc(20);
    $icon-size-with-padding: $icon-size + $padding-right;
    $polygon-size: $icon-size / 2;
    @include background-till-left-of-screen;
    @include brand-background($brand-secondary);
    border: $border-width solid $brand-secondary;
    border-bottom-right-radius: rem-calc(12);
    border-top-right-radius: rem-calc(12);
    margin-top: $line-height * 2;
    padding: $line-height * 2 0;
    position: relative;

    @include breakpoint(small) {
      &::after {
        display: none;
      }
    }

    @include breakpoint(large) {
      $rounding-error: 6px;
      padding-right: $icon-size-with-padding;
      background-image: linear-gradient(
        to right,
        #{$brand-secondary} 0,
        #{$brand-secondary} calc(100% - #{$icon-size-with-padding} - 1px),
        #{$body-background} calc(100% - #{$icon-size-with-padding}),
        #{$body-background} 100%
      );

      &::after {
        background: $body-background;
        content: "";
        clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% calc(100% + 1px), 0 50%);
        display: block;
        position: absolute;
        right: calc(#{$icon-size-with-padding} - #{$rounding-error});
        top: 0;
        height: 100%;
        width: $polygon-size;
      }
    }

    &::before {
      top: -$border-width;
      height: calc(100% + #{$border-width * 2});
    }

    h1 {
      $heading-icon-size: $icon-size * 0.85;
      @include has-fa-icon(building, regular);
      @include has-fa-icon(chart-pie, solid, after);
      font-size: rem-calc(36);

      @include breakpoint(small) {
        &::after,
        &::before {
          display: none;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      @include breakpoint(medium) {
        padding-right: $heading-icon-size * 2.5;

        &::after {
          display: block;
          font-size: $heading-icon-size;
          right: $heading-icon-size;
        }
      }

      @include breakpoint(large) {
        font-size: rem-calc(44);

        &::after {
          right: $icon-size-with-padding + $polygon-size + $heading-icon-size / 2;
        }

        &::before {
          color: $brand-secondary;
          display: block;
          font-size: $icon-size;
          right: $padding-right;
        }
      }

      span {
        display: block;
        font-size: 0.75em;
        margin-top: $line-height / 2;
      }
    }
  }
}
