<div class="row">
  <div class="small-12 column">
    <%= back_link_to admin_proposal_dashboard_actions_path, t("admin.proposal_dashboard_actions.edit.back") %>

    <h1><%= t("admin.proposal_dashboard_actions.edit.editing") %></h1>

    <%= render 'form' %>
  </div>
</div>
