<div class="proposal-dashboard-action-new row">
  <div class="small-12 column">
    <%= back_link_to admin_proposal_dashboard_actions_path, t("admin.proposal_dashboard_actions.new.back") %>

    <h1><%= t("admin.proposal_dashboard_actions.new.creating") %></h1>

    <%= render 'form' %>
  </div>
</div>
