<div class="budgets-actions">
  <%= render Admin::Budgets::CalculateWinnersButtonComponent.new(budget) %>

  <%= action(:destroy,
             text: t("admin.budgets.edit.delete"),
             method: :delete,
             class: "delete") %>
</div>
