<ol class="creation-timeline">
  <li <%= "aria-current='step'" unless step_groups? %>>
    <%= t("admin.budgets.creation_timeline.budget") %>
  </li>
  <li <%= "aria-current='step'" if step_groups? %>>
    <%= t("admin.budgets.creation_timeline.groups") %>
  </li>
</ol>
