<div class="small-12 column">
  <table>
    <tr>
      <td>
        <%= signature_sheet_officer.name %>
      </td>
      <td>
        <%= signature_sheet_officer.email %>
      </td>
      <td class="text-right">
        <% if signature_sheet_officer.persisted? %>
          <%= link_to t('admin.signature_sheet_officers.signature_sheet_officer.delete'),
            admin_signature_sheet_officer_path(signature_sheet_officer),
            method: :delete,
            class: "button hollow alert"
          %>
        <% else %>
          <%= link_to t('admin.signature_sheet_officers.signature_sheet_officer.add'),{ controller: "admin/signature_sheet_officers", action: :create, user_id: signature_sheet_officer.user_id },
            method: :post, class: "button success" %>
        <% end %>
      </td>
    </tr>
  </table>
</div>
