<h2><%= t("valuation.budget_investments.valuation_comments") %></h2>
<% unless @comment_tree.nil? %>
  <%= render "/comments/comment_tree", comment_tree: @comment_tree,
    display_comments_count: false,
    valuation: true %>
<% end %>
