<h2><%= t("valuation.budget_investments.valuation_comments") %></h2>
<% unless @comment_tree.nil? %>
  <%= render partial: '/comments/comment_tree', locals: { comment_tree: @comment_tree,
                                                          comment_flags: @comment_flags,
                                                          display_comments_count: false,
                                                          valuation: true,
                                                          allow_comments: !@budget.finished? } %>
<% end %>
