<div class="buttons">
  <div class="arrow-down"></div>
  <div class="small-12 medium-7 column small-centered text-center">
    <%= link_to "Envia tu propuesta", '#', class: "button" %>
    <%= link_to "Consulta la propuesta ya realizada", '#', class: "button" %>
  </div>
</div>
