<div class="buttons">
  <div class="arrow-down"></div>
  <div class="small-12 column small-centered text-center">
    <%= link_to t("pages.home.button_1"), new_proposal_path, class: "button" %>
    <%= link_to t("pages.home.button_2"), proposals_path, class: "hollow button" %>
  </div>
</div>
