<div class="buttons">
  <div class="arrow-down"></div>
  <div class="small-12 medium-7 column small-centered text-center">
    <%= link_to "Envia tu propuesta", new_proposal_path, class: "button" %>
    <%= link_to "Consulta las propuestas ya realizadas", proposals_path, class: "button" %>
  </div>
</div>
