<div class="jumbow3">
  <div class="w3-content w3-display-container">
    <style>
      .mySlides{
        height:600px
      }
    </style>
    <!--<a href="https://participa.diputaciondevalladolid.es/budgets"> <%= image_tag(image_path_for('PresupuestoGif.gif'), class: 'mySlides w3-animate-right customizada', alt: t("layouts.slide1")) %> </a>-->
    <a href="https://participa.diputaciondevalladolid.es/budgets"> <%= image_tag(image_path_for('VotacionSeptiembre.jpg'), class: 'mySlides w3-animate-right customizada', alt: t("layouts.slide1")) %> </a>

    <!--<%= image_tag(image_path_for('slide2.jpg'), class: 'mySlides w3-animate-right', alt: t("layouts.slide2")) %>-->
    <!--<%= image_tag(image_path_for('slide3.jpg'), class: 'mySlides w3-animate-right', alt: t("layouts.slide3")) %>-->

    <!--<div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
      <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
      <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
    </div>-->

  </div>
</div>
<style>
	.customizada{
		margin-left: auto;
		margin-right: auto;
		width:auto!important
	}
</style>
<script>
  var slideIndex = 1;
  var myIndex = 0;
  showDivs(slideIndex);
  carousel();

  function carousel() {
      var i, j;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}
      x[myIndex-1].style.display = "block";
      slideIndex = myIndex;
      for (j = 0; j < dots.length; j++) {
      dots[j].className = dots[j].className.replace(" w3-white", "");
      }
      dots[slideIndex-1].className += " w3-white";
      setTimeout(carousel, 10000);
  }

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function currentDiv(n) {
    showDivs(slideIndex = n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" w3-white", "");
    }
    x[slideIndex-1].style.display = "block";
    myIndex = slideIndex-1;
    dots[slideIndex-1].className += " w3-white";
  }
</script>
