<div class="questions">
  <div class="small-12 medium-8 column small-centered">
    <p>
      ¿Hacia dónde quieres que vaya <strong>Europa</strong> en el futuro?
      ¿Sientes que <strong>estás participando</strong> en las decisiones europeas?
    </p>
    ¿Cómo puede Europa hacer frente a los <strong>problemas sociales, económicos, medioambientales</strong>
    ¿Crees que puedes ser parte de la solución?
    <hr />
    <p>
      Esta plataforma digital, abierta a la participación de la ciudadanía,
      te ofrece la oportunidad de proponer ideas para conseguir que la Unión
      Europea responda a nuestras preocupaciones; una Europa más democrática,
      más participativa, menos desigual, más accesible, más solidaria, más sostenible.
    </p>
    <%= link_to "Leer más ->", '#', class: "small" %>
  </div>
</div>
