<div class="expanded highlight padding no-margin-top">
  <div class="row">
    <div class="small-12 medium-12 column background-principal">
      <div class="hijo">
        <% if Poll.current_cartell %>
          <%= link_to "Participa!", concurs_cartell_magdalena_path(Poll.current_cartell), class: "button large alert" %>
        <% else %>
          <%= link_to "Participa!", budgets_path, class: "button large alert" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="expanded highlight padding no-margin-top text-center">
  <h1><%# t("layouts.header.open_city_title") %></h1>
  <h2><%# t("layouts.header.open_date") %></h2>
</div>
