<div class="small-12 medium-6">
  <%= form_tag '', method: :get do %>
    <%= select_tag "poll_id",
                   poll_select_options(true),
                   prompt: t("admin.booths.index.select_poll"),
                   class: "js-location-changer" %>
  <% end %>
</div>