<ul class="tabs" data-tabs id="questions-tabs">
  <li class="tabs-title is-active">
    <%= link_to "#tab-questions" do %>
      <%= t("admin.questions.index.questions_tab") %>
    <% end %>
  </li>
  <li class="tabs-title">
    <%= link_to "#tab-successful-proposals" do %>
      <%= t("admin.questions.index.successful_proposals_tab") %>
    <% end %>
  </li>
</ul>
