<%= form_tag(admin_questions_path, method: :get) do |f| %>
  <div class="input-group">
    <%= text_field_tag :search,
                       @search,
                       placeholder: t("admin.shared.poll_questions_search.placeholder") %>
    <div class="input-group-button">
      <%= submit_tag t("admin.shared.poll_questions_search.button"), class: "button" %>
    </div>
  </div>
<% end %>
