<%= form_tag search_admin_officers_path, method: :get, remote: true  do %>
  <div class="input-group">
    <%= text_field_tag :email, '',
                       placeholder: t("admin.poll_officers.search.email_placeholder") %>
    <div class="input-group-button">
      <%= submit_tag t("admin.poll_officers.search.search"), class: "button" %>
    </div>
  </div>
<% end %>
