<small><%= t("budgets.progress_bar.assigned") %></small><%= ballot.formatted_amount_spent(heading) %>
<span id="amount-available" class="amount-available">
  <small><%= t("budgets.progress_bar.available") %></small>
  <span><%= ballot.formatted_amount_available(heading) %></span>
</span>
