<h1>Stats</h1>

<h3>Visits</h3>
<%= visits_chart_tag id: "visits" %>

<h3>Combined</h3>
<%= events_chart_tag @event_types, id: 'combined' %>


<% @event_types.each do |event_type| %>
  <h3><%= event_type.titleize %></h3>
  <%= events_chart_tag event_type %>
<% end %>
