<h1>Stats</h1>

<h3>Visits</h3>
<%= line_chart Visit.group_by_day(:started_at).count %>

<% @event_types.each do |event_type| %>
  <h3><%= event_type.titleize %></h3>
  <%= line_chart api_stats_path(event: event_type) %>
<% end %>
