<li>
  <% budgets = Budget.open_budgets_for(current_user) %>
  <% if budgets.count > 1 %>
    <%= layout_menu_link_to t("layouts.header.budgets"),
                              "#", controller_name == "budgets" || controller_name == "investments",
                              accesskey: "5", title: t("shared.go_to_page") + t("layouts.header.budgets") %>
    <ul>
      <% budgets.each do |budget| %>
        <li>
          <%= link_to budget.name, url_for(budget) %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <%= layout_menu_link_to t("layouts.header.budgets"),
                            budgets_path, controller_name == "budgets" || controller_name == "investments",
                            accesskey: "5", title: t("shared.go_to_page") + t("layouts.header.budgets") %>
  <% end %>
</li>
