<ul id="geozone" class="list-inline">
  <li class="list-inline-item">
    <%= link_to geozone_name(geozonable), proposals_path(search: geozone_name(geozonable)), class: "btn btn-sm btn-outline-gray-700" %>
  </li>
</ul>
