



      <div class="alert alert-warning participation-not-allowed" role="alert" style="display:none" aria-hidden="false">
        <%= sanitize(t("users.login_to_continue", signin: link_to_signin, signup: link_to_signup)) %>
    </div>
