<div class="help-header no-margin-top margin-bottom">
  <div class="row">
    <div class="small-12 column" data-magellan>
      <span class="icon <%= "#{image}" %>"></span>
      <h1 class="inline-block"><%= t("#{i18n_namespace}.title") %></h1>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-12 column">
      <div class="small-12 medium-8 column">
        <p><%= t("#{i18n_namespace}.description") %></p>
      </div>
      <div class="small-12 medium-4 column text-right">
        <%= link_to t("#{i18n_namespace}.help"), "#section_help" %>
      </div>
    </div>
  </div>
</div>
