<ul class="no-bullet external-links">
  <li>
    <%= link_to "Aude.fr",
                "https://www.aude.fr/",
                target: "_blank",
                rel: "nofollow",
                title: "Conseil Départemental de l'Aude" %>
  </li>
  <%= raw content_block("top_links", I18n.locale) %>
</ul>
