<% if current_user.administrator? %>
  <li>
    <%= link_to admin_stats_path, title: t("admin.menu.stats") do %>
      <span class="icon-stats"></span>
    <% end %>
  </li>
  <li>
    <%= link_to admin_settings_path, title: t("admin.menu.settings") do %>
      <span class="icon-settings"></span>
    <% end %>
  </li>
<% end %>