<div class="small-12 medium-6 margin-bottom">
  <div class="help-block">
    <p><%= t("#{i18n_namespace}.help_block") %></p>

    <%= link_to t("admin.shared.learn_more"), "#{learn_more_link}", class: "help-block-link" %>

    <span class="quote">
      <span class="fas fa-quote-right"></span>
    </span>
  </div>
</div>
