<%= form_for(Proposal.new, url: url, as: :proposal, method: :get) do |f| %>
  <div class="small-12 medium-6">
    <div class="input-group">
      <%= text_field_tag :search, "", placeholder: t("admin.shared.proposal_search.placeholder") %>
      <div class="input-group-button">
        <%= f.submit t("admin.shared.proposal_search.button"), class: "button" %>
      </div>
    </div>
  </div>
<% end %>
