<fieldset class="fieldset">
  <legend><%= t("admin.polls.new.show_results_and_stats") %></legend>
  <%= form.check_box :results_enabled %>
  <%= form.check_box :stats_enabled %>
  <p class="small"><%= t("admin.polls.new.results_and_stats_reminder") %></p>
</fieldset>
