<div class="col-12 col-md-6 col-lg-4 mb-4">
  <div class="card border-gray-300 p-4 h-100">
    <div class="card-header bg-white border-0 pb-0">
      <h2 class="h4 m-0"><%= link_to debate.title, url_for(debate) %></h2>
    </div>
    <div class="card-body">
      <div class="d-sm-flex">
          <%= render SDG::TagListComponent.new(debate, limit: 5) %>
      </div>
    </div>
    <div class="post-meta">
      <div class="media d-flex align-items-center justify-content-between flex-wrap">
        <div class="post-group">
          <h5>
              <%= t("debates.debate.votes", count: debate.total_votes) %>
            </h5>
        </div>
        <div class="post-group">
          <span class="far fa-comments me-2"></span>
          <%= link_to t("debates.debate.comments", count: debate.comments_count), debate_path(debate, anchor: "comments") %>
        </div>
      </div>
    </div>
  </div>
</div>
