<div class="row">
  <div class="small-12 medium-9 column">
    <h2>Muchísimas gracias</h2>
    <div class="callout success inline-block margin-top">
      <p>Tus solicitud ha sido enviada.</p>
    </div>
  </div>
</div>
