<div class="row">
  <div class="small-12 column">
    <h2>Voluntarios para las mesas presenciales de votación de Decide Madrid</h2>
    <div class="callout success medium-6 margin-top">
      <p><strong>¡Muchas gracias! Tu solicitud ha sido enviada.</strong></p>
    </div>
  </div>
</div>
