

<%= render 'shared/filter_subnav', i18n_namespace: "enquiries.index" %>

<ul>
  <% @enquiries.each do |enquiry| %>
    <li><%= link_to enquiry.title, enquiry %></li>
  <% end %>
</ul>

<%= paginate @enquiries %>
