<%= link_to legislation_process_draft_version_annotation_path(annotation.draft_version.process, annotation.draft_version, annotation, sub_annotation_ids: "") do %>
  <span class="icon-expand" aria-hidden="true"></span>
<% end %>
