<span class="comments-count">
  <%= t("legislation.annotations.comments.comments_count", count: annotation.comments.roots.count) %>
</span>

<span id="annotation-link" data-sub-annotation-ids="8">
  <%= render "annotation_link", annotation: annotation %>
<span>
