<span class="icon-comment" aria-hidden="true"></span>

<div class="comment-number">
  <%= t('legislation.annotations.comments.comments_count',
      count: annotation.comments.roots.count) %>
</div>

<span id="annotation-link" data-sub-annotation-ids="8">
  <%= render "annotation_link", annotation: annotation %>
<span>