
<div class="row margin-top">
  <div class="small-12 medium-3 column">
    <%= back_link_to %>
    <ul class="menu vertical margin-top">
      <li>
        <a href="#proposals"><strong>I. Propuestas</strong></a>
        <ul class="nested vertical menu" style="margin-left:1rem; margin-top: 0;">
          <li>
            <a href="#section1">
              <strong>I.1 ¿Cómo funcionan las propuestas ciudadanas?</strong>
            </a>
          </li>
          <li>
            <a href="#section2">
              <strong>I.2 Explicación detallada del proceso</strong>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="small-12 medium-9 column">
    <h3 id="proposals" data-magellan-target="proposals">
      Propuestas
    </h3>
    <ul class="features">
      <strong id="section1"><FONT SIZE=5>¿Cómo funcionan las propuestas ciudadanas?</font></strong>
      <p>
        El mecanismo de propuestas ciudadanas se resumen en tres pasos muy sencillos : <br>
      </p>
      <p>
        1. <strong>¡Propuestas!</strong> Creas una propuesta en esta web.<br>
        2. <strong>¡Apoyos!</strong> La gente hace clic en el botón de apoyar tu propuesta. (Pueden apoyar las
        propuestas todas las personas empadronadas mayores de 16 años). Si la propuesta obtiene
        un mínimo de 100 votos, es estudiada su viabilidad (Entra en el proceso Construimos Desde
        Abajo)<br>
        3. Todas las propuestas serán tenidas en cuenta aunque no cuenten con suficientes apoyos y se
        intentará responder a todas.<br>
        4. En caso de haya propuestas parecidas o muy similares, se eliminará la más reciente.<br>
        5. <strong>¡Decides!</strong> Si la propuesta es dictaminada como viable, entra en el banco de propuestas
        ciudadanas donde la ciudadanía podrá priorizar su ejecución.<br>
      </p>

      <strong id="section2"><FONT SIZE=5> Explicación detallada del proceso</FONT></strong> <br>
      <p>
        1. <strong>Creación de una propuesta.</strong> Cualquier persona (empadronada y mayor de 16 años) puede
        crear una propuesta. Lo único que hay que hacer es pulsar el botón “Crear una propuesta” y
        rellenar los campos requeridos. La propuesta puede ser tan sencilla como una simple frase,
        pero te recomendamos detallarla todo lo posible, incluso añadiendo material adicional, para
        que sea más completa e interesante. Una vez creada aparecerá en esta web para que
        cualquiera pueda apoyarla.<br>
        2.<strong> Apoyo de propuestas.</strong> Para apoyar alguna de las propuestas que aparece en la web,
        pulsamos el botón “apoyar esta propuesta” que aparece en cada una. Para este paso
        tendremos que estar empadronados, así que al llevarlo a cabo por primera vez se nos pedirá
        que verifiquemos nuestra cuenta para estar seguros de este requerimiento. Se nos va a pedir
        que introduzcamos algunos datos para comprobar nuestra información de
        empadronamiento.<br>
        3.<strong> Si una propuesta no recibe 100 o más apoyos en dos meses desde la emisión de la
        propuesta, pasará a ser archivada.</strong><br>
        4.<strong> Realización de las propuestas.</strong> Todas las propuestas serán tenidas en cuenta por la
        Comisión Permanente de Participación y el Área de Participación Ciudadana. Si la propuesta
        obtiene un mínimo de 100 apoyos en los dos primeros meses es enviada directamente a la
        Comisión de Viabilidad para su estudio, que realizará los informes técnicos correspondientes
        sobre su legalidad, viabilidad y coste económico. Si la propuesta resulta viable, es sometida
        al proceso de Priorización para determinar su orden de ejecución.
      </p>
    </ul>
  </div>
</div>
