<div class="row section-content">
  <div class="small-12 column">
    <h3 id="processes" data-magellan-target="processes">
      <%= t("pages.help.processes.title") %>
    </h3>

    <p>
      <% link = link_to(t("pages.help.processes.link"), legislation_processes_path) %>
      <%= t("pages.help.processes.description", link: link).html_safe %>
    </p>
    <ul class="features">
      <% link = link_to(t("pages.help.processes.link"), legislation_processes_path) %>

      <li><%= t("pages.help.processes.help_text_1_html",
                org: link_to(setting["org_name"], new_user_registration_path),
                link: link
              ) %>
      </li>
    </ul>
  </div>
</div>
