<div class="card shadow">
  <div class="card-body">

    <div class="h5 card-title mt-3">
<%= t("pages.help.faq.title") %>
</div>

  <p><%= t("pages.help.faq.description") %></p>
  <%= link_to t("pages.help.faq.button"), faq_path, class: "btn btn-primary" %>
</div>
</div>
