<div id="documents" class="documents">
  <h2><%= t("documents.title") %>&nbsp;<span>(<%= documents.count %>)</span></h2>

  <ul class="no-bullet document-link">
    <% documents.each do |document| %>
      <%= render Documents::DocumentComponent.new(document) %>
    <% end %>
  </ul>
</div>
