<p><strong><%= link_to t("stats.advanced"), "#advanced_statistics" %></strong></p>
<ul class="menu vertical">
  <li>
    <%= link_to t("stats.budgets.total_investments"), "#total_investments" %>
  </li>
  <li>
    <%= link_to t("stats.budgets.by_phase"), "#stats_by_phase" %>
  </li>
  <li>
    <%= link_to t("stats.budgets.by_heading"), "#stats_by_heading" %>
  </li>
</ul>
