<footer>
	<div class="row">
    <div class="small-12 large-12 column text-center">


      <p class="info">
        <%= t("layouts.footer.description",
          open_source: link_to(t("layouts.footer.open_source"), t("layouts.footer.open_source_url"), target: "blank"),
          consul:  link_to(t("layouts.footer.consul"), t("layouts.footer.consul_url"), target: "blank")).html_safe
        %>
      </p>
    </div>
  </div>

  <div class="subfooter row text-center">
    <div class="small-12 medium-12 column">
      <%= t("layouts.footer.copyright", year: Time.current.year) %>&nbsp;|
      <ul class="no-bullet inline-block">
        <li class="inline-block"><%= link_to t("layouts.footer.more_info"), page_path('more_information') %>&nbsp;|</li>
        <li class="inline-block"><%= link_to("Conditions d'utilisation", 'https://extranet-rivp.fr/resident/index.php/conditions-generales-d-utilisation', target: '_blank')%>&nbsp;</li>
      </ul>
    </div>
  </div>
</footer>
