<header>
	<section class="top-links">
		<div class="row">
			<div class="small-12 column">
				<div class="right">
					<a href="#">Portal de Transparencia</a> | <a href="#">Datos abiertos</a>
				</div>
			</div>
		</div>
	</section>

	<div class="contain-to-grid">
		<nav class="top-bar" data-topbar role="navigation">
			<ul class="title-area">
				<li class="name">
					<h1>
						<%= link_to root_path do %>
							<%= image_tag('header-logo-madrid.png', :class => 'left', :size => '96x96') %>
							gobierno<strong>abierto</strong> | <span>Participación</span>
						<% end %>
					</h1>
				</li>
				<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
			</ul>

			<section class="top-bar-section">
				<%= render 'devise/menu/login_items' %>
			</section>
		</nav>
	</div>
</header>