<!--// BLOQUE ACEPTACIÓN POLÍTICA DE COOKIES -->
<div id="barra_legal_cookie">
    <div class="inner">
Utilizamos cookies para asegurar que damos la mejor experiencia al usuario en nuestra página web. Al utilizar nuestros servicios, aceptas el uso que hacemos de las cookies.
        <a href="/privacy" class="ok">ACEPTAR</a> |
        <a href="/privacy" class="info">Más información</a>
    </div>
</div>
<!-- // FIN ACEPTACIÓN DE COOKIES -->
