<div class="link-to-top" style="display: none;" data-smooth-scroll>
  <a href="#body" title="<%= t("layouts.link_to_top.title") %>">
    <span class="show-for-sr"><%= t("layouts.link_to_top.title") %></span>
    <span class="fas fa-arrow-up"></span>
  </a>
</div>
