<table cellpadding="0" cellspacing="0" border="0" style="background: #fff; margin: 0 auto; max-width: 700px; width:100%;">
  <tr>
    <td>
      <table cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
        <tr>
          <td style="border-bottom: 1px solid #dadfe1; padding: 20px 0;">
            <img src="http://innconsul.grupoinnovaris.com/assets/logo_header_-05b799017816cfe55f4a86f252f49d19d7a10171b6c20a5ca238ef09a8e05e36.png" alt="Logo Innconsul" width="290" height="60">
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
