<table cellpadding="0" cellspacing="0" border="0" style="margin: 0 auto; max-width: 700px; width:100%; margin-bottom: 40px; padding: 0 20px;">
  <tbody>
    <tr>
      <td style="text-align: center; border-top: 1px solid #dadfe1; padding-top: 20px;">
        <p style="<%= css_for_mailer_org %>">
          <%= setting["org_name"] %>
        </p>

        <p style="<%= css_for_mailer_footer %>">
          <%= t("mailers.no_reply") %>
        </p>
      </td>
    </tr>
  </tbody>
</table>
