<% unless session[:events].nil? %>
  <% session[:events].each do |event|%>
     <% track_event(event[:category], event[:action], event[:name]) %>
  <% end %>
<% end %>

<% session[:events] = nil %>

<span id="tracking_events"
      data-track-event-category="<%= yield(:track_event_category) %>"
      data-track-event-action="<%= yield(:track_event_action) %>"
      data-track-event-name="<%= yield(:track_event_name) %>">
</span>
